<center><img style="width:500px;" src="https://s3.amazonaws.com/thinkific-import/370184/U9zyVFboQScufA7Iih3p_Capture_d_e_cran_2020_09_23_a__00_11_29_png"></center>

# Parcours : Le Data Mining pour tous

## Niveau 2 : Passez d'Excel à Python

### Cours : Python pour approfondir

#### Chapitre 1 : Les notions de base

#### Les boucles "for"

Boucle sur une chaîne de caractères

In [15]:
string = "Learn python is awesome !"

for c in string: 
    print(c)

L
e
a
r
n

p
y
t
h
o
n

i
s

a
w
e
s
o
m
e

!

Boucle "for" sur une plage de données (range)

In [18]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

Boucle "for" sur une liste

In [19]:
examples = ["Ex1", "Ex2", "Ex3"]

for example in examples:
    print(example)

Ex1
Ex2
Ex3

Boucle "for" sur un dictionnaire

In [20]:
dict_examples = {"Key1": "Value1",
                 "Key2": "Value2",
                 "Key3": "Value3"}

for key in dict_examples:
    print(key)

Key1
Key2
Key3

In [21]:
dict_examples = {"Key1": "Value1",
                 "Key2": "Value2",
                 "Key3": "Value3"}

for key, value in dict_examples.items():
    print(key, value)

Key1 Value1
Key2 Value2
Key3 Value3

Boucle "for" sur un dataframe avec la méthode "iterrows"

In [22]:
import pandas as pd

dict1 = {"COLUMN1": 5, "COLUMN2": 2, "COLUMN3": 10}
dict2 = {"COLUMN1": 10, "COLUMN2": 8, "COLUMN3": 1}

list_dict = [dict1, dict2]

df = pd.DataFrame(list_dict)
df

   COLUMN1  COLUMN2  COLUMN3
0        5        2       10
1       10        8        1

In [28]:
for _, row in df.iterrows():
    value = row["COLUMN1"]
    print(value)

5
10

L'instruction "break"

In [30]:
for i in range(10):
    if i == 2:
        i = i + 10
        print(i)
#         break
    else:
        print(i)

0
1
12
3
4
5
6
7
8
9