<center><img style="width:500px;" src="https://s3.amazonaws.com/thinkific-import/370184/U9zyVFboQScufA7Iih3p_Capture_d_e_cran_2020_09_23_a__00_11_29_png"></center>

# Parcours : Le Data Mining pour tous

## Niveau 2 : Passez d'Excel à Python

### Cas pratique : Les données COVID-19

#### Etape 0 : Initialisation du notebook

In [2]:
# Import des modules

import pandas as pd
from datetime import datetime, timedelta, date

#### Etape 1 : Récupération des données sources

Source COVID-19 (John Hopkins University)<br>
Données mise à jour tous les jours entre 2h et 8h (CET)<br> 
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

In [20]:
# Récupérer un fichier sur les données COVID
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
df = pd.read_csv(url)
# df.columns = map(lambda x: str(x).upper(), df.columns)
df.tail(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20
262,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,41957,42432,42840,43256,43664,43945,44299,44684,45200,45658
263,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
264,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2041,2047,2049,2050,2051,2051,2052,2052,2053,2053
265,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,15089,15170,15224,15301,15339,15415,15458,15549,15587,15616
266,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,7898,7915,7919,7951,7994,8010,8011,8021,8036,8055

In [21]:
print(df.columns)

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '10/5/20', '10/6/20', '10/7/20', '10/8/20', '10/9/20', '10/10/20',
       '10/11/20', '10/12/20', '10/13/20', '10/14/20'],
      dtype='object', length=271)

In [22]:
# Url du répertoire github
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/'

# Liste des fichiers à récupérer sur le répertoire
files = [
         'time_series_covid19_confirmed_global.csv',
         'time_series_covid19_deaths_global.csv',
         'time_series_covid19_recovered_global.csv'
        ]

# Boucle pour récupérer et concaténer les fichier sources
data_source = pd.DataFrame()
for file in files:
    df = pd.read_csv(f'{url}{file}')
    df['Type'] = file[20:-11].capitalize()
    data_source = pd.concat([data_source, df], axis=0)
    
data_source.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,Type
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39486,39548,39616,39693,39703,39799,39870,39928,39994,Confirmed
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,14568,14730,14899,15066,15231,15399,15570,15752,15955,Confirmed
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,52399,52520,52658,52804,52940,53072,53325,53399,53584,Confirmed
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,2370,2568,2568,2696,2696,2696,2995,2995,3190,Confirmed
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,5725,5725,5958,6031,6246,6366,6488,6680,6846,Confirmed

#### Etape 2 - Mise au format base de donnée

In [63]:
# Initialisation du dataframe
data_pivot = data_source.copy()
data_pivot.to_csv('DONNEES_INIT.csv',
                    sep=";",
                    decimal=",",
                    index=False)


# Colonnes à supprimer
to_del = ['Province/State', 'Lat', 'Long']

# Suppression des colonnes inutiles
data_pivot = data_pivot.drop(to_del, axis=1)


# Colonnes à conserver
to_keep = ['Type', 'Country/Region']

# Pivot des colonnes
data_pivot = data_pivot.melt(id_vars=to_keep, 
                             value_name='Value', 
                             var_name='Date')



# Colonnes à aggréger
to_group = ['Date', 'Country/Region', 'Type']

# Regroupement et aggrégation
data_pivot['Date'] = pd.to_datetime(data_pivot['Date'], format='%m/%d/%y')

data_pivot = data_pivot.groupby(to_group, as_index=False).agg({'Value': 'sum'})
data_pivot.head(5)

# criteras = data_pivot[['Country/Region','Type']].drop_duplicates()
# df_ma = pd.DataFrame()
# for _, critera in criteras.iterrows():
#     country = critera[0]
#     typo = critera[1]
#     tmp_df = data_pivot.copy()
#     tmp_df = tmp_df[(tmp_df['Country/Region'] == country) & 
#                     (tmp_df['Type'] == typo)]
#     tmp_df['MA'] = tmp_df['Value'].rolling(window=7).mean()
#     df_ma = pd.concat([df_ma, tmp_df], axis=0)

# df_ma = df_ma[(df_ma['Country/Region'] == 'France') & (df_ma['Type'] == 'Confirmed')]
# df_ma = df_ma.sort_values(by='Date', ascending=False)
# df_ma.head(7)

        Date Country/Region       Type  Value
0 2020-01-22    Afghanistan  Confirmed      0
1 2020-01-22    Afghanistan     Deaths      0
2 2020-01-22    Afghanistan  Recovered      0
3 2020-01-22        Albania  Confirmed      0
4 2020-01-22        Albania     Deaths      0

#### Etape 3 - Nettoyage de la base

In [64]:
# Initialisation du dataframe
data_clean = data_pivot.copy()

# Mise au format de la date
data_clean['Date'] = pd.to_datetime(data_clean['Date'], format='%m/%d/%y')

# Renomage de la colonne 'Close' en 'VALUE'
data_clean = data_clean.rename(columns={'Country/Region': 'Country'})

# Format des colonnes en majuscule
data_clean.columns = map(lambda x: str(x).upper(), data_clean.columns)
    
data_clean.head(5)

        DATE      COUNTRY       TYPE  VALUE
0 2020-01-22  Afghanistan  Confirmed      0
1 2020-01-22  Afghanistan     Deaths      0
2 2020-01-22  Afghanistan  Recovered      0
3 2020-01-22      Albania  Confirmed      0
4 2020-01-22      Albania     Deaths      0

#### Etape 4 - Enrichissement des données

4.1 - AJOUT DES CONTINENTS

In [65]:
# Initialisation du dataframe
data_enr = data_clean.copy()

# Lecture du fichier REF_CONTINENT
ref_continent = pd.read_excel('REF_CS.xlsx',
                              sheet_name='REF_CONTINENT')

# Jointure avec le dataframe principal
data_enr = pd.merge(data_enr, 
                    ref_continent, 
                    on=['COUNTRY'],
                    how='left'
                   )

# Nettoyage et affectation d'une valeur pour les valeurs nulles
data_enr['CONTINENT'] = data_enr['CONTINENT'].fillna(0)
data_enr.loc[data_enr['CONTINENT'] == 0, 'CONTINENT'] = 'To be affected'

data_enr.head(5)

        DATE      COUNTRY       TYPE  VALUE CONTINENT
0 2020-01-22  Afghanistan  Confirmed      0      Asia
1 2020-01-22  Afghanistan     Deaths      0      Asia
2 2020-01-22  Afghanistan  Recovered      0      Asia
3 2020-01-22      Albania  Confirmed      0    Europe
4 2020-01-22      Albania     Deaths      0    Europe

4.2 - CALCUL DES CAS ACTIFS

In [66]:
# Calcul des cas actifs
data_active = data_enr.copy()

data_active.loc[data_active['TYPE'] != 'Confirmed', 'VALUE'] = data_active['VALUE'] * (-1)
data_active.loc[:, 'TYPE'] = 'Active Cases'

# Colonnes à grouper
to_group = ['DATE', 'COUNTRY', 'CONTINENT', 'TYPE']

# Colonnes à aggréger 
to_agg = {'VALUE': 'sum'}

# Regroupement et aggrégation
data_active = data_active.groupby(to_group, as_index=False).agg(to_agg)
data_active.head(5)

        DATE      COUNTRY CONTINENT          TYPE  VALUE
0 2020-01-22  Afghanistan      Asia  Active Cases      0
1 2020-01-22      Albania    Europe  Active Cases      0
2 2020-01-22      Algeria    Africa  Active Cases      0
3 2020-01-22      Andorra    Europe  Active Cases      0
4 2020-01-22       Angola    Africa  Active Cases      0

4.3 - CONCATENATION DES 2 BASES DE DONNEES + CALCUL DES VARIATIONS

In [67]:
# Initialisation du dataframe
data_bdd = data_enr.copy()

# Concat
data_bdd = pd.concat([data_enr, data_active], axis=0)

data_bdd.head(5)

        DATE      COUNTRY       TYPE  VALUE CONTINENT
0 2020-01-22  Afghanistan  Confirmed      0      Asia
1 2020-01-22  Afghanistan     Deaths      0      Asia
2 2020-01-22  Afghanistan  Recovered      0      Asia
3 2020-01-22      Albania  Confirmed      0    Europe
4 2020-01-22      Albania     Deaths      0    Europe

In [74]:
data_var = data_bdd.copy()

criteras = data_var[['COUNTRY','TYPE']].drop_duplicates()
data_final = pd.DataFrame()

for _, critera in criteras.iterrows():
    country = critera[0]
    typo = critera[1]
    tmp_df = data_var.copy()
    tmp_df = tmp_df[(tmp_df['COUNTRY'] == country) & 
                    (tmp_df['TYPE'] == typo)].reset_index(drop=True)
    
    for i in range(1, len(tmp_df)):
        print(i)
        value_last = tmp_df.loc[i-1, 'VALUE']
        tmp_df['VALUE_LAST'] = value_last
        print(tmp_df)
        break
# #     tmp_df['MA'] = tmp_df['Value'].rolling(window=7).mean()
# #     df_ma = pd.concat([df_ma, tmp_df], axis=0)

# for i in range(1, len(data_var)):
#     value_last = data_var.loc[i-1, 'VALUE']
#     value = data_var.loc[i, 'VALUE']
#     print(value_last, value)
#     break

1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Afghanistan  Confirmed      0      Asia           0
1   2020-01-23  Afghanistan  Confirmed      0      Asia           0
2   2020-01-24  Afghanistan  Confirmed      0      Asia           0
3   2020-01-25  Afghanistan  Confirmed      0      Asia           0
4   2020-01-26  Afghanistan  Confirmed      0      Asia           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  Afghanistan  Confirmed  39703      Asia           0
263 2020-10-11  Afghanistan  Confirmed  39799      Asia           0
264 2020-10-12  Afghanistan  Confirmed  39870      Asia           0
265 2020-10-13  Afghanistan  Confirmed  39928      Asia           0
266 2020-10-14  Afghanistan  Confirmed  39994      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Afghanistan  Deaths      0      Asia           0
1   2020-01-23  Afghanistan  Deaths      0      Asia           0
2   2020-01-24  Afghanistan  Deaths      0      Asia           0
3   2020-01-25  Afghanistan  Deaths      0      Asia           0
4   2020-01-26  Afghanistan  Deaths      0      Asia           0
..         ...          ...     ...    ...       ...         ...
262 2020-10-10  Afghanistan  Deaths   1473      Asia           0
263 2020-10-11  Afghanistan  Deaths   1477      Asia           0
264 2020-10-12  Afghanistan  Deaths   1479      Asia           0
265 2020-10-13  Afghanistan  Deaths   1480      Asia           0
266 2020-10-14  Afghanistan  Deaths   1481      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Afghanistan  Recovered      0      Asia           0
1   2020-01-23  Afghanistan  Recovered      0      Asia           0
2   2020-01-24  Afghanistan  Recovered      0      Asia           0
3   2020-01-25  Afghanistan  Recovered      0      Asia           0
4   2020-01-26  Afghanistan  Recovered      0      Asia           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  Afghanistan  Recovered  33064      Asia           0
263 2020-10-11  Afghanistan  Recovered  33114      Asia           0
264 2020-10-12  Afghanistan  Recovered  33118      Asia           0
265 2020-10-13  Afghanistan  Recovered  33308      Asia           0
266 2020-10-14  Afghanistan  Recovered  33354      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Albania  Confirmed      0    Europe           0
1   2020-01-23  Albania  Confirmed      0    Europe           0
2   2020-01-24  Albania  Confirmed      0    Europe           0
3   2020-01-25  Albania  Confirmed      0    Europe           0
4   2020-01-26  Albania  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Albania  Confirmed  15231    Europe           0
263 2020-10-11  Albania  Confirmed  15399    Europe           0
264 2020-10-12  Albania  Confirmed  15570    Europe           0
265 2020-10-13  Albania  Confirmed  15752    Europe           0
266 2020-10-14  Albania  Confirmed  15955    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Albania  Deaths      0    Europe           0
1   2020-01-23  Albania  Deaths      0    Europe           0
2   2020-01-24  Albania  Deaths      0    Europe           0
3   2020-01-25  Albania  Deaths      0    Europe           0
4   2020-01-26  Albania  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Albania  Deaths    416    Europe           0
263 2020-10-11  Albania  Deaths    420    Europe           0
264 2020-10-12  Albania  Deaths    424    Europe           0
265 2020-10-13  Albania  Deaths    429    Europe           0
266 2020-10-14  Albania  Deaths    434    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Albania  Recovered      0    Europe           0
1   2020-01-23  Albania  Recovered      0    Europe           0
2   2020-01-24  Albania  Recovered      0    Europe           0
3   2020-01-25  Albania  Recovered      0    Europe           0
4   2020-01-26  Albania  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Albania  Recovered   9406    Europe           0
263 2020-10-11  Albania  Recovered   9500    Europe           0
264 2020-10-12  Albania  Recovered   9585    Europe           0
265 2020-10-13  Albania  Recovered   9675    Europe           0
266 2020-10-14  Albania  Recovered   9762    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Algeria  Confirmed      0    Africa           0
1   2020-01-23  Algeria  Confirmed      0    Africa           0
2   2020-01-24  Algeria  Confirmed      0    Africa           0
3   2020-01-25  Algeria  Confirmed      0    Africa           0
4   2020-01-26  Algeria  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Algeria  Confirmed  52940    Africa           0
263 2020-10-11  Algeria  Confirmed  53072    Africa           0
264 2020-10-12  Algeria  Confirmed  53325    Africa           0
265 2020-10-13  Algeria  Confirmed  53399    Africa           0
266 2020-10-14  Algeria  Confirmed  53584    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Algeria  Deaths      0    Africa           0
1   2020-01-23  Algeria  Deaths      0    Africa           0
2   2020-01-24  Algeria  Deaths      0    Africa           0
3   2020-01-25  Algeria  Deaths      0    Africa           0
4   2020-01-26  Algeria  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Algeria  Deaths   1795    Africa           0
263 2020-10-11  Algeria  Deaths   1801    Africa           0
264 2020-10-12  Algeria  Deaths   1809    Africa           0
265 2020-10-13  Algeria  Deaths   1818    Africa           0
266 2020-10-14  Algeria  Deaths   1827    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Algeria  Recovered      0    Africa           0
1   2020-01-23  Algeria  Recovered      0    Africa           0
2   2020-01-24  Algeria  Recovered      0    Africa           0
3   2020-01-25  Algeria  Recovered      0    Africa           0
4   2020-01-26  Algeria  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Algeria  Recovered  37170    Africa           0
263 2020-10-11  Algeria  Recovered  37170    Africa           0
264 2020-10-12  Algeria  Recovered  37382    Africa           0
265 2020-10-13  Algeria  Recovered  37492    Africa           0
266 2020-10-14  Algeria  Recovered  37603    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Andorra  Confirmed      0    Europe           0
1   2020-01-23  Andorra  Confirmed      0    Europe           0
2   2020-01-24  Andorra  Confirmed      0    Europe           0
3   2020-01-25  Andorra  Confirmed      0    Europe           0
4   2020-01-26  Andorra  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Andorra  Confirmed   2696    Europe           0
263 2020-10-11  Andorra  Confirmed   2696    Europe           0
264 2020-10-12  Andorra  Confirmed   2995    Europe           0
265 2020-10-13  Andorra  Confirmed   2995    Europe           0
266 2020-10-14  Andorra  Confirmed   3190    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Andorra  Deaths      0    Europe           0
1   2020-01-23  Andorra  Deaths      0    Europe           0
2   2020-01-24  Andorra  Deaths      0    Europe           0
3   2020-01-25  Andorra  Deaths      0    Europe           0
4   2020-01-26  Andorra  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Andorra  Deaths     55    Europe           0
263 2020-10-11  Andorra  Deaths     55    Europe           0
264 2020-10-12  Andorra  Deaths     57    Europe           0
265 2020-10-13  Andorra  Deaths     57    Europe           0
266 2020-10-14  Andorra  Deaths     59    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Andorra  Recovered      0    Europe           0
1   2020-01-23  Andorra  Recovered      0    Europe           0
2   2020-01-24  Andorra  Recovered      0    Europe           0
3   2020-01-25  Andorra  Recovered      0    Europe           0
4   2020-01-26  Andorra  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Andorra  Recovered   1814    Europe           0
263 2020-10-11  Andorra  Recovered   1814    Europe           0
264 2020-10-12  Andorra  Recovered   1928    Europe           0
265 2020-10-13  Andorra  Recovered   1928    Europe           0
266 2020-10-14  Andorra  Recovered   2011    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Angola  Confirmed      0    Africa           0
1   2020-01-23  Angola  Confirmed      0    Africa           0
2   2020-01-24  Angola  Confirmed      0    Africa           0
3   2020-01-25  Angola  Confirmed      0    Africa           0
4   2020-01-26  Angola  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Angola  Confirmed   6246    Africa           0
263 2020-10-11  Angola  Confirmed   6366    Africa           0
264 2020-10-12  Angola  Confirmed   6488    Africa           0
265 2020-10-13  Angola  Confirmed   6680    Africa           0
266 2020-10-14  Angola  Confirmed   6846    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Angola  Deaths      0    Africa           0
1   2020-01-23  Angola  Deaths      0    Africa           0
2   2020-01-24  Angola  Deaths      0    Africa           0
3   2020-01-25  Angola  Deaths      0    Africa           0
4   2020-01-26  Angola  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Angola  Deaths    218    Africa           0
263 2020-10-11  Angola  Deaths    218    Africa           0
264 2020-10-12  Angola  Deaths    219    Africa           0
265 2020-10-13  Angola  Deaths    222    Africa           0
266 2020-10-14  Angola  Deaths    227    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Angola  Recovered      0    Africa           0
1   2020-01-23  Angola  Recovered      0    Africa           0
2   2020-01-24  Angola  Recovered      0    Africa           0
3   2020-01-25  Angola  Recovered      0    Africa           0
4   2020-01-26  Angola  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Angola  Recovered   2716    Africa           0
263 2020-10-11  Angola  Recovered   2743    Africa           0
264 2020-10-12  Angola  Recovered   2744    Africa           0
265 2020-10-13  Angola  Recovered   2761    Africa           0
266 2020-10-14  Angola  Recovered   2801    Africa           0

[267 rows x 6 columns]

1
          DATE              COUNTRY       TYPE  VALUE      CONTINENT  \
0   2020-01-22  Antigua and Barbuda  Confirmed      0  North America
1   2020-01-23  Antigua and Barbuda  Confirmed      0  North America
2   2020-01-24  Antigua and Barbuda  Confirmed      0  North America
3   2020-01-25  Antigua and Barbuda  Confirmed      0  North America
4   2020-01-26  Antigua and Barbuda  Confirmed      0  North America
..         ...                  ...        ...    ...            ...
262 2020-10-10  Antigua and Barbuda  Confirmed    111  North America
263 2020-10-11  Antigua and Barbuda  Confirmed    111  North America
264 2020-10-12  Antigua and Barbuda  Confirmed    111  North America
265 2020-10-13  Antigua and Barbuda  Confirmed    111  North America
266 2020-10-14  Antigua and Barbuda  Confirmed    112  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE              COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Antigua and Barbuda  Deaths      0  North America           0
1   2020-01-23  Antigua and Barbuda  Deaths      0  North America           0
2   2020-01-24  Antigua and Barbuda  Deaths      0  North America           0
3   2020-01-25  Antigua and Barbuda  Deaths      0  North America           0
4   2020-01-26  Antigua and Barbuda  Deaths      0  North America           0
..         ...                  ...     ...    ...            ...         ...
262 2020-10-10  Antigua and Barbuda  Deaths      3  North America           0
263 2020-10-11  Antigua and Barbuda  Deaths      3  North America           0
264 2020-10-12  Antigua and Barbuda  Deaths      3  North America           0
265 2020-10-13  Antigua and Barbuda  Deaths      3  North America           0
266 2020-10-14  Antigua and Barbuda  Deaths      3  North America           0

[267 rows x 6 columns]
1
          DATE              COUNTRY       TYPE  VALUE      CONTINENT  \
0   2020-01-22  Antigua and Barbuda  Recovered      0  North America
1   2020-01-23  Antigua and Barbuda  Recovered      0  North America
2   2020-01-24  Antigua and Barbuda  Recovered      0  North America
3   2020-01-25  Antigua and Barbuda  Recovered      0  North America
4   2020-01-26  Antigua and Barbuda  Recovered      0  North America
..         ...                  ...        ...    ...            ...
262 2020-10-10  Antigua and Barbuda  Recovered     97  North America
263 2020-10-11  Antigua and Barbuda  Recovered     97  North America
264 2020-10-12  Antigua and Barbuda  Recovered     97  North America
265 2020-10-13  Antigua and Barbuda  Recovered     97  North America
266 2020-10-14  Antigua and Barbuda  Recovered    100  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Argentina  Confirmed       0  South America           0
1   2020-01-23  Argentina  Confirmed       0  South America           0
2   2020-01-24  Argentina  Confirmed       0  South America           0
3   2020-01-25  Argentina  Confirmed       0  South America           0
4   2020-01-26  Argentina  Confirmed       0  South America           0
..         ...        ...        ...     ...            ...         ...
262 2020-10-10  Argentina  Confirmed  883882  South America           0
263 2020-10-11  Argentina  Confirmed  894206  South America           0
264 2020-10-12  Argentina  Confirmed  903730  South America           0
265 2020-10-13  Argentina  Confirmed  917035  South America           0
266 2020-10-14  Argentina  Confirmed  931967  South America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Argentina  Deaths      0  South America           0
1   2020-01-23  Argentina  Deaths      0  South America           0
2   2020-01-24  Argentina  Deaths      0  South America           0
3   2020-01-25  Argentina  Deaths      0  South America           0
4   2020-01-26  Argentina  Deaths      0  South America           0
..         ...        ...     ...    ...            ...         ...
262 2020-10-10  Argentina  Deaths  23581  South America           0
263 2020-10-11  Argentina  Deaths  23868  South America           0
264 2020-10-12  Argentina  Deaths  24186  South America           0
265 2020-10-13  Argentina  Deaths  24572  South America           0
266 2020-10-14  Argentina  Deaths  24921  South America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Argentina  Recovered       0  South America           0
1   2020-01-23  Argentina  Recovered       0  South America           0
2   2020-01-24  Argentina  Recovered       0  South America           0
3   2020-01-25  Argentina  Recovered       0  South America           0
4   2020-01-26  Argentina  Recovered       0  South America           0
..         ...        ...        ...     ...            ...         ...
262 2020-10-10  Argentina  Recovered  709464  South America           0
263 2020-10-11  Argentina  Recovered  721380  South America           0
264 2020-10-12  Argentina  Recovered  732582  South America           0
265 2020-10-13  Argentina  Recovered  742235  South America           0
266 2020-10-14  Argentina  Recovered  751146  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Armenia  Confirmed      0      Asia           0
1   2020-01-23  Armenia  Confirmed      0      Asia           0
2   2020-01-24  Armenia  Confirmed      0      Asia           0
3   2020-01-25  Armenia  Confirmed      0      Asia           0
4   2020-01-26  Armenia  Confirmed      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Armenia  Confirmed  55736      Asia           0
263 2020-10-11  Armenia  Confirmed  56451      Asia           0
264 2020-10-12  Armenia  Confirmed  56821      Asia           0
265 2020-10-13  Armenia  Confirmed  57566      Asia           0
266 2020-10-14  Armenia  Confirmed  58624      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Armenia  Deaths      0      Asia           0
1   2020-01-23  Armenia  Deaths      0      Asia           0
2   2020-01-24  Armenia  Deaths      0      Asia           0
3   2020-01-25  Armenia  Deaths      0      Asia           0
4   2020-01-26  Armenia  Deaths      0      Asia           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Armenia  Deaths   1016      Asia           0
263 2020-10-11  Armenia  Deaths   1020      Asia           0
264 2020-10-12  Armenia  Deaths   1026      Asia           0
265 2020-10-13  Armenia  Deaths   1032      Asia           0
266 2020-10-14  Armenia  Deaths   1039      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Armenia  Recovered      0      Asia           0
1   2020-01-23  Armenia  Recovered      0      Asia           0
2   2020-01-24  Armenia  Recovered      0      Asia           0
3   2020-01-25  Armenia  Recovered      0      Asia           0
4   2020-01-26  Armenia  Recovered      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Armenia  Recovered  45771      Asia           0
263 2020-10-11  Armenia  Recovered  45824      Asia           0
264 2020-10-12  Armenia  Recovered  45891      Asia           0
265 2020-10-13  Armenia  Recovered  46318      Asia           0
266 2020-10-14  Armenia  Recovered  46713      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Australia  Confirmed      0   Oceania           0
1   2020-01-23  Australia  Confirmed      0   Oceania           0
2   2020-01-24  Australia  Confirmed      0   Oceania           0
3   2020-01-25  Australia  Confirmed      0   Oceania           0
4   2020-01-26  Australia  Confirmed      4   Oceania           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Australia  Confirmed  27263   Oceania           0
263 2020-10-11  Australia  Confirmed  27285   Oceania           0
264 2020-10-12  Australia  Confirmed  27310   Oceania           0
265 2020-10-13  Australia  Confirmed  27337   Oceania           0
266 2020-10-14  Australia  Confirmed  27357   Oceania           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Australia  Deaths      0   Oceania           0
1   2020-01-23  Australia  Deaths      0   Oceania           0
2   2020-01-24  Australia  Deaths      0   Oceania           0
3   2020-01-25  Australia  Deaths      0   Oceania           0
4   2020-01-26  Australia  Deaths      0   Oceania           0
..         ...        ...     ...    ...       ...         ...
262 2020-10-10  Australia  Deaths    898   Oceania           0
263 2020-10-11  Australia  Deaths    898   Oceania           0
264 2020-10-12  Australia  Deaths    899   Oceania           0
265 2020-10-13  Australia  Deaths    904   Oceania           0
266 2020-10-14  Australia  Deaths    904   Oceania           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Australia  Recovered      0   Oceania           0
1   2020-01-23  Australia  Recovered      0   Oceania           0
2   2020-01-24  Australia  Recovered      0   Oceania           0
3   2020-01-25  Australia  Recovered      0   Oceania           0
4   2020-01-26  Australia  Recovered      0   Oceania           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Australia  Recovered  24987   Oceania           0
263 2020-10-11  Australia  Recovered  25000   Oceania           0
264 2020-10-12  Australia  Recovered  25029   Oceania           0
265 2020-10-13  Australia  Recovered  25046   Oceania           0
266 2020-10-14  Australia  Recovered  25047   Oceania           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Austria  Confirmed      0    Europe           0
1   2020-01-23  Austria  Confirmed      0    Europe           0
2   2020-01-24  Austria  Confirmed      0    Europe           0
3   2020-01-25  Austria  Confirmed      0    Europe           0
4   2020-01-26  Austria  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Austria  Confirmed  54423    Europe           0
263 2020-10-11  Austria  Confirmed  55319    Europe           0
264 2020-10-12  Austria  Confirmed  56298    Europe           0
265 2020-10-13  Austria  Confirmed  57326    Europe           0
266 2020-10-14  Austria  Confirmed  58672    Europe           0

[267 rows x 6 columns]

1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Austria  Deaths      0    Europe           0
1   2020-01-23  Austria  Deaths      0    Europe           0
2   2020-01-24  Austria  Deaths      0    Europe           0
3   2020-01-25  Austria  Deaths      0    Europe           0
4   2020-01-26  Austria  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Austria  Deaths    852    Europe           0
263 2020-10-11  Austria  Deaths    851    Europe           0
264 2020-10-12  Austria  Deaths    855    Europe           0
265 2020-10-13  Austria  Deaths    861    Europe           0
266 2020-10-14  Austria  Deaths    872    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Austria  Recovered      0    Europe           0
1   2020-01-23  Austria  Recovered      0    Europe           0
2   2020-01-24  Austria  Recovered      0    Europe           0
3   2020-01-25  Austria  Recovered      0    Europe           0
4   2020-01-26  Austria  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Austria  Recovered  42829    Europe           0
263 2020-10-11  Austria  Recovered  43448    Europe           0
264 2020-10-12  Austria  Recovered  44065    Europe           0
265 2020-10-13  Austria  Recovered  44949    Europe           0
266 2020-10-14  Austria  Recovered  45846    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Azerbaijan  Confirmed      0      Asia           0
1   2020-01-23  Azerbaijan  Confirmed      0      Asia           0
2   2020-01-24  Azerbaijan  Confirmed      0      Asia           0
3   2020-01-25  Azerbaijan  Confirmed      0      Asia           0
4   2020-01-26  Azerbaijan  Confirmed      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Azerbaijan  Confirmed  41752      Asia           0
263 2020-10-11  Azerbaijan  Confirmed  41982      Asia           0
264 2020-10-12  Azerbaijan  Confirmed  42104      Asia           0
265 2020-10-13  Azerbaijan  Confirmed  42381      Asia           0
266 2020-10-14  Azerbaijan  Confirmed  42750      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Azerbaijan  Deaths      0      Asia           0
1   2020-01-23  Azerbaijan  Deaths      0      Asia           0
2   2020-01-24  Azerbaijan  Deaths      0      Asia           0
3   2020-01-25  Azerbaijan  Deaths      0      Asia           0
4   2020-01-26  Azerbaijan  Deaths      0      Asia           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Azerbaijan  Deaths    608      Asia           0
263 2020-10-11  Azerbaijan  Deaths    609      Asia           0
264 2020-10-12  Azerbaijan  Deaths    609      Asia           0
265 2020-10-13  Azerbaijan  Deaths    612      Asia           0
266 2020-10-14  Azerbaijan  Deaths    616      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Azerbaijan  Recovered      0      Asia           0
1   2020-01-23  Azerbaijan  Recovered      0      Asia           0
2   2020-01-24  Azerbaijan  Recovered      0      Asia           0
3   2020-01-25  Azerbaijan  Recovered      0      Asia           0
4   2020-01-26  Azerbaijan  Recovered      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Azerbaijan  Recovered  39235      Asia           0
263 2020-10-11  Azerbaijan  Recovered  39357      Asia           0
264 2020-10-12  Azerbaijan  Recovered  39404      Asia           0
265 2020-10-13  Azerbaijan  Recovered  39468      Asia           0
266 2020-10-14  Azerbaijan  Recovered  39570      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bahamas  Confirmed      0  North America           0
1   2020-01-23  Bahamas  Confirmed      0  North America           0
2   2020-01-24  Bahamas  Confirmed      0  North America           0
3   2020-01-25  Bahamas  Confirmed      0  North America           0
4   2020-01-26  Bahamas  Confirmed      0  North America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Bahamas  Confirmed   5023  North America           0
263 2020-10-11  Bahamas  Confirmed   5078  North America           0
264 2020-10-12  Bahamas  Confirmed   5163  North America           0
265 2020-10-13  Bahamas  Confirmed   5163  North America           0
266 2020-10-14  Bahamas  Confirmed   5191  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bahamas  Deaths      0  North America           0
1   2020-01-23  Bahamas  Deaths      0  North America           0
2   2020-01-24  Bahamas  Deaths      0  North America           0
3   2020-01-25  Bahamas  Deaths      0  North America           0
4   2020-01-26  Bahamas  Deaths      0  North America           0
..         ...      ...     ...    ...            ...         ...
262 2020-10-10  Bahamas  Deaths    106  North America           0
263 2020-10-11  Bahamas  Deaths    107  North America           0
264 2020-10-12  Bahamas  Deaths    108  North America           0
265 2020-10-13  Bahamas  Deaths    108  North America           0
266 2020-10-14  Bahamas  Deaths    109  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bahamas  Recovered      0  North America           0
1   2020-01-23  Bahamas  Recovered      0  North America           0
2   2020-01-24  Bahamas  Recovered      0  North America           0
3   2020-01-25  Bahamas  Recovered      0  North America           0
4   2020-01-26  Bahamas  Recovered      0  North America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Bahamas  Recovered   2815  North America           0
263 2020-10-11  Bahamas  Recovered   2900  North America           0
264 2020-10-12  Bahamas  Recovered   2978  North America           0
265 2020-10-13  Bahamas  Recovered   2978  North America           0
266 2020-10-14  Bahamas  Recovered   3078  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bahrain  Confirmed      0      Asia           0
1   2020-01-23  Bahrain  Confirmed      0      Asia           0
2   2020-01-24  Bahrain  Confirmed      0      Asia           0
3   2020-01-25  Bahrain  Confirmed      0      Asia           0
4   2020-01-26  Bahrain  Confirmed      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Bahrain  Confirmed  75287      Asia           0
263 2020-10-11  Bahrain  Confirmed  75614      Asia           0
264 2020-10-12  Bahrain  Confirmed  75948      Asia           0
265 2020-10-13  Bahrain  Confirmed  76272      Asia           0
266 2020-10-14  Bahrain  Confirmed  76621      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bahrain  Deaths      0      Asia           0
1   2020-01-23  Bahrain  Deaths      0      Asia           0
2   2020-01-24  Bahrain  Deaths      0      Asia           0
3   2020-01-25  Bahrain  Deaths      0      Asia           0
4   2020-01-26  Bahrain  Deaths      0      Asia           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Bahrain  Deaths    273      Asia           0
263 2020-10-11  Bahrain  Deaths    275      Asia           0
264 2020-10-12  Bahrain  Deaths    280      Asia           0
265 2020-10-13  Bahrain  Deaths    285      Asia           0
266 2020-10-14  Bahrain  Deaths    287      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bahrain  Recovered      0      Asia           0
1   2020-01-23  Bahrain  Recovered      0      Asia           0
2   2020-01-24  Bahrain  Recovered      0      Asia           0
3   2020-01-25  Bahrain  Recovered      0      Asia           0
4   2020-01-26  Bahrain  Recovered      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Bahrain  Recovered  70808      Asia           0
263 2020-10-11  Bahrain  Recovered  71249      Asia           0
264 2020-10-12  Bahrain  Recovered  71687      Asia           0
265 2020-10-13  Bahrain  Recovered  72164      Asia           0
266 2020-10-14  Bahrain  Recovered  72561      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bangladesh  Confirmed       0      Asia           0
1   2020-01-23  Bangladesh  Confirmed       0      Asia           0
2   2020-01-24  Bangladesh  Confirmed       0      Asia           0
3   2020-01-25  Bangladesh  Confirmed       0      Asia           0
4   2020-01-26  Bangladesh  Confirmed       0      Asia           0
..         ...         ...        ...     ...       ...         ...
262 2020-10-10  Bangladesh  Confirmed  377073      Asia           0
263 2020-10-11  Bangladesh  Confirmed  378266      Asia           0
264 2020-10-12  Bangladesh  Confirmed  379738      Asia           0
265 2020-10-13  Bangladesh  Confirmed  381275      Asia           0
266 2020-10-14  Bangladesh  Confirmed  382959      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bangladesh  Deaths      0      Asia           0
1   2020-01-23  Bangladesh  Deaths      0      Asia           0
2   2020-01-24  Bangladesh  Deaths      0      Asia           0
3   2020-01-25  Bangladesh  Deaths      0      Asia           0
4   2020-01-26  Bangladesh  Deaths      0      Asia           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Bangladesh  Deaths   5500      Asia           0
263 2020-10-11  Bangladesh  Deaths   5524      Asia           0
264 2020-10-12  Bangladesh  Deaths   5555      Asia           0
265 2020-10-13  Bangladesh  Deaths   5577      Asia           0
266 2020-10-14  Bangladesh  Deaths   5593      Asia           0

[267 rows x 6 columns]

1
          DATE     COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bangladesh  Recovered       0      Asia           0
1   2020-01-23  Bangladesh  Recovered       0      Asia           0
2   2020-01-24  Bangladesh  Recovered       0      Asia           0
3   2020-01-25  Bangladesh  Recovered       0      Asia           0
4   2020-01-26  Bangladesh  Recovered       0      Asia           0
..         ...         ...        ...     ...       ...         ...
262 2020-10-10  Bangladesh  Recovered  291365      Asia           0
263 2020-10-11  Bangladesh  Recovered  292860      Asia           0
264 2020-10-12  Bangladesh  Recovered  294391      Asia           0
265 2020-10-13  Bangladesh  Recovered  295873      Asia           0
266 2020-10-14  Bangladesh  Recovered  297449      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Barbados  Confirmed      0  North America           0
1   2020-01-23  Barbados  Confirmed      0  North America           0
2   2020-01-24  Barbados  Confirmed      0  North America           0
3   2020-01-25  Barbados  Confirmed      0  North America           0
4   2020-01-26  Barbados  Confirmed      0  North America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Barbados  Confirmed    206  North America           0
263 2020-10-11  Barbados  Confirmed    208  North America           0
264 2020-10-12  Barbados  Confirmed    208  North America           0
265 2020-10-13  Barbados  Confirmed    210  North America           0
266 2020-10-14  Barbados  Confirmed    215  North America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Barbados  Deaths      0  North America           0
1   2020-01-23  Barbados  Deaths      0  North America           0
2   2020-01-24  Barbados  Deaths      0  North America           0
3   2020-01-25  Barbados  Deaths      0  North America           0
4   2020-01-26  Barbados  Deaths      0  North America           0
..         ...       ...     ...    ...            ...         ...
262 2020-10-10  Barbados  Deaths      7  North America           0
263 2020-10-11  Barbados  Deaths      7  North America           0
264 2020-10-12  Barbados  Deaths      7  North America           0
265 2020-10-13  Barbados  Deaths      7  North America           0
266 2020-10-14  Barbados  Deaths      7  North America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Barbados  Recovered      0  North America           0
1   2020-01-23  Barbados  Recovered      0  North America           0
2   2020-01-24  Barbados  Recovered      0  North America           0
3   2020-01-25  Barbados  Recovered      0  North America           0
4   2020-01-26  Barbados  Recovered      0  North America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Barbados  Recovered    183  North America           0
263 2020-10-11  Barbados  Recovered    186  North America           0
264 2020-10-12  Barbados  Recovered    186  North America           0
265 2020-10-13  Barbados  Recovered    187  North America           0
266 2020-10-14  Barbados  Recovered    192  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belarus  Confirmed      0    Europe           0
1   2020-01-23  Belarus  Confirmed      0    Europe           0
2   2020-01-24  Belarus  Confirmed      0    Europe           0
3   2020-01-25  Belarus  Confirmed      0    Europe           0
4   2020-01-26  Belarus  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Belarus  Confirmed  82471    Europe           0
263 2020-10-11  Belarus  Confirmed  83534    Europe           0
264 2020-10-12  Belarus  Confirmed  83998    Europe           0
265 2020-10-13  Belarus  Confirmed  84524    Europe           0
266 2020-10-14  Belarus  Confirmed  85121    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belarus  Deaths      0    Europe           0
1   2020-01-23  Belarus  Deaths      0    Europe           0
2   2020-01-24  Belarus  Deaths      0    Europe           0
3   2020-01-25  Belarus  Deaths      0    Europe           0
4   2020-01-26  Belarus  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Belarus  Deaths    885    Europe           0
263 2020-10-11  Belarus  Deaths    896    Europe           0
264 2020-10-12  Belarus  Deaths    901    Europe           0
265 2020-10-13  Belarus  Deaths    906    Europe           0
266 2020-10-14  Belarus  Deaths    911    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belarus  Recovered      0    Europe           0
1   2020-01-23  Belarus  Recovered      0    Europe           0
2   2020-01-24  Belarus  Recovered      0    Europe           0
3   2020-01-25  Belarus  Recovered      0    Europe           0
4   2020-01-26  Belarus  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Belarus  Recovered  76543    Europe           0
263 2020-10-11  Belarus  Recovered  77220    Europe           0
264 2020-10-12  Belarus  Recovered  77423    Europe           0
265 2020-10-13  Belarus  Recovered  77797    Europe           0
266 2020-10-14  Belarus  Recovered  78218    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belgium  Confirmed       0    Europe           0
1   2020-01-23  Belgium  Confirmed       0    Europe           0
2   2020-01-24  Belgium  Confirmed       0    Europe           0
3   2020-01-25  Belgium  Confirmed       0    Europe           0
4   2020-01-26  Belgium  Confirmed       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Belgium  Confirmed  156931    Europe           0
263 2020-10-11  Belgium  Confirmed  162258    Europe           0
264 2020-10-12  Belgium  Confirmed  165880    Europe           0
265 2020-10-13  Belgium  Confirmed  173240    Europe           0
266 2020-10-14  Belgium  Confirmed  181511    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belgium  Deaths      0    Europe           0
1   2020-01-23  Belgium  Deaths      0    Europe           0
2   2020-01-24  Belgium  Deaths      0    Europe           0
3   2020-01-25  Belgium  Deaths      0    Europe           0
4   2020-01-26  Belgium  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Belgium  Deaths  10175    Europe           0
263 2020-10-11  Belgium  Deaths  10191    Europe           0
264 2020-10-12  Belgium  Deaths  10211    Europe           0
265 2020-10-13  Belgium  Deaths  10244    Europe           0
266 2020-10-14  Belgium  Deaths  10278    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belgium  Recovered      0    Europe           0
1   2020-01-23  Belgium  Recovered      0    Europe           0
2   2020-01-24  Belgium  Recovered      0    Europe           0
3   2020-01-25  Belgium  Recovered      0    Europe           0
4   2020-01-26  Belgium  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Belgium  Recovered  20202    Europe           0
263 2020-10-11  Belgium  Recovered  20272    Europe           0
264 2020-10-12  Belgium  Recovered  20324    Europe           0
265 2020-10-13  Belgium  Recovered  20452    Europe           0
266 2020-10-14  Belgium  Recovered  20587    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Belize  Confirmed      0  North America           0
1   2020-01-23  Belize  Confirmed      0  North America           0
2   2020-01-24  Belize  Confirmed      0  North America           0
3   2020-01-25  Belize  Confirmed      0  North America           0
4   2020-01-26  Belize  Confirmed      0  North America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10  Belize  Confirmed   2427  North America           0
263 2020-10-11  Belize  Confirmed   2531  North America           0
264 2020-10-12  Belize  Confirmed   2569  North America           0
265 2020-10-13  Belize  Confirmed   2585  North America           0
266 2020-10-14  Belize  Confirmed   2619  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Belize  Deaths      0  North America           0
1   2020-01-23  Belize  Deaths      0  North America           0
2   2020-01-24  Belize  Deaths      0  North America           0
3   2020-01-25  Belize  Deaths      0  North America           0
4   2020-01-26  Belize  Deaths      0  North America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10  Belize  Deaths     35  North America           0
263 2020-10-11  Belize  Deaths     37  North America           0
264 2020-10-12  Belize  Deaths     37  North America           0
265 2020-10-13  Belize  Deaths     39  North America           0
266 2020-10-14  Belize  Deaths     40  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Belize  Recovered      0  North America           0
1   2020-01-23  Belize  Recovered      0  North America           0
2   2020-01-24  Belize  Recovered      0  North America           0
3   2020-01-25  Belize  Recovered      0  North America           0
4   2020-01-26  Belize  Recovered      0  North America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10  Belize  Recovered   1487  North America           0
263 2020-10-11  Belize  Recovered   1548  North America           0
264 2020-10-12  Belize  Recovered   1566  North America           0
265 2020-10-13  Belize  Recovered   1580  North America           0
266 2020-10-14  Belize  Recovered   1596  North America           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Benin  Confirmed      0    Africa           0
1   2020-01-23   Benin  Confirmed      0    Africa           0
2   2020-01-24   Benin  Confirmed      0    Africa           0
3   2020-01-25   Benin  Confirmed      0    Africa           0
4   2020-01-26   Benin  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Benin  Confirmed   2411    Africa           0
263 2020-10-11   Benin  Confirmed   2411    Africa           0
264 2020-10-12   Benin  Confirmed   2411    Africa           0
265 2020-10-13   Benin  Confirmed   2411    Africa           0
266 2020-10-14   Benin  Confirmed   2478    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Benin  Deaths      0    Africa           0
1   2020-01-23   Benin  Deaths      0    Africa           0
2   2020-01-24   Benin  Deaths      0    Africa           0
3   2020-01-25   Benin  Deaths      0    Africa           0
4   2020-01-26   Benin  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Benin  Deaths     41    Africa           0
263 2020-10-11   Benin  Deaths     41    Africa           0
264 2020-10-12   Benin  Deaths     41    Africa           0
265 2020-10-13   Benin  Deaths     41    Africa           0
266 2020-10-14   Benin  Deaths     41    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Benin  Recovered      0    Africa           0
1   2020-01-23   Benin  Recovered      0    Africa           0
2   2020-01-24   Benin  Recovered      0    Africa           0
3   2020-01-25   Benin  Recovered      0    Africa           0
4   2020-01-26   Benin  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Benin  Recovered   1973    Africa           0
263 2020-10-11   Benin  Recovered   1973    Africa           0
264 2020-10-12   Benin  Recovered   1973    Africa           0
265 2020-10-13   Benin  Recovered   1973    Africa           0
266 2020-10-14   Benin  Recovered   2330    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bhutan  Confirmed      0      Asia           0
1   2020-01-23  Bhutan  Confirmed      0      Asia           0
2   2020-01-24  Bhutan  Confirmed      0      Asia           0
3   2020-01-25  Bhutan  Confirmed      0      Asia           0
4   2020-01-26  Bhutan  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Bhutan  Confirmed    306      Asia           0
263 2020-10-11  Bhutan  Confirmed    309      Asia           0
264 2020-10-12  Bhutan  Confirmed    309      Asia           0
265 2020-10-13  Bhutan  Confirmed    313      Asia           0
266 2020-10-14  Bhutan  Confirmed    316      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bhutan  Deaths      0      Asia           0
1   2020-01-23  Bhutan  Deaths      0      Asia           0
2   2020-01-24  Bhutan  Deaths      0      Asia           0
3   2020-01-25  Bhutan  Deaths      0      Asia           0
4   2020-01-26  Bhutan  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Bhutan  Deaths      0      Asia           0
263 2020-10-11  Bhutan  Deaths      0      Asia           0
264 2020-10-12  Bhutan  Deaths      0      Asia           0
265 2020-10-13  Bhutan  Deaths      0      Asia           0
266 2020-10-14  Bhutan  Deaths      0      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bhutan  Recovered      0      Asia           0
1   2020-01-23  Bhutan  Recovered      0      Asia           0
2   2020-01-24  Bhutan  Recovered      0      Asia           0
3   2020-01-25  Bhutan  Recovered      0      Asia           0
4   2020-01-26  Bhutan  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Bhutan  Recovered    287      Asia           0
263 2020-10-11  Bhutan  Recovered    288      Asia           0
264 2020-10-12  Bhutan  Recovered    291      Asia           0
265 2020-10-13  Bhutan  Recovered    293      Asia           0
266 2020-10-14  Bhutan  Recovered    294      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bolivia  Confirmed       0  South America           0
1   2020-01-23  Bolivia  Confirmed       0  South America           0
2   2020-01-24  Bolivia  Confirmed       0  South America           0
3   2020-01-25  Bolivia  Confirmed       0  South America           0
4   2020-01-26  Bolivia  Confirmed       0  South America           0
..         ...      ...        ...     ...            ...         ...
262 2020-10-10  Bolivia  Confirmed  138463  South America           0
263 2020-10-11  Bolivia  Confirmed  138574  South America           0
264 2020-10-12  Bolivia  Confirmed  138695  South America           0
265 2020-10-13  Bolivia  Confirmed  138922  South America           0
266 2020-10-14  Bolivia  Confirmed  139141  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bolivia  Deaths      0  South America           0
1   2020-01-23  Bolivia  Deaths      0  South America           0
2   2020-01-24  Bolivia  Deaths      0  South America           0
3   2020-01-25  Bolivia  Deaths      0  South America           0
4   2020-01-26  Bolivia  Deaths      0  South America           0
..         ...      ...     ...    ...            ...         ...
262 2020-10-10  Bolivia  Deaths   8292  South America           0
263 2020-10-11  Bolivia  Deaths   8308  South America           0
264 2020-10-12  Bolivia  Deaths   8326  South America           0
265 2020-10-13  Bolivia  Deaths   8351  South America           0
266 2020-10-14  Bolivia  Deaths   8377  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bolivia  Recovered       0  South America           0
1   2020-01-23  Bolivia  Recovered       0  South America           0
2   2020-01-24  Bolivia  Recovered       0  South America           0
3   2020-01-25  Bolivia  Recovered       0  South America           0
4   2020-01-26  Bolivia  Recovered       0  South America           0
..         ...      ...        ...     ...            ...         ...
262 2020-10-10  Bolivia  Recovered  100786  South America           0
263 2020-10-11  Bolivia  Recovered  101103  South America           0
264 2020-10-12  Bolivia  Recovered  101523  South America           0
265 2020-10-13  Bolivia  Recovered  102083  South America           0
266 2020-10-14  Bolivia  Recovered  102642  South America           0

[267 rows x 6 columns]
1
          DATE                 COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bosnia and Herzegovina  Confirmed      0    Europe           0
1   2020-01-23  Bosnia and Herzegovina  Confirmed      0    Europe           0
2   2020-01-24  Bosnia and Herzegovina  Confirmed      0    Europe           0
3   2020-01-25  Bosnia and Herzegovina  Confirmed      0    Europe           0
4   2020-01-26  Bosnia and Herzegovina  Confirmed      0    Europe           0
..         ...                     ...        ...    ...       ...         ...
262 2020-10-10  Bosnia and Herzegovina  Confirmed  30345    Europe           0
263 2020-10-11  Bosnia and Herzegovina  Confirmed  30647    Europe           0
264 2020-10-12  Bosnia and Herzegovina  Confirmed  30837    Europe           0
265 2020-10-13  Bosnia and Herzegovina  Confirmed  31173    Europe           0
266 2020-10-14  Bosnia and Herzegovina  Confirmed  31655    Europe           0

[267 rows x 6 columns]
1
          DATE                 COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bosnia and Herzegovina  Deaths      0    Europe           0
1   2020-01-23  Bosnia and Herzegovina  Deaths      0    Europe           0
2   2020-01-24  Bosnia and Herzegovina  Deaths      0    Europe           0
3   2020-01-25  Bosnia and Herzegovina  Deaths      0    Europe           0
4   2020-01-26  Bosnia and Herzegovina  Deaths      0    Europe           0
..         ...                     ...     ...    ...       ...         ...
262 2020-10-10  Bosnia and Herzegovina  Deaths    927    Europe           0
263 2020-10-11  Bosnia and Herzegovina  Deaths    928    Europe           0
264 2020-10-12  Bosnia and Herzegovina  Deaths    936    Europe           0
265 2020-10-13  Bosnia and Herzegovina  Deaths    947    Europe           0
266 2020-10-14  Bosnia and Herzegovina  Deaths    958    Europe           0

[267 rows x 6 columns]
1
          DATE                 COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bosnia and Herzegovina  Recovered      0    Europe           0
1   2020-01-23  Bosnia and Herzegovina  Recovered      0    Europe           0
2   2020-01-24  Bosnia and Herzegovina  Recovered      0    Europe           0
3   2020-01-25  Bosnia and Herzegovina  Recovered      0    Europe           0
4   2020-01-26  Bosnia and Herzegovina  Recovered      0    Europe           0
..         ...                     ...        ...    ...       ...         ...
262 2020-10-10  Bosnia and Herzegovina  Recovered  23370    Europe           0
263 2020-10-11  Bosnia and Herzegovina  Recovered  23461    Europe           0
264 2020-10-12  Bosnia and Herzegovina  Recovered  23587    Europe           0
265 2020-10-13  Bosnia and Herzegovina  Recovered  23777    Europe           0
266 2020-10-14  Bosnia and Herzegovina  Recovered  24074    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Botswana  Confirmed      0    Africa           0
1   2020-01-23  Botswana  Confirmed      0    Africa           0
2   2020-01-24  Botswana  Confirmed      0    Africa           0
3   2020-01-25  Botswana  Confirmed      0    Africa           0
4   2020-01-26  Botswana  Confirmed      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Botswana  Confirmed   3219    Africa           0
263 2020-10-11  Botswana  Confirmed   3219    Africa           0
264 2020-10-12  Botswana  Confirmed   3515    Africa           0
265 2020-10-13  Botswana  Confirmed   3515    Africa           0
266 2020-10-14  Botswana  Confirmed   3515    Africa           0

[267 rows x 6 columns]

1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Botswana  Deaths      0    Africa           0
1   2020-01-23  Botswana  Deaths      0    Africa           0
2   2020-01-24  Botswana  Deaths      0    Africa           0
3   2020-01-25  Botswana  Deaths      0    Africa           0
4   2020-01-26  Botswana  Deaths      0    Africa           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Botswana  Deaths     18    Africa           0
263 2020-10-11  Botswana  Deaths     18    Africa           0
264 2020-10-12  Botswana  Deaths     20    Africa           0
265 2020-10-13  Botswana  Deaths     20    Africa           0
266 2020-10-14  Botswana  Deaths     20    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Botswana  Recovered      0    Africa           0
1   2020-01-23  Botswana  Recovered      0    Africa           0
2   2020-01-24  Botswana  Recovered      0    Africa           0
3   2020-01-25  Botswana  Recovered      0    Africa           0
4   2020-01-26  Botswana  Recovered      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Botswana  Recovered    834    Africa           0
263 2020-10-11  Botswana  Recovered    834    Africa           0
264 2020-10-12  Botswana  Recovered    853    Africa           0
265 2020-10-13  Botswana  Recovered    853    Africa           0
266 2020-10-14  Botswana  Recovered    853    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE    VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Brazil  Confirmed        0  South America           0
1   2020-01-23  Brazil  Confirmed        0  South America           0
2   2020-01-24  Brazil  Confirmed        0  South America           0
3   2020-01-25  Brazil  Confirmed        0  South America           0
4   2020-01-26  Brazil  Confirmed        0  South America           0
..         ...     ...        ...      ...            ...         ...
262 2020-10-10  Brazil  Confirmed  5082637  South America           0
263 2020-10-11  Brazil  Confirmed  5094979  South America           0
264 2020-10-12  Brazil  Confirmed  5103408  South America           0
265 2020-10-13  Brazil  Confirmed  5113628  South America           0
266 2020-10-14  Brazil  Confirmed  5140863  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Brazil  Deaths       0  South America           0
1   2020-01-23  Brazil  Deaths       0  South America           0
2   2020-01-24  Brazil  Deaths       0  South America           0
3   2020-01-25  Brazil  Deaths       0  South America           0
4   2020-01-26  Brazil  Deaths       0  South America           0
..         ...     ...     ...     ...            ...         ...
262 2020-10-10  Brazil  Deaths  150198  South America           0
263 2020-10-11  Brazil  Deaths  150488  South America           0
264 2020-10-12  Brazil  Deaths  150689  South America           0
265 2020-10-13  Brazil  Deaths  150998  South America           0
266 2020-10-14  Brazil  Deaths  151747  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE    VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Brazil  Recovered        0  South America           0
1   2020-01-23  Brazil  Recovered        0  South America           0
2   2020-01-24  Brazil  Recovered        0  South America           0
3   2020-01-25  Brazil  Recovered        0  South America           0
4   2020-01-26  Brazil  Recovered        0  South America           0
..         ...     ...        ...      ...            ...         ...
262 2020-10-10  Brazil  Recovered  4502854  South America           0
263 2020-10-11  Brazil  Recovered  4526393  South America           0
264 2020-10-12  Brazil  Recovered  4526393  South America           0
265 2020-10-13  Brazil  Recovered  4526393  South America           0
266 2020-10-14  Brazil  Recovered  4526393  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Brunei  Confirmed      0      Asia           0
1   2020-01-23  Brunei  Confirmed      0      Asia           0
2   2020-01-24  Brunei  Confirmed      0      Asia           0
3   2020-01-25  Brunei  Confirmed      0      Asia           0
4   2020-01-26  Brunei  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Brunei  Confirmed    146      Asia           0
263 2020-10-11  Brunei  Confirmed    146      Asia           0
264 2020-10-12  Brunei  Confirmed    146      Asia           0
265 2020-10-13  Brunei  Confirmed    146      Asia           0
266 2020-10-14  Brunei  Confirmed    147      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Brunei  Deaths      0      Asia           0
1   2020-01-23  Brunei  Deaths      0      Asia           0
2   2020-01-24  Brunei  Deaths      0      Asia           0
3   2020-01-25  Brunei  Deaths      0      Asia           0
4   2020-01-26  Brunei  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Brunei  Deaths      3      Asia           0
263 2020-10-11  Brunei  Deaths      3      Asia           0
264 2020-10-12  Brunei  Deaths      3      Asia           0
265 2020-10-13  Brunei  Deaths      3      Asia           0
266 2020-10-14  Brunei  Deaths      3      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Brunei  Recovered      0      Asia           0
1   2020-01-23  Brunei  Recovered      0      Asia           0
2   2020-01-24  Brunei  Recovered      0      Asia           0
3   2020-01-25  Brunei  Recovered      0      Asia           0
4   2020-01-26  Brunei  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Brunei  Recovered    143      Asia           0
263 2020-10-11  Brunei  Recovered    143      Asia           0
264 2020-10-12  Brunei  Recovered    143      Asia           0
265 2020-10-13  Brunei  Recovered    143      Asia           0
266 2020-10-14  Brunei  Recovered    143      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bulgaria  Confirmed      0    Europe           0
1   2020-01-23  Bulgaria  Confirmed      0    Europe           0
2   2020-01-24  Bulgaria  Confirmed      0    Europe           0
3   2020-01-25  Bulgaria  Confirmed      0    Europe           0
4   2020-01-26  Bulgaria  Confirmed      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Bulgaria  Confirmed  24319    Europe           0
263 2020-10-11  Bulgaria  Confirmed  24402    Europe           0
264 2020-10-12  Bulgaria  Confirmed  24989    Europe           0
265 2020-10-13  Bulgaria  Confirmed  25774    Europe           0
266 2020-10-14  Bulgaria  Confirmed  26593    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bulgaria  Deaths      0    Europe           0
1   2020-01-23  Bulgaria  Deaths      0    Europe           0
2   2020-01-24  Bulgaria  Deaths      0    Europe           0
3   2020-01-25  Bulgaria  Deaths      0    Europe           0
4   2020-01-26  Bulgaria  Deaths      0    Europe           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Bulgaria  Deaths    891    Europe           0
263 2020-10-11  Bulgaria  Deaths    892    Europe           0
264 2020-10-12  Bulgaria  Deaths    915    Europe           0
265 2020-10-13  Bulgaria  Deaths    923    Europe           0
266 2020-10-14  Bulgaria  Deaths    929    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bulgaria  Recovered      0    Europe           0
1   2020-01-23  Bulgaria  Recovered      0    Europe           0
2   2020-01-24  Bulgaria  Recovered      0    Europe           0
3   2020-01-25  Bulgaria  Recovered      0    Europe           0
4   2020-01-26  Bulgaria  Recovered      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Bulgaria  Recovered  15818    Europe           0
263 2020-10-11  Bulgaria  Recovered  15847    Europe           0
264 2020-10-12  Bulgaria  Recovered  15975    Europe           0
265 2020-10-13  Bulgaria  Recovered  16139    Europe           0
266 2020-10-14  Bulgaria  Recovered  16489    Europe           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burkina Faso  Confirmed      0    Africa           0
1   2020-01-23  Burkina Faso  Confirmed      0    Africa           0
2   2020-01-24  Burkina Faso  Confirmed      0    Africa           0
3   2020-01-25  Burkina Faso  Confirmed      0    Africa           0
4   2020-01-26  Burkina Faso  Confirmed      0    Africa           0
..         ...           ...        ...    ...       ...         ...
262 2020-10-10  Burkina Faso  Confirmed   2271    Africa           0
263 2020-10-11  Burkina Faso  Confirmed   2271    Africa           0
264 2020-10-12  Burkina Faso  Confirmed   2294    Africa           0
265 2020-10-13  Burkina Faso  Confirmed   2305    Africa           0
266 2020-10-14  Burkina Faso  Confirmed   2305    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burkina Faso  Deaths      0    Africa           0
1   2020-01-23  Burkina Faso  Deaths      0    Africa           0
2   2020-01-24  Burkina Faso  Deaths      0    Africa           0
3   2020-01-25  Burkina Faso  Deaths      0    Africa           0
4   2020-01-26  Burkina Faso  Deaths      0    Africa           0
..         ...           ...     ...    ...       ...         ...
262 2020-10-10  Burkina Faso  Deaths     61    Africa           0
263 2020-10-11  Burkina Faso  Deaths     61    Africa           0
264 2020-10-12  Burkina Faso  Deaths     63    Africa           0
265 2020-10-13  Burkina Faso  Deaths     63    Africa           0
266 2020-10-14  Burkina Faso  Deaths     63    Africa           0

[267 rows x 6 columns]

1
          DATE       COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burkina Faso  Recovered      0    Africa           0
1   2020-01-23  Burkina Faso  Recovered      0    Africa           0
2   2020-01-24  Burkina Faso  Recovered      0    Africa           0
3   2020-01-25  Burkina Faso  Recovered      0    Africa           0
4   2020-01-26  Burkina Faso  Recovered      0    Africa           0
..         ...           ...        ...    ...       ...         ...
262 2020-10-10  Burkina Faso  Recovered   1542    Africa           0
263 2020-10-11  Burkina Faso  Recovered   1542    Africa           0
264 2020-10-12  Burkina Faso  Recovered   1571    Africa           0
265 2020-10-13  Burkina Faso  Recovered   1581    Africa           0
266 2020-10-14  Burkina Faso  Recovered   1581    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Burma  Confirmed      0      Asia           0
1   2020-01-23   Burma  Confirmed      0      Asia           0
2   2020-01-24   Burma  Confirmed      0      Asia           0
3   2020-01-25   Burma  Confirmed      0      Asia           0
4   2020-01-26   Burma  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Burma  Confirmed  26064      Asia           0
263 2020-10-11   Burma  Confirmed  27974      Asia           0
264 2020-10-12   Burma  Confirmed  29314      Asia           0
265 2020-10-13   Burma  Confirmed  30437      Asia           0
266 2020-10-14   Burma  Confirmed  31325      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Burma  Deaths      0      Asia           0
1   2020-01-23   Burma  Deaths      0      Asia           0
2   2020-01-24   Burma  Deaths      0      Asia           0
3   2020-01-25   Burma  Deaths      0      Asia           0
4   2020-01-26   Burma  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Burma  Deaths    598      Asia           0
263 2020-10-11   Burma  Deaths    646      Asia           0
264 2020-10-12   Burma  Deaths    664      Asia           0
265 2020-10-13   Burma  Deaths    693      Asia           0
266 2020-10-14   Burma  Deaths    732      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Burma  Recovered      0      Asia           0
1   2020-01-23   Burma  Recovered      0      Asia           0
2   2020-01-24   Burma  Recovered      0      Asia           0
3   2020-01-25   Burma  Recovered      0      Asia           0
4   2020-01-26   Burma  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Burma  Recovered   7050      Asia           0
263 2020-10-11   Burma  Recovered   9742      Asia           0
264 2020-10-12   Burma  Recovered  10260      Asia           0
265 2020-10-13   Burma  Recovered  11769      Asia           0
266 2020-10-14   Burma  Recovered  13866      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burundi  Confirmed      0    Africa           0
1   2020-01-23  Burundi  Confirmed      0    Africa           0
2   2020-01-24  Burundi  Confirmed      0    Africa           0
3   2020-01-25  Burundi  Confirmed      0    Africa           0
4   2020-01-26  Burundi  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Burundi  Confirmed    517    Africa           0
263 2020-10-11  Burundi  Confirmed    524    Africa           0
264 2020-10-12  Burundi  Confirmed    525    Africa           0
265 2020-10-13  Burundi  Confirmed    529    Africa           0
266 2020-10-14  Burundi  Confirmed    529    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burundi  Deaths      0    Africa           0
1   2020-01-23  Burundi  Deaths      0    Africa           0
2   2020-01-24  Burundi  Deaths      0    Africa           0
3   2020-01-25  Burundi  Deaths      0    Africa           0
4   2020-01-26  Burundi  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Burundi  Deaths      1    Africa           0
263 2020-10-11  Burundi  Deaths      1    Africa           0
264 2020-10-12  Burundi  Deaths      1    Africa           0
265 2020-10-13  Burundi  Deaths      1    Africa           0
266 2020-10-14  Burundi  Deaths      1    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burundi  Recovered      0    Africa           0
1   2020-01-23  Burundi  Recovered      0    Africa           0
2   2020-01-24  Burundi  Recovered      0    Africa           0
3   2020-01-25  Burundi  Recovered      0    Africa           0
4   2020-01-26  Burundi  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Burundi  Recovered    472    Africa           0
263 2020-10-11  Burundi  Recovered    472    Africa           0
264 2020-10-12  Burundi  Recovered    472    Africa           0
265 2020-10-13  Burundi  Recovered    472    Africa           0
266 2020-10-14  Burundi  Recovered    497    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cabo Verde  Confirmed      0    Africa           0
1   2020-01-23  Cabo Verde  Confirmed      0    Africa           0
2   2020-01-24  Cabo Verde  Confirmed      0    Africa           0
3   2020-01-25  Cabo Verde  Confirmed      0    Africa           0
4   2020-01-26  Cabo Verde  Confirmed      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Cabo Verde  Confirmed   6913    Africa           0
263 2020-10-11  Cabo Verde  Confirmed   7072    Africa           0
264 2020-10-12  Cabo Verde  Confirmed   7155    Africa           0
265 2020-10-13  Cabo Verde  Confirmed   7254    Africa           0
266 2020-10-14  Cabo Verde  Confirmed   7371    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cabo Verde  Deaths      0    Africa           0
1   2020-01-23  Cabo Verde  Deaths      0    Africa           0
2   2020-01-24  Cabo Verde  Deaths      0    Africa           0
3   2020-01-25  Cabo Verde  Deaths      0    Africa           0
4   2020-01-26  Cabo Verde  Deaths      0    Africa           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Cabo Verde  Deaths     74    Africa           0
263 2020-10-11  Cabo Verde  Deaths     75    Africa           0
264 2020-10-12  Cabo Verde  Deaths     75    Africa           0
265 2020-10-13  Cabo Verde  Deaths     77    Africa           0
266 2020-10-14  Cabo Verde  Deaths     79    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cabo Verde  Recovered      0    Africa           0
1   2020-01-23  Cabo Verde  Recovered      0    Africa           0
2   2020-01-24  Cabo Verde  Recovered      0    Africa           0
3   2020-01-25  Cabo Verde  Recovered      0    Africa           0
4   2020-01-26  Cabo Verde  Recovered      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Cabo Verde  Recovered   5970    Africa           0
263 2020-10-11  Cabo Verde  Recovered   5981    Africa           0
264 2020-10-12  Cabo Verde  Recovered   6075    Africa           0
265 2020-10-13  Cabo Verde  Recovered   6210    Africa           0
266 2020-10-14  Cabo Verde  Recovered   6270    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cambodia  Confirmed      0      Asia           0
1   2020-01-23  Cambodia  Confirmed      0      Asia           0
2   2020-01-24  Cambodia  Confirmed      0      Asia           0
3   2020-01-25  Cambodia  Confirmed      0      Asia           0
4   2020-01-26  Cambodia  Confirmed      0      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Cambodia  Confirmed    283      Asia           0
263 2020-10-11  Cambodia  Confirmed    283      Asia           0
264 2020-10-12  Cambodia  Confirmed    283      Asia           0
265 2020-10-13  Cambodia  Confirmed    283      Asia           0
266 2020-10-14  Cambodia  Confirmed    283      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cambodia  Deaths      0      Asia           0
1   2020-01-23  Cambodia  Deaths      0      Asia           0
2   2020-01-24  Cambodia  Deaths      0      Asia           0
3   2020-01-25  Cambodia  Deaths      0      Asia           0
4   2020-01-26  Cambodia  Deaths      0      Asia           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Cambodia  Deaths      0      Asia           0
263 2020-10-11  Cambodia  Deaths      0      Asia           0
264 2020-10-12  Cambodia  Deaths      0      Asia           0
265 2020-10-13  Cambodia  Deaths      0      Asia           0
266 2020-10-14  Cambodia  Deaths      0      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cambodia  Recovered      0      Asia           0
1   2020-01-23  Cambodia  Recovered      0      Asia           0
2   2020-01-24  Cambodia  Recovered      0      Asia           0
3   2020-01-25  Cambodia  Recovered      0      Asia           0
4   2020-01-26  Cambodia  Recovered      0      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Cambodia  Recovered    277      Asia           0
263 2020-10-11  Cambodia  Recovered    278      Asia           0
264 2020-10-12  Cambodia  Recovered    278      Asia           0
265 2020-10-13  Cambodia  Recovered    278      Asia           0
266 2020-10-14  Cambodia  Recovered    278      Asia           0

[267 rows x 6 columns]

1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cameroon  Confirmed      0    Africa           0
1   2020-01-23  Cameroon  Confirmed      0    Africa           0
2   2020-01-24  Cameroon  Confirmed      0    Africa           0
3   2020-01-25  Cameroon  Confirmed      0    Africa           0
4   2020-01-26  Cameroon  Confirmed      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Cameroon  Confirmed  21203    Africa           0
263 2020-10-11  Cameroon  Confirmed  21203    Africa           0
264 2020-10-12  Cameroon  Confirmed  21203    Africa           0
265 2020-10-13  Cameroon  Confirmed  21203    Africa           0
266 2020-10-14  Cameroon  Confirmed  21441    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cameroon  Deaths      0    Africa           0
1   2020-01-23  Cameroon  Deaths      0    Africa           0
2   2020-01-24  Cameroon  Deaths      0    Africa           0
3   2020-01-25  Cameroon  Deaths      0    Africa           0
4   2020-01-26  Cameroon  Deaths      0    Africa           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Cameroon  Deaths    423    Africa           0
263 2020-10-11  Cameroon  Deaths    423    Africa           0
264 2020-10-12  Cameroon  Deaths    423    Africa           0
265 2020-10-13  Cameroon  Deaths    423    Africa           0
266 2020-10-14  Cameroon  Deaths    423    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cameroon  Recovered      0    Africa           0
1   2020-01-23  Cameroon  Recovered      0    Africa           0
2   2020-01-24  Cameroon  Recovered      0    Africa           0
3   2020-01-25  Cameroon  Recovered      0    Africa           0
4   2020-01-26  Cameroon  Recovered      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Cameroon  Recovered  20117    Africa           0
263 2020-10-11  Cameroon  Recovered  20117    Africa           0
264 2020-10-12  Cameroon  Recovered  20117    Africa           0
265 2020-10-13  Cameroon  Recovered  20117    Africa           0
266 2020-10-14  Cameroon  Recovered  20117    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Canada  Confirmed       0  North America           0
1   2020-01-23  Canada  Confirmed       0  North America           0
2   2020-01-24  Canada  Confirmed       0  North America           0
3   2020-01-25  Canada  Confirmed       0  North America           0
4   2020-01-26  Canada  Confirmed       1  North America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10  Canada  Confirmed  182767  North America           0
263 2020-10-11  Canada  Confirmed  184403  North America           0
264 2020-10-12  Canada  Confirmed  185378  North America           0
265 2020-10-13  Canada  Confirmed  189489  North America           0
266 2020-10-14  Canada  Confirmed  192064  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Canada  Deaths      0  North America           0
1   2020-01-23  Canada  Deaths      0  North America           0
2   2020-01-24  Canada  Deaths      0  North America           0
3   2020-01-25  Canada  Deaths      0  North America           0
4   2020-01-26  Canada  Deaths      0  North America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10  Canada  Deaths   9661  North America           0
263 2020-10-11  Canada  Deaths   9666  North America           0
264 2020-10-12  Canada  Deaths   9680  North America           0
265 2020-10-13  Canada  Deaths   9707  North America           0
266 2020-10-14  Canada  Deaths   9719  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Canada  Recovered       0  North America           0
1   2020-01-23  Canada  Recovered       0  North America           0
2   2020-01-24  Canada  Recovered       0  North America           0
3   2020-01-25  Canada  Recovered       0  North America           0
4   2020-01-26  Canada  Recovered       0  North America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10  Canada  Recovered  153857  North America           0
263 2020-10-11  Canada  Recovered  155901  North America           0
264 2020-10-12  Canada  Recovered  156940  North America           0
265 2020-10-13  Canada  Recovered  160223  North America           0
266 2020-10-14  Canada  Recovered  162064  North America           0

[267 rows x 6 columns]
1
          DATE                   COUNTRY       TYPE  VALUE CONTINENT  \
0   2020-01-22  Central African Republic  Confirmed      0    Africa
1   2020-01-23  Central African Republic  Confirmed      0    Africa
2   2020-01-24  Central African Republic  Confirmed      0    Africa
3   2020-01-25  Central African Republic  Confirmed      0    Africa
4   2020-01-26  Central African Republic  Confirmed      0    Africa
..         ...                       ...        ...    ...       ...
262 2020-10-10  Central African Republic  Confirmed   4854    Africa
263 2020-10-11  Central African Republic  Confirmed   4854    Africa
264 2020-10-12  Central African Republic  Confirmed   4854    Africa
265 2020-10-13  Central African Republic  Confirmed   4854    Africa
266 2020-10-14  Central African Republic  Confirmed   4855    Africa

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE                   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Central African Republic  Deaths      0    Africa           0
1   2020-01-23  Central African Republic  Deaths      0    Africa           0
2   2020-01-24  Central African Republic  Deaths      0    Africa           0
3   2020-01-25  Central African Republic  Deaths      0    Africa           0
4   2020-01-26  Central African Republic  Deaths      0    Africa           0
..         ...                       ...     ...    ...       ...         ...
262 2020-10-10  Central African Republic  Deaths     62    Africa           0
263 2020-10-11  Central African Republic  Deaths     62    Africa           0
264 2020-10-12  Central African Republic  Deaths     62    Africa           0
265 2020-10-13  Central African Republic  Deaths     62    Africa           0
266 2020-10-14  Central African Republic  Deaths     62    Africa           0

[267 rows x 6 columns]
1
          DATE                   COUNTRY       TYPE  VALUE CONTINENT  \
0   2020-01-22  Central African Republic  Recovered      0    Africa
1   2020-01-23  Central African Republic  Recovered      0    Africa
2   2020-01-24  Central African Republic  Recovered      0    Africa
3   2020-01-25  Central African Republic  Recovered      0    Africa
4   2020-01-26  Central African Republic  Recovered      0    Africa
..         ...                       ...        ...    ...       ...
262 2020-10-10  Central African Republic  Recovered   1924    Africa
263 2020-10-11  Central African Republic  Recovered   1924    Africa
264 2020-10-12  Central African Republic  Recovered   1924    Africa
265 2020-10-13  Central African Republic  Recovered   1924    Africa
266 2020-10-14  Central African Republic  Recovered   1924    Africa

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Chad  Confirmed      0    Africa           0
1   2020-01-23    Chad  Confirmed      0    Africa           0
2   2020-01-24    Chad  Confirmed      0    Africa           0
3   2020-01-25    Chad  Confirmed      0    Africa           0
4   2020-01-26    Chad  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Chad  Confirmed   1291    Africa           0
263 2020-10-11    Chad  Confirmed   1304    Africa           0
264 2020-10-12    Chad  Confirmed   1308    Africa           0
265 2020-10-13    Chad  Confirmed   1321    Africa           0
266 2020-10-14    Chad  Confirmed   1329    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Chad  Deaths      0    Africa           0
1   2020-01-23    Chad  Deaths      0    Africa           0
2   2020-01-24    Chad  Deaths      0    Africa           0
3   2020-01-25    Chad  Deaths      0    Africa           0
4   2020-01-26    Chad  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Chad  Deaths     92    Africa           0
263 2020-10-11    Chad  Deaths     92    Africa           0
264 2020-10-12    Chad  Deaths     92    Africa           0
265 2020-10-13    Chad  Deaths     92    Africa           0
266 2020-10-14    Chad  Deaths     92    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Chad  Recovered      0    Africa           0
1   2020-01-23    Chad  Recovered      0    Africa           0
2   2020-01-24    Chad  Recovered      0    Africa           0
3   2020-01-25    Chad  Recovered      0    Africa           0
4   2020-01-26    Chad  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Chad  Recovered   1103    Africa           0
263 2020-10-11    Chad  Recovered   1115    Africa           0
264 2020-10-12    Chad  Recovered   1117    Africa           0
265 2020-10-13    Chad  Recovered   1120    Africa           0
266 2020-10-14    Chad  Recovered   1120    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Chile  Confirmed       0  South America           0
1   2020-01-23   Chile  Confirmed       0  South America           0
2   2020-01-24   Chile  Confirmed       0  South America           0
3   2020-01-25   Chile  Confirmed       0  South America           0
4   2020-01-26   Chile  Confirmed       0  South America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10   Chile  Confirmed  479595  South America           0
263 2020-10-11   Chile  Confirmed  481371  South America           0
264 2020-10-12   Chile  Confirmed  482832  South America           0
265 2020-10-13   Chile  Confirmed  484280  South America           0
266 2020-10-14   Chile  Confirmed  485372  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Chile  Deaths      0  South America           0
1   2020-01-23   Chile  Deaths      0  South America           0
2   2020-01-24   Chile  Deaths      0  South America           0
3   2020-01-25   Chile  Deaths      0  South America           0
4   2020-01-26   Chile  Deaths      0  South America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10   Chile  Deaths  13272  South America           0
263 2020-10-11   Chile  Deaths  13318  South America           0
264 2020-10-12   Chile  Deaths  13376  South America           0
265 2020-10-13   Chile  Deaths  13396  South America           0
266 2020-10-14   Chile  Deaths  13415  South America           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Chile  Recovered       0  South America           0
1   2020-01-23   Chile  Recovered       0  South America           0
2   2020-01-24   Chile  Recovered       0  South America           0
3   2020-01-25   Chile  Recovered       0  South America           0
4   2020-01-26   Chile  Recovered       0  South America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10   Chile  Recovered  452054  South America           0
263 2020-10-11   Chile  Recovered  453352  South America           0
264 2020-10-12   Chile  Recovered  454434  South America           0
265 2020-10-13   Chile  Recovered  456499  South America           0
266 2020-10-14   Chile  Recovered  458073  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   China  Confirmed    548      Asia         548
1   2020-01-23   China  Confirmed    643      Asia         548
2   2020-01-24   China  Confirmed    920      Asia         548
3   2020-01-25   China  Confirmed   1406      Asia         548
4   2020-01-26   China  Confirmed   2075      Asia         548
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   China  Confirmed  90778      Asia         548
263 2020-10-11   China  Confirmed  90812      Asia         548
264 2020-10-12   China  Confirmed  90830      Asia         548
265 2020-10-13   China  Confirmed  90858      Asia         548
266 2020-10-14   China  Confirmed  90869      Asia         548

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   China  Deaths     17      Asia          17
1   2020-01-23   China  Deaths     18      Asia          17
2   2020-01-24   China  Deaths     26      Asia          17
3   2020-01-25   China  Deaths     42      Asia          17
4   2020-01-26   China  Deaths     56      Asia          17
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   China  Deaths   4739      Asia          17
263 2020-10-11   China  Deaths   4739      Asia          17
264 2020-10-12   China  Deaths   4739      Asia          17
265 2020-10-13   China  Deaths   4739      Asia          17
266 2020-10-14   China  Deaths   4739      Asia          17

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   China  Recovered     28      Asia          28
1   2020-01-23   China  Recovered     30      Asia          28
2   2020-01-24   China  Recovered     36      Asia          28
3   2020-01-25   China  Recovered     39      Asia          28
4   2020-01-26   China  Recovered     49      Asia          28
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   China  Recovered  85658      Asia          28
263 2020-10-11   China  Recovered  85669      Asia          28
264 2020-10-12   China  Recovered  85690      Asia          28
265 2020-10-13   China  Recovered  85707      Asia          28
266 2020-10-14   China  Recovered  85720      Asia          28

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Colombia  Confirmed       0  South America           0
1   2020-01-23  Colombia  Confirmed       0  South America           0
2   2020-01-24  Colombia  Confirmed       0  South America           0
3   2020-01-25  Colombia  Confirmed       0  South America           0
4   2020-01-26  Colombia  Confirmed       0  South America           0
..         ...       ...        ...     ...            ...         ...
262 2020-10-10  Colombia  Confirmed  902747  South America           0
263 2020-10-11  Colombia  Confirmed  911316  South America           0
264 2020-10-12  Colombia  Confirmed  919084  South America           0
265 2020-10-13  Colombia  Confirmed  924098  South America           0
266 2020-10-14  Colombia  Confirmed  930159  South America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Colombia  Deaths      0  South America           0
1   2020-01-23  Colombia  Deaths      0  South America           0
2   2020-01-24  Colombia  Deaths      0  South America           0
3   2020-01-25  Colombia  Deaths      0  South America           0
4   2020-01-26  Colombia  Deaths      0  South America           0
..         ...       ...     ...    ...            ...         ...
262 2020-10-10  Colombia  Deaths  27660  South America           0
263 2020-10-11  Colombia  Deaths  27834  South America           0
264 2020-10-12  Colombia  Deaths  27985  South America           0
265 2020-10-13  Colombia  Deaths  28141  South America           0
266 2020-10-14  Colombia  Deaths  28306  South America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Colombia  Recovered       0  South America           0
1   2020-01-23  Colombia  Recovered       0  South America           0
2   2020-01-24  Colombia  Recovered       0  South America           0
3   2020-01-25  Colombia  Recovered       0  South America           0
4   2020-01-26  Colombia  Recovered       0  South America           0
..         ...       ...        ...     ...            ...         ...
262 2020-10-10  Colombia  Recovered  783131  South America           0
263 2020-10-11  Colombia  Recovered  789787  South America           0
264 2020-10-12  Colombia  Recovered  798396  South America           0
265 2020-10-13  Colombia  Recovered  806703  South America           0
266 2020-10-14  Colombia  Recovered  816667  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Comoros  Confirmed      0    Africa           0
1   2020-01-23  Comoros  Confirmed      0    Africa           0
2   2020-01-24  Comoros  Confirmed      0    Africa           0
3   2020-01-25  Comoros  Confirmed      0    Africa           0
4   2020-01-26  Comoros  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Comoros  Confirmed    495    Africa           0
263 2020-10-11  Comoros  Confirmed    495    Africa           0
264 2020-10-12  Comoros  Confirmed    495    Africa           0
265 2020-10-13  Comoros  Confirmed    496    Africa           0
266 2020-10-14  Comoros  Confirmed    496    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Comoros  Deaths      0    Africa           0
1   2020-01-23  Comoros  Deaths      0    Africa           0
2   2020-01-24  Comoros  Deaths      0    Africa           0
3   2020-01-25  Comoros  Deaths      0    Africa           0
4   2020-01-26  Comoros  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Comoros  Deaths      7    Africa           0
263 2020-10-11  Comoros  Deaths      7    Africa           0
264 2020-10-12  Comoros  Deaths      7    Africa           0
265 2020-10-13  Comoros  Deaths      7    Africa           0
266 2020-10-14  Comoros  Deaths      7    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Comoros  Recovered      0    Africa           0
1   2020-01-23  Comoros  Recovered      0    Africa           0
2   2020-01-24  Comoros  Recovered      0    Africa           0
3   2020-01-25  Comoros  Recovered      0    Africa           0
4   2020-01-26  Comoros  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Comoros  Recovered    475    Africa           0
263 2020-10-11  Comoros  Recovered    475    Africa           0
264 2020-10-12  Comoros  Recovered    475    Africa           0
265 2020-10-13  Comoros  Recovered    484    Africa           0
266 2020-10-14  Comoros  Recovered    484    Africa           0

[267 rows x 6 columns]
1
          DATE              COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Brazzaville)  Confirmed      0    Africa           0
1   2020-01-23  Congo (Brazzaville)  Confirmed      0    Africa           0
2   2020-01-24  Congo (Brazzaville)  Confirmed      0    Africa           0
3   2020-01-25  Congo (Brazzaville)  Confirmed      0    Africa           0
4   2020-01-26  Congo (Brazzaville)  Confirmed      0    Africa           0
..         ...                  ...        ...    ...       ...         ...
262 2020-10-10  Congo (Brazzaville)  Confirmed   5118    Africa           0
263 2020-10-11  Congo (Brazzaville)  Confirmed   5118    Africa           0
264 2020-10-12  Congo (Brazzaville)  Confirmed   5118    Africa           0
265 2020-10-13  Congo (Brazzaville)  Confirmed   5118    Africa           0
266 2020-10-14  Congo (Brazzaville)  Confirmed   5156    Africa           0

[267 rows x 6 columns]
1
          DATE              COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Brazzaville)  Deaths      0    Africa           0
1   2020-01-23  Congo (Brazzaville)  Deaths      0    Africa           0
2   2020-01-24  Congo (Brazzaville)  Deaths      0    Africa           0
3   2020-01-25  Congo (Brazzaville)  Deaths      0    Africa           0
4   2020-01-26  Congo (Brazzaville)  Deaths      0    Africa           0
..         ...                  ...     ...    ...       ...         ...
262 2020-10-10  Congo (Brazzaville)  Deaths     90    Africa           0
263 2020-10-11  Congo (Brazzaville)  Deaths     90    Africa           0
264 2020-10-12  Congo (Brazzaville)  Deaths     90    Africa           0
265 2020-10-13  Congo (Brazzaville)  Deaths     90    Africa           0
266 2020-10-14  Congo (Brazzaville)  Deaths     92    Africa           0

[267 rows x 6 columns]
1
          DATE              COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Brazzaville)  Recovered      0    Africa           0
1   2020-01-23  Congo (Brazzaville)  Recovered      0    Africa           0
2   2020-01-24  Congo (Brazzaville)  Recovered      0    Africa           0
3   2020-01-25  Congo (Brazzaville)  Recovered      0    Africa           0
4   2020-01-26  Congo (Brazzaville)  Recovered      0    Africa           0
..         ...                  ...        ...    ...       ...         ...
262 2020-10-10  Congo (Brazzaville)  Recovered   3887    Africa           0
263 2020-10-11  Congo (Brazzaville)  Recovered   3887    Africa           0
264 2020-10-12  Congo (Brazzaville)  Recovered   3887    Africa           0
265 2020-10-13  Congo (Brazzaville)  Recovered   3887    Africa           0
266 2020-10-14  Congo (Brazzaville)  Recovered   3887    Africa           0

[267 rows x 6 columns]
1
          DATE           COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Kinshasa)  Confirmed      0    Africa           0
1   2020-01-23  Congo (Kinshasa)  Confirmed      0    Africa           0
2   2020-01-24  Congo (Kinshasa)  Confirmed      0    Africa           0
3   2020-01-25  Congo (Kinshasa)  Confirmed      0    Africa           0
4   2020-01-26  Congo (Kinshasa)  Confirmed      0    Africa           0
..         ...               ...        ...    ...       ...         ...
262 2020-10-10  Congo (Kinshasa)  Confirmed  10841    Africa           0
263 2020-10-11  Congo (Kinshasa)  Confirmed  10851    Africa           0
264 2020-10-12  Congo (Kinshasa)  Confirmed  10868    Africa           0
265 2020-10-13  Congo (Kinshasa)  Confirmed  10872    Africa           0
266 2020-10-14  Congo (Kinshasa)  Confirmed  10935    Africa           0

[267 rows x 6 columns]
1
          DATE           COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Kinshasa)  Deaths      0    Africa           0
1   2020-01-23  Congo (Kinshasa)  Deaths      0    Africa           0
2   2020-01-24  Congo (Kinshasa)  Deaths      0    Africa           0
3   2020-01-25  Congo (Kinshasa)  Deaths      0    Africa           0
4   2020-01-26  Congo (Kinshasa)  Deaths      0    Africa           0
..         ...               ...     ...    ...       ...         ...
262 2020-10-10  Congo (Kinshasa)  Deaths    276    Africa           0
263 2020-10-11  Congo (Kinshasa)  Deaths    276    Africa           0
264 2020-10-12  Congo (Kinshasa)  Deaths    276    Africa           0
265 2020-10-13  Congo (Kinshasa)  Deaths    276    Africa           0
266 2020-10-14  Congo (Kinshasa)  Deaths    281    Africa           0

[267 rows x 6 columns]
1
          DATE           COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Kinshasa)  Recovered      0    Africa           0
1   2020-01-23  Congo (Kinshasa)  Recovered      0    Africa           0
2   2020-01-24  Congo (Kinshasa)  Recovered      0    Africa           0
3   2020-01-25  Congo (Kinshasa)  Recovered      0    Africa           0
4   2020-01-26  Congo (Kinshasa)  Recovered      0    Africa           0
..         ...               ...        ...    ...       ...         ...
262 2020-10-10  Congo (Kinshasa)  Recovered  10242    Africa           0
263 2020-10-11  Congo (Kinshasa)  Recovered  10242    Africa           0
264 2020-10-12  Congo (Kinshasa)  Recovered  10249    Africa           0
265 2020-10-13  Congo (Kinshasa)  Recovered  10249    Africa           0
266 2020-10-14  Congo (Kinshasa)  Recovered  10306    Africa           0

[267 rows x 6 columns]

1
          DATE     COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Costa Rica  Confirmed      0  North America           0
1   2020-01-23  Costa Rica  Confirmed      0  North America           0
2   2020-01-24  Costa Rica  Confirmed      0  North America           0
3   2020-01-25  Costa Rica  Confirmed      0  North America           0
4   2020-01-26  Costa Rica  Confirmed      0  North America           0
..         ...         ...        ...    ...            ...         ...
262 2020-10-10  Costa Rica  Confirmed  87439  North America           0
263 2020-10-11  Costa Rica  Confirmed  87439  North America           0
264 2020-10-12  Costa Rica  Confirmed  89223  North America           0
265 2020-10-13  Costa Rica  Confirmed  90238  North America           0
266 2020-10-14  Costa Rica  Confirmed  91780  North America           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Costa Rica  Deaths      0  North America           0
1   2020-01-23  Costa Rica  Deaths      0  North America           0
2   2020-01-24  Costa Rica  Deaths      0  North America           0
3   2020-01-25  Costa Rica  Deaths      0  North America           0
4   2020-01-26  Costa Rica  Deaths      0  North America           0
..         ...         ...     ...    ...            ...         ...
262 2020-10-10  Costa Rica  Deaths   1076  North America           0
263 2020-10-11  Costa Rica  Deaths   1076  North America           0
264 2020-10-12  Costa Rica  Deaths   1108  North America           0
265 2020-10-13  Costa Rica  Deaths   1124  North America           0
266 2020-10-14  Costa Rica  Deaths   1134  North America           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Costa Rica  Recovered      0  North America           0
1   2020-01-23  Costa Rica  Recovered      0  North America           0
2   2020-01-24  Costa Rica  Recovered      0  North America           0
3   2020-01-25  Costa Rica  Recovered      0  North America           0
4   2020-01-26  Costa Rica  Recovered      0  North America           0
..         ...         ...        ...    ...            ...         ...
262 2020-10-10  Costa Rica  Recovered  52669  North America           0
263 2020-10-11  Costa Rica  Recovered  52669  North America           0
264 2020-10-12  Costa Rica  Recovered  53247  North America           0
265 2020-10-13  Costa Rica  Recovered  53670  North America           0
266 2020-10-14  Costa Rica  Recovered  54155  North America           0

[267 rows x 6 columns]
1
          DATE        COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cote d'Ivoire  Confirmed      0    Africa           0
1   2020-01-23  Cote d'Ivoire  Confirmed      0    Africa           0
2   2020-01-24  Cote d'Ivoire  Confirmed      0    Africa           0
3   2020-01-25  Cote d'Ivoire  Confirmed      0    Africa           0
4   2020-01-26  Cote d'Ivoire  Confirmed      0    Africa           0
..         ...            ...        ...    ...       ...         ...
262 2020-10-10  Cote d'Ivoire  Confirmed  20128    Africa           0
263 2020-10-11  Cote d'Ivoire  Confirmed  20154    Africa           0
264 2020-10-12  Cote d'Ivoire  Confirmed  20155    Africa           0
265 2020-10-13  Cote d'Ivoire  Confirmed  20183    Africa           0
266 2020-10-14  Cote d'Ivoire  Confirmed  20217    Africa           0

[267 rows x 6 columns]
1
          DATE        COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cote d'Ivoire  Deaths      0    Africa           0
1   2020-01-23  Cote d'Ivoire  Deaths      0    Africa           0
2   2020-01-24  Cote d'Ivoire  Deaths      0    Africa           0
3   2020-01-25  Cote d'Ivoire  Deaths      0    Africa           0
4   2020-01-26  Cote d'Ivoire  Deaths      0    Africa           0
..         ...            ...     ...    ...       ...         ...
262 2020-10-10  Cote d'Ivoire  Deaths    120    Africa           0
263 2020-10-11  Cote d'Ivoire  Deaths    120    Africa           0
264 2020-10-12  Cote d'Ivoire  Deaths    120    Africa           0
265 2020-10-13  Cote d'Ivoire  Deaths    120    Africa           0
266 2020-10-14  Cote d'Ivoire  Deaths    120    Africa           0

[267 rows x 6 columns]
1
          DATE        COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cote d'Ivoire  Recovered      0    Africa           0
1   2020-01-23  Cote d'Ivoire  Recovered      0    Africa           0
2   2020-01-24  Cote d'Ivoire  Recovered      0    Africa           0
3   2020-01-25  Cote d'Ivoire  Recovered      0    Africa           0
4   2020-01-26  Cote d'Ivoire  Recovered      0    Africa           0
..         ...            ...        ...    ...       ...         ...
262 2020-10-10  Cote d'Ivoire  Recovered  19752    Africa           0
263 2020-10-11  Cote d'Ivoire  Recovered  19798    Africa           0
264 2020-10-12  Cote d'Ivoire  Recovered  19831    Africa           0
265 2020-10-13  Cote d'Ivoire  Recovered  19860    Africa           0
266 2020-10-14  Cote d'Ivoire  Recovered  19872    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Croatia  Confirmed      0    Europe           0
1   2020-01-23  Croatia  Confirmed      0    Europe           0
2   2020-01-24  Croatia  Confirmed      0    Europe           0
3   2020-01-25  Croatia  Confirmed      0    Europe           0
4   2020-01-26  Croatia  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Croatia  Confirmed  19932    Europe           0
263 2020-10-11  Croatia  Confirmed  20440    Europe           0
264 2020-10-12  Croatia  Confirmed  20621    Europe           0
265 2020-10-13  Croatia  Confirmed  20993    Europe           0
266 2020-10-14  Croatia  Confirmed  21741    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Croatia  Deaths      0    Europe           0
1   2020-01-23  Croatia  Deaths      0    Europe           0
2   2020-01-24  Croatia  Deaths      0    Europe           0
3   2020-01-25  Croatia  Deaths      0    Europe           0
4   2020-01-26  Croatia  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Croatia  Deaths    317    Europe           0
263 2020-10-11  Croatia  Deaths    324    Europe           0
264 2020-10-12  Croatia  Deaths    327    Europe           0
265 2020-10-13  Croatia  Deaths    330    Europe           0
266 2020-10-14  Croatia  Deaths    334    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Croatia  Recovered      0    Europe           0
1   2020-01-23  Croatia  Recovered      0    Europe           0
2   2020-01-24  Croatia  Recovered      0    Europe           0
3   2020-01-25  Croatia  Recovered      0    Europe           0
4   2020-01-26  Croatia  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Croatia  Recovered  16953    Europe           0
263 2020-10-11  Croatia  Recovered  17298    Europe           0
264 2020-10-12  Croatia  Recovered  17582    Europe           0
265 2020-10-13  Croatia  Recovered  17889    Europe           0
266 2020-10-14  Croatia  Recovered  18197    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Cuba  Confirmed      0  North America           0
1   2020-01-23    Cuba  Confirmed      0  North America           0
2   2020-01-24    Cuba  Confirmed      0  North America           0
3   2020-01-25    Cuba  Confirmed      0  North America           0
4   2020-01-26    Cuba  Confirmed      0  North America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10    Cuba  Confirmed   5948  North America           0
263 2020-10-11    Cuba  Confirmed   5978  North America           0
264 2020-10-12    Cuba  Confirmed   6000  North America           0
265 2020-10-13    Cuba  Confirmed   6017  North America           0
266 2020-10-14    Cuba  Confirmed   6035  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Cuba  Deaths      0  North America           0
1   2020-01-23    Cuba  Deaths      0  North America           0
2   2020-01-24    Cuba  Deaths      0  North America           0
3   2020-01-25    Cuba  Deaths      0  North America           0
4   2020-01-26    Cuba  Deaths      0  North America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10    Cuba  Deaths    123  North America           0
263 2020-10-11    Cuba  Deaths    123  North America           0
264 2020-10-12    Cuba  Deaths    123  North America           0
265 2020-10-13    Cuba  Deaths    123  North America           0
266 2020-10-14    Cuba  Deaths    123  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Cuba  Recovered      0  North America           0
1   2020-01-23    Cuba  Recovered      0  North America           0
2   2020-01-24    Cuba  Recovered      0  North America           0
3   2020-01-25    Cuba  Recovered      0  North America           0
4   2020-01-26    Cuba  Recovered      0  North America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10    Cuba  Recovered   5440  North America           0
263 2020-10-11    Cuba  Recovered   5540  North America           0
264 2020-10-12    Cuba  Recovered   5574  North America           0
265 2020-10-13    Cuba  Recovered   5602  North America           0
266 2020-10-14    Cuba  Recovered   5653  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cyprus  Confirmed      0      Asia           0
1   2020-01-23  Cyprus  Confirmed      0      Asia           0
2   2020-01-24  Cyprus  Confirmed      0      Asia           0
3   2020-01-25  Cyprus  Confirmed      0      Asia           0
4   2020-01-26  Cyprus  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Cyprus  Confirmed   1986      Asia           0
263 2020-10-11  Cyprus  Confirmed   2006      Asia           0
264 2020-10-12  Cyprus  Confirmed   2047      Asia           0
265 2020-10-13  Cyprus  Confirmed   2130      Asia           0
266 2020-10-14  Cyprus  Confirmed   2181      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cyprus  Deaths      0      Asia           0
1   2020-01-23  Cyprus  Deaths      0      Asia           0
2   2020-01-24  Cyprus  Deaths      0      Asia           0
3   2020-01-25  Cyprus  Deaths      0      Asia           0
4   2020-01-26  Cyprus  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Cyprus  Deaths     25      Asia           0
263 2020-10-11  Cyprus  Deaths     25      Asia           0
264 2020-10-12  Cyprus  Deaths     25      Asia           0
265 2020-10-13  Cyprus  Deaths     25      Asia           0
266 2020-10-14  Cyprus  Deaths     25      Asia           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cyprus  Recovered      0      Asia           0
1   2020-01-23  Cyprus  Recovered      0      Asia           0
2   2020-01-24  Cyprus  Recovered      0      Asia           0
3   2020-01-25  Cyprus  Recovered      0      Asia           0
4   2020-01-26  Cyprus  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Cyprus  Recovered   1444      Asia           0
263 2020-10-11  Cyprus  Recovered   1444      Asia           0
264 2020-10-12  Cyprus  Recovered   1444      Asia           0
265 2020-10-13  Cyprus  Recovered   1444      Asia           0
266 2020-10-14  Cyprus  Recovered   1444      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Czechia  Confirmed       0    Europe           0
1   2020-01-23  Czechia  Confirmed       0    Europe           0
2   2020-01-24  Czechia  Confirmed       0    Europe           0
3   2020-01-25  Czechia  Confirmed       0    Europe           0
4   2020-01-26  Czechia  Confirmed       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Czechia  Confirmed  114005    Europe           0
263 2020-10-11  Czechia  Confirmed  117110    Europe           0
264 2020-10-12  Czechia  Confirmed  121421    Europe           0
265 2020-10-13  Czechia  Confirmed  129747    Europe           0
266 2020-10-14  Czechia  Confirmed  139290    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Czechia  Deaths      0    Europe           0
1   2020-01-23  Czechia  Deaths      0    Europe           0
2   2020-01-24  Czechia  Deaths      0    Europe           0
3   2020-01-25  Czechia  Deaths      0    Europe           0
4   2020-01-26  Czechia  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Czechia  Deaths    948    Europe           0
263 2020-10-11  Czechia  Deaths    987    Europe           0
264 2020-10-12  Czechia  Deaths   1051    Europe           0
265 2020-10-13  Czechia  Deaths   1106    Europe           0
266 2020-10-14  Czechia  Deaths   1172    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Czechia  Recovered      0    Europe           0
1   2020-01-23  Czechia  Recovered      0    Europe           0
2   2020-01-24  Czechia  Recovered      0    Europe           0
3   2020-01-25  Czechia  Recovered      0    Europe           0
4   2020-01-26  Czechia  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Czechia  Recovered  54909    Europe           0
263 2020-10-11  Czechia  Recovered  54980    Europe           0
264 2020-10-12  Czechia  Recovered  58200    Europe           0
265 2020-10-13  Czechia  Recovered  59901    Europe           0
266 2020-10-14  Czechia  Recovered  60901    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Denmark  Confirmed      0    Europe           0
1   2020-01-23  Denmark  Confirmed      0    Europe           0
2   2020-01-24  Denmark  Confirmed      0    Europe           0
3   2020-01-25  Denmark  Confirmed      0    Europe           0
4   2020-01-26  Denmark  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Denmark  Confirmed  32575    Europe           0
263 2020-10-11  Denmark  Confirmed  32915    Europe           0
264 2020-10-12  Denmark  Confirmed  33304    Europe           0
265 2020-10-13  Denmark  Confirmed  33594    Europe           0
266 2020-10-14  Denmark  Confirmed  34087    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Denmark  Deaths      0    Europe           0
1   2020-01-23  Denmark  Deaths      0    Europe           0
2   2020-01-24  Denmark  Deaths      0    Europe           0
3   2020-01-25  Denmark  Deaths      0    Europe           0
4   2020-01-26  Denmark  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Denmark  Deaths    667    Europe           0
263 2020-10-11  Denmark  Deaths    669    Europe           0
264 2020-10-12  Denmark  Deaths    671    Europe           0
265 2020-10-13  Denmark  Deaths    674    Europe           0
266 2020-10-14  Denmark  Deaths    675    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Denmark  Recovered      0    Europe           0
1   2020-01-23  Denmark  Recovered      0    Europe           0
2   2020-01-24  Denmark  Recovered      0    Europe           0
3   2020-01-25  Denmark  Recovered      0    Europe           0
4   2020-01-26  Denmark  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Denmark  Recovered  26462    Europe           0
263 2020-10-11  Denmark  Recovered  26855    Europe           0
264 2020-10-12  Denmark  Recovered  27218    Europe           0
265 2020-10-13  Denmark  Recovered  27704    Europe           0
266 2020-10-14  Denmark  Recovered  28161    Europe           0

[267 rows x 6 columns]
1
          DATE           COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Diamond Princess  Confirmed      0     Other           0
1   2020-01-23  Diamond Princess  Confirmed      0     Other           0
2   2020-01-24  Diamond Princess  Confirmed      0     Other           0
3   2020-01-25  Diamond Princess  Confirmed      0     Other           0
4   2020-01-26  Diamond Princess  Confirmed      0     Other           0
..         ...               ...        ...    ...       ...         ...
262 2020-10-10  Diamond Princess  Confirmed    712     Other           0
263 2020-10-11  Diamond Princess  Confirmed    712     Other           0
264 2020-10-12  Diamond Princess  Confirmed    712     Other           0
265 2020-10-13  Diamond Princess  Confirmed    712     Other           0
266 2020-10-14  Diamond Princess  Confirmed    712     Other           0

[267 rows x 6 columns]
1
          DATE           COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Diamond Princess  Deaths      0     Other           0
1   2020-01-23  Diamond Princess  Deaths      0     Other           0
2   2020-01-24  Diamond Princess  Deaths      0     Other           0
3   2020-01-25  Diamond Princess  Deaths      0     Other           0
4   2020-01-26  Diamond Princess  Deaths      0     Other           0
..         ...               ...     ...    ...       ...         ...
262 2020-10-10  Diamond Princess  Deaths     13     Other           0
263 2020-10-11  Diamond Princess  Deaths     13     Other           0
264 2020-10-12  Diamond Princess  Deaths     13     Other           0
265 2020-10-13  Diamond Princess  Deaths     13     Other           0
266 2020-10-14  Diamond Princess  Deaths     13     Other           0

[267 rows x 6 columns]
1
          DATE           COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Diamond Princess  Recovered      0     Other           0
1   2020-01-23  Diamond Princess  Recovered      0     Other           0
2   2020-01-24  Diamond Princess  Recovered      0     Other           0
3   2020-01-25  Diamond Princess  Recovered      0     Other           0
4   2020-01-26  Diamond Princess  Recovered      0     Other           0
..         ...               ...        ...    ...       ...         ...
262 2020-10-10  Diamond Princess  Recovered    659     Other           0
263 2020-10-11  Diamond Princess  Recovered    659     Other           0
264 2020-10-12  Diamond Princess  Recovered    659     Other           0
265 2020-10-13  Diamond Princess  Recovered    659     Other           0
266 2020-10-14  Diamond Princess  Recovered    659     Other           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Djibouti  Confirmed      0    Africa           0
1   2020-01-23  Djibouti  Confirmed      0    Africa           0
2   2020-01-24  Djibouti  Confirmed      0    Africa           0
3   2020-01-25  Djibouti  Confirmed      0    Africa           0
4   2020-01-26  Djibouti  Confirmed      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Djibouti  Confirmed   5423    Africa           0
263 2020-10-11  Djibouti  Confirmed   5423    Africa           0
264 2020-10-12  Djibouti  Confirmed   5426    Africa           0
265 2020-10-13  Djibouti  Confirmed   5428    Africa           0
266 2020-10-14  Djibouti  Confirmed   5440    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Djibouti  Deaths      0    Africa           0
1   2020-01-23  Djibouti  Deaths      0    Africa           0
2   2020-01-24  Djibouti  Deaths      0    Africa           0
3   2020-01-25  Djibouti  Deaths      0    Africa           0
4   2020-01-26  Djibouti  Deaths      0    Africa           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Djibouti  Deaths     61    Africa           0
263 2020-10-11  Djibouti  Deaths     61    Africa           0
264 2020-10-12  Djibouti  Deaths     61    Africa           0
265 2020-10-13  Djibouti  Deaths     61    Africa           0
266 2020-10-14  Djibouti  Deaths     61    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Djibouti  Recovered      0    Africa           0
1   2020-01-23  Djibouti  Recovered      0    Africa           0
2   2020-01-24  Djibouti  Recovered      0    Africa           0
3   2020-01-25  Djibouti  Recovered      0    Africa           0
4   2020-01-26  Djibouti  Recovered      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Djibouti  Recovered   5355    Africa           0
263 2020-10-11  Djibouti  Recovered   5355    Africa           0
264 2020-10-12  Djibouti  Recovered   5360    Africa           0
265 2020-10-13  Djibouti  Recovered   5362    Africa           0
266 2020-10-14  Djibouti  Recovered   5366    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Dominica  Confirmed      0  North America           0
1   2020-01-23  Dominica  Confirmed      0  North America           0
2   2020-01-24  Dominica  Confirmed      0  North America           0
3   2020-01-25  Dominica  Confirmed      0  North America           0
4   2020-01-26  Dominica  Confirmed      0  North America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Dominica  Confirmed     32  North America           0
263 2020-10-11  Dominica  Confirmed     32  North America           0
264 2020-10-12  Dominica  Confirmed     32  North America           0
265 2020-10-13  Dominica  Confirmed     32  North America           0
266 2020-10-14  Dominica  Confirmed     32  North America           0

[267 rows x 6 columns]

1
          DATE   COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Dominica  Deaths      0  North America           0
1   2020-01-23  Dominica  Deaths      0  North America           0
2   2020-01-24  Dominica  Deaths      0  North America           0
3   2020-01-25  Dominica  Deaths      0  North America           0
4   2020-01-26  Dominica  Deaths      0  North America           0
..         ...       ...     ...    ...            ...         ...
262 2020-10-10  Dominica  Deaths      0  North America           0
263 2020-10-11  Dominica  Deaths      0  North America           0
264 2020-10-12  Dominica  Deaths      0  North America           0
265 2020-10-13  Dominica  Deaths      0  North America           0
266 2020-10-14  Dominica  Deaths      0  North America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Dominica  Recovered      0  North America           0
1   2020-01-23  Dominica  Recovered      0  North America           0
2   2020-01-24  Dominica  Recovered      0  North America           0
3   2020-01-25  Dominica  Recovered      0  North America           0
4   2020-01-26  Dominica  Recovered      0  North America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Dominica  Recovered     24  North America           0
263 2020-10-11  Dominica  Recovered     24  North America           0
264 2020-10-12  Dominica  Recovered     24  North America           0
265 2020-10-13  Dominica  Recovered     24  North America           0
266 2020-10-14  Dominica  Recovered     24  North America           0

[267 rows x 6 columns]
1
          DATE             COUNTRY       TYPE   VALUE      CONTINENT  \
0   2020-01-22  Dominican Republic  Confirmed       0  North America
1   2020-01-23  Dominican Republic  Confirmed       0  North America
2   2020-01-24  Dominican Republic  Confirmed       0  North America
3   2020-01-25  Dominican Republic  Confirmed       0  North America
4   2020-01-26  Dominican Republic  Confirmed       0  North America
..         ...                 ...        ...     ...            ...
262 2020-10-10  Dominican Republic  Confirmed  118014  North America
263 2020-10-11  Dominican Republic  Confirmed  118477  North America
264 2020-10-12  Dominican Republic  Confirmed  118843  North America
265 2020-10-13  Dominican Republic  Confirmed  119008  North America
266 2020-10-14  Dominican Republic  Confirmed  119662  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE             COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Dominican Republic  Deaths      0  North America           0
1   2020-01-23  Dominican Republic  Deaths      0  North America           0
2   2020-01-24  Dominican Republic  Deaths      0  North America           0
3   2020-01-25  Dominican Republic  Deaths      0  North America           0
4   2020-01-26  Dominican Republic  Deaths      0  North America           0
..         ...                 ...     ...    ...            ...         ...
262 2020-10-10  Dominican Republic  Deaths   2167  North America           0
263 2020-10-11  Dominican Republic  Deaths   2173  North America           0
264 2020-10-12  Dominican Republic  Deaths   2179  North America           0
265 2020-10-13  Dominican Republic  Deaths   2183  North America           0
266 2020-10-14  Dominican Republic  Deaths   2186  North America           0

[267 rows x 6 columns]
1
          DATE             COUNTRY       TYPE  VALUE      CONTINENT  \
0   2020-01-22  Dominican Republic  Recovered      0  North America
1   2020-01-23  Dominican Republic  Recovered      0  North America
2   2020-01-24  Dominican Republic  Recovered      0  North America
3   2020-01-25  Dominican Republic  Recovered      0  North America
4   2020-01-26  Dominican Republic  Recovered      0  North America
..         ...                 ...        ...    ...            ...
262 2020-10-10  Dominican Republic  Recovered  93627  North America
263 2020-10-11  Dominican Republic  Recovered  94084  North America
264 2020-10-12  Dominican Republic  Recovered  94532  North America
265 2020-10-13  Dominican Republic  Recovered  94941  North America
266 2020-10-14  Dominican Republic  Recovered  95460  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Ecuador  Confirmed       0  South America           0
1   2020-01-23  Ecuador  Confirmed       0  South America           0
2   2020-01-24  Ecuador  Confirmed       0  South America           0
3   2020-01-25  Ecuador  Confirmed       0  South America           0
4   2020-01-26  Ecuador  Confirmed       0  South America           0
..         ...      ...        ...     ...            ...         ...
262 2020-10-10  Ecuador  Confirmed  146828  South America           0
263 2020-10-11  Ecuador  Confirmed  147033  South America           0
264 2020-10-12  Ecuador  Confirmed  147315  South America           0
265 2020-10-13  Ecuador  Confirmed  148171  South America           0
266 2020-10-14  Ecuador  Confirmed  149083  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Ecuador  Deaths      0  South America           0
1   2020-01-23  Ecuador  Deaths      0  South America           0
2   2020-01-24  Ecuador  Deaths      0  South America           0
3   2020-01-25  Ecuador  Deaths      0  South America           0
4   2020-01-26  Ecuador  Deaths      0  South America           0
..         ...      ...     ...    ...            ...         ...
262 2020-10-10  Ecuador  Deaths  12188  South America           0
263 2020-10-11  Ecuador  Deaths  12191  South America           0
264 2020-10-12  Ecuador  Deaths  12218  South America           0
265 2020-10-13  Ecuador  Deaths  12235  South America           0
266 2020-10-14  Ecuador  Deaths  12264  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Ecuador  Recovered       0  South America           0
1   2020-01-23  Ecuador  Recovered       0  South America           0
2   2020-01-24  Ecuador  Recovered       0  South America           0
3   2020-01-25  Ecuador  Recovered       0  South America           0
4   2020-01-26  Ecuador  Recovered       0  South America           0
..         ...      ...        ...     ...            ...         ...
262 2020-10-10  Ecuador  Recovered  120511  South America           0
263 2020-10-11  Ecuador  Recovered  128134  South America           0
264 2020-10-12  Ecuador  Recovered  128134  South America           0
265 2020-10-13  Ecuador  Recovered  128134  South America           0
266 2020-10-14  Ecuador  Recovered  128134  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Egypt  Confirmed       0    Africa           0
1   2020-01-23   Egypt  Confirmed       0    Africa           0
2   2020-01-24   Egypt  Confirmed       0    Africa           0
3   2020-01-25   Egypt  Confirmed       0    Africa           0
4   2020-01-26   Egypt  Confirmed       0    Africa           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Egypt  Confirmed  104387    Africa           0
263 2020-10-11   Egypt  Confirmed  104516    Africa           0
264 2020-10-12   Egypt  Confirmed  104648    Africa           0
265 2020-10-13   Egypt  Confirmed  104787    Africa           0
266 2020-10-14   Egypt  Confirmed  104915    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Egypt  Deaths      0    Africa           0
1   2020-01-23   Egypt  Deaths      0    Africa           0
2   2020-01-24   Egypt  Deaths      0    Africa           0
3   2020-01-25   Egypt  Deaths      0    Africa           0
4   2020-01-26   Egypt  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Egypt  Deaths   6040    Africa           0
263 2020-10-11   Egypt  Deaths   6052    Africa           0
264 2020-10-12   Egypt  Deaths   6062    Africa           0
265 2020-10-13   Egypt  Deaths   6071    Africa           0
266 2020-10-14   Egypt  Deaths   6077    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Egypt  Recovered      0    Africa           0
1   2020-01-23   Egypt  Recovered      0    Africa           0
2   2020-01-24   Egypt  Recovered      0    Africa           0
3   2020-01-25   Egypt  Recovered      0    Africa           0
4   2020-01-26   Egypt  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Egypt  Recovered  97643    Africa           0
263 2020-10-11   Egypt  Recovered  97688    Africa           0
264 2020-10-12   Egypt  Recovered  97743    Africa           0
265 2020-10-13   Egypt  Recovered  97841    Africa           0
266 2020-10-14   Egypt  Recovered  97920    Africa           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  El Salvador  Confirmed      0  North America           0
1   2020-01-23  El Salvador  Confirmed      0  North America           0
2   2020-01-24  El Salvador  Confirmed      0  North America           0
3   2020-01-25  El Salvador  Confirmed      0  North America           0
4   2020-01-26  El Salvador  Confirmed      0  North America           0
..         ...          ...        ...    ...            ...         ...
262 2020-10-10  El Salvador  Confirmed  29951  North America           0
263 2020-10-11  El Salvador  Confirmed  30196  North America           0
264 2020-10-12  El Salvador  Confirmed  30196  North America           0
265 2020-10-13  El Salvador  Confirmed  30480  North America           0
266 2020-10-14  El Salvador  Confirmed  30766  North America           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  El Salvador  Deaths      0  North America           0
1   2020-01-23  El Salvador  Deaths      0  North America           0
2   2020-01-24  El Salvador  Deaths      0  North America           0
3   2020-01-25  El Salvador  Deaths      0  North America           0
4   2020-01-26  El Salvador  Deaths      0  North America           0
..         ...          ...     ...    ...            ...         ...
262 2020-10-10  El Salvador  Deaths    887  North America           0
263 2020-10-11  El Salvador  Deaths    890  North America           0
264 2020-10-12  El Salvador  Deaths    894  North America           0
265 2020-10-13  El Salvador  Deaths    899  North America           0
266 2020-10-14  El Salvador  Deaths    904  North America           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  El Salvador  Recovered      0  North America           0
1   2020-01-23  El Salvador  Recovered      0  North America           0
2   2020-01-24  El Salvador  Recovered      0  North America           0
3   2020-01-25  El Salvador  Recovered      0  North America           0
4   2020-01-26  El Salvador  Recovered      0  North America           0
..         ...          ...        ...    ...            ...         ...
262 2020-10-10  El Salvador  Recovered  24995  North America           0
263 2020-10-11  El Salvador  Recovered  25438  North America           0
264 2020-10-12  El Salvador  Recovered  25438  North America           0
265 2020-10-13  El Salvador  Recovered  25857  North America           0
266 2020-10-14  El Salvador  Recovered  26087  North America           0

[267 rows x 6 columns]

1
          DATE            COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Equatorial Guinea  Confirmed      0    Africa           0
1   2020-01-23  Equatorial Guinea  Confirmed      0    Africa           0
2   2020-01-24  Equatorial Guinea  Confirmed      0    Africa           0
3   2020-01-25  Equatorial Guinea  Confirmed      0    Africa           0
4   2020-01-26  Equatorial Guinea  Confirmed      0    Africa           0
..         ...                ...        ...    ...       ...         ...
262 2020-10-10  Equatorial Guinea  Confirmed   5063    Africa           0
263 2020-10-11  Equatorial Guinea  Confirmed   5063    Africa           0
264 2020-10-12  Equatorial Guinea  Confirmed   5066    Africa           0
265 2020-10-13  Equatorial Guinea  Confirmed   5066    Africa           0
266 2020-10-14  Equatorial Guinea  Confirmed   5068    Africa           0

[267 rows x 6 columns]
1
          DATE            COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Equatorial Guinea  Deaths      0    Africa           0
1   2020-01-23  Equatorial Guinea  Deaths      0    Africa           0
2   2020-01-24  Equatorial Guinea  Deaths      0    Africa           0
3   2020-01-25  Equatorial Guinea  Deaths      0    Africa           0
4   2020-01-26  Equatorial Guinea  Deaths      0    Africa           0
..         ...                ...     ...    ...       ...         ...
262 2020-10-10  Equatorial Guinea  Deaths     83    Africa           0
263 2020-10-11  Equatorial Guinea  Deaths     83    Africa           0
264 2020-10-12  Equatorial Guinea  Deaths     83    Africa           0
265 2020-10-13  Equatorial Guinea  Deaths     83    Africa           0
266 2020-10-14  Equatorial Guinea  Deaths     83    Africa           0

[267 rows x 6 columns]
1
          DATE            COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Equatorial Guinea  Recovered      0    Africa           0
1   2020-01-23  Equatorial Guinea  Recovered      0    Africa           0
2   2020-01-24  Equatorial Guinea  Recovered      0    Africa           0
3   2020-01-25  Equatorial Guinea  Recovered      0    Africa           0
4   2020-01-26  Equatorial Guinea  Recovered      0    Africa           0
..         ...                ...        ...    ...       ...         ...
262 2020-10-10  Equatorial Guinea  Recovered   4894    Africa           0
263 2020-10-11  Equatorial Guinea  Recovered   4894    Africa           0
264 2020-10-12  Equatorial Guinea  Recovered   4954    Africa           0
265 2020-10-13  Equatorial Guinea  Recovered   4954    Africa           0
266 2020-10-14  Equatorial Guinea  Recovered   4954    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eritrea  Confirmed      0    Africa           0
1   2020-01-23  Eritrea  Confirmed      0    Africa           0
2   2020-01-24  Eritrea  Confirmed      0    Africa           0
3   2020-01-25  Eritrea  Confirmed      0    Africa           0
4   2020-01-26  Eritrea  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Eritrea  Confirmed    414    Africa           0
263 2020-10-11  Eritrea  Confirmed    414    Africa           0
264 2020-10-12  Eritrea  Confirmed    414    Africa           0
265 2020-10-13  Eritrea  Confirmed    414    Africa           0
266 2020-10-14  Eritrea  Confirmed    414    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eritrea  Deaths      0    Africa           0
1   2020-01-23  Eritrea  Deaths      0    Africa           0
2   2020-01-24  Eritrea  Deaths      0    Africa           0
3   2020-01-25  Eritrea  Deaths      0    Africa           0
4   2020-01-26  Eritrea  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Eritrea  Deaths      0    Africa           0
263 2020-10-11  Eritrea  Deaths      0    Africa           0
264 2020-10-12  Eritrea  Deaths      0    Africa           0
265 2020-10-13  Eritrea  Deaths      0    Africa           0
266 2020-10-14  Eritrea  Deaths      0    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eritrea  Recovered      0    Africa           0
1   2020-01-23  Eritrea  Recovered      0    Africa           0
2   2020-01-24  Eritrea  Recovered      0    Africa           0
3   2020-01-25  Eritrea  Recovered      0    Africa           0
4   2020-01-26  Eritrea  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Eritrea  Recovered    372    Africa           0
263 2020-10-11  Eritrea  Recovered    372    Africa           0
264 2020-10-12  Eritrea  Recovered    372    Africa           0
265 2020-10-13  Eritrea  Recovered    372    Africa           0
266 2020-10-14  Eritrea  Recovered    372    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Estonia  Confirmed      0    Europe           0
1   2020-01-23  Estonia  Confirmed      0    Europe           0
2   2020-01-24  Estonia  Confirmed      0    Europe           0
3   2020-01-25  Estonia  Confirmed      0    Europe           0
4   2020-01-26  Estonia  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Estonia  Confirmed   3846    Europe           0
263 2020-10-11  Estonia  Confirmed   3865    Europe           0
264 2020-10-12  Estonia  Confirmed   3883    Europe           0
265 2020-10-13  Estonia  Confirmed   3908    Europe           0
266 2020-10-14  Estonia  Confirmed   3947    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Estonia  Deaths      0    Europe           0
1   2020-01-23  Estonia  Deaths      0    Europe           0
2   2020-01-24  Estonia  Deaths      0    Europe           0
3   2020-01-25  Estonia  Deaths      0    Europe           0
4   2020-01-26  Estonia  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Estonia  Deaths     68    Europe           0
263 2020-10-11  Estonia  Deaths     68    Europe           0
264 2020-10-12  Estonia  Deaths     68    Europe           0
265 2020-10-13  Estonia  Deaths     68    Europe           0
266 2020-10-14  Estonia  Deaths     68    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Estonia  Recovered      0    Europe           0
1   2020-01-23  Estonia  Recovered      0    Europe           0
2   2020-01-24  Estonia  Recovered      0    Europe           0
3   2020-01-25  Estonia  Recovered      0    Europe           0
4   2020-01-26  Estonia  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Estonia  Recovered   2946    Europe           0
263 2020-10-11  Estonia  Recovered   2958    Europe           0
264 2020-10-12  Estonia  Recovered   2967    Europe           0
265 2020-10-13  Estonia  Recovered   3015    Europe           0
266 2020-10-14  Estonia  Recovered   3060    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eswatini  Confirmed      0    Africa           0
1   2020-01-23  Eswatini  Confirmed      0    Africa           0
2   2020-01-24  Eswatini  Confirmed      0    Africa           0
3   2020-01-25  Eswatini  Confirmed      0    Africa           0
4   2020-01-26  Eswatini  Confirmed      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Eswatini  Confirmed   5660    Africa           0
263 2020-10-11  Eswatini  Confirmed   5669    Africa           0
264 2020-10-12  Eswatini  Confirmed   5683    Africa           0
265 2020-10-13  Eswatini  Confirmed   5696    Africa           0
266 2020-10-14  Eswatini  Confirmed   5715    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eswatini  Deaths      0    Africa           0
1   2020-01-23  Eswatini  Deaths      0    Africa           0
2   2020-01-24  Eswatini  Deaths      0    Africa           0
3   2020-01-25  Eswatini  Deaths      0    Africa           0
4   2020-01-26  Eswatini  Deaths      0    Africa           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Eswatini  Deaths    113    Africa           0
263 2020-10-11  Eswatini  Deaths    113    Africa           0
264 2020-10-12  Eswatini  Deaths    113    Africa           0
265 2020-10-13  Eswatini  Deaths    114    Africa           0
266 2020-10-14  Eswatini  Deaths    114    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eswatini  Recovered      0    Africa           0
1   2020-01-23  Eswatini  Recovered      0    Africa           0
2   2020-01-24  Eswatini  Recovered      0    Africa           0
3   2020-01-25  Eswatini  Recovered      0    Africa           0
4   2020-01-26  Eswatini  Recovered      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Eswatini  Recovered   5282    Africa           0
263 2020-10-11  Eswatini  Recovered   5310    Africa           0
264 2020-10-12  Eswatini  Recovered   5322    Africa           0
265 2020-10-13  Eswatini  Recovered   5337    Africa           0
266 2020-10-14  Eswatini  Recovered   5347    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ethiopia  Confirmed      0    Africa           0
1   2020-01-23  Ethiopia  Confirmed      0    Africa           0
2   2020-01-24  Ethiopia  Confirmed      0    Africa           0
3   2020-01-25  Ethiopia  Confirmed      0    Africa           0
4   2020-01-26  Ethiopia  Confirmed      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Ethiopia  Confirmed  83429    Africa           0
263 2020-10-11  Ethiopia  Confirmed  84295    Africa           0
264 2020-10-12  Ethiopia  Confirmed  85136    Africa           0
265 2020-10-13  Ethiopia  Confirmed  85718    Africa           0
266 2020-10-14  Ethiopia  Confirmed  86430    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ethiopia  Deaths      0    Africa           0
1   2020-01-23  Ethiopia  Deaths      0    Africa           0
2   2020-01-24  Ethiopia  Deaths      0    Africa           0
3   2020-01-25  Ethiopia  Deaths      0    Africa           0
4   2020-01-26  Ethiopia  Deaths      0    Africa           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Ethiopia  Deaths   1277    Africa           0
263 2020-10-11  Ethiopia  Deaths   1287    Africa           0
264 2020-10-12  Ethiopia  Deaths   1301    Africa           0
265 2020-10-13  Ethiopia  Deaths   1305    Africa           0
266 2020-10-14  Ethiopia  Deaths   1312    Africa           0

[267 rows x 6 columns]

1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ethiopia  Recovered      0    Africa           0
1   2020-01-23  Ethiopia  Recovered      0    Africa           0
2   2020-01-24  Ethiopia  Recovered      0    Africa           0
3   2020-01-25  Ethiopia  Recovered      0    Africa           0
4   2020-01-26  Ethiopia  Recovered      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Ethiopia  Recovered  37683    Africa           0
263 2020-10-11  Ethiopia  Recovered  38316    Africa           0
264 2020-10-12  Ethiopia  Recovered  38904    Africa           0
265 2020-10-13  Ethiopia  Recovered  39307    Africa           0
266 2020-10-14  Ethiopia  Recovered  40165    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Fiji  Confirmed      0   Oceania           0
1   2020-01-23    Fiji  Confirmed      0   Oceania           0
2   2020-01-24    Fiji  Confirmed      0   Oceania           0
3   2020-01-25    Fiji  Confirmed      0   Oceania           0
4   2020-01-26    Fiji  Confirmed      0   Oceania           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Fiji  Confirmed     32   Oceania           0
263 2020-10-11    Fiji  Confirmed     32   Oceania           0
264 2020-10-12    Fiji  Confirmed     32   Oceania           0
265 2020-10-13    Fiji  Confirmed     32   Oceania           0
266 2020-10-14    Fiji  Confirmed     32   Oceania           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Fiji  Deaths      0   Oceania           0
1   2020-01-23    Fiji  Deaths      0   Oceania           0
2   2020-01-24    Fiji  Deaths      0   Oceania           0
3   2020-01-25    Fiji  Deaths      0   Oceania           0
4   2020-01-26    Fiji  Deaths      0   Oceania           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Fiji  Deaths      2   Oceania           0
263 2020-10-11    Fiji  Deaths      2   Oceania           0
264 2020-10-12    Fiji  Deaths      2   Oceania           0
265 2020-10-13    Fiji  Deaths      2   Oceania           0
266 2020-10-14    Fiji  Deaths      2   Oceania           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Fiji  Recovered      0   Oceania           0
1   2020-01-23    Fiji  Recovered      0   Oceania           0
2   2020-01-24    Fiji  Recovered      0   Oceania           0
3   2020-01-25    Fiji  Recovered      0   Oceania           0
4   2020-01-26    Fiji  Recovered      0   Oceania           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Fiji  Recovered     28   Oceania           0
263 2020-10-11    Fiji  Recovered     28   Oceania           0
264 2020-10-12    Fiji  Recovered     28   Oceania           0
265 2020-10-13    Fiji  Recovered     30   Oceania           0
266 2020-10-14    Fiji  Recovered     30   Oceania           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Finland  Confirmed      0    Europe           0
1   2020-01-23  Finland  Confirmed      0    Europe           0
2   2020-01-24  Finland  Confirmed      0    Europe           0
3   2020-01-25  Finland  Confirmed      0    Europe           0
4   2020-01-26  Finland  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Finland  Confirmed  11849    Europe           0
263 2020-10-11  Finland  Confirmed  11998    Europe           0
264 2020-10-12  Finland  Confirmed  12212    Europe           0
265 2020-10-13  Finland  Confirmed  12499    Europe           0
266 2020-10-14  Finland  Confirmed  12703    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Finland  Deaths      0    Europe           0
1   2020-01-23  Finland  Deaths      0    Europe           0
2   2020-01-24  Finland  Deaths      0    Europe           0
3   2020-01-25  Finland  Deaths      0    Europe           0
4   2020-01-26  Finland  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Finland  Deaths    346    Europe           0
263 2020-10-11  Finland  Deaths    346    Europe           0
264 2020-10-12  Finland  Deaths    346    Europe           0
265 2020-10-13  Finland  Deaths    346    Europe           0
266 2020-10-14  Finland  Deaths    350    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Finland  Recovered      0    Europe           0
1   2020-01-23  Finland  Recovered      0    Europe           0
2   2020-01-24  Finland  Recovered      0    Europe           0
3   2020-01-25  Finland  Recovered      0    Europe           0
4   2020-01-26  Finland  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Finland  Recovered   8500    Europe           0
263 2020-10-11  Finland  Recovered   8500    Europe           0
264 2020-10-12  Finland  Recovered   8500    Europe           0
265 2020-10-13  Finland  Recovered   8500    Europe           0
266 2020-10-14  Finland  Recovered   9100    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  France  Confirmed       0    Europe           0
1   2020-01-23  France  Confirmed       0    Europe           0
2   2020-01-24  France  Confirmed       2    Europe           0
3   2020-01-25  France  Confirmed       3    Europe           0
4   2020-01-26  France  Confirmed       3    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  France  Confirmed  732434    Europe           0
263 2020-10-11  France  Confirmed  732434    Europe           0
264 2020-10-12  France  Confirmed  776097    Europe           0
265 2020-10-13  France  Confirmed  798257    Europe           0
266 2020-10-14  France  Confirmed  820376    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  France  Deaths      0    Europe           0
1   2020-01-23  France  Deaths      0    Europe           0
2   2020-01-24  France  Deaths      0    Europe           0
3   2020-01-25  France  Deaths      0    Europe           0
4   2020-01-26  France  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  France  Deaths  32601    Europe           0
263 2020-10-11  France  Deaths  32601    Europe           0
264 2020-10-12  France  Deaths  32703    Europe           0
265 2020-10-13  France  Deaths  32982    Europe           0
266 2020-10-14  France  Deaths  33058    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  France  Recovered       0    Europe           0
1   2020-01-23  France  Recovered       0    Europe           0
2   2020-01-24  France  Recovered       0    Europe           0
3   2020-01-25  France  Recovered       0    Europe           0
4   2020-01-26  France  Recovered       0    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  France  Recovered  103232    Europe           0
263 2020-10-11  France  Recovered  103232    Europe           0
264 2020-10-12  France  Recovered  104035    Europe           0
265 2020-10-13  France  Recovered  105203    Europe           0
266 2020-10-14  France  Recovered  106374    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Gabon  Confirmed      0    Africa           0
1   2020-01-23   Gabon  Confirmed      0    Africa           0
2   2020-01-24   Gabon  Confirmed      0    Africa           0
3   2020-01-25   Gabon  Confirmed      0    Africa           0
4   2020-01-26   Gabon  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Gabon  Confirmed   8835    Africa           0
263 2020-10-11   Gabon  Confirmed   8835    Africa           0
264 2020-10-12   Gabon  Confirmed   8860    Africa           0
265 2020-10-13   Gabon  Confirmed   8860    Africa           0
266 2020-10-14   Gabon  Confirmed   8869    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Gabon  Deaths      0    Africa           0
1   2020-01-23   Gabon  Deaths      0    Africa           0
2   2020-01-24   Gabon  Deaths      0    Africa           0
3   2020-01-25   Gabon  Deaths      0    Africa           0
4   2020-01-26   Gabon  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Gabon  Deaths     54    Africa           0
263 2020-10-11   Gabon  Deaths     54    Africa           0
264 2020-10-12   Gabon  Deaths     54    Africa           0
265 2020-10-13   Gabon  Deaths     54    Africa           0
266 2020-10-14   Gabon  Deaths     54    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Gabon  Recovered      0    Africa           0
1   2020-01-23   Gabon  Recovered      0    Africa           0
2   2020-01-24   Gabon  Recovered      0    Africa           0
3   2020-01-25   Gabon  Recovered      0    Africa           0
4   2020-01-26   Gabon  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Gabon  Recovered   8189    Africa           0
263 2020-10-11   Gabon  Recovered   8189    Africa           0
264 2020-10-12   Gabon  Recovered   8298    Africa           0
265 2020-10-13   Gabon  Recovered   8298    Africa           0
266 2020-10-14   Gabon  Recovered   8395    Africa           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Gambia  Confirmed      0    Africa           0
1   2020-01-23  Gambia  Confirmed      0    Africa           0
2   2020-01-24  Gambia  Confirmed      0    Africa           0
3   2020-01-25  Gambia  Confirmed      0    Africa           0
4   2020-01-26  Gambia  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Gambia  Confirmed   3628    Africa           0
263 2020-10-11  Gambia  Confirmed   3632    Africa           0
264 2020-10-12  Gambia  Confirmed   3636    Africa           0
265 2020-10-13  Gambia  Confirmed   3636    Africa           0
266 2020-10-14  Gambia  Confirmed   3642    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Gambia  Deaths      0    Africa           0
1   2020-01-23  Gambia  Deaths      0    Africa           0
2   2020-01-24  Gambia  Deaths      0    Africa           0
3   2020-01-25  Gambia  Deaths      0    Africa           0
4   2020-01-26  Gambia  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Gambia  Deaths    117    Africa           0
263 2020-10-11  Gambia  Deaths    117    Africa           0
264 2020-10-12  Gambia  Deaths    118    Africa           0
265 2020-10-13  Gambia  Deaths    118    Africa           0
266 2020-10-14  Gambia  Deaths    118    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Gambia  Recovered      0    Africa           0
1   2020-01-23  Gambia  Recovered      0    Africa           0
2   2020-01-24  Gambia  Recovered      0    Africa           0
3   2020-01-25  Gambia  Recovered      0    Africa           0
4   2020-01-26  Gambia  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Gambia  Recovered   2540    Africa           0
263 2020-10-11  Gambia  Recovered   2543    Africa           0
264 2020-10-12  Gambia  Recovered   2593    Africa           0
265 2020-10-13  Gambia  Recovered   2593    Africa           0
266 2020-10-14  Gambia  Recovered   2595    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Georgia  Confirmed      0      Asia           0
1   2020-01-23  Georgia  Confirmed      0      Asia           0
2   2020-01-24  Georgia  Confirmed      0      Asia           0
3   2020-01-25  Georgia  Confirmed      0      Asia           0
4   2020-01-26  Georgia  Confirmed      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Georgia  Confirmed  11271      Asia           0
263 2020-10-11  Georgia  Confirmed  11794      Asia           0
264 2020-10-12  Georgia  Confirmed  12272      Asia           0
265 2020-10-13  Georgia  Confirmed  12841      Asia           0
266 2020-10-14  Georgia  Confirmed  13521      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Georgia  Deaths      0      Asia           0
1   2020-01-23  Georgia  Deaths      0      Asia           0
2   2020-01-24  Georgia  Deaths      0      Asia           0
3   2020-01-25  Georgia  Deaths      0      Asia           0
4   2020-01-26  Georgia  Deaths      0      Asia           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Georgia  Deaths     78      Asia           0
263 2020-10-11  Georgia  Deaths     85      Asia           0
264 2020-10-12  Georgia  Deaths     93      Asia           0
265 2020-10-13  Georgia  Deaths    102      Asia           0
266 2020-10-14  Georgia  Deaths    109      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Georgia  Recovered      0      Asia           0
1   2020-01-23  Georgia  Recovered      0      Asia           0
2   2020-01-24  Georgia  Recovered      0      Asia           0
3   2020-01-25  Georgia  Recovered      0      Asia           0
4   2020-01-26  Georgia  Recovered      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Georgia  Recovered   6119      Asia           0
263 2020-10-11  Georgia  Recovered   6327      Asia           0
264 2020-10-12  Georgia  Recovered   6538      Asia           0
265 2020-10-13  Georgia  Recovered   6867      Asia           0
266 2020-10-14  Georgia  Recovered   7159      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Germany  Confirmed       0    Europe           0
1   2020-01-23  Germany  Confirmed       0    Europe           0
2   2020-01-24  Germany  Confirmed       0    Europe           0
3   2020-01-25  Germany  Confirmed       0    Europe           0
4   2020-01-26  Germany  Confirmed       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Germany  Confirmed  323463    Europe           0
263 2020-10-11  Germany  Confirmed  326309    Europe           0
264 2020-10-12  Germany  Confirmed  332850    Europe           0
265 2020-10-13  Germany  Confirmed  337314    Europe           0
266 2020-10-14  Germany  Confirmed  344487    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Germany  Deaths      0    Europe           0
1   2020-01-23  Germany  Deaths      0    Europe           0
2   2020-01-24  Germany  Deaths      0    Europe           0
3   2020-01-25  Germany  Deaths      0    Europe           0
4   2020-01-26  Germany  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Germany  Deaths   9620    Europe           0
263 2020-10-11  Germany  Deaths   9626    Europe           0
264 2020-10-12  Germany  Deaths   9640    Europe           0
265 2020-10-13  Germany  Deaths   9682    Europe           0
266 2020-10-14  Germany  Deaths   9716    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Germany  Recovered       0    Europe           0
1   2020-01-23  Germany  Recovered       0    Europe           0
2   2020-01-24  Germany  Recovered       0    Europe           0
3   2020-01-25  Germany  Recovered       0    Europe           0
4   2020-01-26  Germany  Recovered       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Germany  Recovered  274934    Europe           0
263 2020-10-11  Germany  Recovered  276983    Europe           0
264 2020-10-12  Germany  Recovered  278391    Europe           0
265 2020-10-13  Germany  Recovered  280533    Europe           0
266 2020-10-14  Germany  Recovered  283656    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Ghana  Confirmed      0    Africa           0
1   2020-01-23   Ghana  Confirmed      0    Africa           0
2   2020-01-24   Ghana  Confirmed      0    Africa           0
3   2020-01-25   Ghana  Confirmed      0    Africa           0
4   2020-01-26   Ghana  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Ghana  Confirmed  47005    Africa           0
263 2020-10-11   Ghana  Confirmed  47005    Africa           0
264 2020-10-12   Ghana  Confirmed  47030    Africa           0
265 2020-10-13   Ghana  Confirmed  47126    Africa           0
266 2020-10-14   Ghana  Confirmed  47126    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Ghana  Deaths      0    Africa           0
1   2020-01-23   Ghana  Deaths      0    Africa           0
2   2020-01-24   Ghana  Deaths      0    Africa           0
3   2020-01-25   Ghana  Deaths      0    Africa           0
4   2020-01-26   Ghana  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Ghana  Deaths    306    Africa           0
263 2020-10-11   Ghana  Deaths    306    Africa           0
264 2020-10-12   Ghana  Deaths    308    Africa           0
265 2020-10-13   Ghana  Deaths    310    Africa           0
266 2020-10-14   Ghana  Deaths    310    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Ghana  Recovered      0    Africa           0
1   2020-01-23   Ghana  Recovered      0    Africa           0
2   2020-01-24   Ghana  Recovered      0    Africa           0
3   2020-01-25   Ghana  Recovered      0    Africa           0
4   2020-01-26   Ghana  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Ghana  Recovered  46398    Africa           0
263 2020-10-11   Ghana  Recovered  46398    Africa           0
264 2020-10-12   Ghana  Recovered  46424    Africa           0
265 2020-10-13   Ghana  Recovered  46469    Africa           0
266 2020-10-14   Ghana  Recovered  46469    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Greece  Confirmed      0    Europe           0
1   2020-01-23  Greece  Confirmed      0    Europe           0
2   2020-01-24  Greece  Confirmed      0    Europe           0
3   2020-01-25  Greece  Confirmed      0    Europe           0
4   2020-01-26  Greece  Confirmed      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Greece  Confirmed  22078    Europe           0
263 2020-10-11  Greece  Confirmed  22358    Europe           0
264 2020-10-12  Greece  Confirmed  22652    Europe           0
265 2020-10-13  Greece  Confirmed  23060    Europe           0
266 2020-10-14  Greece  Confirmed  23495    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Greece  Deaths      0    Europe           0
1   2020-01-23  Greece  Deaths      0    Europe           0
2   2020-01-24  Greece  Deaths      0    Europe           0
3   2020-01-25  Greece  Deaths      0    Europe           0
4   2020-01-26  Greece  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Greece  Deaths    436    Europe           0
263 2020-10-11  Greece  Deaths    449    Europe           0
264 2020-10-12  Greece  Deaths    456    Europe           0
265 2020-10-13  Greece  Deaths    462    Europe           0
266 2020-10-14  Greece  Deaths    469    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Greece  Recovered      0    Europe           0
1   2020-01-23  Greece  Recovered      0    Europe           0
2   2020-01-24  Greece  Recovered      0    Europe           0
3   2020-01-25  Greece  Recovered      0    Europe           0
4   2020-01-26  Greece  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Greece  Recovered   1347    Europe           0
263 2020-10-11  Greece  Recovered   1347    Europe           0
264 2020-10-12  Greece  Recovered   1347    Europe           0
265 2020-10-13  Greece  Recovered   1347    Europe           0
266 2020-10-14  Greece  Recovered   1347    Europe           0

[267 rows x 6 columns]

1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Grenada  Confirmed      0  North America           0
1   2020-01-23  Grenada  Confirmed      0  North America           0
2   2020-01-24  Grenada  Confirmed      0  North America           0
3   2020-01-25  Grenada  Confirmed      0  North America           0
4   2020-01-26  Grenada  Confirmed      0  North America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Grenada  Confirmed     24  North America           0
263 2020-10-11  Grenada  Confirmed     24  North America           0
264 2020-10-12  Grenada  Confirmed     25  North America           0
265 2020-10-13  Grenada  Confirmed     25  North America           0
266 2020-10-14  Grenada  Confirmed     25  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Grenada  Deaths      0  North America           0
1   2020-01-23  Grenada  Deaths      0  North America           0
2   2020-01-24  Grenada  Deaths      0  North America           0
3   2020-01-25  Grenada  Deaths      0  North America           0
4   2020-01-26  Grenada  Deaths      0  North America           0
..         ...      ...     ...    ...            ...         ...
262 2020-10-10  Grenada  Deaths      0  North America           0
263 2020-10-11  Grenada  Deaths      0  North America           0
264 2020-10-12  Grenada  Deaths      0  North America           0
265 2020-10-13  Grenada  Deaths      0  North America           0
266 2020-10-14  Grenada  Deaths      0  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Grenada  Recovered      0  North America           0
1   2020-01-23  Grenada  Recovered      0  North America           0
2   2020-01-24  Grenada  Recovered      0  North America           0
3   2020-01-25  Grenada  Recovered      0  North America           0
4   2020-01-26  Grenada  Recovered      0  North America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Grenada  Recovered     24  North America           0
263 2020-10-11  Grenada  Recovered     24  North America           0
264 2020-10-12  Grenada  Recovered     24  North America           0
265 2020-10-13  Grenada  Recovered     24  North America           0
266 2020-10-14  Grenada  Recovered     24  North America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guatemala  Confirmed      0  North America           0
1   2020-01-23  Guatemala  Confirmed      0  North America           0
2   2020-01-24  Guatemala  Confirmed      0  North America           0
3   2020-01-25  Guatemala  Confirmed      0  North America           0
4   2020-01-26  Guatemala  Confirmed      0  North America           0
..         ...        ...        ...    ...            ...         ...
262 2020-10-10  Guatemala  Confirmed  97544  North America           0
263 2020-10-11  Guatemala  Confirmed  97715  North America           0
264 2020-10-12  Guatemala  Confirmed  97826  North America           0
265 2020-10-13  Guatemala  Confirmed  98380  North America           0
266 2020-10-14  Guatemala  Confirmed  99094  North America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guatemala  Deaths      0  North America           0
1   2020-01-23  Guatemala  Deaths      0  North America           0
2   2020-01-24  Guatemala  Deaths      0  North America           0
3   2020-01-25  Guatemala  Deaths      0  North America           0
4   2020-01-26  Guatemala  Deaths      0  North America           0
..         ...        ...     ...    ...            ...         ...
262 2020-10-10  Guatemala  Deaths   3365  North America           0
263 2020-10-11  Guatemala  Deaths   3384  North America           0
264 2020-10-12  Guatemala  Deaths   3387  North America           0
265 2020-10-13  Guatemala  Deaths   3410  North America           0
266 2020-10-14  Guatemala  Deaths   3430  North America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guatemala  Recovered      0  North America           0
1   2020-01-23  Guatemala  Recovered      0  North America           0
2   2020-01-24  Guatemala  Recovered      0  North America           0
3   2020-01-25  Guatemala  Recovered      0  North America           0
4   2020-01-26  Guatemala  Recovered      0  North America           0
..         ...        ...        ...    ...            ...         ...
262 2020-10-10  Guatemala  Recovered  86046  North America           0
263 2020-10-11  Guatemala  Recovered  86582  North America           0
264 2020-10-12  Guatemala  Recovered  87016  North America           0
265 2020-10-13  Guatemala  Recovered  87744  North America           0
266 2020-10-14  Guatemala  Recovered  88416  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea  Confirmed      0    Africa           0
1   2020-01-23  Guinea  Confirmed      0    Africa           0
2   2020-01-24  Guinea  Confirmed      0    Africa           0
3   2020-01-25  Guinea  Confirmed      0    Africa           0
4   2020-01-26  Guinea  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Guinea  Confirmed  10996    Africa           0
263 2020-10-11  Guinea  Confirmed  11022    Africa           0
264 2020-10-12  Guinea  Confirmed  11062    Africa           0
265 2020-10-13  Guinea  Confirmed  11134    Africa           0
266 2020-10-14  Guinea  Confirmed  11188    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea  Deaths      0    Africa           0
1   2020-01-23  Guinea  Deaths      0    Africa           0
2   2020-01-24  Guinea  Deaths      0    Africa           0
3   2020-01-25  Guinea  Deaths      0    Africa           0
4   2020-01-26  Guinea  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Guinea  Deaths     69    Africa           0
263 2020-10-11  Guinea  Deaths     69    Africa           0
264 2020-10-12  Guinea  Deaths     70    Africa           0
265 2020-10-13  Guinea  Deaths     70    Africa           0
266 2020-10-14  Guinea  Deaths     70    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea  Recovered      0    Africa           0
1   2020-01-23  Guinea  Recovered      0    Africa           0
2   2020-01-24  Guinea  Recovered      0    Africa           0
3   2020-01-25  Guinea  Recovered      0    Africa           0
4   2020-01-26  Guinea  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Guinea  Recovered  10304    Africa           0
263 2020-10-11  Guinea  Recovered  10324    Africa           0
264 2020-10-12  Guinea  Recovered  10337    Africa           0
265 2020-10-13  Guinea  Recovered  10347    Africa           0
266 2020-10-14  Guinea  Recovered  10352    Africa           0

[267 rows x 6 columns]
1
          DATE        COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea-Bissau  Confirmed      0    Africa           0
1   2020-01-23  Guinea-Bissau  Confirmed      0    Africa           0
2   2020-01-24  Guinea-Bissau  Confirmed      0    Africa           0
3   2020-01-25  Guinea-Bissau  Confirmed      0    Africa           0
4   2020-01-26  Guinea-Bissau  Confirmed      0    Africa           0
..         ...            ...        ...    ...       ...         ...
262 2020-10-10  Guinea-Bissau  Confirmed   2385    Africa           0
263 2020-10-11  Guinea-Bissau  Confirmed   2385    Africa           0
264 2020-10-12  Guinea-Bissau  Confirmed   2389    Africa           0
265 2020-10-13  Guinea-Bissau  Confirmed   2389    Africa           0
266 2020-10-14  Guinea-Bissau  Confirmed   2389    Africa           0

[267 rows x 6 columns]
1
          DATE        COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea-Bissau  Deaths      0    Africa           0
1   2020-01-23  Guinea-Bissau  Deaths      0    Africa           0
2   2020-01-24  Guinea-Bissau  Deaths      0    Africa           0
3   2020-01-25  Guinea-Bissau  Deaths      0    Africa           0
4   2020-01-26  Guinea-Bissau  Deaths      0    Africa           0
..         ...            ...     ...    ...       ...         ...
262 2020-10-10  Guinea-Bissau  Deaths     40    Africa           0
263 2020-10-11  Guinea-Bissau  Deaths     40    Africa           0
264 2020-10-12  Guinea-Bissau  Deaths     41    Africa           0
265 2020-10-13  Guinea-Bissau  Deaths     41    Africa           0
266 2020-10-14  Guinea-Bissau  Deaths     41    Africa           0

[267 rows x 6 columns]
1
          DATE        COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea-Bissau  Recovered      0    Africa           0
1   2020-01-23  Guinea-Bissau  Recovered      0    Africa           0
2   2020-01-24  Guinea-Bissau  Recovered      0    Africa           0
3   2020-01-25  Guinea-Bissau  Recovered      0    Africa           0
4   2020-01-26  Guinea-Bissau  Recovered      0    Africa           0
..         ...            ...        ...    ...       ...         ...
262 2020-10-10  Guinea-Bissau  Recovered   1728    Africa           0
263 2020-10-11  Guinea-Bissau  Recovered   1728    Africa           0
264 2020-10-12  Guinea-Bissau  Recovered   1782    Africa           0
265 2020-10-13  Guinea-Bissau  Recovered   1782    Africa           0
266 2020-10-14  Guinea-Bissau  Recovered   1782    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guyana  Confirmed      0  South America           0
1   2020-01-23  Guyana  Confirmed      0  South America           0
2   2020-01-24  Guyana  Confirmed      0  South America           0
3   2020-01-25  Guyana  Confirmed      0  South America           0
4   2020-01-26  Guyana  Confirmed      0  South America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10  Guyana  Confirmed   3405  South America           0
263 2020-10-11  Guyana  Confirmed   3469  South America           0
264 2020-10-12  Guyana  Confirmed   3521  South America           0
265 2020-10-13  Guyana  Confirmed   3565  South America           0
266 2020-10-14  Guyana  Confirmed   3589  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guyana  Deaths      0  South America           0
1   2020-01-23  Guyana  Deaths      0  South America           0
2   2020-01-24  Guyana  Deaths      0  South America           0
3   2020-01-25  Guyana  Deaths      0  South America           0
4   2020-01-26  Guyana  Deaths      0  South America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10  Guyana  Deaths    102  South America           0
263 2020-10-11  Guyana  Deaths    103  South America           0
264 2020-10-12  Guyana  Deaths    104  South America           0
265 2020-10-13  Guyana  Deaths    106  South America           0
266 2020-10-14  Guyana  Deaths    106  South America           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guyana  Recovered      0  South America           0
1   2020-01-23  Guyana  Recovered      0  South America           0
2   2020-01-24  Guyana  Recovered      0  South America           0
3   2020-01-25  Guyana  Recovered      0  South America           0
4   2020-01-26  Guyana  Recovered      0  South America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10  Guyana  Recovered   2304  South America           0
263 2020-10-11  Guyana  Recovered   2318  South America           0
264 2020-10-12  Guyana  Recovered   2391  South America           0
265 2020-10-13  Guyana  Recovered   2435  South America           0
266 2020-10-14  Guyana  Recovered   2487  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Haiti  Confirmed      0  North America           0
1   2020-01-23   Haiti  Confirmed      0  North America           0
2   2020-01-24   Haiti  Confirmed      0  North America           0
3   2020-01-25   Haiti  Confirmed      0  North America           0
4   2020-01-26   Haiti  Confirmed      0  North America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10   Haiti  Confirmed   8860  North America           0
263 2020-10-11   Haiti  Confirmed   8882  North America           0
264 2020-10-12   Haiti  Confirmed   8882  North America           0
265 2020-10-13   Haiti  Confirmed   8887  North America           0
266 2020-10-14   Haiti  Confirmed   8908  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Haiti  Deaths      0  North America           0
1   2020-01-23   Haiti  Deaths      0  North America           0
2   2020-01-24   Haiti  Deaths      0  North America           0
3   2020-01-25   Haiti  Deaths      0  North America           0
4   2020-01-26   Haiti  Deaths      0  North America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10   Haiti  Deaths    230  North America           0
263 2020-10-11   Haiti  Deaths    230  North America           0
264 2020-10-12   Haiti  Deaths    230  North America           0
265 2020-10-13   Haiti  Deaths    230  North America           0
266 2020-10-14   Haiti  Deaths    231  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Haiti  Recovered      0  North America           0
1   2020-01-23   Haiti  Recovered      0  North America           0
2   2020-01-24   Haiti  Recovered      0  North America           0
3   2020-01-25   Haiti  Recovered      0  North America           0
4   2020-01-26   Haiti  Recovered      0  North America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10   Haiti  Recovered   7104  North America           0
263 2020-10-11   Haiti  Recovered   7104  North America           0
264 2020-10-12   Haiti  Recovered   7104  North America           0
265 2020-10-13   Haiti  Recovered   7140  North America           0
266 2020-10-14   Haiti  Recovered   7182  North America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Holy See  Confirmed      0    Europe           0
1   2020-01-23  Holy See  Confirmed      0    Europe           0
2   2020-01-24  Holy See  Confirmed      0    Europe           0
3   2020-01-25  Holy See  Confirmed      0    Europe           0
4   2020-01-26  Holy See  Confirmed      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Holy See  Confirmed     12    Europe           0
263 2020-10-11  Holy See  Confirmed     12    Europe           0
264 2020-10-12  Holy See  Confirmed     19    Europe           0
265 2020-10-13  Holy See  Confirmed     19    Europe           0
266 2020-10-14  Holy See  Confirmed     19    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Holy See  Deaths      0    Europe           0
1   2020-01-23  Holy See  Deaths      0    Europe           0
2   2020-01-24  Holy See  Deaths      0    Europe           0
3   2020-01-25  Holy See  Deaths      0    Europe           0
4   2020-01-26  Holy See  Deaths      0    Europe           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Holy See  Deaths      0    Europe           0
263 2020-10-11  Holy See  Deaths      0    Europe           0
264 2020-10-12  Holy See  Deaths      0    Europe           0
265 2020-10-13  Holy See  Deaths      0    Europe           0
266 2020-10-14  Holy See  Deaths      0    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Holy See  Recovered      0    Europe           0
1   2020-01-23  Holy See  Recovered      0    Europe           0
2   2020-01-24  Holy See  Recovered      0    Europe           0
3   2020-01-25  Holy See  Recovered      0    Europe           0
4   2020-01-26  Holy See  Recovered      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Holy See  Recovered     12    Europe           0
263 2020-10-11  Holy See  Recovered     12    Europe           0
264 2020-10-12  Holy See  Recovered     12    Europe           0
265 2020-10-13  Holy See  Recovered     12    Europe           0
266 2020-10-14  Holy See  Recovered     12    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Honduras  Confirmed      0  North America           0
1   2020-01-23  Honduras  Confirmed      0  North America           0
2   2020-01-24  Honduras  Confirmed      0  North America           0
3   2020-01-25  Honduras  Confirmed      0  North America           0
4   2020-01-26  Honduras  Confirmed      0  North America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Honduras  Confirmed  83146  North America           0
263 2020-10-11  Honduras  Confirmed  84081  North America           0
264 2020-10-12  Honduras  Confirmed  84413  North America           0
265 2020-10-13  Honduras  Confirmed  84852  North America           0
266 2020-10-14  Honduras  Confirmed  85458  North America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Honduras  Deaths      0  North America           0
1   2020-01-23  Honduras  Deaths      0  North America           0
2   2020-01-24  Honduras  Deaths      0  North America           0
3   2020-01-25  Honduras  Deaths      0  North America           0
4   2020-01-26  Honduras  Deaths      0  North America           0
..         ...       ...     ...    ...            ...         ...
262 2020-10-10  Honduras  Deaths   2504  North America           0
263 2020-10-11  Honduras  Deaths   2512  North America           0
264 2020-10-12  Honduras  Deaths   2521  North America           0
265 2020-10-13  Honduras  Deaths   2528  North America           0
266 2020-10-14  Honduras  Deaths   2533  North America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Honduras  Recovered      0  North America           0
1   2020-01-23  Honduras  Recovered      0  North America           0
2   2020-01-24  Honduras  Recovered      0  North America           0
3   2020-01-25  Honduras  Recovered      0  North America           0
4   2020-01-26  Honduras  Recovered      0  North America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Honduras  Recovered  31931  North America           0
263 2020-10-11  Honduras  Recovered  32012  North America           0
264 2020-10-12  Honduras  Recovered  32214  North America           0
265 2020-10-13  Honduras  Recovered  32772  North America           0
266 2020-10-14  Honduras  Recovered  32990  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Hungary  Confirmed      0    Europe           0
1   2020-01-23  Hungary  Confirmed      0    Europe           0
2   2020-01-24  Hungary  Confirmed      0    Europe           0
3   2020-01-25  Hungary  Confirmed      0    Europe           0
4   2020-01-26  Hungary  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Hungary  Confirmed  36596    Europe           0
263 2020-10-11  Hungary  Confirmed  37664    Europe           0
264 2020-10-12  Hungary  Confirmed  38837    Europe           0
265 2020-10-13  Hungary  Confirmed  39862    Europe           0
266 2020-10-14  Hungary  Confirmed  40782    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Hungary  Deaths      0    Europe           0
1   2020-01-23  Hungary  Deaths      0    Europe           0
2   2020-01-24  Hungary  Deaths      0    Europe           0
3   2020-01-25  Hungary  Deaths      0    Europe           0
4   2020-01-26  Hungary  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Hungary  Deaths    933    Europe           0
263 2020-10-11  Hungary  Deaths    954    Europe           0
264 2020-10-12  Hungary  Deaths    968    Europe           0
265 2020-10-13  Hungary  Deaths    996    Europe           0
266 2020-10-14  Hungary  Deaths   1023    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Hungary  Recovered      0    Europe           0
1   2020-01-23  Hungary  Recovered      0    Europe           0
2   2020-01-24  Hungary  Recovered      0    Europe           0
3   2020-01-25  Hungary  Recovered      0    Europe           0
4   2020-01-26  Hungary  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Hungary  Recovered   9683    Europe           0
263 2020-10-11  Hungary  Recovered  10848    Europe           0
264 2020-10-12  Hungary  Recovered  11037    Europe           0
265 2020-10-13  Hungary  Recovered  11753    Europe           0
266 2020-10-14  Hungary  Recovered  12164    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Iceland  Confirmed      0    Europe           0
1   2020-01-23  Iceland  Confirmed      0    Europe           0
2   2020-01-24  Iceland  Confirmed      0    Europe           0
3   2020-01-25  Iceland  Confirmed      0    Europe           0
4   2020-01-26  Iceland  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Iceland  Confirmed   3460    Europe           0
263 2020-10-11  Iceland  Confirmed   3526    Europe           0
264 2020-10-12  Iceland  Confirmed   3582    Europe           0
265 2020-10-13  Iceland  Confirmed   3668    Europe           0
266 2020-10-14  Iceland  Confirmed   3757    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Iceland  Deaths      0    Europe           0
1   2020-01-23  Iceland  Deaths      0    Europe           0
2   2020-01-24  Iceland  Deaths      0    Europe           0
3   2020-01-25  Iceland  Deaths      0    Europe           0
4   2020-01-26  Iceland  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Iceland  Deaths     10    Europe           0
263 2020-10-11  Iceland  Deaths     10    Europe           0
264 2020-10-12  Iceland  Deaths     10    Europe           0
265 2020-10-13  Iceland  Deaths     10    Europe           0
266 2020-10-14  Iceland  Deaths     10    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Iceland  Recovered      0    Europe           0
1   2020-01-23  Iceland  Recovered      0    Europe           0
2   2020-01-24  Iceland  Recovered      0    Europe           0
3   2020-01-25  Iceland  Recovered      0    Europe           0
4   2020-01-26  Iceland  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Iceland  Recovered   2466    Europe           0
263 2020-10-11  Iceland  Recovered   2499    Europe           0
264 2020-10-12  Iceland  Recovered   2550    Europe           0
265 2020-10-13  Iceland  Recovered   2587    Europe           0
266 2020-10-14  Iceland  Recovered   2615    Europe           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE    VALUE CONTINENT  VALUE_LAST
0   2020-01-22   India  Confirmed        0      Asia           0
1   2020-01-23   India  Confirmed        0      Asia           0
2   2020-01-24   India  Confirmed        0      Asia           0
3   2020-01-25   India  Confirmed        0      Asia           0
4   2020-01-26   India  Confirmed        0      Asia           0
..         ...     ...        ...      ...       ...         ...
262 2020-10-10   India  Confirmed  7053806      Asia           0
263 2020-10-11   India  Confirmed  7120538      Asia           0
264 2020-10-12   India  Confirmed  7175880      Asia           0
265 2020-10-13   India  Confirmed  7239389      Asia           0
266 2020-10-14   India  Confirmed  7307097      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   India  Deaths       0      Asia           0
1   2020-01-23   India  Deaths       0      Asia           0
2   2020-01-24   India  Deaths       0      Asia           0
3   2020-01-25   India  Deaths       0      Asia           0
4   2020-01-26   India  Deaths       0      Asia           0
..         ...     ...     ...     ...       ...         ...
262 2020-10-10   India  Deaths  108334      Asia           0
263 2020-10-11   India  Deaths  109150      Asia           0
264 2020-10-12   India  Deaths  109856      Asia           0
265 2020-10-13   India  Deaths  110586      Asia           0
266 2020-10-14   India  Deaths  111266      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE    VALUE CONTINENT  VALUE_LAST
0   2020-01-22   India  Recovered        0      Asia           0
1   2020-01-23   India  Recovered        0      Asia           0
2   2020-01-24   India  Recovered        0      Asia           0
3   2020-01-25   India  Recovered        0      Asia           0
4   2020-01-26   India  Recovered        0      Asia           0
..         ...     ...        ...      ...       ...         ...
262 2020-10-10   India  Recovered  6077976      Asia           0
263 2020-10-11   India  Recovered  6149535      Asia           0
264 2020-10-12   India  Recovered  6227295      Asia           0
265 2020-10-13   India  Recovered  6301927      Asia           0
266 2020-10-14   India  Recovered  6383441      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Indonesia  Confirmed       0      Asia           0
1   2020-01-23  Indonesia  Confirmed       0      Asia           0
2   2020-01-24  Indonesia  Confirmed       0      Asia           0
3   2020-01-25  Indonesia  Confirmed       0      Asia           0
4   2020-01-26  Indonesia  Confirmed       0      Asia           0
..         ...        ...        ...     ...       ...         ...
262 2020-10-10  Indonesia  Confirmed  328952      Asia           0
263 2020-10-11  Indonesia  Confirmed  333449      Asia           0
264 2020-10-12  Indonesia  Confirmed  336716      Asia           0
265 2020-10-13  Indonesia  Confirmed  340622      Asia           0
266 2020-10-14  Indonesia  Confirmed  344749      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Indonesia  Deaths      0      Asia           0
1   2020-01-23  Indonesia  Deaths      0      Asia           0
2   2020-01-24  Indonesia  Deaths      0      Asia           0
3   2020-01-25  Indonesia  Deaths      0      Asia           0
4   2020-01-26  Indonesia  Deaths      0      Asia           0
..         ...        ...     ...    ...       ...         ...
262 2020-10-10  Indonesia  Deaths  11765      Asia           0
263 2020-10-11  Indonesia  Deaths  11844      Asia           0
264 2020-10-12  Indonesia  Deaths  11935      Asia           0
265 2020-10-13  Indonesia  Deaths  12027      Asia           0
266 2020-10-14  Indonesia  Deaths  12156      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Indonesia  Recovered       0      Asia           0
1   2020-01-23  Indonesia  Recovered       0      Asia           0
2   2020-01-24  Indonesia  Recovered       0      Asia           0
3   2020-01-25  Indonesia  Recovered       0      Asia           0
4   2020-01-26  Indonesia  Recovered       0      Asia           0
..         ...        ...        ...     ...       ...         ...
262 2020-10-10  Indonesia  Recovered  251481      Asia           0
263 2020-10-11  Indonesia  Recovered  255027      Asia           0
264 2020-10-12  Indonesia  Recovered  258519      Asia           0
265 2020-10-13  Indonesia  Recovered  263296      Asia           0
266 2020-10-14  Indonesia  Recovered  267851      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iran  Confirmed       0      Asia           0
1   2020-01-23    Iran  Confirmed       0      Asia           0
2   2020-01-24    Iran  Confirmed       0      Asia           0
3   2020-01-25    Iran  Confirmed       0      Asia           0
4   2020-01-26    Iran  Confirmed       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10    Iran  Confirmed  496253      Asia           0
263 2020-10-11    Iran  Confirmed  500075      Asia           0
264 2020-10-12    Iran  Confirmed  504281      Asia           0
265 2020-10-13    Iran  Confirmed  508389      Asia           0
266 2020-10-14    Iran  Confirmed  513219      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iran  Deaths      0      Asia           0
1   2020-01-23    Iran  Deaths      0      Asia           0
2   2020-01-24    Iran  Deaths      0      Asia           0
3   2020-01-25    Iran  Deaths      0      Asia           0
4   2020-01-26    Iran  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Iran  Deaths  28293      Asia           0
263 2020-10-11    Iran  Deaths  28544      Asia           0
264 2020-10-12    Iran  Deaths  28816      Asia           0
265 2020-10-13    Iran  Deaths  29070      Asia           0
266 2020-10-14    Iran  Deaths  29349      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iran  Recovered       0      Asia           0
1   2020-01-23    Iran  Recovered       0      Asia           0
2   2020-01-24    Iran  Recovered       0      Asia           0
3   2020-01-25    Iran  Recovered       0      Asia           0
4   2020-01-26    Iran  Recovered       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10    Iran  Recovered  403950      Asia           0
263 2020-10-11    Iran  Recovered  406389      Asia           0
264 2020-10-12    Iran  Recovered  409121      Asia           0
265 2020-10-13    Iran  Recovered  411840      Asia           0
266 2020-10-14    Iran  Recovered  414831      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iraq  Confirmed       0      Asia           0
1   2020-01-23    Iraq  Confirmed       0      Asia           0
2   2020-01-24    Iraq  Confirmed       0      Asia           0
3   2020-01-25    Iraq  Confirmed       0      Asia           0
4   2020-01-26    Iraq  Confirmed       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10    Iraq  Confirmed  400124      Asia           0
263 2020-10-11    Iraq  Confirmed  402330      Asia           0
264 2020-10-12    Iraq  Confirmed  405437      Asia           0
265 2020-10-13    Iraq  Confirmed  409358      Asia           0
266 2020-10-14    Iraq  Confirmed  413215      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iraq  Deaths      0      Asia           0
1   2020-01-23    Iraq  Deaths      0      Asia           0
2   2020-01-24    Iraq  Deaths      0      Asia           0
3   2020-01-25    Iraq  Deaths      0      Asia           0
4   2020-01-26    Iraq  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Iraq  Deaths   9790      Asia           0
263 2020-10-11    Iraq  Deaths   9852      Asia           0
264 2020-10-12    Iraq  Deaths   9912      Asia           0
265 2020-10-13    Iraq  Deaths   9970      Asia           0
266 2020-10-14    Iraq  Deaths  10021      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iraq  Recovered       0      Asia           0
1   2020-01-23    Iraq  Recovered       0      Asia           0
2   2020-01-24    Iraq  Recovered       0      Asia           0
3   2020-01-25    Iraq  Recovered       0      Asia           0
4   2020-01-26    Iraq  Recovered       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10    Iraq  Recovered  332330      Asia           0
263 2020-10-11    Iraq  Recovered  336157      Asia           0
264 2020-10-12    Iraq  Recovered  340050      Asia           0
265 2020-10-13    Iraq  Recovered  344208      Asia           0
266 2020-10-14    Iraq  Recovered  347396      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ireland  Confirmed      0    Europe           0
1   2020-01-23  Ireland  Confirmed      0    Europe           0
2   2020-01-24  Ireland  Confirmed      0    Europe           0
3   2020-01-25  Ireland  Confirmed      0    Europe           0
4   2020-01-26  Ireland  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Ireland  Confirmed  41714    Europe           0
263 2020-10-11  Ireland  Confirmed  42528    Europe           0
264 2020-10-12  Ireland  Confirmed  43351    Europe           0
265 2020-10-13  Ireland  Confirmed  44159    Europe           0
266 2020-10-14  Ireland  Confirmed  45243    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ireland  Deaths      0    Europe           0
1   2020-01-23  Ireland  Deaths      0    Europe           0
2   2020-01-24  Ireland  Deaths      0    Europe           0
3   2020-01-25  Ireland  Deaths      0    Europe           0
4   2020-01-26  Ireland  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Ireland  Deaths   1824    Europe           0
263 2020-10-11  Ireland  Deaths   1826    Europe           0
264 2020-10-12  Ireland  Deaths   1827    Europe           0
265 2020-10-13  Ireland  Deaths   1830    Europe           0
266 2020-10-14  Ireland  Deaths   1835    Europe           0

[267 rows x 6 columns]

1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ireland  Recovered      0    Europe           0
1   2020-01-23  Ireland  Recovered      0    Europe           0
2   2020-01-24  Ireland  Recovered      0    Europe           0
3   2020-01-25  Ireland  Recovered      0    Europe           0
4   2020-01-26  Ireland  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Ireland  Recovered  23364    Europe           0
263 2020-10-11  Ireland  Recovered  23364    Europe           0
264 2020-10-12  Ireland  Recovered  23364    Europe           0
265 2020-10-13  Ireland  Recovered  23364    Europe           0
266 2020-10-14  Ireland  Recovered  23364    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Israel  Confirmed       0      Asia           0
1   2020-01-23  Israel  Confirmed       0      Asia           0
2   2020-01-24  Israel  Confirmed       0      Asia           0
3   2020-01-25  Israel  Confirmed       0      Asia           0
4   2020-01-26  Israel  Confirmed       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Israel  Confirmed  289875      Asia           0
263 2020-10-11  Israel  Confirmed  290493      Asia           0
264 2020-10-12  Israel  Confirmed  294031      Asia           0
265 2020-10-13  Israel  Confirmed  296652      Asia           0
266 2020-10-14  Israel  Confirmed  298500      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Israel  Deaths      0      Asia           0
1   2020-01-23  Israel  Deaths      0      Asia           0
2   2020-01-24  Israel  Deaths      0      Asia           0
3   2020-01-25  Israel  Deaths      0      Asia           0
4   2020-01-26  Israel  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Israel  Deaths   1941      Asia           0
263 2020-10-11  Israel  Deaths   1980      Asia           0
264 2020-10-12  Israel  Deaths   2021      Asia           0
265 2020-10-13  Israel  Deaths   2055      Asia           0
266 2020-10-14  Israel  Deaths   2098      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Israel  Recovered       0      Asia           0
1   2020-01-23  Israel  Recovered       0      Asia           0
2   2020-01-24  Israel  Recovered       0      Asia           0
3   2020-01-25  Israel  Recovered       0      Asia           0
4   2020-01-26  Israel  Recovered       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Israel  Recovered  225725      Asia           0
263 2020-10-11  Israel  Recovered  228658      Asia           0
264 2020-10-12  Israel  Recovered  238681      Asia           0
265 2020-10-13  Israel  Recovered  245811      Asia           0
266 2020-10-14  Israel  Recovered  251711      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Italy  Confirmed       0    Europe           0
1   2020-01-23   Italy  Confirmed       0    Europe           0
2   2020-01-24   Italy  Confirmed       0    Europe           0
3   2020-01-25   Italy  Confirmed       0    Europe           0
4   2020-01-26   Italy  Confirmed       0    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Italy  Confirmed  349494    Europe           0
263 2020-10-11   Italy  Confirmed  354950    Europe           0
264 2020-10-12   Italy  Confirmed  359569    Europe           0
265 2020-10-13   Italy  Confirmed  365467    Europe           0
266 2020-10-14   Italy  Confirmed  372799    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Italy  Deaths      0    Europe           0
1   2020-01-23   Italy  Deaths      0    Europe           0
2   2020-01-24   Italy  Deaths      0    Europe           0
3   2020-01-25   Italy  Deaths      0    Europe           0
4   2020-01-26   Italy  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Italy  Deaths  36140    Europe           0
263 2020-10-11   Italy  Deaths  36166    Europe           0
264 2020-10-12   Italy  Deaths  36205    Europe           0
265 2020-10-13   Italy  Deaths  36246    Europe           0
266 2020-10-14   Italy  Deaths  36289    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Italy  Recovered       0    Europe           0
1   2020-01-23   Italy  Recovered       0    Europe           0
2   2020-01-24   Italy  Recovered       0    Europe           0
3   2020-01-25   Italy  Recovered       0    Europe           0
4   2020-01-26   Italy  Recovered       0    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Italy  Recovered  238525    Europe           0
263 2020-10-11   Italy  Recovered  239709    Europe           0
264 2020-10-12   Italy  Recovered  240600    Europe           0
265 2020-10-13   Italy  Recovered  242028    Europe           0
266 2020-10-14   Italy  Recovered  244065    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Jamaica  Confirmed      0  North America           0
1   2020-01-23  Jamaica  Confirmed      0  North America           0
2   2020-01-24  Jamaica  Confirmed      0  North America           0
3   2020-01-25  Jamaica  Confirmed      0  North America           0
4   2020-01-26  Jamaica  Confirmed      0  North America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Jamaica  Confirmed   7559  North America           0
263 2020-10-11  Jamaica  Confirmed   7718  North America           0
264 2020-10-12  Jamaica  Confirmed   7813  North America           0
265 2020-10-13  Jamaica  Confirmed   7910  North America           0
266 2020-10-14  Jamaica  Confirmed   7989  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Jamaica  Deaths      0  North America           0
1   2020-01-23  Jamaica  Deaths      0  North America           0
2   2020-01-24  Jamaica  Deaths      0  North America           0
3   2020-01-25  Jamaica  Deaths      0  North America           0
4   2020-01-26  Jamaica  Deaths      0  North America           0
..         ...      ...     ...    ...            ...         ...
262 2020-10-10  Jamaica  Deaths    138  North America           0
263 2020-10-11  Jamaica  Deaths    139  North America           0
264 2020-10-12  Jamaica  Deaths    146  North America           0
265 2020-10-13  Jamaica  Deaths    146  North America           0
266 2020-10-14  Jamaica  Deaths    151  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Jamaica  Recovered      0  North America           0
1   2020-01-23  Jamaica  Recovered      0  North America           0
2   2020-01-24  Jamaica  Recovered      0  North America           0
3   2020-01-25  Jamaica  Recovered      0  North America           0
4   2020-01-26  Jamaica  Recovered      0  North America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Jamaica  Recovered   3142  North America           0
263 2020-10-11  Jamaica  Recovered   3162  North America           0
264 2020-10-12  Jamaica  Recovered   3237  North America           0
265 2020-10-13  Jamaica  Recovered   3303  North America           0
266 2020-10-14  Jamaica  Recovered   3431  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Japan  Confirmed      2      Asia           2
1   2020-01-23   Japan  Confirmed      2      Asia           2
2   2020-01-24   Japan  Confirmed      2      Asia           2
3   2020-01-25   Japan  Confirmed      2      Asia           2
4   2020-01-26   Japan  Confirmed      4      Asia           2
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Japan  Confirmed  88962      Asia           2
263 2020-10-11   Japan  Confirmed  89400      Asia           2
264 2020-10-12   Japan  Confirmed  89652      Asia           2
265 2020-10-13   Japan  Confirmed  90153      Asia           2
266 2020-10-14   Japan  Confirmed  90694      Asia           2

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Japan  Deaths      0      Asia           0
1   2020-01-23   Japan  Deaths      0      Asia           0
2   2020-01-24   Japan  Deaths      0      Asia           0
3   2020-01-25   Japan  Deaths      0      Asia           0
4   2020-01-26   Japan  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Japan  Deaths   1626      Asia           0
263 2020-10-11   Japan  Deaths   1628      Asia           0
264 2020-10-12   Japan  Deaths   1631      Asia           0
265 2020-10-13   Japan  Deaths   1635      Asia           0
266 2020-10-14   Japan  Deaths   1646      Asia           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Japan  Recovered      0      Asia           0
1   2020-01-23   Japan  Recovered      0      Asia           0
2   2020-01-24   Japan  Recovered      0      Asia           0
3   2020-01-25   Japan  Recovered      0      Asia           0
4   2020-01-26   Japan  Recovered      1      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Japan  Recovered  80798      Asia           0
263 2020-10-11   Japan  Recovered  81266      Asia           0
264 2020-10-12   Japan  Recovered  81552      Asia           0
265 2020-10-13   Japan  Recovered  82063      Asia           0
266 2020-10-14   Japan  Recovered  82576      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Jordan  Confirmed      0      Asia           0
1   2020-01-23  Jordan  Confirmed      0      Asia           0
2   2020-01-24  Jordan  Confirmed      0      Asia           0
3   2020-01-25  Jordan  Confirmed      0      Asia           0
4   2020-01-26  Jordan  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Jordan  Confirmed  23998      Asia           0
263 2020-10-11  Jordan  Confirmed  24926      Asia           0
264 2020-10-12  Jordan  Confirmed  26073      Asia           0
265 2020-10-13  Jordan  Confirmed  28127      Asia           0
266 2020-10-14  Jordan  Confirmed  30550      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Jordan  Deaths      0      Asia           0
1   2020-01-23  Jordan  Deaths      0      Asia           0
2   2020-01-24  Jordan  Deaths      0      Asia           0
3   2020-01-25  Jordan  Deaths      0      Asia           0
4   2020-01-26  Jordan  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Jordan  Deaths    181      Asia           0
263 2020-10-11  Jordan  Deaths    191      Asia           0
264 2020-10-12  Jordan  Deaths    207      Asia           0
265 2020-10-13  Jordan  Deaths    225      Asia           0
266 2020-10-14  Jordan  Deaths    257      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Jordan  Recovered      0      Asia           0
1   2020-01-23  Jordan  Recovered      0      Asia           0
2   2020-01-24  Jordan  Recovered      0      Asia           0
3   2020-01-25  Jordan  Recovered      0      Asia           0
4   2020-01-26  Jordan  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Jordan  Recovered   6045      Asia           0
263 2020-10-11  Jordan  Recovered   6101      Asia           0
264 2020-10-12  Jordan  Recovered   6219      Asia           0
265 2020-10-13  Jordan  Recovered   6361      Asia           0
266 2020-10-14  Jordan  Recovered   6466      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kazakhstan  Confirmed       0      Asia           0
1   2020-01-23  Kazakhstan  Confirmed       0      Asia           0
2   2020-01-24  Kazakhstan  Confirmed       0      Asia           0
3   2020-01-25  Kazakhstan  Confirmed       0      Asia           0
4   2020-01-26  Kazakhstan  Confirmed       0      Asia           0
..         ...         ...        ...     ...       ...         ...
262 2020-10-10  Kazakhstan  Confirmed  108757      Asia           0
263 2020-10-11  Kazakhstan  Confirmed  108831      Asia           0
264 2020-10-12  Kazakhstan  Confirmed  108901      Asia           0
265 2020-10-13  Kazakhstan  Confirmed  108984      Asia           0
266 2020-10-14  Kazakhstan  Confirmed  109094      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kazakhstan  Deaths      0      Asia           0
1   2020-01-23  Kazakhstan  Deaths      0      Asia           0
2   2020-01-24  Kazakhstan  Deaths      0      Asia           0
3   2020-01-25  Kazakhstan  Deaths      0      Asia           0
4   2020-01-26  Kazakhstan  Deaths      0      Asia           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Kazakhstan  Deaths   1746      Asia           0
263 2020-10-11  Kazakhstan  Deaths   1746      Asia           0
264 2020-10-12  Kazakhstan  Deaths   1746      Asia           0
265 2020-10-13  Kazakhstan  Deaths   1768      Asia           0
266 2020-10-14  Kazakhstan  Deaths   1768      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kazakhstan  Recovered       0      Asia           0
1   2020-01-23  Kazakhstan  Recovered       0      Asia           0
2   2020-01-24  Kazakhstan  Recovered       0      Asia           0
3   2020-01-25  Kazakhstan  Recovered       0      Asia           0
4   2020-01-26  Kazakhstan  Recovered       0      Asia           0
..         ...         ...        ...     ...       ...         ...
262 2020-10-10  Kazakhstan  Recovered  103980      Asia           0
263 2020-10-11  Kazakhstan  Recovered  104041      Asia           0
264 2020-10-12  Kazakhstan  Recovered  104203      Asia           0
265 2020-10-13  Kazakhstan  Recovered  104346      Asia           0
266 2020-10-14  Kazakhstan  Recovered  104525      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Kenya  Confirmed      0    Africa           0
1   2020-01-23   Kenya  Confirmed      0    Africa           0
2   2020-01-24   Kenya  Confirmed      0    Africa           0
3   2020-01-25   Kenya  Confirmed      0    Africa           0
4   2020-01-26   Kenya  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Kenya  Confirmed  41158    Africa           0
263 2020-10-11   Kenya  Confirmed  41546    Africa           0
264 2020-10-12   Kenya  Confirmed  41619    Africa           0
265 2020-10-13   Kenya  Confirmed  41937    Africa           0
266 2020-10-14   Kenya  Confirmed  42541    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Kenya  Deaths      0    Africa           0
1   2020-01-23   Kenya  Deaths      0    Africa           0
2   2020-01-24   Kenya  Deaths      0    Africa           0
3   2020-01-25   Kenya  Deaths      0    Africa           0
4   2020-01-26   Kenya  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Kenya  Deaths    760    Africa           0
263 2020-10-11   Kenya  Deaths    766    Africa           0
264 2020-10-12   Kenya  Deaths    777    Africa           0
265 2020-10-13   Kenya  Deaths    787    Africa           0
266 2020-10-14   Kenya  Deaths    797    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Kenya  Recovered      0    Africa           0
1   2020-01-23   Kenya  Recovered      0    Africa           0
2   2020-01-24   Kenya  Recovered      0    Africa           0
3   2020-01-25   Kenya  Recovered      0    Africa           0
4   2020-01-26   Kenya  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Kenya  Recovered  31876    Africa           0
263 2020-10-11   Kenya  Recovered  32000    Africa           0
264 2020-10-12   Kenya  Recovered  32000    Africa           0
265 2020-10-13   Kenya  Recovered  31340    Africa           0
266 2020-10-14   Kenya  Recovered  31428    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Korea, South  Confirmed      1      Asia           1
1   2020-01-23  Korea, South  Confirmed      1      Asia           1
2   2020-01-24  Korea, South  Confirmed      2      Asia           1
3   2020-01-25  Korea, South  Confirmed      2      Asia           1
4   2020-01-26  Korea, South  Confirmed      3      Asia           1
..         ...           ...        ...    ...       ...         ...
262 2020-10-10  Korea, South  Confirmed  24606      Asia           1
263 2020-10-11  Korea, South  Confirmed  24703      Asia           1
264 2020-10-12  Korea, South  Confirmed  24805      Asia           1
265 2020-10-13  Korea, South  Confirmed  24889      Asia           1
266 2020-10-14  Korea, South  Confirmed  24988      Asia           1

[267 rows x 6 columns]
1
          DATE       COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Korea, South  Deaths      0      Asia           0
1   2020-01-23  Korea, South  Deaths      0      Asia           0
2   2020-01-24  Korea, South  Deaths      0      Asia           0
3   2020-01-25  Korea, South  Deaths      0      Asia           0
4   2020-01-26  Korea, South  Deaths      0      Asia           0
..         ...           ...     ...    ...       ...         ...
262 2020-10-10  Korea, South  Deaths    432      Asia           0
263 2020-10-11  Korea, South  Deaths    433      Asia           0
264 2020-10-12  Korea, South  Deaths    434      Asia           0
265 2020-10-13  Korea, South  Deaths    438      Asia           0
266 2020-10-14  Korea, South  Deaths    439      Asia           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Korea, South  Recovered      0      Asia           0
1   2020-01-23  Korea, South  Recovered      0      Asia           0
2   2020-01-24  Korea, South  Recovered      0      Asia           0
3   2020-01-25  Korea, South  Recovered      0      Asia           0
4   2020-01-26  Korea, South  Recovered      0      Asia           0
..         ...           ...        ...    ...       ...         ...
262 2020-10-10  Korea, South  Recovered  22693      Asia           0
263 2020-10-11  Korea, South  Recovered  22729      Asia           0
264 2020-10-12  Korea, South  Recovered  22863      Asia           0
265 2020-10-13  Korea, South  Recovered  23030      Asia           0
266 2020-10-14  Korea, South  Recovered  23082      Asia           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kosovo  Confirmed      0    Europe           0
1   2020-01-23  Kosovo  Confirmed      0    Europe           0
2   2020-01-24  Kosovo  Confirmed      0    Europe           0
3   2020-01-25  Kosovo  Confirmed      0    Europe           0
4   2020-01-26  Kosovo  Confirmed      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Kosovo  Confirmed  16130    Europe           0
263 2020-10-11  Kosovo  Confirmed  16179    Europe           0
264 2020-10-12  Kosovo  Confirmed  16247    Europe           0
265 2020-10-13  Kosovo  Confirmed  16345    Europe           0
266 2020-10-14  Kosovo  Confirmed  16425    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kosovo  Deaths      0    Europe           0
1   2020-01-23  Kosovo  Deaths      0    Europe           0
2   2020-01-24  Kosovo  Deaths      0    Europe           0
3   2020-01-25  Kosovo  Deaths      0    Europe           0
4   2020-01-26  Kosovo  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Kosovo  Deaths    645    Europe           0
263 2020-10-11  Kosovo  Deaths    647    Europe           0
264 2020-10-12  Kosovo  Deaths    648    Europe           0
265 2020-10-13  Kosovo  Deaths    649    Europe           0
266 2020-10-14  Kosovo  Deaths    650    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kosovo  Recovered      0    Europe           0
1   2020-01-23  Kosovo  Recovered      0    Europe           0
2   2020-01-24  Kosovo  Recovered      0    Europe           0
3   2020-01-25  Kosovo  Recovered      0    Europe           0
4   2020-01-26  Kosovo  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Kosovo  Recovered  14282    Europe           0
263 2020-10-11  Kosovo  Recovered  14335    Europe           0
264 2020-10-12  Kosovo  Recovered  14368    Europe           0
265 2020-10-13  Kosovo  Recovered  14405    Europe           0
266 2020-10-14  Kosovo  Recovered  14455    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kuwait  Confirmed       0      Asia           0
1   2020-01-23  Kuwait  Confirmed       0      Asia           0
2   2020-01-24  Kuwait  Confirmed       0      Asia           0
3   2020-01-25  Kuwait  Confirmed       0      Asia           0
4   2020-01-26  Kuwait  Confirmed       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Kuwait  Confirmed  110568      Asia           0
263 2020-10-11  Kuwait  Confirmed  111116      Asia           0
264 2020-10-12  Kuwait  Confirmed  111893      Asia           0
265 2020-10-13  Kuwait  Confirmed  112737      Asia           0
266 2020-10-14  Kuwait  Confirmed  113269      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kuwait  Deaths      0      Asia           0
1   2020-01-23  Kuwait  Deaths      0      Asia           0
2   2020-01-24  Kuwait  Deaths      0      Asia           0
3   2020-01-25  Kuwait  Deaths      0      Asia           0
4   2020-01-26  Kuwait  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Kuwait  Deaths    655      Asia           0
263 2020-10-11  Kuwait  Deaths    658      Asia           0
264 2020-10-12  Kuwait  Deaths    664      Asia           0
265 2020-10-13  Kuwait  Deaths    672      Asia           0
266 2020-10-14  Kuwait  Deaths    676      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kuwait  Recovered       0      Asia           0
1   2020-01-23  Kuwait  Recovered       0      Asia           0
2   2020-01-24  Kuwait  Recovered       0      Asia           0
3   2020-01-25  Kuwait  Recovered       0      Asia           0
4   2020-01-26  Kuwait  Recovered       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Kuwait  Recovered  102722      Asia           0
263 2020-10-11  Kuwait  Recovered  103268      Asia           0
264 2020-10-12  Kuwait  Recovered  103802      Asia           0
265 2020-10-13  Kuwait  Recovered  104508      Asia           0
266 2020-10-14  Kuwait  Recovered  105236      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kyrgyzstan  Confirmed      0      Asia           0
1   2020-01-23  Kyrgyzstan  Confirmed      0      Asia           0
2   2020-01-24  Kyrgyzstan  Confirmed      0      Asia           0
3   2020-01-25  Kyrgyzstan  Confirmed      0      Asia           0
4   2020-01-26  Kyrgyzstan  Confirmed      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Kyrgyzstan  Confirmed  48924      Asia           0
263 2020-10-11  Kyrgyzstan  Confirmed  49230      Asia           0
264 2020-10-12  Kyrgyzstan  Confirmed  49528      Asia           0
265 2020-10-13  Kyrgyzstan  Confirmed  49871      Asia           0
266 2020-10-14  Kyrgyzstan  Confirmed  50201      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kyrgyzstan  Deaths      0      Asia           0
1   2020-01-23  Kyrgyzstan  Deaths      0      Asia           0
2   2020-01-24  Kyrgyzstan  Deaths      0      Asia           0
3   2020-01-25  Kyrgyzstan  Deaths      0      Asia           0
4   2020-01-26  Kyrgyzstan  Deaths      0      Asia           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Kyrgyzstan  Deaths   1082      Asia           0
263 2020-10-11  Kyrgyzstan  Deaths   1085      Asia           0
264 2020-10-12  Kyrgyzstan  Deaths   1090      Asia           0
265 2020-10-13  Kyrgyzstan  Deaths   1092      Asia           0
266 2020-10-14  Kyrgyzstan  Deaths   1094      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kyrgyzstan  Recovered      0      Asia           0
1   2020-01-23  Kyrgyzstan  Recovered      0      Asia           0
2   2020-01-24  Kyrgyzstan  Recovered      0      Asia           0
3   2020-01-25  Kyrgyzstan  Recovered      0      Asia           0
4   2020-01-26  Kyrgyzstan  Recovered      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Kyrgyzstan  Recovered  44227      Asia           0
263 2020-10-11  Kyrgyzstan  Recovered  44227      Asia           0
264 2020-10-12  Kyrgyzstan  Recovered  44522      Asia           0
265 2020-10-13  Kyrgyzstan  Recovered  44712      Asia           0
266 2020-10-14  Kyrgyzstan  Recovered  44884      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Laos  Confirmed      0      Asia           0
1   2020-01-23    Laos  Confirmed      0      Asia           0
2   2020-01-24    Laos  Confirmed      0      Asia           0
3   2020-01-25    Laos  Confirmed      0      Asia           0
4   2020-01-26    Laos  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Laos  Confirmed     23      Asia           0
263 2020-10-11    Laos  Confirmed     23      Asia           0
264 2020-10-12    Laos  Confirmed     23      Asia           0
265 2020-10-13    Laos  Confirmed     23      Asia           0
266 2020-10-14    Laos  Confirmed     23      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Laos  Deaths      0      Asia           0
1   2020-01-23    Laos  Deaths      0      Asia           0
2   2020-01-24    Laos  Deaths      0      Asia           0
3   2020-01-25    Laos  Deaths      0      Asia           0
4   2020-01-26    Laos  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Laos  Deaths      0      Asia           0
263 2020-10-11    Laos  Deaths      0      Asia           0
264 2020-10-12    Laos  Deaths      0      Asia           0
265 2020-10-13    Laos  Deaths      0      Asia           0
266 2020-10-14    Laos  Deaths      0      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Laos  Recovered      0      Asia           0
1   2020-01-23    Laos  Recovered      0      Asia           0
2   2020-01-24    Laos  Recovered      0      Asia           0
3   2020-01-25    Laos  Recovered      0      Asia           0
4   2020-01-26    Laos  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Laos  Recovered     22      Asia           0
263 2020-10-11    Laos  Recovered     22      Asia           0
264 2020-10-12    Laos  Recovered     22      Asia           0
265 2020-10-13    Laos  Recovered     22      Asia           0
266 2020-10-14    Laos  Recovered     22      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Latvia  Confirmed      0    Europe           0
1   2020-01-23  Latvia  Confirmed      0    Europe           0
2   2020-01-24  Latvia  Confirmed      0    Europe           0
3   2020-01-25  Latvia  Confirmed      0    Europe           0
4   2020-01-26  Latvia  Confirmed      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Latvia  Confirmed   2596    Europe           0
263 2020-10-11  Latvia  Confirmed   2670    Europe           0
264 2020-10-12  Latvia  Confirmed   2765    Europe           0
265 2020-10-13  Latvia  Confirmed   2840    Europe           0
266 2020-10-14  Latvia  Confirmed   2942    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Latvia  Deaths      0    Europe           0
1   2020-01-23  Latvia  Deaths      0    Europe           0
2   2020-01-24  Latvia  Deaths      0    Europe           0
3   2020-01-25  Latvia  Deaths      0    Europe           0
4   2020-01-26  Latvia  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Latvia  Deaths     40    Europe           0
263 2020-10-11  Latvia  Deaths     40    Europe           0
264 2020-10-12  Latvia  Deaths     40    Europe           0
265 2020-10-13  Latvia  Deaths     41    Europe           0
266 2020-10-14  Latvia  Deaths     41    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Latvia  Recovered      0    Europe           0
1   2020-01-23  Latvia  Recovered      0    Europe           0
2   2020-01-24  Latvia  Recovered      0    Europe           0
3   2020-01-25  Latvia  Recovered      0    Europe           0
4   2020-01-26  Latvia  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Latvia  Recovered   1322    Europe           0
263 2020-10-11  Latvia  Recovered   1322    Europe           0
264 2020-10-12  Latvia  Recovered   1325    Europe           0
265 2020-10-13  Latvia  Recovered   1325    Europe           0
266 2020-10-14  Latvia  Recovered   1325    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lebanon  Confirmed      0      Asia           0
1   2020-01-23  Lebanon  Confirmed      0      Asia           0
2   2020-01-24  Lebanon  Confirmed      0      Asia           0
3   2020-01-25  Lebanon  Confirmed      0      Asia           0
4   2020-01-26  Lebanon  Confirmed      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Lebanon  Confirmed  52558      Asia           0
263 2020-10-11  Lebanon  Confirmed  53568      Asia           0
264 2020-10-12  Lebanon  Confirmed  54624      Asia           0
265 2020-10-13  Lebanon  Confirmed  55869      Asia           0
266 2020-10-14  Lebanon  Confirmed  57246      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lebanon  Deaths      0      Asia           0
1   2020-01-23  Lebanon  Deaths      0      Asia           0
2   2020-01-24  Lebanon  Deaths      0      Asia           0
3   2020-01-25  Lebanon  Deaths      0      Asia           0
4   2020-01-26  Lebanon  Deaths      0      Asia           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Lebanon  Deaths    455      Asia           0
263 2020-10-11  Lebanon  Deaths    459      Asia           0
264 2020-10-12  Lebanon  Deaths    466      Asia           0
265 2020-10-13  Lebanon  Deaths    479      Asia           0
266 2020-10-14  Lebanon  Deaths    499      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lebanon  Recovered      0      Asia           0
1   2020-01-23  Lebanon  Recovered      0      Asia           0
2   2020-01-24  Lebanon  Recovered      0      Asia           0
3   2020-01-25  Lebanon  Recovered      0      Asia           0
4   2020-01-26  Lebanon  Recovered      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Lebanon  Recovered  22719      Asia           0
263 2020-10-11  Lebanon  Recovered  23501      Asia           0
264 2020-10-12  Lebanon  Recovered  23941      Asia           0
265 2020-10-13  Lebanon  Recovered  24581      Asia           0
266 2020-10-14  Lebanon  Recovered  25164      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lesotho  Confirmed      0    Africa           0
1   2020-01-23  Lesotho  Confirmed      0    Africa           0
2   2020-01-24  Lesotho  Confirmed      0    Africa           0
3   2020-01-25  Lesotho  Confirmed      0    Africa           0
4   2020-01-26  Lesotho  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Lesotho  Confirmed   1800    Africa           0
263 2020-10-11  Lesotho  Confirmed   1805    Africa           0
264 2020-10-12  Lesotho  Confirmed   1805    Africa           0
265 2020-10-13  Lesotho  Confirmed   1822    Africa           0
266 2020-10-14  Lesotho  Confirmed   1833    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lesotho  Deaths      0    Africa           0
1   2020-01-23  Lesotho  Deaths      0    Africa           0
2   2020-01-24  Lesotho  Deaths      0    Africa           0
3   2020-01-25  Lesotho  Deaths      0    Africa           0
4   2020-01-26  Lesotho  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Lesotho  Deaths     42    Africa           0
263 2020-10-11  Lesotho  Deaths     42    Africa           0
264 2020-10-12  Lesotho  Deaths     42    Africa           0
265 2020-10-13  Lesotho  Deaths     42    Africa           0
266 2020-10-14  Lesotho  Deaths     42    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lesotho  Recovered      0    Africa           0
1   2020-01-23  Lesotho  Recovered      0    Africa           0
2   2020-01-24  Lesotho  Recovered      0    Africa           0
3   2020-01-25  Lesotho  Recovered      0    Africa           0
4   2020-01-26  Lesotho  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Lesotho  Recovered    926    Africa           0
263 2020-10-11  Lesotho  Recovered    961    Africa           0
264 2020-10-12  Lesotho  Recovered    961    Africa           0
265 2020-10-13  Lesotho  Recovered    961    Africa           0
266 2020-10-14  Lesotho  Recovered    961    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liberia  Confirmed      0    Africa           0
1   2020-01-23  Liberia  Confirmed      0    Africa           0
2   2020-01-24  Liberia  Confirmed      0    Africa           0
3   2020-01-25  Liberia  Confirmed      0    Africa           0
4   2020-01-26  Liberia  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Liberia  Confirmed   1363    Africa           0
263 2020-10-11  Liberia  Confirmed   1363    Africa           0
264 2020-10-12  Liberia  Confirmed   1371    Africa           0
265 2020-10-13  Liberia  Confirmed   1371    Africa           0
266 2020-10-14  Liberia  Confirmed   1372    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liberia  Deaths      0    Africa           0
1   2020-01-23  Liberia  Deaths      0    Africa           0
2   2020-01-24  Liberia  Deaths      0    Africa           0
3   2020-01-25  Liberia  Deaths      0    Africa           0
4   2020-01-26  Liberia  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Liberia  Deaths     82    Africa           0
263 2020-10-11  Liberia  Deaths     82    Africa           0
264 2020-10-12  Liberia  Deaths     82    Africa           0
265 2020-10-13  Liberia  Deaths     82    Africa           0
266 2020-10-14  Liberia  Deaths     82    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liberia  Recovered      0    Africa           0
1   2020-01-23  Liberia  Recovered      0    Africa           0
2   2020-01-24  Liberia  Recovered      0    Africa           0
3   2020-01-25  Liberia  Recovered      0    Africa           0
4   2020-01-26  Liberia  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Liberia  Recovered   1245    Africa           0
263 2020-10-11  Liberia  Recovered   1245    Africa           0
264 2020-10-12  Liberia  Recovered   1250    Africa           0
265 2020-10-13  Liberia  Recovered   1251    Africa           0
266 2020-10-14  Liberia  Recovered   1254    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Libya  Confirmed      0    Africa           0
1   2020-01-23   Libya  Confirmed      0    Africa           0
2   2020-01-24   Libya  Confirmed      0    Africa           0
3   2020-01-25   Libya  Confirmed      0    Africa           0
4   2020-01-26   Libya  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Libya  Confirmed  41686    Africa           0
263 2020-10-11   Libya  Confirmed  42712    Africa           0
264 2020-10-12   Libya  Confirmed  43821    Africa           0
265 2020-10-13   Libya  Confirmed  44985    Africa           0
266 2020-10-14   Libya  Confirmed  45821    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Libya  Deaths      0    Africa           0
1   2020-01-23   Libya  Deaths      0    Africa           0
2   2020-01-24   Libya  Deaths      0    Africa           0
3   2020-01-25   Libya  Deaths      0    Africa           0
4   2020-01-26   Libya  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Libya  Deaths    623    Africa           0
263 2020-10-11   Libya  Deaths    631    Africa           0
264 2020-10-12   Libya  Deaths    644    Africa           0
265 2020-10-13   Libya  Deaths    656    Africa           0
266 2020-10-14   Libya  Deaths    669    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Libya  Recovered      0    Africa           0
1   2020-01-23   Libya  Recovered      0    Africa           0
2   2020-01-24   Libya  Recovered      0    Africa           0
3   2020-01-25   Libya  Recovered      0    Africa           0
4   2020-01-26   Libya  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Libya  Recovered  23791    Africa           0
263 2020-10-11   Libya  Recovered  24038    Africa           0
264 2020-10-12   Libya  Recovered  24466    Africa           0
265 2020-10-13   Libya  Recovered  25007    Africa           0
266 2020-10-14   Libya  Recovered  25301    Africa           0

[267 rows x 6 columns]
1
          DATE        COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liechtenstein  Confirmed      0    Europe           0
1   2020-01-23  Liechtenstein  Confirmed      0    Europe           0
2   2020-01-24  Liechtenstein  Confirmed      0    Europe           0
3   2020-01-25  Liechtenstein  Confirmed      0    Europe           0
4   2020-01-26  Liechtenstein  Confirmed      0    Europe           0
..         ...            ...        ...    ...       ...         ...
262 2020-10-10  Liechtenstein  Confirmed    142    Europe           0
263 2020-10-11  Liechtenstein  Confirmed    144    Europe           0
264 2020-10-12  Liechtenstein  Confirmed    148    Europe           0
265 2020-10-13  Liechtenstein  Confirmed    163    Europe           0
266 2020-10-14  Liechtenstein  Confirmed    174    Europe           0

[267 rows x 6 columns]
1
          DATE        COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liechtenstein  Deaths      0    Europe           0
1   2020-01-23  Liechtenstein  Deaths      0    Europe           0
2   2020-01-24  Liechtenstein  Deaths      0    Europe           0
3   2020-01-25  Liechtenstein  Deaths      0    Europe           0
4   2020-01-26  Liechtenstein  Deaths      0    Europe           0
..         ...            ...     ...    ...       ...         ...
262 2020-10-10  Liechtenstein  Deaths      1    Europe           0
263 2020-10-11  Liechtenstein  Deaths      1    Europe           0
264 2020-10-12  Liechtenstein  Deaths      1    Europe           0
265 2020-10-13  Liechtenstein  Deaths      1    Europe           0
266 2020-10-14  Liechtenstein  Deaths      1    Europe           0

[267 rows x 6 columns]
1

          DATE        COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liechtenstein  Recovered      0    Europe           0
1   2020-01-23  Liechtenstein  Recovered      0    Europe           0
2   2020-01-24  Liechtenstein  Recovered      0    Europe           0
3   2020-01-25  Liechtenstein  Recovered      0    Europe           0
4   2020-01-26  Liechtenstein  Recovered      0    Europe           0
..         ...            ...        ...    ...       ...         ...
262 2020-10-10  Liechtenstein  Recovered    117    Europe           0
263 2020-10-11  Liechtenstein  Recovered    121    Europe           0
264 2020-10-12  Liechtenstein  Recovered    124    Europe           0
265 2020-10-13  Liechtenstein  Recovered    128    Europe           0
266 2020-10-14  Liechtenstein  Recovered    131    Europe           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lithuania  Confirmed      0    Europe           0
1   2020-01-23  Lithuania  Confirmed      0    Europe           0
2   2020-01-24  Lithuania  Confirmed      0    Europe           0
3   2020-01-25  Lithuania  Confirmed      0    Europe           0
4   2020-01-26  Lithuania  Confirmed      0    Europe           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Lithuania  Confirmed   5963    Europe           0
263 2020-10-11  Lithuania  Confirmed   6122    Europe           0
264 2020-10-12  Lithuania  Confirmed   6248    Europe           0
265 2020-10-13  Lithuania  Confirmed   6366    Europe           0
266 2020-10-14  Lithuania  Confirmed   6505    Europe           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lithuania  Deaths      0    Europe           0
1   2020-01-23  Lithuania  Deaths      0    Europe           0
2   2020-01-24  Lithuania  Deaths      0    Europe           0
3   2020-01-25  Lithuania  Deaths      0    Europe           0
4   2020-01-26  Lithuania  Deaths      0    Europe           0
..         ...        ...     ...    ...       ...         ...
262 2020-10-10  Lithuania  Deaths    103    Europe           0
263 2020-10-11  Lithuania  Deaths    103    Europe           0
264 2020-10-12  Lithuania  Deaths    103    Europe           0
265 2020-10-13  Lithuania  Deaths    106    Europe           0
266 2020-10-14  Lithuania  Deaths    109    Europe           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lithuania  Recovered      0    Europe           0
1   2020-01-23  Lithuania  Recovered      0    Europe           0
2   2020-01-24  Lithuania  Recovered      0    Europe           0
3   2020-01-25  Lithuania  Recovered      0    Europe           0
4   2020-01-26  Lithuania  Recovered      0    Europe           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Lithuania  Recovered   2751    Europe           0
263 2020-10-11  Lithuania  Recovered   2777    Europe           0
264 2020-10-12  Lithuania  Recovered   2793    Europe           0
265 2020-10-13  Lithuania  Recovered   2842    Europe           0
266 2020-10-14  Lithuania  Recovered   2903    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Luxembourg  Confirmed      0    Europe           0
1   2020-01-23  Luxembourg  Confirmed      0    Europe           0
2   2020-01-24  Luxembourg  Confirmed      0    Europe           0
3   2020-01-25  Luxembourg  Confirmed      0    Europe           0
4   2020-01-26  Luxembourg  Confirmed      0    Europe           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Luxembourg  Confirmed   9119    Europe           0
263 2020-10-11  Luxembourg  Confirmed   9119    Europe           0
264 2020-10-12  Luxembourg  Confirmed   9119    Europe           0
265 2020-10-13  Luxembourg  Confirmed   9119    Europe           0
266 2020-10-14  Luxembourg  Confirmed   9119    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Luxembourg  Deaths      0    Europe           0
1   2020-01-23  Luxembourg  Deaths      0    Europe           0
2   2020-01-24  Luxembourg  Deaths      0    Europe           0
3   2020-01-25  Luxembourg  Deaths      0    Europe           0
4   2020-01-26  Luxembourg  Deaths      0    Europe           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Luxembourg  Deaths    128    Europe           0
263 2020-10-11  Luxembourg  Deaths    128    Europe           0
264 2020-10-12  Luxembourg  Deaths    128    Europe           0
265 2020-10-13  Luxembourg  Deaths    128    Europe           0
266 2020-10-14  Luxembourg  Deaths    128    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Luxembourg  Recovered      0    Europe           0
1   2020-01-23  Luxembourg  Recovered      0    Europe           0
2   2020-01-24  Luxembourg  Recovered      0    Europe           0
3   2020-01-25  Luxembourg  Recovered      0    Europe           0
4   2020-01-26  Luxembourg  Recovered      0    Europe           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Luxembourg  Recovered   7900    Europe           0
263 2020-10-11  Luxembourg  Recovered   7900    Europe           0
264 2020-10-12  Luxembourg  Recovered   7900    Europe           0
265 2020-10-13  Luxembourg  Recovered   7900    Europe           0
266 2020-10-14  Luxembourg  Recovered   7900    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  MS Zaandam  Confirmed      0     Other           0
1   2020-01-23  MS Zaandam  Confirmed      0     Other           0
2   2020-01-24  MS Zaandam  Confirmed      0     Other           0
3   2020-01-25  MS Zaandam  Confirmed      0     Other           0
4   2020-01-26  MS Zaandam  Confirmed      0     Other           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  MS Zaandam  Confirmed      9     Other           0
263 2020-10-11  MS Zaandam  Confirmed      9     Other           0
264 2020-10-12  MS Zaandam  Confirmed      9     Other           0
265 2020-10-13  MS Zaandam  Confirmed      9     Other           0
266 2020-10-14  MS Zaandam  Confirmed      9     Other           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  MS Zaandam  Deaths      0     Other           0
1   2020-01-23  MS Zaandam  Deaths      0     Other           0
2   2020-01-24  MS Zaandam  Deaths      0     Other           0
3   2020-01-25  MS Zaandam  Deaths      0     Other           0
4   2020-01-26  MS Zaandam  Deaths      0     Other           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  MS Zaandam  Deaths      2     Other           0
263 2020-10-11  MS Zaandam  Deaths      2     Other           0
264 2020-10-12  MS Zaandam  Deaths      2     Other           0
265 2020-10-13  MS Zaandam  Deaths      2     Other           0
266 2020-10-14  MS Zaandam  Deaths      2     Other           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  MS Zaandam  Recovered      0     Other           0
1   2020-01-23  MS Zaandam  Recovered      0     Other           0
2   2020-01-24  MS Zaandam  Recovered      0     Other           0
3   2020-01-25  MS Zaandam  Recovered      0     Other           0
4   2020-01-26  MS Zaandam  Recovered      0     Other           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  MS Zaandam  Recovered      0     Other           0
263 2020-10-11  MS Zaandam  Recovered      0     Other           0
264 2020-10-12  MS Zaandam  Recovered      0     Other           0
265 2020-10-13  MS Zaandam  Recovered      0     Other           0
266 2020-10-14  MS Zaandam  Recovered      0     Other           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Madagascar  Confirmed      0    Africa           0
1   2020-01-23  Madagascar  Confirmed      0    Africa           0
2   2020-01-24  Madagascar  Confirmed      0    Africa           0
3   2020-01-25  Madagascar  Confirmed      0    Africa           0
4   2020-01-26  Madagascar  Confirmed      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Madagascar  Confirmed  16702    Africa           0
263 2020-10-11  Madagascar  Confirmed  16718    Africa           0
264 2020-10-12  Madagascar  Confirmed  16726    Africa           0
265 2020-10-13  Madagascar  Confirmed  16754    Africa           0
266 2020-10-14  Madagascar  Confirmed  16754    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Madagascar  Deaths      0    Africa           0
1   2020-01-23  Madagascar  Deaths      0    Africa           0
2   2020-01-24  Madagascar  Deaths      0    Africa           0
3   2020-01-25  Madagascar  Deaths      0    Africa           0
4   2020-01-26  Madagascar  Deaths      0    Africa           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Madagascar  Deaths    237    Africa           0
263 2020-10-11  Madagascar  Deaths    237    Africa           0
264 2020-10-12  Madagascar  Deaths    237    Africa           0
265 2020-10-13  Madagascar  Deaths    237    Africa           0
266 2020-10-14  Madagascar  Deaths    237    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Madagascar  Recovered      0    Africa           0
1   2020-01-23  Madagascar  Recovered      0    Africa           0
2   2020-01-24  Madagascar  Recovered      0    Africa           0
3   2020-01-25  Madagascar  Recovered      0    Africa           0
4   2020-01-26  Madagascar  Recovered      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Madagascar  Recovered  16012    Africa           0
263 2020-10-11  Madagascar  Recovered  16042    Africa           0
264 2020-10-12  Madagascar  Recovered  16081    Africa           0
265 2020-10-13  Madagascar  Recovered  16124    Africa           0
266 2020-10-14  Madagascar  Recovered  16124    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malawi  Confirmed      0    Africa           0
1   2020-01-23  Malawi  Confirmed      0    Africa           0
2   2020-01-24  Malawi  Confirmed      0    Africa           0
3   2020-01-25  Malawi  Confirmed      0    Africa           0
4   2020-01-26  Malawi  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Malawi  Confirmed   5821    Africa           0
263 2020-10-11  Malawi  Confirmed   5821    Africa           0
264 2020-10-12  Malawi  Confirmed   5824    Africa           0
265 2020-10-13  Malawi  Confirmed   5827    Africa           0
266 2020-10-14  Malawi  Confirmed   5829    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malawi  Deaths      0    Africa           0
1   2020-01-23  Malawi  Deaths      0    Africa           0
2   2020-01-24  Malawi  Deaths      0    Africa           0
3   2020-01-25  Malawi  Deaths      0    Africa           0
4   2020-01-26  Malawi  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Malawi  Deaths    180    Africa           0
263 2020-10-11  Malawi  Deaths    180    Africa           0
264 2020-10-12  Malawi  Deaths    180    Africa           0
265 2020-10-13  Malawi  Deaths    181    Africa           0
266 2020-10-14  Malawi  Deaths    181    Africa           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malawi  Recovered      0    Africa           0
1   2020-01-23  Malawi  Recovered      0    Africa           0
2   2020-01-24  Malawi  Recovered      0    Africa           0
3   2020-01-25  Malawi  Recovered      0    Africa           0
4   2020-01-26  Malawi  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Malawi  Recovered   4644    Africa           0
263 2020-10-11  Malawi  Recovered   4647    Africa           0
264 2020-10-12  Malawi  Recovered   4659    Africa           0
265 2020-10-13  Malawi  Recovered   4688    Africa           0
266 2020-10-14  Malawi  Recovered   4723    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malaysia  Confirmed      0      Asia           0
1   2020-01-23  Malaysia  Confirmed      0      Asia           0
2   2020-01-24  Malaysia  Confirmed      0      Asia           0
3   2020-01-25  Malaysia  Confirmed      3      Asia           0
4   2020-01-26  Malaysia  Confirmed      4      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Malaysia  Confirmed  15096      Asia           0
263 2020-10-11  Malaysia  Confirmed  15657      Asia           0
264 2020-10-12  Malaysia  Confirmed  16220      Asia           0
265 2020-10-13  Malaysia  Confirmed  16880      Asia           0
266 2020-10-14  Malaysia  Confirmed  17540      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malaysia  Deaths      0      Asia           0
1   2020-01-23  Malaysia  Deaths      0      Asia           0
2   2020-01-24  Malaysia  Deaths      0      Asia           0
3   2020-01-25  Malaysia  Deaths      0      Asia           0
4   2020-01-26  Malaysia  Deaths      0      Asia           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Malaysia  Deaths    155      Asia           0
263 2020-10-11  Malaysia  Deaths    157      Asia           0
264 2020-10-12  Malaysia  Deaths    159      Asia           0
265 2020-10-13  Malaysia  Deaths    163      Asia           0
266 2020-10-14  Malaysia  Deaths    167      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malaysia  Recovered      0      Asia           0
1   2020-01-23  Malaysia  Recovered      0      Asia           0
2   2020-01-24  Malaysia  Recovered      0      Asia           0
3   2020-01-25  Malaysia  Recovered      0      Asia           0
4   2020-01-26  Malaysia  Recovered      0      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Malaysia  Recovered  10780      Asia           0
263 2020-10-11  Malaysia  Recovered  10913      Asia           0
264 2020-10-12  Malaysia  Recovered  11022      Asia           0
265 2020-10-13  Malaysia  Recovered  11372      Asia           0
266 2020-10-14  Malaysia  Recovered  11605      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Maldives  Confirmed      0      Asia           0
1   2020-01-23  Maldives  Confirmed      0      Asia           0
2   2020-01-24  Maldives  Confirmed      0      Asia           0
3   2020-01-25  Maldives  Confirmed      0      Asia           0
4   2020-01-26  Maldives  Confirmed      0      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Maldives  Confirmed  10859      Asia           0
263 2020-10-11  Maldives  Confirmed  10894      Asia           0
264 2020-10-12  Maldives  Confirmed  10943      Asia           0
265 2020-10-13  Maldives  Confirmed  10993      Asia           0
266 2020-10-14  Maldives  Confirmed  11062      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Maldives  Deaths      0      Asia           0
1   2020-01-23  Maldives  Deaths      0      Asia           0
2   2020-01-24  Maldives  Deaths      0      Asia           0
3   2020-01-25  Maldives  Deaths      0      Asia           0
4   2020-01-26  Maldives  Deaths      0      Asia           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Maldives  Deaths     34      Asia           0
263 2020-10-11  Maldives  Deaths     35      Asia           0
264 2020-10-12  Maldives  Deaths     35      Asia           0
265 2020-10-13  Maldives  Deaths     35      Asia           0
266 2020-10-14  Maldives  Deaths     35      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Maldives  Recovered      0      Asia           0
1   2020-01-23  Maldives  Recovered      0      Asia           0
2   2020-01-24  Maldives  Recovered      0      Asia           0
3   2020-01-25  Maldives  Recovered      0      Asia           0
4   2020-01-26  Maldives  Recovered      0      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Maldives  Recovered   9683      Asia           0
263 2020-10-11  Maldives  Recovered   9742      Asia           0
264 2020-10-12  Maldives  Recovered   9783      Asia           0
265 2020-10-13  Maldives  Recovered   9833      Asia           0
266 2020-10-14  Maldives  Recovered   9880      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Mali  Confirmed      0    Africa           0
1   2020-01-23    Mali  Confirmed      0    Africa           0
2   2020-01-24    Mali  Confirmed      0    Africa           0
3   2020-01-25    Mali  Confirmed      0    Africa           0
4   2020-01-26    Mali  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Mali  Confirmed   3273    Africa           0
263 2020-10-11    Mali  Confirmed   3286    Africa           0
264 2020-10-12    Mali  Confirmed   3296    Africa           0
265 2020-10-13    Mali  Confirmed   3297    Africa           0
266 2020-10-14    Mali  Confirmed   3352    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Mali  Deaths      0    Africa           0
1   2020-01-23    Mali  Deaths      0    Africa           0
2   2020-01-24    Mali  Deaths      0    Africa           0
3   2020-01-25    Mali  Deaths      0    Africa           0
4   2020-01-26    Mali  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Mali  Deaths    132    Africa           0
263 2020-10-11    Mali  Deaths    132    Africa           0
264 2020-10-12    Mali  Deaths    132    Africa           0
265 2020-10-13    Mali  Deaths    132    Africa           0
266 2020-10-14    Mali  Deaths    132    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Mali  Recovered      0    Africa           0
1   2020-01-23    Mali  Recovered      0    Africa           0
2   2020-01-24    Mali  Recovered      0    Africa           0
3   2020-01-25    Mali  Recovered      0    Africa           0
4   2020-01-26    Mali  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Mali  Recovered   2525    Africa           0
263 2020-10-11    Mali  Recovered   2527    Africa           0
264 2020-10-12    Mali  Recovered   2533    Africa           0
265 2020-10-13    Mali  Recovered   2544    Africa           0
266 2020-10-14    Mali  Recovered   2550    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Malta  Confirmed      0    Europe           0
1   2020-01-23   Malta  Confirmed      0    Europe           0
2   2020-01-24   Malta  Confirmed      0    Europe           0
3   2020-01-25   Malta  Confirmed      0    Europe           0
4   2020-01-26   Malta  Confirmed      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Malta  Confirmed   3681    Europe           0
263 2020-10-11   Malta  Confirmed   3776    Europe           0
264 2020-10-12   Malta  Confirmed   3844    Europe           0
265 2020-10-13   Malta  Confirmed   3937    Europe           0
266 2020-10-14   Malta  Confirmed   4048    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Malta  Deaths      0    Europe           0
1   2020-01-23   Malta  Deaths      0    Europe           0
2   2020-01-24   Malta  Deaths      0    Europe           0
3   2020-01-25   Malta  Deaths      0    Europe           0
4   2020-01-26   Malta  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Malta  Deaths     41    Europe           0
263 2020-10-11   Malta  Deaths     41    Europe           0
264 2020-10-12   Malta  Deaths     43    Europe           0
265 2020-10-13   Malta  Deaths     44    Europe           0
266 2020-10-14   Malta  Deaths     44    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Malta  Recovered      0    Europe           0
1   2020-01-23   Malta  Recovered      0    Europe           0
2   2020-01-24   Malta  Recovered      0    Europe           0
3   2020-01-25   Malta  Recovered      0    Europe           0
4   2020-01-26   Malta  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Malta  Recovered   2937    Europe           0
263 2020-10-11   Malta  Recovered   2967    Europe           0
264 2020-10-12   Malta  Recovered   2981    Europe           0
265 2020-10-13   Malta  Recovered   3012    Europe           0
266 2020-10-14   Malta  Recovered   3064    Europe           0

[267 rows x 6 columns]

1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritania  Confirmed      0    Africa           0
1   2020-01-23  Mauritania  Confirmed      0    Africa           0
2   2020-01-24  Mauritania  Confirmed      0    Africa           0
3   2020-01-25  Mauritania  Confirmed      0    Africa           0
4   2020-01-26  Mauritania  Confirmed      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Mauritania  Confirmed   7550    Africa           0
263 2020-10-11  Mauritania  Confirmed   7550    Africa           0
264 2020-10-12  Mauritania  Confirmed   7554    Africa           0
265 2020-10-13  Mauritania  Confirmed   7565    Africa           0
266 2020-10-14  Mauritania  Confirmed   7572    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritania  Deaths      0    Africa           0
1   2020-01-23  Mauritania  Deaths      0    Africa           0
2   2020-01-24  Mauritania  Deaths      0    Africa           0
3   2020-01-25  Mauritania  Deaths      0    Africa           0
4   2020-01-26  Mauritania  Deaths      0    Africa           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Mauritania  Deaths    163    Africa           0
263 2020-10-11  Mauritania  Deaths    163    Africa           0
264 2020-10-12  Mauritania  Deaths    163    Africa           0
265 2020-10-13  Mauritania  Deaths    163    Africa           0
266 2020-10-14  Mauritania  Deaths    163    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritania  Recovered      0    Africa           0
1   2020-01-23  Mauritania  Recovered      0    Africa           0
2   2020-01-24  Mauritania  Recovered      0    Africa           0
3   2020-01-25  Mauritania  Recovered      0    Africa           0
4   2020-01-26  Mauritania  Recovered      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Mauritania  Recovered   7266    Africa           0
263 2020-10-11  Mauritania  Recovered   7274    Africa           0
264 2020-10-12  Mauritania  Recovered   7297    Africa           0
265 2020-10-13  Mauritania  Recovered   7301    Africa           0
266 2020-10-14  Mauritania  Recovered   7314    Africa           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritius  Confirmed      0    Africa           0
1   2020-01-23  Mauritius  Confirmed      0    Africa           0
2   2020-01-24  Mauritius  Confirmed      0    Africa           0
3   2020-01-25  Mauritius  Confirmed      0    Africa           0
4   2020-01-26  Mauritius  Confirmed      0    Africa           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Mauritius  Confirmed    395    Africa           0
263 2020-10-11  Mauritius  Confirmed    395    Africa           0
264 2020-10-12  Mauritius  Confirmed    404    Africa           0
265 2020-10-13  Mauritius  Confirmed    407    Africa           0
266 2020-10-14  Mauritius  Confirmed    407    Africa           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritius  Deaths      0    Africa           0
1   2020-01-23  Mauritius  Deaths      0    Africa           0
2   2020-01-24  Mauritius  Deaths      0    Africa           0
3   2020-01-25  Mauritius  Deaths      0    Africa           0
4   2020-01-26  Mauritius  Deaths      0    Africa           0
..         ...        ...     ...    ...       ...         ...
262 2020-10-10  Mauritius  Deaths     10    Africa           0
263 2020-10-11  Mauritius  Deaths     10    Africa           0
264 2020-10-12  Mauritius  Deaths     10    Africa           0
265 2020-10-13  Mauritius  Deaths     10    Africa           0
266 2020-10-14  Mauritius  Deaths     10    Africa           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritius  Recovered      0    Africa           0
1   2020-01-23  Mauritius  Recovered      0    Africa           0
2   2020-01-24  Mauritius  Recovered      0    Africa           0
3   2020-01-25  Mauritius  Recovered      0    Africa           0
4   2020-01-26  Mauritius  Recovered      0    Africa           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Mauritius  Recovered    358    Africa           0
263 2020-10-11  Mauritius  Recovered    358    Africa           0
264 2020-10-12  Mauritius  Recovered    359    Africa           0
265 2020-10-13  Mauritius  Recovered    361    Africa           0
266 2020-10-14  Mauritius  Recovered    361    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Mexico  Confirmed       0  North America           0
1   2020-01-23  Mexico  Confirmed       0  North America           0
2   2020-01-24  Mexico  Confirmed       0  North America           0
3   2020-01-25  Mexico  Confirmed       0  North America           0
4   2020-01-26  Mexico  Confirmed       0  North America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10  Mexico  Confirmed  814328  North America           0
263 2020-10-11  Mexico  Confirmed  817503  North America           0
264 2020-10-12  Mexico  Confirmed  821045  North America           0
265 2020-10-13  Mexico  Confirmed  825340  North America           0
266 2020-10-14  Mexico  Confirmed  829396  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Mexico  Deaths      0  North America           0
1   2020-01-23  Mexico  Deaths      0  North America           0
2   2020-01-24  Mexico  Deaths      0  North America           0
3   2020-01-25  Mexico  Deaths      0  North America           0
4   2020-01-26  Mexico  Deaths      0  North America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10  Mexico  Deaths  83642  North America           0
263 2020-10-11  Mexico  Deaths  83781  North America           0
264 2020-10-12  Mexico  Deaths  83945  North America           0
265 2020-10-13  Mexico  Deaths  84420  North America           0
266 2020-10-14  Mexico  Deaths  84898  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Mexico  Recovered       0  North America           0
1   2020-01-23  Mexico  Recovered       0  North America           0
2   2020-01-24  Mexico  Recovered       0  North America           0
3   2020-01-25  Mexico  Recovered       0  North America           0
4   2020-01-26  Mexico  Recovered       0  North America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10  Mexico  Recovered  689377  North America           0
263 2020-10-11  Mexico  Recovered  694214  North America           0
264 2020-10-12  Mexico  Recovered  700826  North America           0
265 2020-10-13  Mexico  Recovered  703457  North America           0
266 2020-10-14  Mexico  Recovered  703489  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Moldova  Confirmed      0    Europe           0
1   2020-01-23  Moldova  Confirmed      0    Europe           0
2   2020-01-24  Moldova  Confirmed      0    Europe           0
3   2020-01-25  Moldova  Confirmed      0    Europe           0
4   2020-01-26  Moldova  Confirmed      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Moldova  Confirmed  61762    Europe           0
263 2020-10-11  Moldova  Confirmed  62151    Europe           0
264 2020-10-12  Moldova  Confirmed  62618    Europe           0
265 2020-10-13  Moldova  Confirmed  63275    Europe           0
266 2020-10-14  Moldova  Confirmed  64424    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Moldova  Deaths      0    Europe           0
1   2020-01-23  Moldova  Deaths      0    Europe           0
2   2020-01-24  Moldova  Deaths      0    Europe           0
3   2020-01-25  Moldova  Deaths      0    Europe           0
4   2020-01-26  Moldova  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Moldova  Deaths   1458    Europe           0
263 2020-10-11  Moldova  Deaths   1461    Europe           0
264 2020-10-12  Moldova  Deaths   1478    Europe           0
265 2020-10-13  Moldova  Deaths   1495    Europe           0
266 2020-10-14  Moldova  Deaths   1514    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Moldova  Recovered      0    Europe           0
1   2020-01-23  Moldova  Recovered      0    Europe           0
2   2020-01-24  Moldova  Recovered      0    Europe           0
3   2020-01-25  Moldova  Recovered      0    Europe           0
4   2020-01-26  Moldova  Recovered      0    Europe           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Moldova  Recovered  43982    Europe           0
263 2020-10-11  Moldova  Recovered  44357    Europe           0
264 2020-10-12  Moldova  Recovered  44728    Europe           0
265 2020-10-13  Moldova  Recovered  45102    Europe           0
266 2020-10-14  Moldova  Recovered  45545    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Monaco  Confirmed      0    Europe           0
1   2020-01-23  Monaco  Confirmed      0    Europe           0
2   2020-01-24  Monaco  Confirmed      0    Europe           0
3   2020-01-25  Monaco  Confirmed      0    Europe           0
4   2020-01-26  Monaco  Confirmed      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Monaco  Confirmed    233    Europe           0
263 2020-10-11  Monaco  Confirmed    234    Europe           0
264 2020-10-12  Monaco  Confirmed    236    Europe           0
265 2020-10-13  Monaco  Confirmed    241    Europe           0
266 2020-10-14  Monaco  Confirmed    248    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Monaco  Deaths      0    Europe           0
1   2020-01-23  Monaco  Deaths      0    Europe           0
2   2020-01-24  Monaco  Deaths      0    Europe           0
3   2020-01-25  Monaco  Deaths      0    Europe           0
4   2020-01-26  Monaco  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Monaco  Deaths      2    Europe           0
263 2020-10-11  Monaco  Deaths      2    Europe           0
264 2020-10-12  Monaco  Deaths      2    Europe           0
265 2020-10-13  Monaco  Deaths      2    Europe           0
266 2020-10-14  Monaco  Deaths      2    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Monaco  Recovered      0    Europe           0
1   2020-01-23  Monaco  Recovered      0    Europe           0
2   2020-01-24  Monaco  Recovered      0    Europe           0
3   2020-01-25  Monaco  Recovered      0    Europe           0
4   2020-01-26  Monaco  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Monaco  Recovered    209    Europe           0
263 2020-10-11  Monaco  Recovered    209    Europe           0
264 2020-10-12  Monaco  Recovered    213    Europe           0
265 2020-10-13  Monaco  Recovered    217    Europe           0
266 2020-10-14  Monaco  Recovered    217    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mongolia  Confirmed      0      Asia           0
1   2020-01-23  Mongolia  Confirmed      0      Asia           0
2   2020-01-24  Mongolia  Confirmed      0      Asia           0
3   2020-01-25  Mongolia  Confirmed      0      Asia           0
4   2020-01-26  Mongolia  Confirmed      0      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Mongolia  Confirmed    315      Asia           0
263 2020-10-11  Mongolia  Confirmed    318      Asia           0
264 2020-10-12  Mongolia  Confirmed    320      Asia           0
265 2020-10-13  Mongolia  Confirmed    320      Asia           0
266 2020-10-14  Mongolia  Confirmed    320      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mongolia  Deaths      0      Asia           0
1   2020-01-23  Mongolia  Deaths      0      Asia           0
2   2020-01-24  Mongolia  Deaths      0      Asia           0
3   2020-01-25  Mongolia  Deaths      0      Asia           0
4   2020-01-26  Mongolia  Deaths      0      Asia           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Mongolia  Deaths      0      Asia           0
263 2020-10-11  Mongolia  Deaths      0      Asia           0
264 2020-10-12  Mongolia  Deaths      0      Asia           0
265 2020-10-13  Mongolia  Deaths      0      Asia           0
266 2020-10-14  Mongolia  Deaths      0      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mongolia  Recovered      0      Asia           0
1   2020-01-23  Mongolia  Recovered      0      Asia           0
2   2020-01-24  Mongolia  Recovered      0      Asia           0
3   2020-01-25  Mongolia  Recovered      0      Asia           0
4   2020-01-26  Mongolia  Recovered      0      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Mongolia  Recovered    310      Asia           0
263 2020-10-11  Mongolia  Recovered    310      Asia           0
264 2020-10-12  Mongolia  Recovered    311      Asia           0
265 2020-10-13  Mongolia  Recovered    311      Asia           0
266 2020-10-14  Mongolia  Recovered    311      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Montenegro  Confirmed      0    Europe           0
1   2020-01-23  Montenegro  Confirmed      0    Europe           0
2   2020-01-24  Montenegro  Confirmed      0    Europe           0
3   2020-01-25  Montenegro  Confirmed      0    Europe           0
4   2020-01-26  Montenegro  Confirmed      0    Europe           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Montenegro  Confirmed  13641    Europe           0
263 2020-10-11  Montenegro  Confirmed  13869    Europe           0
264 2020-10-12  Montenegro  Confirmed  14050    Europe           0
265 2020-10-13  Montenegro  Confirmed  14268    Europe           0
266 2020-10-14  Montenegro  Confirmed  14461    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Montenegro  Deaths      0    Europe           0
1   2020-01-23  Montenegro  Deaths      0    Europe           0
2   2020-01-24  Montenegro  Deaths      0    Europe           0
3   2020-01-25  Montenegro  Deaths      0    Europe           0
4   2020-01-26  Montenegro  Deaths      0    Europe           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Montenegro  Deaths    198    Europe           0
263 2020-10-11  Montenegro  Deaths    202    Europe           0
264 2020-10-12  Montenegro  Deaths    211    Europe           0
265 2020-10-13  Montenegro  Deaths    213    Europe           0
266 2020-10-14  Montenegro  Deaths    217    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Montenegro  Recovered      0    Europe           0
1   2020-01-23  Montenegro  Recovered      0    Europe           0
2   2020-01-24  Montenegro  Recovered      0    Europe           0
3   2020-01-25  Montenegro  Recovered      0    Europe           0
4   2020-01-26  Montenegro  Recovered      0    Europe           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Montenegro  Recovered   9429    Europe           0
263 2020-10-11  Montenegro  Recovered   9620    Europe           0
264 2020-10-12  Montenegro  Recovered   9920    Europe           0
265 2020-10-13  Montenegro  Recovered  10063    Europe           0
266 2020-10-14  Montenegro  Recovered  10201    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Morocco  Confirmed       0    Africa           0
1   2020-01-23  Morocco  Confirmed       0    Africa           0
2   2020-01-24  Morocco  Confirmed       0    Africa           0
3   2020-01-25  Morocco  Confirmed       0    Africa           0
4   2020-01-26  Morocco  Confirmed       0    Africa           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Morocco  Confirmed  149841    Africa           0
263 2020-10-11  Morocco  Confirmed  152404    Africa           0
264 2020-10-12  Morocco  Confirmed  153761    Africa           0
265 2020-10-13  Morocco  Confirmed  156946    Africa           0
266 2020-10-14  Morocco  Confirmed  160333    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Morocco  Deaths      0    Africa           0
1   2020-01-23  Morocco  Deaths      0    Africa           0
2   2020-01-24  Morocco  Deaths      0    Africa           0
3   2020-01-25  Morocco  Deaths      0    Africa           0
4   2020-01-26  Morocco  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Morocco  Deaths   2572    Africa           0
263 2020-10-11  Morocco  Deaths   2605    Africa           0
264 2020-10-12  Morocco  Deaths   2636    Africa           0
265 2020-10-13  Morocco  Deaths   2685    Africa           0
266 2020-10-14  Morocco  Deaths   2726    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Morocco  Recovered       0    Africa           0
1   2020-01-23  Morocco  Recovered       0    Africa           0
2   2020-01-24  Morocco  Recovered       0    Africa           0
3   2020-01-25  Morocco  Recovered       0    Africa           0
4   2020-01-26  Morocco  Recovered       0    Africa           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Morocco  Recovered  124854    Africa           0
263 2020-10-11  Morocco  Recovered  127407    Africa           0
264 2020-10-12  Morocco  Recovered  129498    Africa           0
265 2020-10-13  Morocco  Recovered  131462    Africa           0
266 2020-10-14  Morocco  Recovered  133959    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mozambique  Confirmed      0    Africa           0
1   2020-01-23  Mozambique  Confirmed      0    Africa           0
2   2020-01-24  Mozambique  Confirmed      0    Africa           0
3   2020-01-25  Mozambique  Confirmed      0    Africa           0
4   2020-01-26  Mozambique  Confirmed      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Mozambique  Confirmed   9844    Africa           0
263 2020-10-11  Mozambique  Confirmed  10001    Africa           0
264 2020-10-12  Mozambique  Confirmed  10088    Africa           0
265 2020-10-13  Mozambique  Confirmed  10258    Africa           0
266 2020-10-14  Mozambique  Confirmed  10392    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mozambique  Deaths      0    Africa           0
1   2020-01-23  Mozambique  Deaths      0    Africa           0
2   2020-01-24  Mozambique  Deaths      0    Africa           0
3   2020-01-25  Mozambique  Deaths      0    Africa           0
4   2020-01-26  Mozambique  Deaths      0    Africa           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Mozambique  Deaths     70    Africa           0
263 2020-10-11  Mozambique  Deaths     71    Africa           0
264 2020-10-12  Mozambique  Deaths     72    Africa           0
265 2020-10-13  Mozambique  Deaths     73    Africa           0
266 2020-10-14  Mozambique  Deaths     73    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mozambique  Recovered      0    Africa           0
1   2020-01-23  Mozambique  Recovered      0    Africa           0
2   2020-01-24  Mozambique  Recovered      0    Africa           0
3   2020-01-25  Mozambique  Recovered      0    Africa           0
4   2020-01-26  Mozambique  Recovered      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Mozambique  Recovered   7203    Africa           0
263 2020-10-11  Mozambique  Recovered   7338    Africa           0
264 2020-10-12  Mozambique  Recovered   7550    Africa           0
265 2020-10-13  Mozambique  Recovered   7880    Africa           0
266 2020-10-14  Mozambique  Recovered   8035    Africa           0

[267 rows x 6 columns]

1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Namibia  Confirmed      0    Africa           0
1   2020-01-23  Namibia  Confirmed      0    Africa           0
2   2020-01-24  Namibia  Confirmed      0    Africa           0
3   2020-01-25  Namibia  Confirmed      0    Africa           0
4   2020-01-26  Namibia  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Namibia  Confirmed  11891    Africa           0
263 2020-10-11  Namibia  Confirmed  11936    Africa           0
264 2020-10-12  Namibia  Confirmed  11989    Africa           0
265 2020-10-13  Namibia  Confirmed  12000    Africa           0
266 2020-10-14  Namibia  Confirmed  12069    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Namibia  Deaths      0    Africa           0
1   2020-01-23  Namibia  Deaths      0    Africa           0
2   2020-01-24  Namibia  Deaths      0    Africa           0
3   2020-01-25  Namibia  Deaths      0    Africa           0
4   2020-01-26  Namibia  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Namibia  Deaths    128    Africa           0
263 2020-10-11  Namibia  Deaths    128    Africa           0
264 2020-10-12  Namibia  Deaths    129    Africa           0
265 2020-10-13  Namibia  Deaths    129    Africa           0
266 2020-10-14  Namibia  Deaths    130    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Namibia  Recovered      0    Africa           0
1   2020-01-23  Namibia  Recovered      0    Africa           0
2   2020-01-24  Namibia  Recovered      0    Africa           0
3   2020-01-25  Namibia  Recovered      0    Africa           0
4   2020-01-26  Namibia  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Namibia  Recovered   9807    Africa           0
263 2020-10-11  Namibia  Recovered   9817    Africa           0
264 2020-10-12  Namibia  Recovered   9913    Africa           0
265 2020-10-13  Namibia  Recovered  10120    Africa           0
266 2020-10-14  Namibia  Recovered  10145    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Nepal  Confirmed       0      Asia           0
1   2020-01-23   Nepal  Confirmed       0      Asia           0
2   2020-01-24   Nepal  Confirmed       0      Asia           0
3   2020-01-25   Nepal  Confirmed       1      Asia           0
4   2020-01-26   Nepal  Confirmed       1      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Nepal  Confirmed  105684      Asia           0
263 2020-10-11   Nepal  Confirmed  107755      Asia           0
264 2020-10-12   Nepal  Confirmed  111802      Asia           0
265 2020-10-13   Nepal  Confirmed  115358      Asia           0
266 2020-10-14   Nepal  Confirmed  117996      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Nepal  Deaths      0      Asia           0
1   2020-01-23   Nepal  Deaths      0      Asia           0
2   2020-01-24   Nepal  Deaths      0      Asia           0
3   2020-01-25   Nepal  Deaths      0      Asia           0
4   2020-01-26   Nepal  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Nepal  Deaths    614      Asia           0
263 2020-10-11   Nepal  Deaths    636      Asia           0
264 2020-10-12   Nepal  Deaths    645      Asia           0
265 2020-10-13   Nepal  Deaths    663      Asia           0
266 2020-10-14   Nepal  Deaths    675      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Nepal  Recovered      0      Asia           0
1   2020-01-23   Nepal  Recovered      0      Asia           0
2   2020-01-24   Nepal  Recovered      0      Asia           0
3   2020-01-25   Nepal  Recovered      0      Asia           0
4   2020-01-26   Nepal  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Nepal  Recovered  74252      Asia           0
263 2020-10-11   Nepal  Recovered  75804      Asia           0
264 2020-10-12   Nepal  Recovered  77277      Asia           0
265 2020-10-13   Nepal  Recovered  78780      Asia           0
266 2020-10-14   Nepal  Recovered  80954      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Netherlands  Confirmed       0    Europe           0
1   2020-01-23  Netherlands  Confirmed       0    Europe           0
2   2020-01-24  Netherlands  Confirmed       0    Europe           0
3   2020-01-25  Netherlands  Confirmed       0    Europe           0
4   2020-01-26  Netherlands  Confirmed       0    Europe           0
..         ...          ...        ...     ...       ...         ...
262 2020-10-10  Netherlands  Confirmed  173894    Europe           0
263 2020-10-11  Netherlands  Confirmed  180288    Europe           0
264 2020-10-12  Netherlands  Confirmed  187138    Europe           0
265 2020-10-13  Netherlands  Confirmed  194591    Europe           0
266 2020-10-14  Netherlands  Confirmed  201942    Europe           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Netherlands  Deaths      0    Europe           0
1   2020-01-23  Netherlands  Deaths      0    Europe           0
2   2020-01-24  Netherlands  Deaths      0    Europe           0
3   2020-01-25  Netherlands  Deaths      0    Europe           0
4   2020-01-26  Netherlands  Deaths      0    Europe           0
..         ...          ...     ...    ...       ...         ...
262 2020-10-10  Netherlands  Deaths   6624    Europe           0
263 2020-10-11  Netherlands  Deaths   6642    Europe           0
264 2020-10-12  Netherlands  Deaths   6654    Europe           0
265 2020-10-13  Netherlands  Deaths   6689    Europe           0
266 2020-10-14  Netherlands  Deaths   6720    Europe           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Netherlands  Recovered      0    Europe           0
1   2020-01-23  Netherlands  Recovered      0    Europe           0
2   2020-01-24  Netherlands  Recovered      0    Europe           0
3   2020-01-25  Netherlands  Recovered      0    Europe           0
4   2020-01-26  Netherlands  Recovered      0    Europe           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  Netherlands  Recovered   4761    Europe           0
263 2020-10-11  Netherlands  Recovered   4783    Europe           0
264 2020-10-12  Netherlands  Recovered   4832    Europe           0
265 2020-10-13  Netherlands  Recovered   4915    Europe           0
266 2020-10-14  Netherlands  Recovered   5010    Europe           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  New Zealand  Confirmed      0   Oceania           0
1   2020-01-23  New Zealand  Confirmed      0   Oceania           0
2   2020-01-24  New Zealand  Confirmed      0   Oceania           0
3   2020-01-25  New Zealand  Confirmed      0   Oceania           0
4   2020-01-26  New Zealand  Confirmed      0   Oceania           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  New Zealand  Confirmed   1871   Oceania           0
263 2020-10-11  New Zealand  Confirmed   1871   Oceania           0
264 2020-10-12  New Zealand  Confirmed   1872   Oceania           0
265 2020-10-13  New Zealand  Confirmed   1874   Oceania           0
266 2020-10-14  New Zealand  Confirmed   1876   Oceania           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  New Zealand  Deaths      0   Oceania           0
1   2020-01-23  New Zealand  Deaths      0   Oceania           0
2   2020-01-24  New Zealand  Deaths      0   Oceania           0
3   2020-01-25  New Zealand  Deaths      0   Oceania           0
4   2020-01-26  New Zealand  Deaths      0   Oceania           0
..         ...          ...     ...    ...       ...         ...
262 2020-10-10  New Zealand  Deaths     25   Oceania           0
263 2020-10-11  New Zealand  Deaths     25   Oceania           0
264 2020-10-12  New Zealand  Deaths     25   Oceania           0
265 2020-10-13  New Zealand  Deaths     25   Oceania           0
266 2020-10-14  New Zealand  Deaths     25   Oceania           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  New Zealand  Recovered      0   Oceania           0
1   2020-01-23  New Zealand  Recovered      0   Oceania           0
2   2020-01-24  New Zealand  Recovered      0   Oceania           0
3   2020-01-25  New Zealand  Recovered      0   Oceania           0
4   2020-01-26  New Zealand  Recovered      0   Oceania           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  New Zealand  Recovered   1801   Oceania           0
263 2020-10-11  New Zealand  Recovered   1801   Oceania           0
264 2020-10-12  New Zealand  Recovered   1808   Oceania           0
265 2020-10-13  New Zealand  Recovered   1809   Oceania           0
266 2020-10-14  New Zealand  Recovered   1809   Oceania           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Nicaragua  Confirmed      0  North America           0
1   2020-01-23  Nicaragua  Confirmed      0  North America           0
2   2020-01-24  Nicaragua  Confirmed      0  North America           0
3   2020-01-25  Nicaragua  Confirmed      0  North America           0
4   2020-01-26  Nicaragua  Confirmed      0  North America           0
..         ...        ...        ...    ...            ...         ...
262 2020-10-10  Nicaragua  Confirmed   5264  North America           0
263 2020-10-11  Nicaragua  Confirmed   5264  North America           0
264 2020-10-12  Nicaragua  Confirmed   5264  North America           0
265 2020-10-13  Nicaragua  Confirmed   5353  North America           0
266 2020-10-14  Nicaragua  Confirmed   5353  North America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Nicaragua  Deaths      0  North America           0
1   2020-01-23  Nicaragua  Deaths      0  North America           0
2   2020-01-24  Nicaragua  Deaths      0  North America           0
3   2020-01-25  Nicaragua  Deaths      0  North America           0
4   2020-01-26  Nicaragua  Deaths      0  North America           0
..         ...        ...     ...    ...            ...         ...
262 2020-10-10  Nicaragua  Deaths    153  North America           0
263 2020-10-11  Nicaragua  Deaths    153  North America           0
264 2020-10-12  Nicaragua  Deaths    153  North America           0
265 2020-10-13  Nicaragua  Deaths    154  North America           0
266 2020-10-14  Nicaragua  Deaths    154  North America           0

[267 rows x 6 columns]

1
          DATE    COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Nicaragua  Recovered      0  North America           0
1   2020-01-23  Nicaragua  Recovered      0  North America           0
2   2020-01-24  Nicaragua  Recovered      0  North America           0
3   2020-01-25  Nicaragua  Recovered      0  North America           0
4   2020-01-26  Nicaragua  Recovered      0  North America           0
..         ...        ...        ...    ...            ...         ...
262 2020-10-10  Nicaragua  Recovered   4225  North America           0
263 2020-10-11  Nicaragua  Recovered   4225  North America           0
264 2020-10-12  Nicaragua  Recovered   4225  North America           0
265 2020-10-13  Nicaragua  Recovered   4225  North America           0
266 2020-10-14  Nicaragua  Recovered   4225  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Niger  Confirmed      0    Africa           0
1   2020-01-23   Niger  Confirmed      0    Africa           0
2   2020-01-24   Niger  Confirmed      0    Africa           0
3   2020-01-25   Niger  Confirmed      0    Africa           0
4   2020-01-26   Niger  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Niger  Confirmed   1201    Africa           0
263 2020-10-11   Niger  Confirmed   1201    Africa           0
264 2020-10-12   Niger  Confirmed   1202    Africa           0
265 2020-10-13   Niger  Confirmed   1203    Africa           0
266 2020-10-14   Niger  Confirmed   1205    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Niger  Deaths      0    Africa           0
1   2020-01-23   Niger  Deaths      0    Africa           0
2   2020-01-24   Niger  Deaths      0    Africa           0
3   2020-01-25   Niger  Deaths      0    Africa           0
4   2020-01-26   Niger  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Niger  Deaths     69    Africa           0
263 2020-10-11   Niger  Deaths     69    Africa           0
264 2020-10-12   Niger  Deaths     69    Africa           0
265 2020-10-13   Niger  Deaths     69    Africa           0
266 2020-10-14   Niger  Deaths     69    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Niger  Recovered      0    Africa           0
1   2020-01-23   Niger  Recovered      0    Africa           0
2   2020-01-24   Niger  Recovered      0    Africa           0
3   2020-01-25   Niger  Recovered      0    Africa           0
4   2020-01-26   Niger  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Niger  Recovered   1123    Africa           0
263 2020-10-11   Niger  Recovered   1123    Africa           0
264 2020-10-12   Niger  Recovered   1124    Africa           0
265 2020-10-13   Niger  Recovered   1124    Africa           0
266 2020-10-14   Niger  Recovered   1124    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Nigeria  Confirmed      0    Africa           0
1   2020-01-23  Nigeria  Confirmed      0    Africa           0
2   2020-01-24  Nigeria  Confirmed      0    Africa           0
3   2020-01-25  Nigeria  Confirmed      0    Africa           0
4   2020-01-26  Nigeria  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Nigeria  Confirmed  60103    Africa           0
263 2020-10-11  Nigeria  Confirmed  60266    Africa           0
264 2020-10-12  Nigeria  Confirmed  60430    Africa           0
265 2020-10-13  Nigeria  Confirmed  60655    Africa           0
266 2020-10-14  Nigeria  Confirmed  60834    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Nigeria  Deaths      0    Africa           0
1   2020-01-23  Nigeria  Deaths      0    Africa           0
2   2020-01-24  Nigeria  Deaths      0    Africa           0
3   2020-01-25  Nigeria  Deaths      0    Africa           0
4   2020-01-26  Nigeria  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Nigeria  Deaths   1115    Africa           0
263 2020-10-11  Nigeria  Deaths   1115    Africa           0
264 2020-10-12  Nigeria  Deaths   1115    Africa           0
265 2020-10-13  Nigeria  Deaths   1116    Africa           0
266 2020-10-14  Nigeria  Deaths   1116    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Nigeria  Recovered      0    Africa           0
1   2020-01-23  Nigeria  Recovered      0    Africa           0
2   2020-01-24  Nigeria  Recovered      0    Africa           0
3   2020-01-25  Nigeria  Recovered      0    Africa           0
4   2020-01-26  Nigeria  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Nigeria  Recovered  51711    Africa           0
263 2020-10-11  Nigeria  Recovered  51735    Africa           0
264 2020-10-12  Nigeria  Recovered  51943    Africa           0
265 2020-10-13  Nigeria  Recovered  52006    Africa           0
266 2020-10-14  Nigeria  Recovered  52143    Africa           0

[267 rows x 6 columns]
1
          DATE          COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  North Macedonia  Confirmed      0    Europe           0
1   2020-01-23  North Macedonia  Confirmed      0    Europe           0
2   2020-01-24  North Macedonia  Confirmed      0    Europe           0
3   2020-01-25  North Macedonia  Confirmed      0    Europe           0
4   2020-01-26  North Macedonia  Confirmed      0    Europe           0
..         ...              ...        ...    ...       ...         ...
262 2020-10-10  North Macedonia  Confirmed  20555    Europe           0
263 2020-10-11  North Macedonia  Confirmed  20937    Europe           0
264 2020-10-12  North Macedonia  Confirmed  21113    Europe           0
265 2020-10-13  North Macedonia  Confirmed  21193    Europe           0
266 2020-10-14  North Macedonia  Confirmed  21636    Europe           0

[267 rows x 6 columns]
1
          DATE          COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  North Macedonia  Deaths      0    Europe           0
1   2020-01-23  North Macedonia  Deaths      0    Europe           0
2   2020-01-24  North Macedonia  Deaths      0    Europe           0
3   2020-01-25  North Macedonia  Deaths      0    Europe           0
4   2020-01-26  North Macedonia  Deaths      0    Europe           0
..         ...              ...     ...    ...       ...         ...
262 2020-10-10  North Macedonia  Deaths    785    Europe           0
263 2020-10-11  North Macedonia  Deaths    792    Europe           0
264 2020-10-12  North Macedonia  Deaths    797    Europe           0
265 2020-10-13  North Macedonia  Deaths    800    Europe           0
266 2020-10-14  North Macedonia  Deaths    809    Europe           0

[267 rows x 6 columns]
1
          DATE          COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  North Macedonia  Recovered      0    Europe           0
1   2020-01-23  North Macedonia  Recovered      0    Europe           0
2   2020-01-24  North Macedonia  Recovered      0    Europe           0
3   2020-01-25  North Macedonia  Recovered      0    Europe           0
4   2020-01-26  North Macedonia  Recovered      0    Europe           0
..         ...              ...        ...    ...       ...         ...
262 2020-10-10  North Macedonia  Recovered  16099    Europe           0
263 2020-10-11  North Macedonia  Recovered  16194    Europe           0
264 2020-10-12  North Macedonia  Recovered  16301    Europe           0
265 2020-10-13  North Macedonia  Recovered  16397    Europe           0
266 2020-10-14  North Macedonia  Recovered  16591    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Norway  Confirmed      0    Europe           0
1   2020-01-23  Norway  Confirmed      0    Europe           0
2   2020-01-24  Norway  Confirmed      0    Europe           0
3   2020-01-25  Norway  Confirmed      0    Europe           0
4   2020-01-26  Norway  Confirmed      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Norway  Confirmed  15466    Europe           0
263 2020-10-11  Norway  Confirmed  15524    Europe           0
264 2020-10-12  Norway  Confirmed  15639    Europe           0
265 2020-10-13  Norway  Confirmed  15793    Europe           0
266 2020-10-14  Norway  Confirmed  15953    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Norway  Deaths      0    Europe           0
1   2020-01-23  Norway  Deaths      0    Europe           0
2   2020-01-24  Norway  Deaths      0    Europe           0
3   2020-01-25  Norway  Deaths      0    Europe           0
4   2020-01-26  Norway  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Norway  Deaths    275    Europe           0
263 2020-10-11  Norway  Deaths    275    Europe           0
264 2020-10-12  Norway  Deaths    276    Europe           0
265 2020-10-13  Norway  Deaths    277    Europe           0
266 2020-10-14  Norway  Deaths    277    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Norway  Recovered      0    Europe           0
1   2020-01-23  Norway  Recovered      0    Europe           0
2   2020-01-24  Norway  Recovered      0    Europe           0
3   2020-01-25  Norway  Recovered      0    Europe           0
4   2020-01-26  Norway  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Norway  Recovered  11863    Europe           0
263 2020-10-11  Norway  Recovered  11863    Europe           0
264 2020-10-12  Norway  Recovered  11863    Europe           0
265 2020-10-13  Norway  Recovered  11863    Europe           0
266 2020-10-14  Norway  Recovered  11863    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Oman  Confirmed       0      Asia           0
1   2020-01-23    Oman  Confirmed       0      Asia           0
2   2020-01-24    Oman  Confirmed       0      Asia           0
3   2020-01-25    Oman  Confirmed       0      Asia           0
4   2020-01-26    Oman  Confirmed       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10    Oman  Confirmed  104129      Asia           0
263 2020-10-11    Oman  Confirmed  105890      Asia           0
264 2020-10-12    Oman  Confirmed  106575      Asia           0
265 2020-10-13    Oman  Confirmed  107213      Asia           0
266 2020-10-14    Oman  Confirmed  107776      Asia           0

[267 rows x 6 columns]

1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Oman  Deaths      0      Asia           0
1   2020-01-23    Oman  Deaths      0      Asia           0
2   2020-01-24    Oman  Deaths      0      Asia           0
3   2020-01-25    Oman  Deaths      0      Asia           0
4   2020-01-26    Oman  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Oman  Deaths   1009      Asia           0
263 2020-10-11    Oman  Deaths   1038      Asia           0
264 2020-10-12    Oman  Deaths   1046      Asia           0
265 2020-10-13    Oman  Deaths   1053      Asia           0
266 2020-10-14    Oman  Deaths   1061      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Oman  Recovered      0      Asia           0
1   2020-01-23    Oman  Recovered      0      Asia           0
2   2020-01-24    Oman  Recovered      0      Asia           0
3   2020-01-25    Oman  Recovered      0      Asia           0
4   2020-01-26    Oman  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Oman  Recovered  91731      Asia           0
263 2020-10-11    Oman  Recovered  92840      Asia           0
264 2020-10-12    Oman  Recovered  93222      Asia           0
265 2020-10-13    Oman  Recovered  93557      Asia           0
266 2020-10-14    Oman  Recovered  93908      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Pakistan  Confirmed       0      Asia           0
1   2020-01-23  Pakistan  Confirmed       0      Asia           0
2   2020-01-24  Pakistan  Confirmed       0      Asia           0
3   2020-01-25  Pakistan  Confirmed       0      Asia           0
4   2020-01-26  Pakistan  Confirmed       0      Asia           0
..         ...       ...        ...     ...       ...         ...
262 2020-10-10  Pakistan  Confirmed  318932      Asia           0
263 2020-10-11  Pakistan  Confirmed  319317      Asia           0
264 2020-10-12  Pakistan  Confirmed  319848      Asia           0
265 2020-10-13  Pakistan  Confirmed  320463      Asia           0
266 2020-10-14  Pakistan  Confirmed  321218      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Pakistan  Deaths      0      Asia           0
1   2020-01-23  Pakistan  Deaths      0      Asia           0
2   2020-01-24  Pakistan  Deaths      0      Asia           0
3   2020-01-25  Pakistan  Deaths      0      Asia           0
4   2020-01-26  Pakistan  Deaths      0      Asia           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Pakistan  Deaths   6570      Asia           0
263 2020-10-11  Pakistan  Deaths   6580      Asia           0
264 2020-10-12  Pakistan  Deaths   6588      Asia           0
265 2020-10-13  Pakistan  Deaths   6601      Asia           0
266 2020-10-14  Pakistan  Deaths   6614      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Pakistan  Recovered       0      Asia           0
1   2020-01-23  Pakistan  Recovered       0      Asia           0
2   2020-01-24  Pakistan  Recovered       0      Asia           0
3   2020-01-25  Pakistan  Recovered       0      Asia           0
4   2020-01-26  Pakistan  Recovered       0      Asia           0
..         ...       ...        ...     ...       ...         ...
262 2020-10-10  Pakistan  Recovered  303458      Asia           0
263 2020-10-11  Pakistan  Recovered  304185      Asia           0
264 2020-10-12  Pakistan  Recovered  304609      Asia           0
265 2020-10-13  Pakistan  Recovered  305080      Asia           0
266 2020-10-14  Pakistan  Recovered  305395      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Panama  Confirmed       0  North America           0
1   2020-01-23  Panama  Confirmed       0  North America           0
2   2020-01-24  Panama  Confirmed       0  North America           0
3   2020-01-25  Panama  Confirmed       0  North America           0
4   2020-01-26  Panama  Confirmed       0  North America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10  Panama  Confirmed  119666  North America           0
263 2020-10-11  Panama  Confirmed  120313  North America           0
264 2020-10-12  Panama  Confirmed  120802  North America           0
265 2020-10-13  Panama  Confirmed  121296  North America           0
266 2020-10-14  Panama  Confirmed  122128  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Panama  Deaths      0  North America           0
1   2020-01-23  Panama  Deaths      0  North America           0
2   2020-01-24  Panama  Deaths      0  North America           0
3   2020-01-25  Panama  Deaths      0  North America           0
4   2020-01-26  Panama  Deaths      0  North America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10  Panama  Deaths   2482  North America           0
263 2020-10-11  Panama  Deaths   2491  North America           0
264 2020-10-12  Panama  Deaths   2502  North America           0
265 2020-10-13  Panama  Deaths   2511  North America           0
266 2020-10-14  Panama  Deaths   2519  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Panama  Recovered      0  North America           0
1   2020-01-23  Panama  Recovered      0  North America           0
2   2020-01-24  Panama  Recovered      0  North America           0
3   2020-01-25  Panama  Recovered      0  North America           0
4   2020-01-26  Panama  Recovered      0  North America           0
..         ...     ...        ...    ...            ...         ...
262 2020-10-10  Panama  Recovered  95552  North America           0
263 2020-10-11  Panama  Recovered  96164  North America           0
264 2020-10-12  Panama  Recovered  96675  North America           0
265 2020-10-13  Panama  Recovered  97297  North America           0
266 2020-10-14  Panama  Recovered  97919  North America           0

[267 rows x 6 columns]
1
          DATE           COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Papua New Guinea  Confirmed      0   Oceania           0
1   2020-01-23  Papua New Guinea  Confirmed      0   Oceania           0
2   2020-01-24  Papua New Guinea  Confirmed      0   Oceania           0
3   2020-01-25  Papua New Guinea  Confirmed      0   Oceania           0
4   2020-01-26  Papua New Guinea  Confirmed      0   Oceania           0
..         ...               ...        ...    ...       ...         ...
262 2020-10-10  Papua New Guinea  Confirmed    549   Oceania           0
263 2020-10-11  Papua New Guinea  Confirmed    554   Oceania           0
264 2020-10-12  Papua New Guinea  Confirmed    565   Oceania           0
265 2020-10-13  Papua New Guinea  Confirmed    565   Oceania           0
266 2020-10-14  Papua New Guinea  Confirmed    578   Oceania           0

[267 rows x 6 columns]
1
          DATE           COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Papua New Guinea  Deaths      0   Oceania           0
1   2020-01-23  Papua New Guinea  Deaths      0   Oceania           0
2   2020-01-24  Papua New Guinea  Deaths      0   Oceania           0
3   2020-01-25  Papua New Guinea  Deaths      0   Oceania           0
4   2020-01-26  Papua New Guinea  Deaths      0   Oceania           0
..         ...               ...     ...    ...       ...         ...
262 2020-10-10  Papua New Guinea  Deaths      7   Oceania           0
263 2020-10-11  Papua New Guinea  Deaths      7   Oceania           0
264 2020-10-12  Papua New Guinea  Deaths      7   Oceania           0
265 2020-10-13  Papua New Guinea  Deaths      7   Oceania           0
266 2020-10-14  Papua New Guinea  Deaths      7   Oceania           0

[267 rows x 6 columns]
1
          DATE           COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Papua New Guinea  Recovered      0   Oceania           0
1   2020-01-23  Papua New Guinea  Recovered      0   Oceania           0
2   2020-01-24  Papua New Guinea  Recovered      0   Oceania           0
3   2020-01-25  Papua New Guinea  Recovered      0   Oceania           0
4   2020-01-26  Papua New Guinea  Recovered      0   Oceania           0
..         ...               ...        ...    ...       ...         ...
262 2020-10-10  Papua New Guinea  Recovered    532   Oceania           0
263 2020-10-11  Papua New Guinea  Recovered    532   Oceania           0
264 2020-10-12  Papua New Guinea  Recovered    537   Oceania           0
265 2020-10-13  Papua New Guinea  Recovered    537   Oceania           0
266 2020-10-14  Papua New Guinea  Recovered    537   Oceania           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Paraguay  Confirmed      0  South America           0
1   2020-01-23  Paraguay  Confirmed      0  South America           0
2   2020-01-24  Paraguay  Confirmed      0  South America           0
3   2020-01-25  Paraguay  Confirmed      0  South America           0
4   2020-01-26  Paraguay  Confirmed      0  South America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Paraguay  Confirmed  48978  South America           0
263 2020-10-11  Paraguay  Confirmed  49675  South America           0
264 2020-10-12  Paraguay  Confirmed  50344  South America           0
265 2020-10-13  Paraguay  Confirmed  51197  South America           0
266 2020-10-14  Paraguay  Confirmed  51845  South America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Paraguay  Deaths      0  South America           0
1   2020-01-23  Paraguay  Deaths      0  South America           0
2   2020-01-24  Paraguay  Deaths      0  South America           0
3   2020-01-25  Paraguay  Deaths      0  South America           0
4   2020-01-26  Paraguay  Deaths      0  South America           0
..         ...       ...     ...    ...            ...         ...
262 2020-10-10  Paraguay  Deaths   1065  South America           0
263 2020-10-11  Paraguay  Deaths   1077  South America           0
264 2020-10-12  Paraguay  Deaths   1096  South America           0
265 2020-10-13  Paraguay  Deaths   1108  South America           0
266 2020-10-14  Paraguay  Deaths   1131  South America           0

[267 rows x 6 columns]

1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Paraguay  Recovered      0  South America           0
1   2020-01-23  Paraguay  Recovered      0  South America           0
2   2020-01-24  Paraguay  Recovered      0  South America           0
3   2020-01-25  Paraguay  Recovered      0  South America           0
4   2020-01-26  Paraguay  Recovered      0  South America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Paraguay  Recovered  31351  South America           0
263 2020-10-11  Paraguay  Recovered  32090  South America           0
264 2020-10-12  Paraguay  Recovered  32751  South America           0
265 2020-10-13  Paraguay  Recovered  33325  South America           0
266 2020-10-14  Paraguay  Recovered  33921  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Peru  Confirmed       0  South America           0
1   2020-01-23    Peru  Confirmed       0  South America           0
2   2020-01-24    Peru  Confirmed       0  South America           0
3   2020-01-25    Peru  Confirmed       0  South America           0
4   2020-01-26    Peru  Confirmed       0  South America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10    Peru  Confirmed  846088  South America           0
263 2020-10-11    Peru  Confirmed  849371  South America           0
264 2020-10-12    Peru  Confirmed  851171  South America           0
265 2020-10-13    Peru  Confirmed  853974  South America           0
266 2020-10-14    Peru  Confirmed  853974  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Peru  Deaths      0  South America           0
1   2020-01-23    Peru  Deaths      0  South America           0
2   2020-01-24    Peru  Deaths      0  South America           0
3   2020-01-25    Peru  Deaths      0  South America           0
4   2020-01-26    Peru  Deaths      0  South America           0
..         ...     ...     ...    ...            ...         ...
262 2020-10-10    Peru  Deaths  33223  South America           0
263 2020-10-11    Peru  Deaths  33305  South America           0
264 2020-10-12    Peru  Deaths  33357  South America           0
265 2020-10-13    Peru  Deaths  33419  South America           0
266 2020-10-14    Peru  Deaths  33419  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Peru  Recovered       0  South America           0
1   2020-01-23    Peru  Recovered       0  South America           0
2   2020-01-24    Peru  Recovered       0  South America           0
3   2020-01-25    Peru  Recovered       0  South America           0
4   2020-01-26    Peru  Recovered       0  South America           0
..         ...     ...        ...     ...            ...         ...
262 2020-10-10    Peru  Recovered  733000  South America           0
263 2020-10-11    Peru  Recovered  738189  South America           0
264 2020-10-12    Peru  Recovered  743969  South America           0
265 2020-10-13    Peru  Recovered  748097  South America           0
266 2020-10-14    Peru  Recovered  753959  South America           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Philippines  Confirmed       0      Asia           0
1   2020-01-23  Philippines  Confirmed       0      Asia           0
2   2020-01-24  Philippines  Confirmed       0      Asia           0
3   2020-01-25  Philippines  Confirmed       0      Asia           0
4   2020-01-26  Philippines  Confirmed       0      Asia           0
..         ...          ...        ...     ...       ...         ...
262 2020-10-10  Philippines  Confirmed  336926      Asia           0
263 2020-10-11  Philippines  Confirmed  339341      Asia           0
264 2020-10-12  Philippines  Confirmed  342816      Asia           0
265 2020-10-13  Philippines  Confirmed  344713      Asia           0
266 2020-10-14  Philippines  Confirmed  346536      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Philippines  Deaths      0      Asia           0
1   2020-01-23  Philippines  Deaths      0      Asia           0
2   2020-01-24  Philippines  Deaths      0      Asia           0
3   2020-01-25  Philippines  Deaths      0      Asia           0
4   2020-01-26  Philippines  Deaths      0      Asia           0
..         ...          ...     ...    ...       ...         ...
262 2020-10-10  Philippines  Deaths   6238      Asia           0
263 2020-10-11  Philippines  Deaths   6321      Asia           0
264 2020-10-12  Philippines  Deaths   6332      Asia           0
265 2020-10-13  Philippines  Deaths   6372      Asia           0
266 2020-10-14  Philippines  Deaths   6449      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Philippines  Recovered       0      Asia           0
1   2020-01-23  Philippines  Recovered       0      Asia           0
2   2020-01-24  Philippines  Recovered       0      Asia           0
3   2020-01-25  Philippines  Recovered       0      Asia           0
4   2020-01-26  Philippines  Recovered       0      Asia           0
..         ...          ...        ...     ...       ...         ...
262 2020-10-10  Philippines  Recovered  276094      Asia           0
263 2020-10-11  Philippines  Recovered  293075      Asia           0
264 2020-10-12  Philippines  Recovered  293152      Asia           0
265 2020-10-13  Philippines  Recovered  293383      Asia           0
266 2020-10-14  Philippines  Recovered  293860      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Poland  Confirmed       0    Europe           0
1   2020-01-23  Poland  Confirmed       0    Europe           0
2   2020-01-24  Poland  Confirmed       0    Europe           0
3   2020-01-25  Poland  Confirmed       0    Europe           0
4   2020-01-26  Poland  Confirmed       0    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Poland  Confirmed  121638    Europe           0
263 2020-10-11  Poland  Confirmed  125816    Europe           0
264 2020-10-12  Poland  Confirmed  130210    Europe           0
265 2020-10-13  Poland  Confirmed  135278    Europe           0
266 2020-10-14  Poland  Confirmed  141804    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Poland  Deaths      0    Europe           0
1   2020-01-23  Poland  Deaths      0    Europe           0
2   2020-01-24  Poland  Deaths      0    Europe           0
3   2020-01-25  Poland  Deaths      0    Europe           0
4   2020-01-26  Poland  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Poland  Deaths   2972    Europe           0
263 2020-10-11  Poland  Deaths   3004    Europe           0
264 2020-10-12  Poland  Deaths   3039    Europe           0
265 2020-10-13  Poland  Deaths   3101    Europe           0
266 2020-10-14  Poland  Deaths   3217    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Poland  Recovered      0    Europe           0
1   2020-01-23  Poland  Recovered      0    Europe           0
2   2020-01-24  Poland  Recovered      0    Europe           0
3   2020-01-25  Poland  Recovered      0    Europe           0
4   2020-01-26  Poland  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Poland  Recovered  78982    Europe           0
263 2020-10-11  Poland  Recovered  80302    Europe           0
264 2020-10-12  Poland  Recovered  81201    Europe           0
265 2020-10-13  Poland  Recovered  82004    Europe           0
266 2020-10-14  Poland  Recovered  83847    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Portugal  Confirmed      0    Europe           0
1   2020-01-23  Portugal  Confirmed      0    Europe           0
2   2020-01-24  Portugal  Confirmed      0    Europe           0
3   2020-01-25  Portugal  Confirmed      0    Europe           0
4   2020-01-26  Portugal  Confirmed      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Portugal  Confirmed  85574    Europe           0
263 2020-10-11  Portugal  Confirmed  86664    Europe           0
264 2020-10-12  Portugal  Confirmed  87913    Europe           0
265 2020-10-13  Portugal  Confirmed  89121    Europe           0
266 2020-10-14  Portugal  Confirmed  91193    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Portugal  Deaths      0    Europe           0
1   2020-01-23  Portugal  Deaths      0    Europe           0
2   2020-01-24  Portugal  Deaths      0    Europe           0
3   2020-01-25  Portugal  Deaths      0    Europe           0
4   2020-01-26  Portugal  Deaths      0    Europe           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Portugal  Deaths   2067    Europe           0
263 2020-10-11  Portugal  Deaths   2080    Europe           0
264 2020-10-12  Portugal  Deaths   2094    Europe           0
265 2020-10-13  Portugal  Deaths   2110    Europe           0
266 2020-10-14  Portugal  Deaths   2117    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Portugal  Recovered      0    Europe           0
1   2020-01-23  Portugal  Recovered      0    Europe           0
2   2020-01-24  Portugal  Recovered      0    Europe           0
3   2020-01-25  Portugal  Recovered      0    Europe           0
4   2020-01-26  Portugal  Recovered      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Portugal  Recovered  52803    Europe           0
263 2020-10-11  Portugal  Recovered  53187    Europe           0
264 2020-10-12  Portugal  Recovered  53498    Europe           0
265 2020-10-13  Portugal  Recovered  54047    Europe           0
266 2020-10-14  Portugal  Recovered  54493    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Qatar  Confirmed       0      Asia           0
1   2020-01-23   Qatar  Confirmed       0      Asia           0
2   2020-01-24   Qatar  Confirmed       0      Asia           0
3   2020-01-25   Qatar  Confirmed       0      Asia           0
4   2020-01-26   Qatar  Confirmed       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Qatar  Confirmed  127778      Asia           0
263 2020-10-11   Qatar  Confirmed  127985      Asia           0
264 2020-10-12   Qatar  Confirmed  128191      Asia           0
265 2020-10-13   Qatar  Confirmed  128405      Asia           0
266 2020-10-14   Qatar  Confirmed  128603      Asia           0

[267 rows x 6 columns]
1

          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Qatar  Deaths      0      Asia           0
1   2020-01-23   Qatar  Deaths      0      Asia           0
2   2020-01-24   Qatar  Deaths      0      Asia           0
3   2020-01-25   Qatar  Deaths      0      Asia           0
4   2020-01-26   Qatar  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Qatar  Deaths    219      Asia           0
263 2020-10-11   Qatar  Deaths    220      Asia           0
264 2020-10-12   Qatar  Deaths    220      Asia           0
265 2020-10-13   Qatar  Deaths    220      Asia           0
266 2020-10-14   Qatar  Deaths    220      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Qatar  Recovered       0      Asia           0
1   2020-01-23   Qatar  Recovered       0      Asia           0
2   2020-01-24   Qatar  Recovered       0      Asia           0
3   2020-01-25   Qatar  Recovered       0      Asia           0
4   2020-01-26   Qatar  Recovered       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Qatar  Recovered  124767      Asia           0
263 2020-10-11   Qatar  Recovered  124978      Asia           0
264 2020-10-12   Qatar  Recovered  125176      Asia           0
265 2020-10-13   Qatar  Recovered  125373      Asia           0
266 2020-10-14   Qatar  Recovered  125584      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Romania  Confirmed       0    Europe           0
1   2020-01-23  Romania  Confirmed       0    Europe           0
2   2020-01-24  Romania  Confirmed       0    Europe           0
3   2020-01-25  Romania  Confirmed       0    Europe           0
4   2020-01-26  Romania  Confirmed       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Romania  Confirmed  152403    Europe           0
263 2020-10-11  Romania  Confirmed  155283    Europe           0
264 2020-10-12  Romania  Confirmed  157352    Europe           0
265 2020-10-13  Romania  Confirmed  160461    Europe           0
266 2020-10-14  Romania  Confirmed  164477    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Romania  Deaths      0    Europe           0
1   2020-01-23  Romania  Deaths      0    Europe           0
2   2020-01-24  Romania  Deaths      0    Europe           0
3   2020-01-25  Romania  Deaths      0    Europe           0
4   2020-01-26  Romania  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Romania  Deaths   5358    Europe           0
263 2020-10-11  Romania  Deaths   5411    Europe           0
264 2020-10-12  Romania  Deaths   5467    Europe           0
265 2020-10-13  Romania  Deaths   5535    Europe           0
266 2020-10-14  Romania  Deaths   5601    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Romania  Recovered       0    Europe           0
1   2020-01-23  Romania  Recovered       0    Europe           0
2   2020-01-24  Romania  Recovered       0    Europe           0
3   2020-01-25  Romania  Recovered       0    Europe           0
4   2020-01-26  Romania  Recovered       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Romania  Recovered  116628    Europe           0
263 2020-10-11  Romania  Recovered  117942    Europe           0
264 2020-10-12  Romania  Recovered  118912    Europe           0
265 2020-10-13  Romania  Recovered  120515    Europe           0
266 2020-10-14  Romania  Recovered  122714    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE    VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Russia  Confirmed        0    Europe           0
1   2020-01-23  Russia  Confirmed        0    Europe           0
2   2020-01-24  Russia  Confirmed        0    Europe           0
3   2020-01-25  Russia  Confirmed        0    Europe           0
4   2020-01-26  Russia  Confirmed        0    Europe           0
..         ...     ...        ...      ...       ...         ...
262 2020-10-10  Russia  Confirmed  1278245    Europe           0
263 2020-10-11  Russia  Confirmed  1291687    Europe           0
264 2020-10-12  Russia  Confirmed  1305093    Europe           0
265 2020-10-13  Russia  Confirmed  1318783    Europe           0
266 2020-10-14  Russia  Confirmed  1332824    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Russia  Deaths      0    Europe           0
1   2020-01-23  Russia  Deaths      0    Europe           0
2   2020-01-24  Russia  Deaths      0    Europe           0
3   2020-01-25  Russia  Deaths      0    Europe           0
4   2020-01-26  Russia  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Russia  Deaths  22331    Europe           0
263 2020-10-11  Russia  Deaths  22471    Europe           0
264 2020-10-12  Russia  Deaths  22594    Europe           0
265 2020-10-13  Russia  Deaths  22834    Europe           0
266 2020-10-14  Russia  Deaths  23069    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE    VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Russia  Recovered        0    Europe           0
1   2020-01-23  Russia  Recovered        0    Europe           0
2   2020-01-24  Russia  Recovered        0    Europe           0
3   2020-01-25  Russia  Recovered        0    Europe           0
4   2020-01-26  Russia  Recovered        0    Europe           0
..         ...     ...        ...      ...       ...         ...
262 2020-10-10  Russia  Recovered  1011911    Europe           0
263 2020-10-11  Russia  Recovered  1016120    Europe           0
264 2020-10-12  Russia  Recovered  1019905    Europe           0
265 2020-10-13  Russia  Recovered  1027348    Europe           0
266 2020-10-14  Russia  Recovered  1035141    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Rwanda  Confirmed      0    Africa           0
1   2020-01-23  Rwanda  Confirmed      0    Africa           0
2   2020-01-24  Rwanda  Confirmed      0    Africa           0
3   2020-01-25  Rwanda  Confirmed      0    Africa           0
4   2020-01-26  Rwanda  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Rwanda  Confirmed   4892    Africa           0
263 2020-10-11  Rwanda  Confirmed   4896    Africa           0
264 2020-10-12  Rwanda  Confirmed   4905    Africa           0
265 2020-10-13  Rwanda  Confirmed   4908    Africa           0
266 2020-10-14  Rwanda  Confirmed   4940    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Rwanda  Deaths      0    Africa           0
1   2020-01-23  Rwanda  Deaths      0    Africa           0
2   2020-01-24  Rwanda  Deaths      0    Africa           0
3   2020-01-25  Rwanda  Deaths      0    Africa           0
4   2020-01-26  Rwanda  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Rwanda  Deaths     30    Africa           0
263 2020-10-11  Rwanda  Deaths     31    Africa           0
264 2020-10-12  Rwanda  Deaths     32    Africa           0
265 2020-10-13  Rwanda  Deaths     32    Africa           0
266 2020-10-14  Rwanda  Deaths     33    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Rwanda  Recovered      0    Africa           0
1   2020-01-23  Rwanda  Recovered      0    Africa           0
2   2020-01-24  Rwanda  Recovered      0    Africa           0
3   2020-01-25  Rwanda  Recovered      0    Africa           0
4   2020-01-26  Rwanda  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Rwanda  Recovered   3566    Africa           0
263 2020-10-11  Rwanda  Recovered   3606    Africa           0
264 2020-10-12  Rwanda  Recovered   3877    Africa           0
265 2020-10-13  Rwanda  Recovered   4130    Africa           0
266 2020-10-14  Rwanda  Recovered   4398    Africa           0

[267 rows x 6 columns]
1
          DATE                COUNTRY       TYPE  VALUE      CONTINENT  \
0   2020-01-22  Saint Kitts and Nevis  Confirmed      0  North America
1   2020-01-23  Saint Kitts and Nevis  Confirmed      0  North America
2   2020-01-24  Saint Kitts and Nevis  Confirmed      0  North America
3   2020-01-25  Saint Kitts and Nevis  Confirmed      0  North America
4   2020-01-26  Saint Kitts and Nevis  Confirmed      0  North America
..         ...                    ...        ...    ...            ...
262 2020-10-10  Saint Kitts and Nevis  Confirmed     19  North America
263 2020-10-11  Saint Kitts and Nevis  Confirmed     19  North America
264 2020-10-12  Saint Kitts and Nevis  Confirmed     19  North America
265 2020-10-13  Saint Kitts and Nevis  Confirmed     19  North America
266 2020-10-14  Saint Kitts and Nevis  Confirmed     19  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE                COUNTRY    TYPE  VALUE      CONTINENT  \
0   2020-01-22  Saint Kitts and Nevis  Deaths      0  North America
1   2020-01-23  Saint Kitts and Nevis  Deaths      0  North America
2   2020-01-24  Saint Kitts and Nevis  Deaths      0  North America
3   2020-01-25  Saint Kitts and Nevis  Deaths      0  North America
4   2020-01-26  Saint Kitts and Nevis  Deaths      0  North America
..         ...                    ...     ...    ...            ...
262 2020-10-10  Saint Kitts and Nevis  Deaths      0  North America
263 2020-10-11  Saint Kitts and Nevis  Deaths      0  North America
264 2020-10-12  Saint Kitts and Nevis  Deaths      0  North America
265 2020-10-13  Saint Kitts and Nevis  Deaths      0  North America
266 2020-10-14  Saint Kitts and Nevis  Deaths      0  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE                COUNTRY       TYPE  VALUE      CONTINENT  \
0   2020-01-22  Saint Kitts and Nevis  Recovered      0  North America
1   2020-01-23  Saint Kitts and Nevis  Recovered      0  North America
2   2020-01-24  Saint Kitts and Nevis  Recovered      0  North America
3   2020-01-25  Saint Kitts and Nevis  Recovered      0  North America
4   2020-01-26  Saint Kitts and Nevis  Recovered      0  North America
..         ...                    ...        ...    ...            ...
262 2020-10-10  Saint Kitts and Nevis  Recovered     18  North America
263 2020-10-11  Saint Kitts and Nevis  Recovered     18  North America
264 2020-10-12  Saint Kitts and Nevis  Recovered     18  North America
265 2020-10-13  Saint Kitts and Nevis  Recovered     19  North America
266 2020-10-14  Saint Kitts and Nevis  Recovered     19  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Saint Lucia  Confirmed      0  North America           0
1   2020-01-23  Saint Lucia  Confirmed      0  North America           0
2   2020-01-24  Saint Lucia  Confirmed      0  North America           0
3   2020-01-25  Saint Lucia  Confirmed      0  North America           0
4   2020-01-26  Saint Lucia  Confirmed      0  North America           0
..         ...          ...        ...    ...            ...         ...
262 2020-10-10  Saint Lucia  Confirmed     29  North America           0
263 2020-10-11  Saint Lucia  Confirmed     29  North America           0
264 2020-10-12  Saint Lucia  Confirmed     29  North America           0
265 2020-10-13  Saint Lucia  Confirmed     29  North America           0
266 2020-10-14  Saint Lucia  Confirmed     31  North America           0

[267 rows x 6 columns]
1

          DATE      COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Saint Lucia  Deaths      0  North America           0
1   2020-01-23  Saint Lucia  Deaths      0  North America           0
2   2020-01-24  Saint Lucia  Deaths      0  North America           0
3   2020-01-25  Saint Lucia  Deaths      0  North America           0
4   2020-01-26  Saint Lucia  Deaths      0  North America           0
..         ...          ...     ...    ...            ...         ...
262 2020-10-10  Saint Lucia  Deaths      0  North America           0
263 2020-10-11  Saint Lucia  Deaths      0  North America           0
264 2020-10-12  Saint Lucia  Deaths      0  North America           0
265 2020-10-13  Saint Lucia  Deaths      0  North America           0
266 2020-10-14  Saint Lucia  Deaths      0  North America           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Saint Lucia  Recovered      0  North America           0
1   2020-01-23  Saint Lucia  Recovered      0  North America           0
2   2020-01-24  Saint Lucia  Recovered      0  North America           0
3   2020-01-25  Saint Lucia  Recovered      0  North America           0
4   2020-01-26  Saint Lucia  Recovered      0  North America           0
..         ...          ...        ...    ...            ...         ...
262 2020-10-10  Saint Lucia  Recovered     27  North America           0
263 2020-10-11  Saint Lucia  Recovered     27  North America           0
264 2020-10-12  Saint Lucia  Recovered     27  North America           0
265 2020-10-13  Saint Lucia  Recovered     27  North America           0
266 2020-10-14  Saint Lucia  Recovered     27  North America           0

[267 rows x 6 columns]
1
          DATE                           COUNTRY       TYPE  VALUE  \
0   2020-01-22  Saint Vincent and the Grenadines  Confirmed      0
1   2020-01-23  Saint Vincent and the Grenadines  Confirmed      0
2   2020-01-24  Saint Vincent and the Grenadines  Confirmed      0
3   2020-01-25  Saint Vincent and the Grenadines  Confirmed      0
4   2020-01-26  Saint Vincent and the Grenadines  Confirmed      0
..         ...                               ...        ...    ...
262 2020-10-10  Saint Vincent and the Grenadines  Confirmed     64
263 2020-10-11  Saint Vincent and the Grenadines  Confirmed     64
264 2020-10-12  Saint Vincent and the Grenadines  Confirmed     64
265 2020-10-13  Saint Vincent and the Grenadines  Confirmed     64
266 2020-10-14  Saint Vincent and the Grenadines  Confirmed     64

         CONTINENT  VALUE_LAST
0    North America           0
1    North America           0
2    North America           0
3    North America           0
4    North America           0
..             ...         ...
262  North America           0
263  North America           0
264  North America           0
265  North America           0
266  North America           0

[267 rows x 6 columns]
1
          DATE                           COUNTRY    TYPE  VALUE  \
0   2020-01-22  Saint Vincent and the Grenadines  Deaths      0
1   2020-01-23  Saint Vincent and the Grenadines  Deaths      0
2   2020-01-24  Saint Vincent and the Grenadines  Deaths      0
3   2020-01-25  Saint Vincent and the Grenadines  Deaths      0
4   2020-01-26  Saint Vincent and the Grenadines  Deaths      0
..         ...                               ...     ...    ...
262 2020-10-10  Saint Vincent and the Grenadines  Deaths      0
263 2020-10-11  Saint Vincent and the Grenadines  Deaths      0
264 2020-10-12  Saint Vincent and the Grenadines  Deaths      0
265 2020-10-13  Saint Vincent and the Grenadines  Deaths      0
266 2020-10-14  Saint Vincent and the Grenadines  Deaths      0

         CONTINENT  VALUE_LAST
0    North America           0
1    North America           0
2    North America           0
3    North America           0
4    North America           0
..             ...         ...
262  North America           0
263  North America           0
264  North America           0
265  North America           0
266  North America           0

[267 rows x 6 columns]
1
          DATE                           COUNTRY       TYPE  VALUE  \
0   2020-01-22  Saint Vincent and the Grenadines  Recovered      0
1   2020-01-23  Saint Vincent and the Grenadines  Recovered      0
2   2020-01-24  Saint Vincent and the Grenadines  Recovered      0
3   2020-01-25  Saint Vincent and the Grenadines  Recovered      0
4   2020-01-26  Saint Vincent and the Grenadines  Recovered      0
..         ...                               ...        ...    ...
262 2020-10-10  Saint Vincent and the Grenadines  Recovered     64
263 2020-10-11  Saint Vincent and the Grenadines  Recovered     64
264 2020-10-12  Saint Vincent and the Grenadines  Recovered     64
265 2020-10-13  Saint Vincent and the Grenadines  Recovered     64
266 2020-10-14  Saint Vincent and the Grenadines  Recovered     64

         CONTINENT  VALUE_LAST
0    North America           0
1    North America           0
2    North America           0
3    North America           0
4    North America           0
..             ...         ...
262  North America           0
263  North America           0
264  North America           0
265  North America           0
266  North America           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  San Marino  Confirmed      0    Europe           0
1   2020-01-23  San Marino  Confirmed      0    Europe           0
2   2020-01-24  San Marino  Confirmed      0    Europe           0
3   2020-01-25  San Marino  Confirmed      0    Europe           0
4   2020-01-26  San Marino  Confirmed      0    Europe           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  San Marino  Confirmed    741    Europe           0
263 2020-10-11  San Marino  Confirmed    741    Europe           0
264 2020-10-12  San Marino  Confirmed    741    Europe           0
265 2020-10-13  San Marino  Confirmed    741    Europe           0
266 2020-10-14  San Marino  Confirmed    741    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  San Marino  Deaths      0    Europe           0
1   2020-01-23  San Marino  Deaths      0    Europe           0
2   2020-01-24  San Marino  Deaths      0    Europe           0
3   2020-01-25  San Marino  Deaths      0    Europe           0
4   2020-01-26  San Marino  Deaths      0    Europe           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  San Marino  Deaths     42    Europe           0
263 2020-10-11  San Marino  Deaths     42    Europe           0
264 2020-10-12  San Marino  Deaths     42    Europe           0
265 2020-10-13  San Marino  Deaths     42    Europe           0
266 2020-10-14  San Marino  Deaths     42    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  San Marino  Recovered      0    Europe           0
1   2020-01-23  San Marino  Recovered      0    Europe           0
2   2020-01-24  San Marino  Recovered      0    Europe           0
3   2020-01-25  San Marino  Recovered      0    Europe           0
4   2020-01-26  San Marino  Recovered      0    Europe           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  San Marino  Recovered    682    Europe           0
263 2020-10-11  San Marino  Recovered    682    Europe           0
264 2020-10-12  San Marino  Recovered    682    Europe           0
265 2020-10-13  San Marino  Recovered    682    Europe           0
266 2020-10-14  San Marino  Recovered    682    Europe           0

[267 rows x 6 columns]
1
          DATE                COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sao Tome and Principe  Confirmed      0    Africa           0
1   2020-01-23  Sao Tome and Principe  Confirmed      0    Africa           0
2   2020-01-24  Sao Tome and Principe  Confirmed      0    Africa           0
3   2020-01-25  Sao Tome and Principe  Confirmed      0    Africa           0
4   2020-01-26  Sao Tome and Principe  Confirmed      0    Africa           0
..         ...                    ...        ...    ...       ...         ...
262 2020-10-10  Sao Tome and Principe  Confirmed    922    Africa           0
263 2020-10-11  Sao Tome and Principe  Confirmed    929    Africa           0
264 2020-10-12  Sao Tome and Principe  Confirmed    929    Africa           0
265 2020-10-13  Sao Tome and Principe  Confirmed    929    Africa           0
266 2020-10-14  Sao Tome and Principe  Confirmed    929    Africa           0

[267 rows x 6 columns]
1
          DATE                COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sao Tome and Principe  Deaths      0    Africa           0
1   2020-01-23  Sao Tome and Principe  Deaths      0    Africa           0
2   2020-01-24  Sao Tome and Principe  Deaths      0    Africa           0
3   2020-01-25  Sao Tome and Principe  Deaths      0    Africa           0
4   2020-01-26  Sao Tome and Principe  Deaths      0    Africa           0
..         ...                    ...     ...    ...       ...         ...
262 2020-10-10  Sao Tome and Principe  Deaths     15    Africa           0
263 2020-10-11  Sao Tome and Principe  Deaths     15    Africa           0
264 2020-10-12  Sao Tome and Principe  Deaths     15    Africa           0
265 2020-10-13  Sao Tome and Principe  Deaths     15    Africa           0
266 2020-10-14  Sao Tome and Principe  Deaths     15    Africa           0

[267 rows x 6 columns]
1
          DATE                COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sao Tome and Principe  Recovered      0    Africa           0
1   2020-01-23  Sao Tome and Principe  Recovered      0    Africa           0
2   2020-01-24  Sao Tome and Principe  Recovered      0    Africa           0
3   2020-01-25  Sao Tome and Principe  Recovered      0    Africa           0
4   2020-01-26  Sao Tome and Principe  Recovered      0    Africa           0
..         ...                    ...        ...    ...       ...         ...
262 2020-10-10  Sao Tome and Principe  Recovered    890    Africa           0
263 2020-10-11  Sao Tome and Principe  Recovered    892    Africa           0
264 2020-10-12  Sao Tome and Principe  Recovered    895    Africa           0
265 2020-10-13  Sao Tome and Principe  Recovered    895    Africa           0
266 2020-10-14  Sao Tome and Principe  Recovered    896    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Saudi Arabia  Confirmed       0      Asia           0
1   2020-01-23  Saudi Arabia  Confirmed       0      Asia           0
2   2020-01-24  Saudi Arabia  Confirmed       0      Asia           0
3   2020-01-25  Saudi Arabia  Confirmed       0      Asia           0
4   2020-01-26  Saudi Arabia  Confirmed       0      Asia           0
..         ...           ...        ...     ...       ...         ...
262 2020-10-10  Saudi Arabia  Confirmed  338944      Asia           0
263 2020-10-11  Saudi Arabia  Confirmed  339267      Asia           0
264 2020-10-12  Saudi Arabia  Confirmed  339615      Asia           0
265 2020-10-13  Saudi Arabia  Confirmed  340089      Asia           0
266 2020-10-14  Saudi Arabia  Confirmed  340590      Asia           0

[267 rows x 6 columns]
1
          DATE       COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Saudi Arabia  Deaths      0      Asia           0
1   2020-01-23  Saudi Arabia  Deaths      0      Asia           0
2   2020-01-24  Saudi Arabia  Deaths      0      Asia           0
3   2020-01-25  Saudi Arabia  Deaths      0      Asia           0
4   2020-01-26  Saudi Arabia  Deaths      0      Asia           0
..         ...           ...     ...    ...       ...         ...
262 2020-10-10  Saudi Arabia  Deaths   5018      Asia           0
263 2020-10-11  Saudi Arabia  Deaths   5043      Asia           0
264 2020-10-12  Saudi Arabia  Deaths   5068      Asia           0
265 2020-10-13  Saudi Arabia  Deaths   5087      Asia           0
266 2020-10-14  Saudi Arabia  Deaths   5108      Asia           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Saudi Arabia  Recovered       0      Asia           0
1   2020-01-23  Saudi Arabia  Recovered       0      Asia           0
2   2020-01-24  Saudi Arabia  Recovered       0      Asia           0
3   2020-01-25  Saudi Arabia  Recovered       0      Asia           0
4   2020-01-26  Saudi Arabia  Recovered       0      Asia           0
..         ...           ...        ...     ...       ...         ...
262 2020-10-10  Saudi Arabia  Recovered  324737      Asia           0
263 2020-10-11  Saudi Arabia  Recovered  325330      Asia           0
264 2020-10-12  Saudi Arabia  Recovered  325839      Asia           0
265 2020-10-13  Saudi Arabia  Recovered  326339      Asia           0
266 2020-10-14  Saudi Arabia  Recovered  326820      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Senegal  Confirmed      0    Africa           0
1   2020-01-23  Senegal  Confirmed      0    Africa           0
2   2020-01-24  Senegal  Confirmed      0    Africa           0
3   2020-01-25  Senegal  Confirmed      0    Africa           0
4   2020-01-26  Senegal  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Senegal  Confirmed  15244    Africa           0
263 2020-10-11  Senegal  Confirmed  15268    Africa           0
264 2020-10-12  Senegal  Confirmed  15292    Africa           0
265 2020-10-13  Senegal  Confirmed  15307    Africa           0
266 2020-10-14  Senegal  Confirmed  15331    Africa           0

[267 rows x 6 columns]

1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Senegal  Deaths      0    Africa           0
1   2020-01-23  Senegal  Deaths      0    Africa           0
2   2020-01-24  Senegal  Deaths      0    Africa           0
3   2020-01-25  Senegal  Deaths      0    Africa           0
4   2020-01-26  Senegal  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Senegal  Deaths    314    Africa           0
263 2020-10-11  Senegal  Deaths    314    Africa           0
264 2020-10-12  Senegal  Deaths    315    Africa           0
265 2020-10-13  Senegal  Deaths    315    Africa           0
266 2020-10-14  Senegal  Deaths    316    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Senegal  Recovered      0    Africa           0
1   2020-01-23  Senegal  Recovered      0    Africa           0
2   2020-01-24  Senegal  Recovered      0    Africa           0
3   2020-01-25  Senegal  Recovered      0    Africa           0
4   2020-01-26  Senegal  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Senegal  Recovered  13198    Africa           0
263 2020-10-11  Senegal  Recovered  13297    Africa           0
264 2020-10-12  Senegal  Recovered  13390    Africa           0
265 2020-10-13  Senegal  Recovered  13508    Africa           0
266 2020-10-14  Senegal  Recovered  13571    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Serbia  Confirmed      0    Europe           0
1   2020-01-23  Serbia  Confirmed      0    Europe           0
2   2020-01-24  Serbia  Confirmed      0    Europe           0
3   2020-01-25  Serbia  Confirmed      0    Europe           0
4   2020-01-26  Serbia  Confirmed      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Serbia  Confirmed  34685    Europe           0
263 2020-10-11  Serbia  Confirmed  34787    Europe           0
264 2020-10-12  Serbia  Confirmed  34854    Europe           0
265 2020-10-13  Serbia  Confirmed  35006    Europe           0
266 2020-10-14  Serbia  Confirmed  35251    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Serbia  Deaths      0    Europe           0
1   2020-01-23  Serbia  Deaths      0    Europe           0
2   2020-01-24  Serbia  Deaths      0    Europe           0
3   2020-01-25  Serbia  Deaths      0    Europe           0
4   2020-01-26  Serbia  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Serbia  Deaths    762    Europe           0
263 2020-10-11  Serbia  Deaths    763    Europe           0
264 2020-10-12  Serbia  Deaths    765    Europe           0
265 2020-10-13  Serbia  Deaths    767    Europe           0
266 2020-10-14  Serbia  Deaths    768    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Serbia  Recovered      0    Europe           0
1   2020-01-23  Serbia  Recovered      0    Europe           0
2   2020-01-24  Serbia  Recovered      0    Europe           0
3   2020-01-25  Serbia  Recovered      0    Europe           0
4   2020-01-26  Serbia  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Serbia  Recovered      0    Europe           0
263 2020-10-11  Serbia  Recovered      0    Europe           0
264 2020-10-12  Serbia  Recovered      0    Europe           0
265 2020-10-13  Serbia  Recovered      0    Europe           0
266 2020-10-14  Serbia  Recovered      0    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Seychelles  Confirmed      0    Africa           0
1   2020-01-23  Seychelles  Confirmed      0    Africa           0
2   2020-01-24  Seychelles  Confirmed      0    Africa           0
3   2020-01-25  Seychelles  Confirmed      0    Africa           0
4   2020-01-26  Seychelles  Confirmed      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Seychelles  Confirmed    148    Africa           0
263 2020-10-11  Seychelles  Confirmed    148    Africa           0
264 2020-10-12  Seychelles  Confirmed    148    Africa           0
265 2020-10-13  Seychelles  Confirmed    148    Africa           0
266 2020-10-14  Seychelles  Confirmed    148    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Seychelles  Deaths      0    Africa           0
1   2020-01-23  Seychelles  Deaths      0    Africa           0
2   2020-01-24  Seychelles  Deaths      0    Africa           0
3   2020-01-25  Seychelles  Deaths      0    Africa           0
4   2020-01-26  Seychelles  Deaths      0    Africa           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Seychelles  Deaths      0    Africa           0
263 2020-10-11  Seychelles  Deaths      0    Africa           0
264 2020-10-12  Seychelles  Deaths      0    Africa           0
265 2020-10-13  Seychelles  Deaths      0    Africa           0
266 2020-10-14  Seychelles  Deaths      0    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Seychelles  Recovered      0    Africa           0
1   2020-01-23  Seychelles  Recovered      0    Africa           0
2   2020-01-24  Seychelles  Recovered      0    Africa           0
3   2020-01-25  Seychelles  Recovered      0    Africa           0
4   2020-01-26  Seychelles  Recovered      0    Africa           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Seychelles  Recovered    144    Africa           0
263 2020-10-11  Seychelles  Recovered    144    Africa           0
264 2020-10-12  Seychelles  Recovered    144    Africa           0
265 2020-10-13  Seychelles  Recovered    144    Africa           0
266 2020-10-14  Seychelles  Recovered    144    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sierra Leone  Confirmed      0    Africa           0
1   2020-01-23  Sierra Leone  Confirmed      0    Africa           0
2   2020-01-24  Sierra Leone  Confirmed      0    Africa           0
3   2020-01-25  Sierra Leone  Confirmed      0    Africa           0
4   2020-01-26  Sierra Leone  Confirmed      0    Africa           0
..         ...           ...        ...    ...       ...         ...
262 2020-10-10  Sierra Leone  Confirmed   2300    Africa           0
263 2020-10-11  Sierra Leone  Confirmed   2306    Africa           0
264 2020-10-12  Sierra Leone  Confirmed   2306    Africa           0
265 2020-10-13  Sierra Leone  Confirmed   2309    Africa           0
266 2020-10-14  Sierra Leone  Confirmed   2315    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sierra Leone  Deaths      0    Africa           0
1   2020-01-23  Sierra Leone  Deaths      0    Africa           0
2   2020-01-24  Sierra Leone  Deaths      0    Africa           0
3   2020-01-25  Sierra Leone  Deaths      0    Africa           0
4   2020-01-26  Sierra Leone  Deaths      0    Africa           0
..         ...           ...     ...    ...       ...         ...
262 2020-10-10  Sierra Leone  Deaths     72    Africa           0
263 2020-10-11  Sierra Leone  Deaths     72    Africa           0
264 2020-10-12  Sierra Leone  Deaths     72    Africa           0
265 2020-10-13  Sierra Leone  Deaths     72    Africa           0
266 2020-10-14  Sierra Leone  Deaths     73    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sierra Leone  Recovered      0    Africa           0
1   2020-01-23  Sierra Leone  Recovered      0    Africa           0
2   2020-01-24  Sierra Leone  Recovered      0    Africa           0
3   2020-01-25  Sierra Leone  Recovered      0    Africa           0
4   2020-01-26  Sierra Leone  Recovered      0    Africa           0
..         ...           ...        ...    ...       ...         ...
262 2020-10-10  Sierra Leone  Recovered   1725    Africa           0
263 2020-10-11  Sierra Leone  Recovered   1736    Africa           0
264 2020-10-12  Sierra Leone  Recovered   1736    Africa           0
265 2020-10-13  Sierra Leone  Recovered   1738    Africa           0
266 2020-10-14  Sierra Leone  Recovered   1743    Africa           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Singapore  Confirmed      0      Asia           0
1   2020-01-23  Singapore  Confirmed      1      Asia           0
2   2020-01-24  Singapore  Confirmed      3      Asia           0
3   2020-01-25  Singapore  Confirmed      3      Asia           0
4   2020-01-26  Singapore  Confirmed      4      Asia           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Singapore  Confirmed  57866      Asia           0
263 2020-10-11  Singapore  Confirmed  57876      Asia           0
264 2020-10-12  Singapore  Confirmed  57880      Asia           0
265 2020-10-13  Singapore  Confirmed  57884      Asia           0
266 2020-10-14  Singapore  Confirmed  57889      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Singapore  Deaths      0      Asia           0
1   2020-01-23  Singapore  Deaths      0      Asia           0
2   2020-01-24  Singapore  Deaths      0      Asia           0
3   2020-01-25  Singapore  Deaths      0      Asia           0
4   2020-01-26  Singapore  Deaths      0      Asia           0
..         ...        ...     ...    ...       ...         ...
262 2020-10-10  Singapore  Deaths     27      Asia           0
263 2020-10-11  Singapore  Deaths     27      Asia           0
264 2020-10-12  Singapore  Deaths     28      Asia           0
265 2020-10-13  Singapore  Deaths     28      Asia           0
266 2020-10-14  Singapore  Deaths     28      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Singapore  Recovered      0      Asia           0
1   2020-01-23  Singapore  Recovered      0      Asia           0
2   2020-01-24  Singapore  Recovered      0      Asia           0
3   2020-01-25  Singapore  Recovered      0      Asia           0
4   2020-01-26  Singapore  Recovered      0      Asia           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Singapore  Recovered  57698      Asia           0
263 2020-10-11  Singapore  Recovered  57705      Asia           0
264 2020-10-12  Singapore  Recovered  57728      Asia           0
265 2020-10-13  Singapore  Recovered  57740      Asia           0
266 2020-10-14  Singapore  Recovered  57752      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovakia  Confirmed      0    Europe           0
1   2020-01-23  Slovakia  Confirmed      0    Europe           0
2   2020-01-24  Slovakia  Confirmed      0    Europe           0
3   2020-01-25  Slovakia  Confirmed      0    Europe           0
4   2020-01-26  Slovakia  Confirmed      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Slovakia  Confirmed  18797    Europe           0
263 2020-10-11  Slovakia  Confirmed  19851    Europe           0
264 2020-10-12  Slovakia  Confirmed  20355    Europe           0
265 2020-10-13  Slovakia  Confirmed  20886    Europe           0
266 2020-10-14  Slovakia  Confirmed  22296    Europe           0

[267 rows x 6 columns]

1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovakia  Deaths      0    Europe           0
1   2020-01-23  Slovakia  Deaths      0    Europe           0
2   2020-01-24  Slovakia  Deaths      0    Europe           0
3   2020-01-25  Slovakia  Deaths      0    Europe           0
4   2020-01-26  Slovakia  Deaths      0    Europe           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Slovakia  Deaths     61    Europe           0
263 2020-10-11  Slovakia  Deaths     61    Europe           0
264 2020-10-12  Slovakia  Deaths     61    Europe           0
265 2020-10-13  Slovakia  Deaths     61    Europe           0
266 2020-10-14  Slovakia  Deaths     66    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovakia  Recovered      0    Europe           0
1   2020-01-23  Slovakia  Recovered      0    Europe           0
2   2020-01-24  Slovakia  Recovered      0    Europe           0
3   2020-01-25  Slovakia  Recovered      0    Europe           0
4   2020-01-26  Slovakia  Recovered      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Slovakia  Recovered   5553    Europe           0
263 2020-10-11  Slovakia  Recovered   5631    Europe           0
264 2020-10-12  Slovakia  Recovered   6031    Europe           0
265 2020-10-13  Slovakia  Recovered   6388    Europe           0
266 2020-10-14  Slovakia  Recovered   6709    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovenia  Confirmed      0    Europe           0
1   2020-01-23  Slovenia  Confirmed      0    Europe           0
2   2020-01-24  Slovenia  Confirmed      0    Europe           0
3   2020-01-25  Slovenia  Confirmed      0    Europe           0
4   2020-01-26  Slovenia  Confirmed      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Slovenia  Confirmed   8252    Europe           0
263 2020-10-11  Slovenia  Confirmed   8663    Europe           0
264 2020-10-12  Slovenia  Confirmed   8832    Europe           0
265 2020-10-13  Slovenia  Confirmed   9231    Europe           0
266 2020-10-14  Slovenia  Confirmed   9938    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovenia  Deaths      0    Europe           0
1   2020-01-23  Slovenia  Deaths      0    Europe           0
2   2020-01-24  Slovenia  Deaths      0    Europe           0
3   2020-01-25  Slovenia  Deaths      0    Europe           0
4   2020-01-26  Slovenia  Deaths      0    Europe           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Slovenia  Deaths    167    Europe           0
263 2020-10-11  Slovenia  Deaths    167    Europe           0
264 2020-10-12  Slovenia  Deaths    169    Europe           0
265 2020-10-13  Slovenia  Deaths    173    Europe           0
266 2020-10-14  Slovenia  Deaths    175    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovenia  Recovered      0    Europe           0
1   2020-01-23  Slovenia  Recovered      0    Europe           0
2   2020-01-24  Slovenia  Recovered      0    Europe           0
3   2020-01-25  Slovenia  Recovered      0    Europe           0
4   2020-01-26  Slovenia  Recovered      0    Europe           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Slovenia  Recovered   5024    Europe           0
263 2020-10-11  Slovenia  Recovered   5182    Europe           0
264 2020-10-12  Slovenia  Recovered   5219    Europe           0
265 2020-10-13  Slovenia  Recovered   5314    Europe           0
266 2020-10-14  Slovenia  Recovered   5515    Europe           0

[267 rows x 6 columns]
1
          DATE          COUNTRY       TYPE  VALUE       CONTINENT  VALUE_LAST
0   2020-01-22  Solomon Islands  Confirmed      0  To be affected           0
1   2020-01-23  Solomon Islands  Confirmed      0  To be affected           0
2   2020-01-24  Solomon Islands  Confirmed      0  To be affected           0
3   2020-01-25  Solomon Islands  Confirmed      0  To be affected           0
4   2020-01-26  Solomon Islands  Confirmed      0  To be affected           0
..         ...              ...        ...    ...             ...         ...
262 2020-10-10  Solomon Islands  Confirmed      0  To be affected           0
263 2020-10-11  Solomon Islands  Confirmed      0  To be affected           0
264 2020-10-12  Solomon Islands  Confirmed      2  To be affected           0
265 2020-10-13  Solomon Islands  Confirmed      2  To be affected           0
266 2020-10-14  Solomon Islands  Confirmed      2  To be affected           0

[267 rows x 6 columns]
1
          DATE          COUNTRY    TYPE  VALUE       CONTINENT  VALUE_LAST
0   2020-01-22  Solomon Islands  Deaths      0  To be affected           0
1   2020-01-23  Solomon Islands  Deaths      0  To be affected           0
2   2020-01-24  Solomon Islands  Deaths      0  To be affected           0
3   2020-01-25  Solomon Islands  Deaths      0  To be affected           0
4   2020-01-26  Solomon Islands  Deaths      0  To be affected           0
..         ...              ...     ...    ...             ...         ...
262 2020-10-10  Solomon Islands  Deaths      0  To be affected           0
263 2020-10-11  Solomon Islands  Deaths      0  To be affected           0
264 2020-10-12  Solomon Islands  Deaths      0  To be affected           0
265 2020-10-13  Solomon Islands  Deaths      0  To be affected           0
266 2020-10-14  Solomon Islands  Deaths      0  To be affected           0

[267 rows x 6 columns]
1
          DATE          COUNTRY       TYPE  VALUE       CONTINENT  VALUE_LAST
0   2020-01-22  Solomon Islands  Recovered      0  To be affected           0
1   2020-01-23  Solomon Islands  Recovered      0  To be affected           0
2   2020-01-24  Solomon Islands  Recovered      0  To be affected           0
3   2020-01-25  Solomon Islands  Recovered      0  To be affected           0
4   2020-01-26  Solomon Islands  Recovered      0  To be affected           0
..         ...              ...        ...    ...             ...         ...
262 2020-10-10  Solomon Islands  Recovered      0  To be affected           0
263 2020-10-11  Solomon Islands  Recovered      0  To be affected           0
264 2020-10-12  Solomon Islands  Recovered      0  To be affected           0
265 2020-10-13  Solomon Islands  Recovered      0  To be affected           0
266 2020-10-14  Solomon Islands  Recovered      0  To be affected           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Somalia  Confirmed      0    Africa           0
1   2020-01-23  Somalia  Confirmed      0    Africa           0
2   2020-01-24  Somalia  Confirmed      0    Africa           0
3   2020-01-25  Somalia  Confirmed      0    Africa           0
4   2020-01-26  Somalia  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Somalia  Confirmed   3847    Africa           0
263 2020-10-11  Somalia  Confirmed   3864    Africa           0
264 2020-10-12  Somalia  Confirmed   3864    Africa           0
265 2020-10-13  Somalia  Confirmed   3864    Africa           0
266 2020-10-14  Somalia  Confirmed   3864    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Somalia  Deaths      0    Africa           0
1   2020-01-23  Somalia  Deaths      0    Africa           0
2   2020-01-24  Somalia  Deaths      0    Africa           0
3   2020-01-25  Somalia  Deaths      0    Africa           0
4   2020-01-26  Somalia  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Somalia  Deaths     99    Africa           0
263 2020-10-11  Somalia  Deaths     99    Africa           0
264 2020-10-12  Somalia  Deaths     99    Africa           0
265 2020-10-13  Somalia  Deaths     99    Africa           0
266 2020-10-14  Somalia  Deaths     99    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Somalia  Recovered      0    Africa           0
1   2020-01-23  Somalia  Recovered      0    Africa           0
2   2020-01-24  Somalia  Recovered      0    Africa           0
3   2020-01-25  Somalia  Recovered      0    Africa           0
4   2020-01-26  Somalia  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Somalia  Recovered   3079    Africa           0
263 2020-10-11  Somalia  Recovered   3089    Africa           0
264 2020-10-12  Somalia  Recovered   3089    Africa           0
265 2020-10-13  Somalia  Recovered   3089    Africa           0
266 2020-10-14  Somalia  Recovered   3089    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Africa  Confirmed       0    Africa           0
1   2020-01-23  South Africa  Confirmed       0    Africa           0
2   2020-01-24  South Africa  Confirmed       0    Africa           0
3   2020-01-25  South Africa  Confirmed       0    Africa           0
4   2020-01-26  South Africa  Confirmed       0    Africa           0
..         ...           ...        ...     ...       ...         ...
262 2020-10-10  South Africa  Confirmed  690896    Africa           0
263 2020-10-11  South Africa  Confirmed  692471    Africa           0
264 2020-10-12  South Africa  Confirmed  693359    Africa           0
265 2020-10-13  South Africa  Confirmed  694537    Africa           0
266 2020-10-14  South Africa  Confirmed  696414    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Africa  Deaths      0    Africa           0
1   2020-01-23  South Africa  Deaths      0    Africa           0
2   2020-01-24  South Africa  Deaths      0    Africa           0
3   2020-01-25  South Africa  Deaths      0    Africa           0
4   2020-01-26  South Africa  Deaths      0    Africa           0
..         ...           ...     ...    ...       ...         ...
262 2020-10-10  South Africa  Deaths  17673    Africa           0
263 2020-10-11  South Africa  Deaths  17780    Africa           0
264 2020-10-12  South Africa  Deaths  17863    Africa           0
265 2020-10-13  South Africa  Deaths  18028    Africa           0
266 2020-10-14  South Africa  Deaths  18151    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Africa  Recovered       0    Africa           0
1   2020-01-23  South Africa  Recovered       0    Africa           0
2   2020-01-24  South Africa  Recovered       0    Africa           0
3   2020-01-25  South Africa  Recovered       0    Africa           0
4   2020-01-26  South Africa  Recovered       0    Africa           0
..         ...           ...        ...     ...       ...         ...
262 2020-10-10  South Africa  Recovered  622153    Africa           0
263 2020-10-11  South Africa  Recovered  623765    Africa           0
264 2020-10-12  South Africa  Recovered  624659    Africa           0
265 2020-10-13  South Africa  Recovered  625574    Africa           0
266 2020-10-14  South Africa  Recovered  626898    Africa           0

[267 rows x 6 columns]

1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Sudan  Confirmed      0    Africa           0
1   2020-01-23  South Sudan  Confirmed      0    Africa           0
2   2020-01-24  South Sudan  Confirmed      0    Africa           0
3   2020-01-25  South Sudan  Confirmed      0    Africa           0
4   2020-01-26  South Sudan  Confirmed      0    Africa           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  South Sudan  Confirmed   2761    Africa           0
263 2020-10-11  South Sudan  Confirmed   2777    Africa           0
264 2020-10-12  South Sudan  Confirmed   2787    Africa           0
265 2020-10-13  South Sudan  Confirmed   2798    Africa           0
266 2020-10-14  South Sudan  Confirmed   2798    Africa           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Sudan  Deaths      0    Africa           0
1   2020-01-23  South Sudan  Deaths      0    Africa           0
2   2020-01-24  South Sudan  Deaths      0    Africa           0
3   2020-01-25  South Sudan  Deaths      0    Africa           0
4   2020-01-26  South Sudan  Deaths      0    Africa           0
..         ...          ...     ...    ...       ...         ...
262 2020-10-10  South Sudan  Deaths     54    Africa           0
263 2020-10-11  South Sudan  Deaths     55    Africa           0
264 2020-10-12  South Sudan  Deaths     55    Africa           0
265 2020-10-13  South Sudan  Deaths     55    Africa           0
266 2020-10-14  South Sudan  Deaths     55    Africa           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Sudan  Recovered      0    Africa           0
1   2020-01-23  South Sudan  Recovered      0    Africa           0
2   2020-01-24  South Sudan  Recovered      0    Africa           0
3   2020-01-25  South Sudan  Recovered      0    Africa           0
4   2020-01-26  South Sudan  Recovered      0    Africa           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  South Sudan  Recovered   1290    Africa           0
263 2020-10-11  South Sudan  Recovered   1290    Africa           0
264 2020-10-12  South Sudan  Recovered   1290    Africa           0
265 2020-10-13  South Sudan  Recovered   1290    Africa           0
266 2020-10-14  South Sudan  Recovered   1290    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Spain  Confirmed       0    Europe           0
1   2020-01-23   Spain  Confirmed       0    Europe           0
2   2020-01-24   Spain  Confirmed       0    Europe           0
3   2020-01-25   Spain  Confirmed       0    Europe           0
4   2020-01-26   Spain  Confirmed       0    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Spain  Confirmed  861112    Europe           0
263 2020-10-11   Spain  Confirmed  861112    Europe           0
264 2020-10-12   Spain  Confirmed  888968    Europe           0
265 2020-10-13   Spain  Confirmed  896086    Europe           0
266 2020-10-14   Spain  Confirmed  908056    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Spain  Deaths      0    Europe           0
1   2020-01-23   Spain  Deaths      0    Europe           0
2   2020-01-24   Spain  Deaths      0    Europe           0
3   2020-01-25   Spain  Deaths      0    Europe           0
4   2020-01-26   Spain  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Spain  Deaths  32929    Europe           0
263 2020-10-11   Spain  Deaths  32929    Europe           0
264 2020-10-12   Spain  Deaths  33124    Europe           0
265 2020-10-13   Spain  Deaths  33204    Europe           0
266 2020-10-14   Spain  Deaths  33413    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Spain  Recovered       0    Europe           0
1   2020-01-23   Spain  Recovered       0    Europe           0
2   2020-01-24   Spain  Recovered       0    Europe           0
3   2020-01-25   Spain  Recovered       0    Europe           0
4   2020-01-26   Spain  Recovered       0    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10   Spain  Recovered  150376    Europe           0
263 2020-10-11   Spain  Recovered  150376    Europe           0
264 2020-10-12   Spain  Recovered  150376    Europe           0
265 2020-10-13   Spain  Recovered  150376    Europe           0
266 2020-10-14   Spain  Recovered  150376    Europe           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sri Lanka  Confirmed      0      Asia           0
1   2020-01-23  Sri Lanka  Confirmed      0      Asia           0
2   2020-01-24  Sri Lanka  Confirmed      0      Asia           0
3   2020-01-25  Sri Lanka  Confirmed      0      Asia           0
4   2020-01-26  Sri Lanka  Confirmed      0      Asia           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Sri Lanka  Confirmed   4628      Asia           0
263 2020-10-11  Sri Lanka  Confirmed   4752      Asia           0
264 2020-10-12  Sri Lanka  Confirmed   4844      Asia           0
265 2020-10-13  Sri Lanka  Confirmed   5038      Asia           0
266 2020-10-14  Sri Lanka  Confirmed   5170      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sri Lanka  Deaths      0      Asia           0
1   2020-01-23  Sri Lanka  Deaths      0      Asia           0
2   2020-01-24  Sri Lanka  Deaths      0      Asia           0
3   2020-01-25  Sri Lanka  Deaths      0      Asia           0
4   2020-01-26  Sri Lanka  Deaths      0      Asia           0
..         ...        ...     ...    ...       ...         ...
262 2020-10-10  Sri Lanka  Deaths     13      Asia           0
263 2020-10-11  Sri Lanka  Deaths     13      Asia           0
264 2020-10-12  Sri Lanka  Deaths     13      Asia           0
265 2020-10-13  Sri Lanka  Deaths     13      Asia           0
266 2020-10-14  Sri Lanka  Deaths     13      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sri Lanka  Recovered      0      Asia           0
1   2020-01-23  Sri Lanka  Recovered      0      Asia           0
2   2020-01-24  Sri Lanka  Recovered      0      Asia           0
3   2020-01-25  Sri Lanka  Recovered      0      Asia           0
4   2020-01-26  Sri Lanka  Recovered      0      Asia           0
..         ...        ...        ...    ...       ...         ...
262 2020-10-10  Sri Lanka  Recovered   3306      Asia           0
263 2020-10-11  Sri Lanka  Recovered   3307      Asia           0
264 2020-10-12  Sri Lanka  Recovered   3317      Asia           0
265 2020-10-13  Sri Lanka  Recovered   3328      Asia           0
266 2020-10-14  Sri Lanka  Recovered   3357      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Sudan  Confirmed      0    Africa           0
1   2020-01-23   Sudan  Confirmed      0    Africa           0
2   2020-01-24   Sudan  Confirmed      0    Africa           0
3   2020-01-25   Sudan  Confirmed      0    Africa           0
4   2020-01-26   Sudan  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Sudan  Confirmed  13670    Africa           0
263 2020-10-11   Sudan  Confirmed  13673    Africa           0
264 2020-10-12   Sudan  Confirmed  13691    Africa           0
265 2020-10-13   Sudan  Confirmed  13691    Africa           0
266 2020-10-14   Sudan  Confirmed  13691    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Sudan  Deaths      0    Africa           0
1   2020-01-23   Sudan  Deaths      0    Africa           0
2   2020-01-24   Sudan  Deaths      0    Africa           0
3   2020-01-25   Sudan  Deaths      0    Africa           0
4   2020-01-26   Sudan  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Sudan  Deaths    836    Africa           0
263 2020-10-11   Sudan  Deaths    836    Africa           0
264 2020-10-12   Sudan  Deaths    836    Africa           0
265 2020-10-13   Sudan  Deaths    836    Africa           0
266 2020-10-14   Sudan  Deaths    836    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Sudan  Recovered      0    Africa           0
1   2020-01-23   Sudan  Recovered      0    Africa           0
2   2020-01-24   Sudan  Recovered      0    Africa           0
3   2020-01-25   Sudan  Recovered      0    Africa           0
4   2020-01-26   Sudan  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Sudan  Recovered   6764    Africa           0
263 2020-10-11   Sudan  Recovered   6764    Africa           0
264 2020-10-12   Sudan  Recovered   6764    Africa           0
265 2020-10-13   Sudan  Recovered   6764    Africa           0
266 2020-10-14   Sudan  Recovered   6764    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Suriname  Confirmed      0  South America           0
1   2020-01-23  Suriname  Confirmed      0  South America           0
2   2020-01-24  Suriname  Confirmed      0  South America           0
3   2020-01-25  Suriname  Confirmed      0  South America           0
4   2020-01-26  Suriname  Confirmed      0  South America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Suriname  Confirmed   5035  South America           0
263 2020-10-11  Suriname  Confirmed   5051  South America           0
264 2020-10-12  Suriname  Confirmed   5058  South America           0
265 2020-10-13  Suriname  Confirmed   5072  South America           0
266 2020-10-14  Suriname  Confirmed   5083  South America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Suriname  Deaths      0  South America           0
1   2020-01-23  Suriname  Deaths      0  South America           0
2   2020-01-24  Suriname  Deaths      0  South America           0
3   2020-01-25  Suriname  Deaths      0  South America           0
4   2020-01-26  Suriname  Deaths      0  South America           0
..         ...       ...     ...    ...            ...         ...
262 2020-10-10  Suriname  Deaths    107  South America           0
263 2020-10-11  Suriname  Deaths    107  South America           0
264 2020-10-12  Suriname  Deaths    107  South America           0
265 2020-10-13  Suriname  Deaths    107  South America           0
266 2020-10-14  Suriname  Deaths    108  South America           0

[267 rows x 6 columns]

1
          DATE   COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Suriname  Recovered      0  South America           0
1   2020-01-23  Suriname  Recovered      0  South America           0
2   2020-01-24  Suriname  Recovered      0  South America           0
3   2020-01-25  Suriname  Recovered      0  South America           0
4   2020-01-26  Suriname  Recovered      0  South America           0
..         ...       ...        ...    ...            ...         ...
262 2020-10-10  Suriname  Recovered   4830  South America           0
263 2020-10-11  Suriname  Recovered   4845  South America           0
264 2020-10-12  Suriname  Recovered   4862  South America           0
265 2020-10-13  Suriname  Recovered   4870  South America           0
266 2020-10-14  Suriname  Recovered   4886  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sweden  Confirmed       0    Europe           0
1   2020-01-23  Sweden  Confirmed       0    Europe           0
2   2020-01-24  Sweden  Confirmed       0    Europe           0
3   2020-01-25  Sweden  Confirmed       0    Europe           0
4   2020-01-26  Sweden  Confirmed       0    Europe           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Sweden  Confirmed   98451    Europe           0
263 2020-10-11  Sweden  Confirmed   98451    Europe           0
264 2020-10-12  Sweden  Confirmed   98451    Europe           0
265 2020-10-13  Sweden  Confirmed  100654    Europe           0
266 2020-10-14  Sweden  Confirmed  101332    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sweden  Deaths      0    Europe           0
1   2020-01-23  Sweden  Deaths      0    Europe           0
2   2020-01-24  Sweden  Deaths      0    Europe           0
3   2020-01-25  Sweden  Deaths      0    Europe           0
4   2020-01-26  Sweden  Deaths      0    Europe           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Sweden  Deaths   5894    Europe           0
263 2020-10-11  Sweden  Deaths   5894    Europe           0
264 2020-10-12  Sweden  Deaths   5894    Europe           0
265 2020-10-13  Sweden  Deaths   5899    Europe           0
266 2020-10-14  Sweden  Deaths   5907    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sweden  Recovered      0    Europe           0
1   2020-01-23  Sweden  Recovered      0    Europe           0
2   2020-01-24  Sweden  Recovered      0    Europe           0
3   2020-01-25  Sweden  Recovered      0    Europe           0
4   2020-01-26  Sweden  Recovered      0    Europe           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Sweden  Recovered      0    Europe           0
263 2020-10-11  Sweden  Recovered      0    Europe           0
264 2020-10-12  Sweden  Recovered      0    Europe           0
265 2020-10-13  Sweden  Recovered      0    Europe           0
266 2020-10-14  Sweden  Recovered      0    Europe           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Switzerland  Confirmed      0    Europe           0
1   2020-01-23  Switzerland  Confirmed      0    Europe           0
2   2020-01-24  Switzerland  Confirmed      0    Europe           0
3   2020-01-25  Switzerland  Confirmed      0    Europe           0
4   2020-01-26  Switzerland  Confirmed      0    Europe           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  Switzerland  Confirmed  60368    Europe           0
263 2020-10-11  Switzerland  Confirmed  60368    Europe           0
264 2020-10-12  Switzerland  Confirmed  64436    Europe           0
265 2020-10-13  Switzerland  Confirmed  65881    Europe           0
266 2020-10-14  Switzerland  Confirmed  68704    Europe           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Switzerland  Deaths      0    Europe           0
1   2020-01-23  Switzerland  Deaths      0    Europe           0
2   2020-01-24  Switzerland  Deaths      0    Europe           0
3   2020-01-25  Switzerland  Deaths      0    Europe           0
4   2020-01-26  Switzerland  Deaths      0    Europe           0
..         ...          ...     ...    ...       ...         ...
262 2020-10-10  Switzerland  Deaths   2088    Europe           0
263 2020-10-11  Switzerland  Deaths   2088    Europe           0
264 2020-10-12  Switzerland  Deaths   2096    Europe           0
265 2020-10-13  Switzerland  Deaths   2103    Europe           0
266 2020-10-14  Switzerland  Deaths   2109    Europe           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Switzerland  Recovered      0    Europe           0
1   2020-01-23  Switzerland  Recovered      0    Europe           0
2   2020-01-24  Switzerland  Recovered      0    Europe           0
3   2020-01-25  Switzerland  Recovered      0    Europe           0
4   2020-01-26  Switzerland  Recovered      0    Europe           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  Switzerland  Recovered  48400    Europe           0
263 2020-10-11  Switzerland  Recovered  48400    Europe           0
264 2020-10-12  Switzerland  Recovered  49500    Europe           0
265 2020-10-13  Switzerland  Recovered  49800    Europe           0
266 2020-10-14  Switzerland  Recovered  49800    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Syria  Confirmed      0      Asia           0
1   2020-01-23   Syria  Confirmed      0      Asia           0
2   2020-01-24   Syria  Confirmed      0      Asia           0
3   2020-01-25   Syria  Confirmed      0      Asia           0
4   2020-01-26   Syria  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Syria  Confirmed   4673      Asia           0
263 2020-10-11   Syria  Confirmed   4718      Asia           0
264 2020-10-12   Syria  Confirmed   4774      Asia           0
265 2020-10-13   Syria  Confirmed   4826      Asia           0
266 2020-10-14   Syria  Confirmed   4883      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Syria  Deaths      0      Asia           0
1   2020-01-23   Syria  Deaths      0      Asia           0
2   2020-01-24   Syria  Deaths      0      Asia           0
3   2020-01-25   Syria  Deaths      0      Asia           0
4   2020-01-26   Syria  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Syria  Deaths    221      Asia           0
263 2020-10-11   Syria  Deaths    224      Asia           0
264 2020-10-12   Syria  Deaths    228      Asia           0
265 2020-10-13   Syria  Deaths    231      Asia           0
266 2020-10-14   Syria  Deaths    234      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Syria  Recovered      0      Asia           0
1   2020-01-23   Syria  Recovered      0      Asia           0
2   2020-01-24   Syria  Recovered      0      Asia           0
3   2020-01-25   Syria  Recovered      0      Asia           0
4   2020-01-26   Syria  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Syria  Recovered   1271      Asia           0
263 2020-10-11   Syria  Recovered   1296      Asia           0
264 2020-10-12   Syria  Recovered   1331      Asia           0
265 2020-10-13   Syria  Recovered   1364      Asia           0
266 2020-10-14   Syria  Recovered   1389      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Taiwan*  Confirmed      1      Asia           1
1   2020-01-23  Taiwan*  Confirmed      1      Asia           1
2   2020-01-24  Taiwan*  Confirmed      3      Asia           1
3   2020-01-25  Taiwan*  Confirmed      3      Asia           1
4   2020-01-26  Taiwan*  Confirmed      4      Asia           1
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Taiwan*  Confirmed    527      Asia           1
263 2020-10-11  Taiwan*  Confirmed    527      Asia           1
264 2020-10-12  Taiwan*  Confirmed    529      Asia           1
265 2020-10-13  Taiwan*  Confirmed    530      Asia           1
266 2020-10-14  Taiwan*  Confirmed    530      Asia           1

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Taiwan*  Deaths      0      Asia           0
1   2020-01-23  Taiwan*  Deaths      0      Asia           0
2   2020-01-24  Taiwan*  Deaths      0      Asia           0
3   2020-01-25  Taiwan*  Deaths      0      Asia           0
4   2020-01-26  Taiwan*  Deaths      0      Asia           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Taiwan*  Deaths      7      Asia           0
263 2020-10-11  Taiwan*  Deaths      7      Asia           0
264 2020-10-12  Taiwan*  Deaths      7      Asia           0
265 2020-10-13  Taiwan*  Deaths      7      Asia           0
266 2020-10-14  Taiwan*  Deaths      7      Asia           0

[267 rows x 6 columns]

1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Taiwan*  Recovered      0      Asia           0
1   2020-01-23  Taiwan*  Recovered      0      Asia           0
2   2020-01-24  Taiwan*  Recovered      0      Asia           0
3   2020-01-25  Taiwan*  Recovered      0      Asia           0
4   2020-01-26  Taiwan*  Recovered      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Taiwan*  Recovered    488      Asia           0
263 2020-10-11  Taiwan*  Recovered    488      Asia           0
264 2020-10-12  Taiwan*  Recovered    489      Asia           0
265 2020-10-13  Taiwan*  Recovered    489      Asia           0
266 2020-10-14  Taiwan*  Recovered    491      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tajikistan  Confirmed      0      Asia           0
1   2020-01-23  Tajikistan  Confirmed      0      Asia           0
2   2020-01-24  Tajikistan  Confirmed      0      Asia           0
3   2020-01-25  Tajikistan  Confirmed      0      Asia           0
4   2020-01-26  Tajikistan  Confirmed      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Tajikistan  Confirmed  10180      Asia           0
263 2020-10-11  Tajikistan  Confirmed  10222      Asia           0
264 2020-10-12  Tajikistan  Confirmed  10260      Asia           0
265 2020-10-13  Tajikistan  Confirmed  10297      Asia           0
266 2020-10-14  Tajikistan  Confirmed  10336      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tajikistan  Deaths      0      Asia           0
1   2020-01-23  Tajikistan  Deaths      0      Asia           0
2   2020-01-24  Tajikistan  Deaths      0      Asia           0
3   2020-01-25  Tajikistan  Deaths      0      Asia           0
4   2020-01-26  Tajikistan  Deaths      0      Asia           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Tajikistan  Deaths     79      Asia           0
263 2020-10-11  Tajikistan  Deaths     79      Asia           0
264 2020-10-12  Tajikistan  Deaths     79      Asia           0
265 2020-10-13  Tajikistan  Deaths     79      Asia           0
266 2020-10-14  Tajikistan  Deaths     79      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tajikistan  Recovered      0      Asia           0
1   2020-01-23  Tajikistan  Recovered      0      Asia           0
2   2020-01-24  Tajikistan  Recovered      0      Asia           0
3   2020-01-25  Tajikistan  Recovered      0      Asia           0
4   2020-01-26  Tajikistan  Recovered      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Tajikistan  Recovered   9006      Asia           0
263 2020-10-11  Tajikistan  Recovered   9058      Asia           0
264 2020-10-12  Tajikistan  Recovered   9103      Asia           0
265 2020-10-13  Tajikistan  Recovered   9177      Asia           0
266 2020-10-14  Tajikistan  Recovered   9245      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tanzania  Confirmed      0    Africa           0
1   2020-01-23  Tanzania  Confirmed      0    Africa           0
2   2020-01-24  Tanzania  Confirmed      0    Africa           0
3   2020-01-25  Tanzania  Confirmed      0    Africa           0
4   2020-01-26  Tanzania  Confirmed      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Tanzania  Confirmed    509    Africa           0
263 2020-10-11  Tanzania  Confirmed    509    Africa           0
264 2020-10-12  Tanzania  Confirmed    509    Africa           0
265 2020-10-13  Tanzania  Confirmed    509    Africa           0
266 2020-10-14  Tanzania  Confirmed    509    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tanzania  Deaths      0    Africa           0
1   2020-01-23  Tanzania  Deaths      0    Africa           0
2   2020-01-24  Tanzania  Deaths      0    Africa           0
3   2020-01-25  Tanzania  Deaths      0    Africa           0
4   2020-01-26  Tanzania  Deaths      0    Africa           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Tanzania  Deaths     21    Africa           0
263 2020-10-11  Tanzania  Deaths     21    Africa           0
264 2020-10-12  Tanzania  Deaths     21    Africa           0
265 2020-10-13  Tanzania  Deaths     21    Africa           0
266 2020-10-14  Tanzania  Deaths     21    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tanzania  Recovered      0    Africa           0
1   2020-01-23  Tanzania  Recovered      0    Africa           0
2   2020-01-24  Tanzania  Recovered      0    Africa           0
3   2020-01-25  Tanzania  Recovered      0    Africa           0
4   2020-01-26  Tanzania  Recovered      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Tanzania  Recovered    183    Africa           0
263 2020-10-11  Tanzania  Recovered    183    Africa           0
264 2020-10-12  Tanzania  Recovered    183    Africa           0
265 2020-10-13  Tanzania  Recovered    183    Africa           0
266 2020-10-14  Tanzania  Recovered    183    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Thailand  Confirmed      2      Asia           2
1   2020-01-23  Thailand  Confirmed      3      Asia           2
2   2020-01-24  Thailand  Confirmed      5      Asia           2
3   2020-01-25  Thailand  Confirmed      7      Asia           2
4   2020-01-26  Thailand  Confirmed      8      Asia           2
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Thailand  Confirmed   3636      Asia           2
263 2020-10-11  Thailand  Confirmed   3641      Asia           2
264 2020-10-12  Thailand  Confirmed   3643      Asia           2
265 2020-10-13  Thailand  Confirmed   3652      Asia           2
266 2020-10-14  Thailand  Confirmed   3652      Asia           2

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Thailand  Deaths      0      Asia           0
1   2020-01-23  Thailand  Deaths      0      Asia           0
2   2020-01-24  Thailand  Deaths      0      Asia           0
3   2020-01-25  Thailand  Deaths      0      Asia           0
4   2020-01-26  Thailand  Deaths      0      Asia           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Thailand  Deaths     59      Asia           0
263 2020-10-11  Thailand  Deaths     59      Asia           0
264 2020-10-12  Thailand  Deaths     59      Asia           0
265 2020-10-13  Thailand  Deaths     59      Asia           0
266 2020-10-14  Thailand  Deaths     59      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Thailand  Recovered      0      Asia           0
1   2020-01-23  Thailand  Recovered      0      Asia           0
2   2020-01-24  Thailand  Recovered      0      Asia           0
3   2020-01-25  Thailand  Recovered      0      Asia           0
4   2020-01-26  Thailand  Recovered      2      Asia           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Thailand  Recovered   3451      Asia           0
263 2020-10-11  Thailand  Recovered   3454      Asia           0
264 2020-10-12  Thailand  Recovered   3457      Asia           0
265 2020-10-13  Thailand  Recovered   3457      Asia           0
266 2020-10-14  Thailand  Recovered   3457      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Timor-Leste  Confirmed      0      Asia           0
1   2020-01-23  Timor-Leste  Confirmed      0      Asia           0
2   2020-01-24  Timor-Leste  Confirmed      0      Asia           0
3   2020-01-25  Timor-Leste  Confirmed      0      Asia           0
4   2020-01-26  Timor-Leste  Confirmed      0      Asia           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  Timor-Leste  Confirmed     28      Asia           0
263 2020-10-11  Timor-Leste  Confirmed     28      Asia           0
264 2020-10-12  Timor-Leste  Confirmed     29      Asia           0
265 2020-10-13  Timor-Leste  Confirmed     29      Asia           0
266 2020-10-14  Timor-Leste  Confirmed     29      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Timor-Leste  Deaths      0      Asia           0
1   2020-01-23  Timor-Leste  Deaths      0      Asia           0
2   2020-01-24  Timor-Leste  Deaths      0      Asia           0
3   2020-01-25  Timor-Leste  Deaths      0      Asia           0
4   2020-01-26  Timor-Leste  Deaths      0      Asia           0
..         ...          ...     ...    ...       ...         ...
262 2020-10-10  Timor-Leste  Deaths      0      Asia           0
263 2020-10-11  Timor-Leste  Deaths      0      Asia           0
264 2020-10-12  Timor-Leste  Deaths      0      Asia           0
265 2020-10-13  Timor-Leste  Deaths      0      Asia           0
266 2020-10-14  Timor-Leste  Deaths      0      Asia           0

[267 rows x 6 columns]

1
          DATE      COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Timor-Leste  Recovered      0      Asia           0
1   2020-01-23  Timor-Leste  Recovered      0      Asia           0
2   2020-01-24  Timor-Leste  Recovered      0      Asia           0
3   2020-01-25  Timor-Leste  Recovered      0      Asia           0
4   2020-01-26  Timor-Leste  Recovered      0      Asia           0
..         ...          ...        ...    ...       ...         ...
262 2020-10-10  Timor-Leste  Recovered     28      Asia           0
263 2020-10-11  Timor-Leste  Recovered     28      Asia           0
264 2020-10-12  Timor-Leste  Recovered     28      Asia           0
265 2020-10-13  Timor-Leste  Recovered     28      Asia           0
266 2020-10-14  Timor-Leste  Recovered     28      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Togo  Confirmed      0    Africa           0
1   2020-01-23    Togo  Confirmed      0    Africa           0
2   2020-01-24    Togo  Confirmed      0    Africa           0
3   2020-01-25    Togo  Confirmed      0    Africa           0
4   2020-01-26    Togo  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Togo  Confirmed   1935    Africa           0
263 2020-10-11    Togo  Confirmed   1940    Africa           0
264 2020-10-12    Togo  Confirmed   1949    Africa           0
265 2020-10-13    Togo  Confirmed   1972    Africa           0
266 2020-10-14    Togo  Confirmed   1983    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Togo  Deaths      0    Africa           0
1   2020-01-23    Togo  Deaths      0    Africa           0
2   2020-01-24    Togo  Deaths      0    Africa           0
3   2020-01-25    Togo  Deaths      0    Africa           0
4   2020-01-26    Togo  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10    Togo  Deaths     49    Africa           0
263 2020-10-11    Togo  Deaths     49    Africa           0
264 2020-10-12    Togo  Deaths     49    Africa           0
265 2020-10-13    Togo  Deaths     50    Africa           0
266 2020-10-14    Togo  Deaths     51    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Togo  Recovered      0    Africa           0
1   2020-01-23    Togo  Recovered      0    Africa           0
2   2020-01-24    Togo  Recovered      0    Africa           0
3   2020-01-25    Togo  Recovered      0    Africa           0
4   2020-01-26    Togo  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10    Togo  Recovered   1444    Africa           0
263 2020-10-11    Togo  Recovered   1457    Africa           0
264 2020-10-12    Togo  Recovered   1461    Africa           0
265 2020-10-13    Togo  Recovered   1465    Africa           0
266 2020-10-14    Togo  Recovered   1473    Africa           0

[267 rows x 6 columns]
1
          DATE              COUNTRY       TYPE  VALUE      CONTINENT  \
0   2020-01-22  Trinidad and Tobago  Confirmed      0  North America
1   2020-01-23  Trinidad and Tobago  Confirmed      0  North America
2   2020-01-24  Trinidad and Tobago  Confirmed      0  North America
3   2020-01-25  Trinidad and Tobago  Confirmed      0  North America
4   2020-01-26  Trinidad and Tobago  Confirmed      0  North America
..         ...                  ...        ...    ...            ...
262 2020-10-10  Trinidad and Tobago  Confirmed   5043  North America
263 2020-10-11  Trinidad and Tobago  Confirmed   5043  North America
264 2020-10-12  Trinidad and Tobago  Confirmed   5116  North America
265 2020-10-13  Trinidad and Tobago  Confirmed   5127  North America
266 2020-10-14  Trinidad and Tobago  Confirmed   5154  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE              COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Trinidad and Tobago  Deaths      0  North America           0
1   2020-01-23  Trinidad and Tobago  Deaths      0  North America           0
2   2020-01-24  Trinidad and Tobago  Deaths      0  North America           0
3   2020-01-25  Trinidad and Tobago  Deaths      0  North America           0
4   2020-01-26  Trinidad and Tobago  Deaths      0  North America           0
..         ...                  ...     ...    ...            ...         ...
262 2020-10-10  Trinidad and Tobago  Deaths     90  North America           0
263 2020-10-11  Trinidad and Tobago  Deaths     90  North America           0
264 2020-10-12  Trinidad and Tobago  Deaths     92  North America           0
265 2020-10-13  Trinidad and Tobago  Deaths     93  North America           0
266 2020-10-14  Trinidad and Tobago  Deaths     93  North America           0

[267 rows x 6 columns]
1
          DATE              COUNTRY       TYPE  VALUE      CONTINENT  \
0   2020-01-22  Trinidad and Tobago  Recovered      0  North America
1   2020-01-23  Trinidad and Tobago  Recovered      0  North America
2   2020-01-24  Trinidad and Tobago  Recovered      0  North America
3   2020-01-25  Trinidad and Tobago  Recovered      0  North America
4   2020-01-26  Trinidad and Tobago  Recovered      0  North America
..         ...                  ...        ...    ...            ...
262 2020-10-10  Trinidad and Tobago  Recovered   3221  North America
263 2020-10-11  Trinidad and Tobago  Recovered   3221  North America
264 2020-10-12  Trinidad and Tobago  Recovered   3303  North America
265 2020-10-13  Trinidad and Tobago  Recovered   3367  North America
266 2020-10-14  Trinidad and Tobago  Recovered   3452  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tunisia  Confirmed      0    Africa           0
1   2020-01-23  Tunisia  Confirmed      0    Africa           0
2   2020-01-24  Tunisia  Confirmed      0    Africa           0
3   2020-01-25  Tunisia  Confirmed      0    Africa           0
4   2020-01-26  Tunisia  Confirmed      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Tunisia  Confirmed  31259    Africa           0
263 2020-10-11  Tunisia  Confirmed  32556    Africa           0
264 2020-10-12  Tunisia  Confirmed  32556    Africa           0
265 2020-10-13  Tunisia  Confirmed  32556    Africa           0
266 2020-10-14  Tunisia  Confirmed  34790    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tunisia  Deaths      0    Africa           0
1   2020-01-23  Tunisia  Deaths      0    Africa           0
2   2020-01-24  Tunisia  Deaths      0    Africa           0
3   2020-01-25  Tunisia  Deaths      0    Africa           0
4   2020-01-26  Tunisia  Deaths      0    Africa           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Tunisia  Deaths    456    Africa           0
263 2020-10-11  Tunisia  Deaths    478    Africa           0
264 2020-10-12  Tunisia  Deaths    478    Africa           0
265 2020-10-13  Tunisia  Deaths    478    Africa           0
266 2020-10-14  Tunisia  Deaths    512    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tunisia  Recovered      0    Africa           0
1   2020-01-23  Tunisia  Recovered      0    Africa           0
2   2020-01-24  Tunisia  Recovered      0    Africa           0
3   2020-01-25  Tunisia  Recovered      0    Africa           0
4   2020-01-26  Tunisia  Recovered      0    Africa           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Tunisia  Recovered   5032    Africa           0
263 2020-10-11  Tunisia  Recovered   5032    Africa           0
264 2020-10-12  Tunisia  Recovered   5032    Africa           0
265 2020-10-13  Tunisia  Recovered   5032    Africa           0
266 2020-10-14  Tunisia  Recovered   5032    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Turkey  Confirmed       0      Asia           0
1   2020-01-23  Turkey  Confirmed       0      Asia           0
2   2020-01-24  Turkey  Confirmed       0      Asia           0
3   2020-01-25  Turkey  Confirmed       0      Asia           0
4   2020-01-26  Turkey  Confirmed       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Turkey  Confirmed  334031      Asia           0
263 2020-10-11  Turkey  Confirmed  335533      Asia           0
264 2020-10-12  Turkey  Confirmed  337147      Asia           0
265 2020-10-13  Turkey  Confirmed  338779      Asia           0
266 2020-10-14  Turkey  Confirmed  340450      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Turkey  Deaths      0      Asia           0
1   2020-01-23  Turkey  Deaths      0      Asia           0
2   2020-01-24  Turkey  Deaths      0      Asia           0
3   2020-01-25  Turkey  Deaths      0      Asia           0
4   2020-01-26  Turkey  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Turkey  Deaths   8778      Asia           0
263 2020-10-11  Turkey  Deaths   8837      Asia           0
264 2020-10-12  Turkey  Deaths   8895      Asia           0
265 2020-10-13  Turkey  Deaths   8957      Asia           0
266 2020-10-14  Turkey  Deaths   9014      Asia           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Turkey  Recovered       0      Asia           0
1   2020-01-23  Turkey  Recovered       0      Asia           0
2   2020-01-24  Turkey  Recovered       0      Asia           0
3   2020-01-25  Turkey  Recovered       0      Asia           0
4   2020-01-26  Turkey  Recovered       0      Asia           0
..         ...     ...        ...     ...       ...         ...
262 2020-10-10  Turkey  Recovered  293145      Asia           0
263 2020-10-11  Turkey  Recovered  294357      Asia           0
264 2020-10-12  Turkey  Recovered  295658      Asia           0
265 2020-10-13  Turkey  Recovered  296972      Asia           0
266 2020-10-14  Turkey  Recovered  298368      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE    VALUE      CONTINENT  VALUE_LAST
0   2020-01-22      US  Confirmed        1  North America           1
1   2020-01-23      US  Confirmed        1  North America           1
2   2020-01-24      US  Confirmed        2  North America           1
3   2020-01-25      US  Confirmed        2  North America           1
4   2020-01-26      US  Confirmed        5  North America           1
..         ...     ...        ...      ...            ...         ...
262 2020-10-10      US  Confirmed  7717932  North America           1
263 2020-10-11      US  Confirmed  7762546  North America           1
264 2020-10-12      US  Confirmed  7804199  North America           1
265 2020-10-13      US  Confirmed  7856605  North America           1
266 2020-10-14      US  Confirmed  7916099  North America           1

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22      US  Deaths       0  North America           0
1   2020-01-23      US  Deaths       0  North America           0
2   2020-01-24      US  Deaths       0  North America           0
3   2020-01-25      US  Deaths       0  North America           0
4   2020-01-26      US  Deaths       0  North America           0
..         ...     ...     ...     ...            ...         ...
262 2020-10-10      US  Deaths  214370  North America           0
263 2020-10-11      US  Deaths  214768  North America           0
264 2020-10-12      US  Deaths  215085  North America           0
265 2020-10-13      US  Deaths  215887  North America           0
266 2020-10-14      US  Deaths  216872  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE    VALUE      CONTINENT  VALUE_LAST
0   2020-01-22      US  Recovered        0  North America           0
1   2020-01-23      US  Recovered        0  North America           0
2   2020-01-24      US  Recovered        0  North America           0
3   2020-01-25      US  Recovered        0  North America           0
4   2020-01-26      US  Recovered        0  North America           0
..         ...     ...        ...      ...            ...         ...
262 2020-10-10      US  Recovered  3062983  North America           0
263 2020-10-11      US  Recovered  3075077  North America           0
264 2020-10-12      US  Recovered  3106728  North America           0
265 2020-10-13      US  Recovered  3124593  North America           0
266 2020-10-14      US  Recovered  3155794  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uganda  Confirmed      0    Africa           0
1   2020-01-23  Uganda  Confirmed      0    Africa           0
2   2020-01-24  Uganda  Confirmed      0    Africa           0
3   2020-01-25  Uganda  Confirmed      0    Africa           0
4   2020-01-26  Uganda  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Uganda  Confirmed   9701    Africa           0
263 2020-10-11  Uganda  Confirmed   9801    Africa           0
264 2020-10-12  Uganda  Confirmed   9864    Africa           0
265 2020-10-13  Uganda  Confirmed   9945    Africa           0
266 2020-10-14  Uganda  Confirmed  10069    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uganda  Deaths      0    Africa           0
1   2020-01-23  Uganda  Deaths      0    Africa           0
2   2020-01-24  Uganda  Deaths      0    Africa           0
3   2020-01-25  Uganda  Deaths      0    Africa           0
4   2020-01-26  Uganda  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Uganda  Deaths     93    Africa           0
263 2020-10-11  Uganda  Deaths     93    Africa           0
264 2020-10-12  Uganda  Deaths     94    Africa           0
265 2020-10-13  Uganda  Deaths     95    Africa           0
266 2020-10-14  Uganda  Deaths     95    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uganda  Recovered      0    Africa           0
1   2020-01-23  Uganda  Recovered      0    Africa           0
2   2020-01-24  Uganda  Recovered      0    Africa           0
3   2020-01-25  Uganda  Recovered      0    Africa           0
4   2020-01-26  Uganda  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Uganda  Recovered   6022    Africa           0
263 2020-10-11  Uganda  Recovered   6109    Africa           0
264 2020-10-12  Uganda  Recovered   6109    Africa           0
265 2020-10-13  Uganda  Recovered   6347    Africa           0
266 2020-10-14  Uganda  Recovered   6531    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ukraine  Confirmed       0    Europe           0
1   2020-01-23  Ukraine  Confirmed       0    Europe           0
2   2020-01-24  Ukraine  Confirmed       0    Europe           0
3   2020-01-25  Ukraine  Confirmed       0    Europe           0
4   2020-01-26  Ukraine  Confirmed       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Ukraine  Confirmed  263105    Europe           0
263 2020-10-11  Ukraine  Confirmed  268065    Europe           0
264 2020-10-12  Ukraine  Confirmed  272671    Europe           0
265 2020-10-13  Ukraine  Confirmed  277982    Europe           0
266 2020-10-14  Ukraine  Confirmed  283762    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ukraine  Deaths      0    Europe           0
1   2020-01-23  Ukraine  Deaths      0    Europe           0
2   2020-01-24  Ukraine  Deaths      0    Europe           0
3   2020-01-25  Ukraine  Deaths      0    Europe           0
4   2020-01-26  Ukraine  Deaths      0    Europe           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Ukraine  Deaths   5010    Europe           0
263 2020-10-11  Ukraine  Deaths   5098    Europe           0
264 2020-10-12  Ukraine  Deaths   5143    Europe           0
265 2020-10-13  Ukraine  Deaths   5254    Europe           0
266 2020-10-14  Ukraine  Deaths   5365    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ukraine  Recovered       0    Europe           0
1   2020-01-23  Ukraine  Recovered       0    Europe           0
2   2020-01-24  Ukraine  Recovered       0    Europe           0
3   2020-01-25  Ukraine  Recovered       0    Europe           0
4   2020-01-26  Ukraine  Recovered       0    Europe           0
..         ...      ...        ...     ...       ...         ...
262 2020-10-10  Ukraine  Recovered  116861    Europe           0
263 2020-10-11  Ukraine  Recovered  117829    Europe           0
264 2020-10-12  Ukraine  Recovered  118740    Europe           0
265 2020-10-13  Ukraine  Recovered  120999    Europe           0
266 2020-10-14  Ukraine  Recovered  123263    Europe           0

[267 rows x 6 columns]
1
          DATE               COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  United Arab Emirates  Confirmed       0      Asia           0
1   2020-01-23  United Arab Emirates  Confirmed       0      Asia           0
2   2020-01-24  United Arab Emirates  Confirmed       0      Asia           0
3   2020-01-25  United Arab Emirates  Confirmed       0      Asia           0
4   2020-01-26  United Arab Emirates  Confirmed       0      Asia           0
..         ...                   ...        ...     ...       ...         ...
262 2020-10-10  United Arab Emirates  Confirmed  105133      Asia           0
263 2020-10-11  United Arab Emirates  Confirmed  106229      Asia           0
264 2020-10-12  United Arab Emirates  Confirmed  107293      Asia           0
265 2020-10-13  United Arab Emirates  Confirmed  108608      Asia           0
266 2020-10-14  United Arab Emirates  Confirmed  110039      Asia           0

[267 rows x 6 columns]
1
          DATE               COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  United Arab Emirates  Deaths      0      Asia           0
1   2020-01-23  United Arab Emirates  Deaths      0      Asia           0
2   2020-01-24  United Arab Emirates  Deaths      0      Asia           0
3   2020-01-25  United Arab Emirates  Deaths      0      Asia           0
4   2020-01-26  United Arab Emirates  Deaths      0      Asia           0
..         ...                   ...     ...    ...       ...         ...
262 2020-10-10  United Arab Emirates  Deaths    443      Asia           0
263 2020-10-11  United Arab Emirates  Deaths    445      Asia           0
264 2020-10-12  United Arab Emirates  Deaths    446      Asia           0
265 2020-10-13  United Arab Emirates  Deaths    448      Asia           0
266 2020-10-14  United Arab Emirates  Deaths    450      Asia           0

[267 rows x 6 columns]
1
          DATE               COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  United Arab Emirates  Recovered       0      Asia           0
1   2020-01-23  United Arab Emirates  Recovered       0      Asia           0
2   2020-01-24  United Arab Emirates  Recovered       0      Asia           0
3   2020-01-25  United Arab Emirates  Recovered       0      Asia           0
4   2020-01-26  United Arab Emirates  Recovered       0      Asia           0
..         ...                   ...        ...     ...       ...         ...
262 2020-10-10  United Arab Emirates  Recovered   95973      Asia           0
263 2020-10-11  United Arab Emirates  Recovered   97284      Asia           0
264 2020-10-12  United Arab Emirates  Recovered   98555      Asia           0
265 2020-10-13  United Arab Emirates  Recovered  100007      Asia           0
266 2020-10-14  United Arab Emirates  Recovered  101659      Asia           0

[267 rows x 6 columns]
1
          DATE         COUNTRY       TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  United Kingdom  Confirmed       0    Europe           0
1   2020-01-23  United Kingdom  Confirmed       0    Europe           0
2   2020-01-24  United Kingdom  Confirmed       0    Europe           0
3   2020-01-25  United Kingdom  Confirmed       0    Europe           0
4   2020-01-26  United Kingdom  Confirmed       0    Europe           0
..         ...             ...        ...     ...       ...         ...
262 2020-10-10  United Kingdom  Confirmed  593565    Europe           0
263 2020-10-11  United Kingdom  Confirmed  606447    Europe           0
264 2020-10-12  United Kingdom  Confirmed  620458    Europe           0
265 2020-10-13  United Kingdom  Confirmed  637708    Europe           0
266 2020-10-14  United Kingdom  Confirmed  657459    Europe           0

[267 rows x 6 columns]
1
          DATE         COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  United Kingdom  Deaths      0    Europe           0
1   2020-01-23  United Kingdom  Deaths      0    Europe           0
2   2020-01-24  United Kingdom  Deaths      0    Europe           0
3   2020-01-25  United Kingdom  Deaths      0    Europe           0
4   2020-01-26  United Kingdom  Deaths      0    Europe           0
..         ...             ...     ...    ...       ...         ...
262 2020-10-10  United Kingdom  Deaths  42850    Europe           0
263 2020-10-11  United Kingdom  Deaths  42915    Europe           0
264 2020-10-12  United Kingdom  Deaths  42965    Europe           0
265 2020-10-13  United Kingdom  Deaths  43108    Europe           0
266 2020-10-14  United Kingdom  Deaths  43245    Europe           0

[267 rows x 6 columns]
1

          DATE         COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  United Kingdom  Recovered      0    Europe           0
1   2020-01-23  United Kingdom  Recovered      0    Europe           0
2   2020-01-24  United Kingdom  Recovered      0    Europe           0
3   2020-01-25  United Kingdom  Recovered      0    Europe           0
4   2020-01-26  United Kingdom  Recovered      0    Europe           0
..         ...             ...        ...    ...       ...         ...
262 2020-10-10  United Kingdom  Recovered   2495    Europe           0
263 2020-10-11  United Kingdom  Recovered   2503    Europe           0
264 2020-10-12  United Kingdom  Recovered   2511    Europe           0
265 2020-10-13  United Kingdom  Recovered   2535    Europe           0
266 2020-10-14  United Kingdom  Recovered   2551    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Uruguay  Confirmed      0  South America           0
1   2020-01-23  Uruguay  Confirmed      0  South America           0
2   2020-01-24  Uruguay  Confirmed      0  South America           0
3   2020-01-25  Uruguay  Confirmed      0  South America           0
4   2020-01-26  Uruguay  Confirmed      0  South America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Uruguay  Confirmed   2268  South America           0
263 2020-10-11  Uruguay  Confirmed   2294  South America           0
264 2020-10-12  Uruguay  Confirmed   2313  South America           0
265 2020-10-13  Uruguay  Confirmed   2337  South America           0
266 2020-10-14  Uruguay  Confirmed   2388  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Uruguay  Deaths      0  South America           0
1   2020-01-23  Uruguay  Deaths      0  South America           0
2   2020-01-24  Uruguay  Deaths      0  South America           0
3   2020-01-25  Uruguay  Deaths      0  South America           0
4   2020-01-26  Uruguay  Deaths      0  South America           0
..         ...      ...     ...    ...            ...         ...
262 2020-10-10  Uruguay  Deaths     50  South America           0
263 2020-10-11  Uruguay  Deaths     50  South America           0
264 2020-10-12  Uruguay  Deaths     51  South America           0
265 2020-10-13  Uruguay  Deaths     51  South America           0
266 2020-10-14  Uruguay  Deaths     51  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Uruguay  Recovered      0  South America           0
1   2020-01-23  Uruguay  Recovered      0  South America           0
2   2020-01-24  Uruguay  Recovered      0  South America           0
3   2020-01-25  Uruguay  Recovered      0  South America           0
4   2020-01-26  Uruguay  Recovered      0  South America           0
..         ...      ...        ...    ...            ...         ...
262 2020-10-10  Uruguay  Recovered   1930  South America           0
263 2020-10-11  Uruguay  Recovered   1942  South America           0
264 2020-10-12  Uruguay  Recovered   1950  South America           0
265 2020-10-13  Uruguay  Recovered   1987  South America           0
266 2020-10-14  Uruguay  Recovered   2007  South America           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uzbekistan  Confirmed      0      Asia           0
1   2020-01-23  Uzbekistan  Confirmed      0      Asia           0
2   2020-01-24  Uzbekistan  Confirmed      0      Asia           0
3   2020-01-25  Uzbekistan  Confirmed      0      Asia           0
4   2020-01-26  Uzbekistan  Confirmed      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Uzbekistan  Confirmed  60776      Asia           0
263 2020-10-11  Uzbekistan  Confirmed  61098      Asia           0
264 2020-10-12  Uzbekistan  Confirmed  61319      Asia           0
265 2020-10-13  Uzbekistan  Confirmed  61642      Asia           0
266 2020-10-14  Uzbekistan  Confirmed  61950      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uzbekistan  Deaths      0      Asia           0
1   2020-01-23  Uzbekistan  Deaths      0      Asia           0
2   2020-01-24  Uzbekistan  Deaths      0      Asia           0
3   2020-01-25  Uzbekistan  Deaths      0      Asia           0
4   2020-01-26  Uzbekistan  Deaths      0      Asia           0
..         ...         ...     ...    ...       ...         ...
262 2020-10-10  Uzbekistan  Deaths    502      Asia           0
263 2020-10-11  Uzbekistan  Deaths    505      Asia           0
264 2020-10-12  Uzbekistan  Deaths    509      Asia           0
265 2020-10-13  Uzbekistan  Deaths    511      Asia           0
266 2020-10-14  Uzbekistan  Deaths    514      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uzbekistan  Recovered      0      Asia           0
1   2020-01-23  Uzbekistan  Recovered      0      Asia           0
2   2020-01-24  Uzbekistan  Recovered      0      Asia           0
3   2020-01-25  Uzbekistan  Recovered      0      Asia           0
4   2020-01-26  Uzbekistan  Recovered      0      Asia           0
..         ...         ...        ...    ...       ...         ...
262 2020-10-10  Uzbekistan  Recovered  57704      Asia           0
263 2020-10-11  Uzbekistan  Recovered  58069      Asia           0
264 2020-10-12  Uzbekistan  Recovered  58306      Asia           0
265 2020-10-13  Uzbekistan  Recovered  58613      Asia           0
266 2020-10-14  Uzbekistan  Recovered  58951      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Venezuela  Confirmed      0  South America           0
1   2020-01-23  Venezuela  Confirmed      0  South America           0
2   2020-01-24  Venezuela  Confirmed      0  South America           0
3   2020-01-25  Venezuela  Confirmed      0  South America           0
4   2020-01-26  Venezuela  Confirmed      0  South America           0
..         ...        ...        ...    ...            ...         ...
262 2020-10-10  Venezuela  Confirmed  82453  South America           0
263 2020-10-11  Venezuela  Confirmed  83137  South America           0
264 2020-10-12  Venezuela  Confirmed  83756  South America           0
265 2020-10-13  Venezuela  Confirmed  84391  South America           0
266 2020-10-14  Venezuela  Confirmed  85005  South America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY    TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Venezuela  Deaths      0  South America           0
1   2020-01-23  Venezuela  Deaths      0  South America           0
2   2020-01-24  Venezuela  Deaths      0  South America           0
3   2020-01-25  Venezuela  Deaths      0  South America           0
4   2020-01-26  Venezuela  Deaths      0  South America           0
..         ...        ...     ...    ...            ...         ...
262 2020-10-10  Venezuela  Deaths    691  South America           0
263 2020-10-11  Venezuela  Deaths    697  South America           0
264 2020-10-12  Venezuela  Deaths    704  South America           0
265 2020-10-13  Venezuela  Deaths    710  South America           0
266 2020-10-14  Venezuela  Deaths    714  South America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY       TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Venezuela  Recovered      0  South America           0
1   2020-01-23  Venezuela  Recovered      0  South America           0
2   2020-01-24  Venezuela  Recovered      0  South America           0
3   2020-01-25  Venezuela  Recovered      0  South America           0
4   2020-01-26  Venezuela  Recovered      0  South America           0
..         ...        ...        ...    ...            ...         ...
262 2020-10-10  Venezuela  Recovered  73919  South America           0
263 2020-10-11  Venezuela  Recovered  74664  South America           0
264 2020-10-12  Venezuela  Recovered  75400  South America           0
265 2020-10-13  Venezuela  Recovered  76262  South America           0
266 2020-10-14  Venezuela  Recovered  76262  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Vietnam  Confirmed      0      Asia           0
1   2020-01-23  Vietnam  Confirmed      2      Asia           0
2   2020-01-24  Vietnam  Confirmed      2      Asia           0
3   2020-01-25  Vietnam  Confirmed      2      Asia           0
4   2020-01-26  Vietnam  Confirmed      2      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Vietnam  Confirmed   1107      Asia           0
263 2020-10-11  Vietnam  Confirmed   1109      Asia           0
264 2020-10-12  Vietnam  Confirmed   1110      Asia           0
265 2020-10-13  Vietnam  Confirmed   1113      Asia           0
266 2020-10-14  Vietnam  Confirmed   1122      Asia           0

[267 rows x 6 columns]
1

          DATE  COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Vietnam  Deaths      0      Asia           0
1   2020-01-23  Vietnam  Deaths      0      Asia           0
2   2020-01-24  Vietnam  Deaths      0      Asia           0
3   2020-01-25  Vietnam  Deaths      0      Asia           0
4   2020-01-26  Vietnam  Deaths      0      Asia           0
..         ...      ...     ...    ...       ...         ...
262 2020-10-10  Vietnam  Deaths     35      Asia           0
263 2020-10-11  Vietnam  Deaths     35      Asia           0
264 2020-10-12  Vietnam  Deaths     35      Asia           0
265 2020-10-13  Vietnam  Deaths     35      Asia           0
266 2020-10-14  Vietnam  Deaths     35      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Vietnam  Recovered      0      Asia           0
1   2020-01-23  Vietnam  Recovered      0      Asia           0
2   2020-01-24  Vietnam  Recovered      0      Asia           0
3   2020-01-25  Vietnam  Recovered      0      Asia           0
4   2020-01-26  Vietnam  Recovered      0      Asia           0
..         ...      ...        ...    ...       ...         ...
262 2020-10-10  Vietnam  Recovered   1024      Asia           0
263 2020-10-11  Vietnam  Recovered   1024      Asia           0
264 2020-10-12  Vietnam  Recovered   1025      Asia           0
265 2020-10-13  Vietnam  Recovered   1025      Asia           0
266 2020-10-14  Vietnam  Recovered   1029      Asia           0

[267 rows x 6 columns]
1
          DATE             COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  West Bank and Gaza  Confirmed      0      Asia           0
1   2020-01-23  West Bank and Gaza  Confirmed      0      Asia           0
2   2020-01-24  West Bank and Gaza  Confirmed      0      Asia           0
3   2020-01-25  West Bank and Gaza  Confirmed      0      Asia           0
4   2020-01-26  West Bank and Gaza  Confirmed      0      Asia           0
..         ...                 ...        ...    ...       ...         ...
262 2020-10-10  West Bank and Gaza  Confirmed  43945      Asia           0
263 2020-10-11  West Bank and Gaza  Confirmed  44299      Asia           0
264 2020-10-12  West Bank and Gaza  Confirmed  44684      Asia           0
265 2020-10-13  West Bank and Gaza  Confirmed  45200      Asia           0
266 2020-10-14  West Bank and Gaza  Confirmed  45658      Asia           0

[267 rows x 6 columns]
1
          DATE             COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  West Bank and Gaza  Deaths      0      Asia           0
1   2020-01-23  West Bank and Gaza  Deaths      0      Asia           0
2   2020-01-24  West Bank and Gaza  Deaths      0      Asia           0
3   2020-01-25  West Bank and Gaza  Deaths      0      Asia           0
4   2020-01-26  West Bank and Gaza  Deaths      0      Asia           0
..         ...                 ...     ...    ...       ...         ...
262 2020-10-10  West Bank and Gaza  Deaths    378      Asia           0
263 2020-10-11  West Bank and Gaza  Deaths    381      Asia           0
264 2020-10-12  West Bank and Gaza  Deaths    387      Asia           0
265 2020-10-13  West Bank and Gaza  Deaths    391      Asia           0
266 2020-10-14  West Bank and Gaza  Deaths    393      Asia           0

[267 rows x 6 columns]
1
          DATE             COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  West Bank and Gaza  Recovered      0      Asia           0
1   2020-01-23  West Bank and Gaza  Recovered      0      Asia           0
2   2020-01-24  West Bank and Gaza  Recovered      0      Asia           0
3   2020-01-25  West Bank and Gaza  Recovered      0      Asia           0
4   2020-01-26  West Bank and Gaza  Recovered      0      Asia           0
..         ...                 ...        ...    ...       ...         ...
262 2020-10-10  West Bank and Gaza  Recovered  37240      Asia           0
263 2020-10-11  West Bank and Gaza  Recovered  37942      Asia           0
264 2020-10-12  West Bank and Gaza  Recovered  38228      Asia           0
265 2020-10-13  West Bank and Gaza  Recovered  38841      Asia           0
266 2020-10-14  West Bank and Gaza  Recovered  39304      Asia           0

[267 rows x 6 columns]
1
          DATE         COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Western Sahara  Confirmed      0    Africa           0
1   2020-01-23  Western Sahara  Confirmed      0    Africa           0
2   2020-01-24  Western Sahara  Confirmed      0    Africa           0
3   2020-01-25  Western Sahara  Confirmed      0    Africa           0
4   2020-01-26  Western Sahara  Confirmed      0    Africa           0
..         ...             ...        ...    ...       ...         ...
262 2020-10-10  Western Sahara  Confirmed     10    Africa           0
263 2020-10-11  Western Sahara  Confirmed     10    Africa           0
264 2020-10-12  Western Sahara  Confirmed     10    Africa           0
265 2020-10-13  Western Sahara  Confirmed     10    Africa           0
266 2020-10-14  Western Sahara  Confirmed     10    Africa           0

[267 rows x 6 columns]
1
          DATE         COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Western Sahara  Deaths      0    Africa           0
1   2020-01-23  Western Sahara  Deaths      0    Africa           0
2   2020-01-24  Western Sahara  Deaths      0    Africa           0
3   2020-01-25  Western Sahara  Deaths      0    Africa           0
4   2020-01-26  Western Sahara  Deaths      0    Africa           0
..         ...             ...     ...    ...       ...         ...
262 2020-10-10  Western Sahara  Deaths      1    Africa           0
263 2020-10-11  Western Sahara  Deaths      1    Africa           0
264 2020-10-12  Western Sahara  Deaths      1    Africa           0
265 2020-10-13  Western Sahara  Deaths      1    Africa           0
266 2020-10-14  Western Sahara  Deaths      1    Africa           0

[267 rows x 6 columns]
1
          DATE         COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Western Sahara  Recovered      0    Africa           0
1   2020-01-23  Western Sahara  Recovered      0    Africa           0
2   2020-01-24  Western Sahara  Recovered      0    Africa           0
3   2020-01-25  Western Sahara  Recovered      0    Africa           0
4   2020-01-26  Western Sahara  Recovered      0    Africa           0
..         ...             ...        ...    ...       ...         ...
262 2020-10-10  Western Sahara  Recovered      8    Africa           0
263 2020-10-11  Western Sahara  Recovered      8    Africa           0
264 2020-10-12  Western Sahara  Recovered      8    Africa           0
265 2020-10-13  Western Sahara  Recovered      8    Africa           0
266 2020-10-14  Western Sahara  Recovered      8    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Yemen  Confirmed      0      Asia           0
1   2020-01-23   Yemen  Confirmed      0      Asia           0
2   2020-01-24   Yemen  Confirmed      0      Asia           0
3   2020-01-25   Yemen  Confirmed      0      Asia           0
4   2020-01-26   Yemen  Confirmed      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Yemen  Confirmed   2051      Asia           0
263 2020-10-11   Yemen  Confirmed   2052      Asia           0
264 2020-10-12   Yemen  Confirmed   2052      Asia           0
265 2020-10-13   Yemen  Confirmed   2053      Asia           0
266 2020-10-14   Yemen  Confirmed   2053      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Yemen  Deaths      0      Asia           0
1   2020-01-23   Yemen  Deaths      0      Asia           0
2   2020-01-24   Yemen  Deaths      0      Asia           0
3   2020-01-25   Yemen  Deaths      0      Asia           0
4   2020-01-26   Yemen  Deaths      0      Asia           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10   Yemen  Deaths    595      Asia           0
263 2020-10-11   Yemen  Deaths    595      Asia           0
264 2020-10-12   Yemen  Deaths    596      Asia           0
265 2020-10-13   Yemen  Deaths    596      Asia           0
266 2020-10-14   Yemen  Deaths    596      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Yemen  Recovered      0      Asia           0
1   2020-01-23   Yemen  Recovered      0      Asia           0
2   2020-01-24   Yemen  Recovered      0      Asia           0
3   2020-01-25   Yemen  Recovered      0      Asia           0
4   2020-01-26   Yemen  Recovered      0      Asia           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10   Yemen  Recovered   1329      Asia           0
263 2020-10-11   Yemen  Recovered   1329      Asia           0
264 2020-10-12   Yemen  Recovered   1329      Asia           0
265 2020-10-13   Yemen  Recovered   1329      Asia           0
266 2020-10-14   Yemen  Recovered   1329      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zambia  Confirmed      0    Africa           0
1   2020-01-23  Zambia  Confirmed      0    Africa           0
2   2020-01-24  Zambia  Confirmed      0    Africa           0
3   2020-01-25  Zambia  Confirmed      0    Africa           0
4   2020-01-26  Zambia  Confirmed      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Zambia  Confirmed  15415    Africa           0
263 2020-10-11  Zambia  Confirmed  15458    Africa           0
264 2020-10-12  Zambia  Confirmed  15549    Africa           0
265 2020-10-13  Zambia  Confirmed  15587    Africa           0
266 2020-10-14  Zambia  Confirmed  15616    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zambia  Deaths      0    Africa           0
1   2020-01-23  Zambia  Deaths      0    Africa           0
2   2020-01-24  Zambia  Deaths      0    Africa           0
3   2020-01-25  Zambia  Deaths      0    Africa           0
4   2020-01-26  Zambia  Deaths      0    Africa           0
..         ...     ...     ...    ...       ...         ...
262 2020-10-10  Zambia  Deaths    337    Africa           0
263 2020-10-11  Zambia  Deaths    337    Africa           0
264 2020-10-12  Zambia  Deaths    345    Africa           0
265 2020-10-13  Zambia  Deaths    345    Africa           0
266 2020-10-14  Zambia  Deaths    345    Africa           0

[267 rows x 6 columns]

1
          DATE COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zambia  Recovered      0    Africa           0
1   2020-01-23  Zambia  Recovered      0    Africa           0
2   2020-01-24  Zambia  Recovered      0    Africa           0
3   2020-01-25  Zambia  Recovered      0    Africa           0
4   2020-01-26  Zambia  Recovered      0    Africa           0
..         ...     ...        ...    ...       ...         ...
262 2020-10-10  Zambia  Recovered  14541    Africa           0
263 2020-10-11  Zambia  Recovered  14599    Africa           0
264 2020-10-12  Zambia  Recovered  14682    Africa           0
265 2020-10-13  Zambia  Recovered  14783    Africa           0
266 2020-10-14  Zambia  Recovered  14850    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zimbabwe  Confirmed      0    Africa           0
1   2020-01-23  Zimbabwe  Confirmed      0    Africa           0
2   2020-01-24  Zimbabwe  Confirmed      0    Africa           0
3   2020-01-25  Zimbabwe  Confirmed      0    Africa           0
4   2020-01-26  Zimbabwe  Confirmed      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Zimbabwe  Confirmed   8010    Africa           0
263 2020-10-11  Zimbabwe  Confirmed   8011    Africa           0
264 2020-10-12  Zimbabwe  Confirmed   8021    Africa           0
265 2020-10-13  Zimbabwe  Confirmed   8036    Africa           0
266 2020-10-14  Zimbabwe  Confirmed   8055    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY    TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zimbabwe  Deaths      0    Africa           0
1   2020-01-23  Zimbabwe  Deaths      0    Africa           0
2   2020-01-24  Zimbabwe  Deaths      0    Africa           0
3   2020-01-25  Zimbabwe  Deaths      0    Africa           0
4   2020-01-26  Zimbabwe  Deaths      0    Africa           0
..         ...       ...     ...    ...       ...         ...
262 2020-10-10  Zimbabwe  Deaths    230    Africa           0
263 2020-10-11  Zimbabwe  Deaths    230    Africa           0
264 2020-10-12  Zimbabwe  Deaths    230    Africa           0
265 2020-10-13  Zimbabwe  Deaths    230    Africa           0
266 2020-10-14  Zimbabwe  Deaths    231    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY       TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zimbabwe  Recovered      0    Africa           0
1   2020-01-23  Zimbabwe  Recovered      0    Africa           0
2   2020-01-24  Zimbabwe  Recovered      0    Africa           0
3   2020-01-25  Zimbabwe  Recovered      0    Africa           0
4   2020-01-26  Zimbabwe  Recovered      0    Africa           0
..         ...       ...        ...    ...       ...         ...
262 2020-10-10  Zimbabwe  Recovered   6492    Africa           0
263 2020-10-11  Zimbabwe  Recovered   6504    Africa           0
264 2020-10-12  Zimbabwe  Recovered   7627    Africa           0
265 2020-10-13  Zimbabwe  Recovered   7632    Africa           0
266 2020-10-14  Zimbabwe  Recovered   7640    Africa           0

[267 rows x 6 columns]
1
          DATE      COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Afghanistan  Active Cases      0      Asia           0
1   2020-01-23  Afghanistan  Active Cases      0      Asia           0
2   2020-01-24  Afghanistan  Active Cases      0      Asia           0
3   2020-01-25  Afghanistan  Active Cases      0      Asia           0
4   2020-01-26  Afghanistan  Active Cases      0      Asia           0
..         ...          ...           ...    ...       ...         ...
262 2020-10-10  Afghanistan  Active Cases   5166      Asia           0
263 2020-10-11  Afghanistan  Active Cases   5208      Asia           0
264 2020-10-12  Afghanistan  Active Cases   5273      Asia           0
265 2020-10-13  Afghanistan  Active Cases   5140      Asia           0
266 2020-10-14  Afghanistan  Active Cases   5159      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Albania  Active Cases      0    Europe           0
1   2020-01-23  Albania  Active Cases      0    Europe           0
2   2020-01-24  Albania  Active Cases      0    Europe           0
3   2020-01-25  Albania  Active Cases      0    Europe           0
4   2020-01-26  Albania  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Albania  Active Cases   5409    Europe           0
263 2020-10-11  Albania  Active Cases   5479    Europe           0
264 2020-10-12  Albania  Active Cases   5561    Europe           0
265 2020-10-13  Albania  Active Cases   5648    Europe           0
266 2020-10-14  Albania  Active Cases   5759    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Algeria  Active Cases      0    Africa           0
1   2020-01-23  Algeria  Active Cases      0    Africa           0
2   2020-01-24  Algeria  Active Cases      0    Africa           0
3   2020-01-25  Algeria  Active Cases      0    Africa           0
4   2020-01-26  Algeria  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Algeria  Active Cases  13975    Africa           0
263 2020-10-11  Algeria  Active Cases  14101    Africa           0
264 2020-10-12  Algeria  Active Cases  14134    Africa           0
265 2020-10-13  Algeria  Active Cases  14089    Africa           0
266 2020-10-14  Algeria  Active Cases  14154    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Andorra  Active Cases      0    Europe           0
1   2020-01-23  Andorra  Active Cases      0    Europe           0
2   2020-01-24  Andorra  Active Cases      0    Europe           0
3   2020-01-25  Andorra  Active Cases      0    Europe           0
4   2020-01-26  Andorra  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Andorra  Active Cases    827    Europe           0
263 2020-10-11  Andorra  Active Cases    827    Europe           0
264 2020-10-12  Andorra  Active Cases   1010    Europe           0
265 2020-10-13  Andorra  Active Cases   1010    Europe           0
266 2020-10-14  Andorra  Active Cases   1120    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Angola  Active Cases      0    Africa           0
1   2020-01-23  Angola  Active Cases      0    Africa           0
2   2020-01-24  Angola  Active Cases      0    Africa           0
3   2020-01-25  Angola  Active Cases      0    Africa           0
4   2020-01-26  Angola  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Angola  Active Cases   3312    Africa           0
263 2020-10-11  Angola  Active Cases   3405    Africa           0
264 2020-10-12  Angola  Active Cases   3525    Africa           0
265 2020-10-13  Angola  Active Cases   3697    Africa           0
266 2020-10-14  Angola  Active Cases   3818    Africa           0

[267 rows x 6 columns]
1
          DATE              COUNTRY          TYPE  VALUE      CONTINENT  \
0   2020-01-22  Antigua and Barbuda  Active Cases      0  North America
1   2020-01-23  Antigua and Barbuda  Active Cases      0  North America
2   2020-01-24  Antigua and Barbuda  Active Cases      0  North America
3   2020-01-25  Antigua and Barbuda  Active Cases      0  North America
4   2020-01-26  Antigua and Barbuda  Active Cases      0  North America
..         ...                  ...           ...    ...            ...
262 2020-10-10  Antigua and Barbuda  Active Cases     11  North America
263 2020-10-11  Antigua and Barbuda  Active Cases     11  North America
264 2020-10-12  Antigua and Barbuda  Active Cases     11  North America
265 2020-10-13  Antigua and Barbuda  Active Cases     11  North America
266 2020-10-14  Antigua and Barbuda  Active Cases      9  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Argentina  Active Cases       0  South America           0
1   2020-01-23  Argentina  Active Cases       0  South America           0
2   2020-01-24  Argentina  Active Cases       0  South America           0
3   2020-01-25  Argentina  Active Cases       0  South America           0
4   2020-01-26  Argentina  Active Cases       0  South America           0
..         ...        ...           ...     ...            ...         ...
262 2020-10-10  Argentina  Active Cases  150837  South America           0
263 2020-10-11  Argentina  Active Cases  148958  South America           0
264 2020-10-12  Argentina  Active Cases  146962  South America           0
265 2020-10-13  Argentina  Active Cases  150228  South America           0
266 2020-10-14  Argentina  Active Cases  155900  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Armenia  Active Cases      0      Asia           0
1   2020-01-23  Armenia  Active Cases      0      Asia           0
2   2020-01-24  Armenia  Active Cases      0      Asia           0
3   2020-01-25  Armenia  Active Cases      0      Asia           0
4   2020-01-26  Armenia  Active Cases      0      Asia           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Armenia  Active Cases   8949      Asia           0
263 2020-10-11  Armenia  Active Cases   9607      Asia           0
264 2020-10-12  Armenia  Active Cases   9904      Asia           0
265 2020-10-13  Armenia  Active Cases  10216      Asia           0
266 2020-10-14  Armenia  Active Cases  10872      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Australia  Active Cases      0   Oceania           0
1   2020-01-23  Australia  Active Cases      0   Oceania           0
2   2020-01-24  Australia  Active Cases      0   Oceania           0
3   2020-01-25  Australia  Active Cases      0   Oceania           0
4   2020-01-26  Australia  Active Cases      4   Oceania           0
..         ...        ...           ...    ...       ...         ...
262 2020-10-10  Australia  Active Cases   1378   Oceania           0
263 2020-10-11  Australia  Active Cases   1387   Oceania           0
264 2020-10-12  Australia  Active Cases   1382   Oceania           0
265 2020-10-13  Australia  Active Cases   1387   Oceania           0
266 2020-10-14  Australia  Active Cases   1406   Oceania           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Austria  Active Cases      0    Europe           0
1   2020-01-23  Austria  Active Cases      0    Europe           0
2   2020-01-24  Austria  Active Cases      0    Europe           0
3   2020-01-25  Austria  Active Cases      0    Europe           0
4   2020-01-26  Austria  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Austria  Active Cases  10742    Europe           0
263 2020-10-11  Austria  Active Cases  11020    Europe           0
264 2020-10-12  Austria  Active Cases  11378    Europe           0
265 2020-10-13  Austria  Active Cases  11516    Europe           0
266 2020-10-14  Austria  Active Cases  11954    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Azerbaijan  Active Cases      0      Asia           0
1   2020-01-23  Azerbaijan  Active Cases      0      Asia           0
2   2020-01-24  Azerbaijan  Active Cases      0      Asia           0
3   2020-01-25  Azerbaijan  Active Cases      0      Asia           0
4   2020-01-26  Azerbaijan  Active Cases      0      Asia           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Azerbaijan  Active Cases   1909      Asia           0
263 2020-10-11  Azerbaijan  Active Cases   2016      Asia           0
264 2020-10-12  Azerbaijan  Active Cases   2091      Asia           0
265 2020-10-13  Azerbaijan  Active Cases   2301      Asia           0
266 2020-10-14  Azerbaijan  Active Cases   2564      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bahamas  Active Cases      0  North America           0
1   2020-01-23  Bahamas  Active Cases      0  North America           0
2   2020-01-24  Bahamas  Active Cases      0  North America           0
3   2020-01-25  Bahamas  Active Cases      0  North America           0
4   2020-01-26  Bahamas  Active Cases      0  North America           0
..         ...      ...           ...    ...            ...         ...
262 2020-10-10  Bahamas  Active Cases   2102  North America           0
263 2020-10-11  Bahamas  Active Cases   2071  North America           0
264 2020-10-12  Bahamas  Active Cases   2077  North America           0
265 2020-10-13  Bahamas  Active Cases   2077  North America           0
266 2020-10-14  Bahamas  Active Cases   2004  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bahrain  Active Cases      0      Asia           0
1   2020-01-23  Bahrain  Active Cases      0      Asia           0
2   2020-01-24  Bahrain  Active Cases      0      Asia           0
3   2020-01-25  Bahrain  Active Cases      0      Asia           0
4   2020-01-26  Bahrain  Active Cases      0      Asia           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Bahrain  Active Cases   4206      Asia           0
263 2020-10-11  Bahrain  Active Cases   4090      Asia           0
264 2020-10-12  Bahrain  Active Cases   3981      Asia           0
265 2020-10-13  Bahrain  Active Cases   3823      Asia           0
266 2020-10-14  Bahrain  Active Cases   3773      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bangladesh  Active Cases      0      Asia           0
1   2020-01-23  Bangladesh  Active Cases      0      Asia           0
2   2020-01-24  Bangladesh  Active Cases      0      Asia           0
3   2020-01-25  Bangladesh  Active Cases      0      Asia           0
4   2020-01-26  Bangladesh  Active Cases      0      Asia           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Bangladesh  Active Cases  80208      Asia           0
263 2020-10-11  Bangladesh  Active Cases  79882      Asia           0
264 2020-10-12  Bangladesh  Active Cases  79792      Asia           0
265 2020-10-13  Bangladesh  Active Cases  79825      Asia           0
266 2020-10-14  Bangladesh  Active Cases  79917      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Barbados  Active Cases      0  North America           0
1   2020-01-23  Barbados  Active Cases      0  North America           0
2   2020-01-24  Barbados  Active Cases      0  North America           0
3   2020-01-25  Barbados  Active Cases      0  North America           0
4   2020-01-26  Barbados  Active Cases      0  North America           0
..         ...       ...           ...    ...            ...         ...
262 2020-10-10  Barbados  Active Cases     16  North America           0
263 2020-10-11  Barbados  Active Cases     15  North America           0
264 2020-10-12  Barbados  Active Cases     15  North America           0
265 2020-10-13  Barbados  Active Cases     16  North America           0
266 2020-10-14  Barbados  Active Cases     16  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belarus  Active Cases      0    Europe           0
1   2020-01-23  Belarus  Active Cases      0    Europe           0
2   2020-01-24  Belarus  Active Cases      0    Europe           0
3   2020-01-25  Belarus  Active Cases      0    Europe           0
4   2020-01-26  Belarus  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Belarus  Active Cases   5043    Europe           0
263 2020-10-11  Belarus  Active Cases   5418    Europe           0
264 2020-10-12  Belarus  Active Cases   5674    Europe           0
265 2020-10-13  Belarus  Active Cases   5821    Europe           0
266 2020-10-14  Belarus  Active Cases   5992    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Belgium  Active Cases       0    Europe           0
1   2020-01-23  Belgium  Active Cases       0    Europe           0
2   2020-01-24  Belgium  Active Cases       0    Europe           0
3   2020-01-25  Belgium  Active Cases       0    Europe           0
4   2020-01-26  Belgium  Active Cases       0    Europe           0
..         ...      ...           ...     ...       ...         ...
262 2020-10-10  Belgium  Active Cases  126554    Europe           0
263 2020-10-11  Belgium  Active Cases  131795    Europe           0
264 2020-10-12  Belgium  Active Cases  135345    Europe           0
265 2020-10-13  Belgium  Active Cases  142544    Europe           0
266 2020-10-14  Belgium  Active Cases  150646    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Belize  Active Cases      0  North America           0
1   2020-01-23  Belize  Active Cases      0  North America           0
2   2020-01-24  Belize  Active Cases      0  North America           0
3   2020-01-25  Belize  Active Cases      0  North America           0
4   2020-01-26  Belize  Active Cases      0  North America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10  Belize  Active Cases    905  North America           0
263 2020-10-11  Belize  Active Cases    946  North America           0
264 2020-10-12  Belize  Active Cases    966  North America           0
265 2020-10-13  Belize  Active Cases    966  North America           0
266 2020-10-14  Belize  Active Cases    983  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Benin  Active Cases      0    Africa           0
1   2020-01-23   Benin  Active Cases      0    Africa           0
2   2020-01-24   Benin  Active Cases      0    Africa           0
3   2020-01-25   Benin  Active Cases      0    Africa           0
4   2020-01-26   Benin  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Benin  Active Cases    397    Africa           0
263 2020-10-11   Benin  Active Cases    397    Africa           0
264 2020-10-12   Benin  Active Cases    397    Africa           0
265 2020-10-13   Benin  Active Cases    397    Africa           0
266 2020-10-14   Benin  Active Cases    107    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bhutan  Active Cases      0      Asia           0
1   2020-01-23  Bhutan  Active Cases      0      Asia           0
2   2020-01-24  Bhutan  Active Cases      0      Asia           0
3   2020-01-25  Bhutan  Active Cases      0      Asia           0
4   2020-01-26  Bhutan  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Bhutan  Active Cases     19      Asia           0
263 2020-10-11  Bhutan  Active Cases     21      Asia           0
264 2020-10-12  Bhutan  Active Cases     18      Asia           0
265 2020-10-13  Bhutan  Active Cases     20      Asia           0
266 2020-10-14  Bhutan  Active Cases     22      Asia           0

[267 rows x 6 columns]

1
          DATE  COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Bolivia  Active Cases      0  South America           0
1   2020-01-23  Bolivia  Active Cases      0  South America           0
2   2020-01-24  Bolivia  Active Cases      0  South America           0
3   2020-01-25  Bolivia  Active Cases      0  South America           0
4   2020-01-26  Bolivia  Active Cases      0  South America           0
..         ...      ...           ...    ...            ...         ...
262 2020-10-10  Bolivia  Active Cases  29385  South America           0
263 2020-10-11  Bolivia  Active Cases  29163  South America           0
264 2020-10-12  Bolivia  Active Cases  28846  South America           0
265 2020-10-13  Bolivia  Active Cases  28488  South America           0
266 2020-10-14  Bolivia  Active Cases  28122  South America           0

[267 rows x 6 columns]
1
          DATE                 COUNTRY          TYPE  VALUE CONTINENT  \
0   2020-01-22  Bosnia and Herzegovina  Active Cases      0    Europe
1   2020-01-23  Bosnia and Herzegovina  Active Cases      0    Europe
2   2020-01-24  Bosnia and Herzegovina  Active Cases      0    Europe
3   2020-01-25  Bosnia and Herzegovina  Active Cases      0    Europe
4   2020-01-26  Bosnia and Herzegovina  Active Cases      0    Europe
..         ...                     ...           ...    ...       ...
262 2020-10-10  Bosnia and Herzegovina  Active Cases   6048    Europe
263 2020-10-11  Bosnia and Herzegovina  Active Cases   6258    Europe
264 2020-10-12  Bosnia and Herzegovina  Active Cases   6314    Europe
265 2020-10-13  Bosnia and Herzegovina  Active Cases   6449    Europe
266 2020-10-14  Bosnia and Herzegovina  Active Cases   6623    Europe

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Botswana  Active Cases      0    Africa           0
1   2020-01-23  Botswana  Active Cases      0    Africa           0
2   2020-01-24  Botswana  Active Cases      0    Africa           0
3   2020-01-25  Botswana  Active Cases      0    Africa           0
4   2020-01-26  Botswana  Active Cases      0    Africa           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Botswana  Active Cases   2367    Africa           0
263 2020-10-11  Botswana  Active Cases   2367    Africa           0
264 2020-10-12  Botswana  Active Cases   2642    Africa           0
265 2020-10-13  Botswana  Active Cases   2642    Africa           0
266 2020-10-14  Botswana  Active Cases   2642    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE   VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Brazil  Active Cases       0  South America           0
1   2020-01-23  Brazil  Active Cases       0  South America           0
2   2020-01-24  Brazil  Active Cases       0  South America           0
3   2020-01-25  Brazil  Active Cases       0  South America           0
4   2020-01-26  Brazil  Active Cases       0  South America           0
..         ...     ...           ...     ...            ...         ...
262 2020-10-10  Brazil  Active Cases  429585  South America           0
263 2020-10-11  Brazil  Active Cases  418098  South America           0
264 2020-10-12  Brazil  Active Cases  426326  South America           0
265 2020-10-13  Brazil  Active Cases  436237  South America           0
266 2020-10-14  Brazil  Active Cases  462723  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Brunei  Active Cases      0      Asia           0
1   2020-01-23  Brunei  Active Cases      0      Asia           0
2   2020-01-24  Brunei  Active Cases      0      Asia           0
3   2020-01-25  Brunei  Active Cases      0      Asia           0
4   2020-01-26  Brunei  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Brunei  Active Cases      0      Asia           0
263 2020-10-11  Brunei  Active Cases      0      Asia           0
264 2020-10-12  Brunei  Active Cases      0      Asia           0
265 2020-10-13  Brunei  Active Cases      0      Asia           0
266 2020-10-14  Brunei  Active Cases      1      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Bulgaria  Active Cases      0    Europe           0
1   2020-01-23  Bulgaria  Active Cases      0    Europe           0
2   2020-01-24  Bulgaria  Active Cases      0    Europe           0
3   2020-01-25  Bulgaria  Active Cases      0    Europe           0
4   2020-01-26  Bulgaria  Active Cases      0    Europe           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Bulgaria  Active Cases   7610    Europe           0
263 2020-10-11  Bulgaria  Active Cases   7663    Europe           0
264 2020-10-12  Bulgaria  Active Cases   8099    Europe           0
265 2020-10-13  Bulgaria  Active Cases   8712    Europe           0
266 2020-10-14  Bulgaria  Active Cases   9175    Europe           0

[267 rows x 6 columns]
1
          DATE       COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burkina Faso  Active Cases      0    Africa           0
1   2020-01-23  Burkina Faso  Active Cases      0    Africa           0
2   2020-01-24  Burkina Faso  Active Cases      0    Africa           0
3   2020-01-25  Burkina Faso  Active Cases      0    Africa           0
4   2020-01-26  Burkina Faso  Active Cases      0    Africa           0
..         ...           ...           ...    ...       ...         ...
262 2020-10-10  Burkina Faso  Active Cases    668    Africa           0
263 2020-10-11  Burkina Faso  Active Cases    668    Africa           0
264 2020-10-12  Burkina Faso  Active Cases    660    Africa           0
265 2020-10-13  Burkina Faso  Active Cases    661    Africa           0
266 2020-10-14  Burkina Faso  Active Cases    661    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Burma  Active Cases      0      Asia           0
1   2020-01-23   Burma  Active Cases      0      Asia           0
2   2020-01-24   Burma  Active Cases      0      Asia           0
3   2020-01-25   Burma  Active Cases      0      Asia           0
4   2020-01-26   Burma  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Burma  Active Cases  18416      Asia           0
263 2020-10-11   Burma  Active Cases  17586      Asia           0
264 2020-10-12   Burma  Active Cases  18390      Asia           0
265 2020-10-13   Burma  Active Cases  17975      Asia           0
266 2020-10-14   Burma  Active Cases  16727      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Burundi  Active Cases      0    Africa           0
1   2020-01-23  Burundi  Active Cases      0    Africa           0
2   2020-01-24  Burundi  Active Cases      0    Africa           0
3   2020-01-25  Burundi  Active Cases      0    Africa           0
4   2020-01-26  Burundi  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Burundi  Active Cases     44    Africa           0
263 2020-10-11  Burundi  Active Cases     51    Africa           0
264 2020-10-12  Burundi  Active Cases     52    Africa           0
265 2020-10-13  Burundi  Active Cases     56    Africa           0
266 2020-10-14  Burundi  Active Cases     31    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cabo Verde  Active Cases      0    Africa           0
1   2020-01-23  Cabo Verde  Active Cases      0    Africa           0
2   2020-01-24  Cabo Verde  Active Cases      0    Africa           0
3   2020-01-25  Cabo Verde  Active Cases      0    Africa           0
4   2020-01-26  Cabo Verde  Active Cases      0    Africa           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Cabo Verde  Active Cases    869    Africa           0
263 2020-10-11  Cabo Verde  Active Cases   1016    Africa           0
264 2020-10-12  Cabo Verde  Active Cases   1005    Africa           0
265 2020-10-13  Cabo Verde  Active Cases    967    Africa           0
266 2020-10-14  Cabo Verde  Active Cases   1022    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cambodia  Active Cases      0      Asia           0
1   2020-01-23  Cambodia  Active Cases      0      Asia           0
2   2020-01-24  Cambodia  Active Cases      0      Asia           0
3   2020-01-25  Cambodia  Active Cases      0      Asia           0
4   2020-01-26  Cambodia  Active Cases      0      Asia           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Cambodia  Active Cases      6      Asia           0
263 2020-10-11  Cambodia  Active Cases      5      Asia           0
264 2020-10-12  Cambodia  Active Cases      5      Asia           0
265 2020-10-13  Cambodia  Active Cases      5      Asia           0
266 2020-10-14  Cambodia  Active Cases      5      Asia           0

[267 rows x 6 columns]

1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cameroon  Active Cases      0    Africa           0
1   2020-01-23  Cameroon  Active Cases      0    Africa           0
2   2020-01-24  Cameroon  Active Cases      0    Africa           0
3   2020-01-25  Cameroon  Active Cases      0    Africa           0
4   2020-01-26  Cameroon  Active Cases      0    Africa           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Cameroon  Active Cases    663    Africa           0
263 2020-10-11  Cameroon  Active Cases    663    Africa           0
264 2020-10-12  Cameroon  Active Cases    663    Africa           0
265 2020-10-13  Cameroon  Active Cases    663    Africa           0
266 2020-10-14  Cameroon  Active Cases    901    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Canada  Active Cases      0  North America           0
1   2020-01-23  Canada  Active Cases      0  North America           0
2   2020-01-24  Canada  Active Cases      0  North America           0
3   2020-01-25  Canada  Active Cases      0  North America           0
4   2020-01-26  Canada  Active Cases      1  North America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10  Canada  Active Cases  19249  North America           0
263 2020-10-11  Canada  Active Cases  18836  North America           0
264 2020-10-12  Canada  Active Cases  18758  North America           0
265 2020-10-13  Canada  Active Cases  19559  North America           0
266 2020-10-14  Canada  Active Cases  20281  North America           0

[267 rows x 6 columns]
1
          DATE                   COUNTRY          TYPE  VALUE CONTINENT  \
0   2020-01-22  Central African Republic  Active Cases      0    Africa
1   2020-01-23  Central African Republic  Active Cases      0    Africa
2   2020-01-24  Central African Republic  Active Cases      0    Africa
3   2020-01-25  Central African Republic  Active Cases      0    Africa
4   2020-01-26  Central African Republic  Active Cases      0    Africa
..         ...                       ...           ...    ...       ...
262 2020-10-10  Central African Republic  Active Cases   2868    Africa
263 2020-10-11  Central African Republic  Active Cases   2868    Africa
264 2020-10-12  Central African Republic  Active Cases   2868    Africa
265 2020-10-13  Central African Republic  Active Cases   2868    Africa
266 2020-10-14  Central African Republic  Active Cases   2869    Africa

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Chad  Active Cases      0    Africa           0
1   2020-01-23    Chad  Active Cases      0    Africa           0
2   2020-01-24    Chad  Active Cases      0    Africa           0
3   2020-01-25    Chad  Active Cases      0    Africa           0
4   2020-01-26    Chad  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Chad  Active Cases     96    Africa           0
263 2020-10-11    Chad  Active Cases     97    Africa           0
264 2020-10-12    Chad  Active Cases     99    Africa           0
265 2020-10-13    Chad  Active Cases    109    Africa           0
266 2020-10-14    Chad  Active Cases    117    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Chile  Active Cases      0  South America           0
1   2020-01-23   Chile  Active Cases      0  South America           0
2   2020-01-24   Chile  Active Cases      0  South America           0
3   2020-01-25   Chile  Active Cases      0  South America           0
4   2020-01-26   Chile  Active Cases      0  South America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10   Chile  Active Cases  14269  South America           0
263 2020-10-11   Chile  Active Cases  14701  South America           0
264 2020-10-12   Chile  Active Cases  15022  South America           0
265 2020-10-13   Chile  Active Cases  14385  South America           0
266 2020-10-14   Chile  Active Cases  13884  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   China  Active Cases    503      Asia         503
1   2020-01-23   China  Active Cases    595      Asia         503
2   2020-01-24   China  Active Cases    858      Asia         503
3   2020-01-25   China  Active Cases   1325      Asia         503
4   2020-01-26   China  Active Cases   1970      Asia         503
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   China  Active Cases    381      Asia         503
263 2020-10-11   China  Active Cases    404      Asia         503
264 2020-10-12   China  Active Cases    401      Asia         503
265 2020-10-13   China  Active Cases    412      Asia         503
266 2020-10-14   China  Active Cases    410      Asia         503

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Colombia  Active Cases      0  South America           0
1   2020-01-23  Colombia  Active Cases      0  South America           0
2   2020-01-24  Colombia  Active Cases      0  South America           0
3   2020-01-25  Colombia  Active Cases      0  South America           0
4   2020-01-26  Colombia  Active Cases      0  South America           0
..         ...       ...           ...    ...            ...         ...
262 2020-10-10  Colombia  Active Cases  91956  South America           0
263 2020-10-11  Colombia  Active Cases  93695  South America           0
264 2020-10-12  Colombia  Active Cases  92703  South America           0
265 2020-10-13  Colombia  Active Cases  89254  South America           0
266 2020-10-14  Colombia  Active Cases  85186  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Comoros  Active Cases      0    Africa           0
1   2020-01-23  Comoros  Active Cases      0    Africa           0
2   2020-01-24  Comoros  Active Cases      0    Africa           0
3   2020-01-25  Comoros  Active Cases      0    Africa           0
4   2020-01-26  Comoros  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Comoros  Active Cases     13    Africa           0
263 2020-10-11  Comoros  Active Cases     13    Africa           0
264 2020-10-12  Comoros  Active Cases     13    Africa           0
265 2020-10-13  Comoros  Active Cases      5    Africa           0
266 2020-10-14  Comoros  Active Cases      5    Africa           0

[267 rows x 6 columns]
1
          DATE              COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Brazzaville)  Active Cases      0    Africa           0
1   2020-01-23  Congo (Brazzaville)  Active Cases      0    Africa           0
2   2020-01-24  Congo (Brazzaville)  Active Cases      0    Africa           0
3   2020-01-25  Congo (Brazzaville)  Active Cases      0    Africa           0
4   2020-01-26  Congo (Brazzaville)  Active Cases      0    Africa           0
..         ...                  ...           ...    ...       ...         ...
262 2020-10-10  Congo (Brazzaville)  Active Cases   1141    Africa           0
263 2020-10-11  Congo (Brazzaville)  Active Cases   1141    Africa           0
264 2020-10-12  Congo (Brazzaville)  Active Cases   1141    Africa           0
265 2020-10-13  Congo (Brazzaville)  Active Cases   1141    Africa           0
266 2020-10-14  Congo (Brazzaville)  Active Cases   1177    Africa           0

[267 rows x 6 columns]
1
          DATE           COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Congo (Kinshasa)  Active Cases      0    Africa           0
1   2020-01-23  Congo (Kinshasa)  Active Cases      0    Africa           0
2   2020-01-24  Congo (Kinshasa)  Active Cases      0    Africa           0
3   2020-01-25  Congo (Kinshasa)  Active Cases      0    Africa           0
4   2020-01-26  Congo (Kinshasa)  Active Cases      0    Africa           0
..         ...               ...           ...    ...       ...         ...
262 2020-10-10  Congo (Kinshasa)  Active Cases    323    Africa           0
263 2020-10-11  Congo (Kinshasa)  Active Cases    333    Africa           0
264 2020-10-12  Congo (Kinshasa)  Active Cases    343    Africa           0
265 2020-10-13  Congo (Kinshasa)  Active Cases    347    Africa           0
266 2020-10-14  Congo (Kinshasa)  Active Cases    348    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Costa Rica  Active Cases      0  North America           0
1   2020-01-23  Costa Rica  Active Cases      0  North America           0
2   2020-01-24  Costa Rica  Active Cases      0  North America           0
3   2020-01-25  Costa Rica  Active Cases      0  North America           0
4   2020-01-26  Costa Rica  Active Cases      0  North America           0
..         ...         ...           ...    ...            ...         ...
262 2020-10-10  Costa Rica  Active Cases  33694  North America           0
263 2020-10-11  Costa Rica  Active Cases  33694  North America           0
264 2020-10-12  Costa Rica  Active Cases  34868  North America           0
265 2020-10-13  Costa Rica  Active Cases  35444  North America           0
266 2020-10-14  Costa Rica  Active Cases  36491  North America           0

[267 rows x 6 columns]
1

          DATE        COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cote d'Ivoire  Active Cases      0    Africa           0
1   2020-01-23  Cote d'Ivoire  Active Cases      0    Africa           0
2   2020-01-24  Cote d'Ivoire  Active Cases      0    Africa           0
3   2020-01-25  Cote d'Ivoire  Active Cases      0    Africa           0
4   2020-01-26  Cote d'Ivoire  Active Cases      0    Africa           0
..         ...            ...           ...    ...       ...         ...
262 2020-10-10  Cote d'Ivoire  Active Cases    256    Africa           0
263 2020-10-11  Cote d'Ivoire  Active Cases    236    Africa           0
264 2020-10-12  Cote d'Ivoire  Active Cases    204    Africa           0
265 2020-10-13  Cote d'Ivoire  Active Cases    203    Africa           0
266 2020-10-14  Cote d'Ivoire  Active Cases    225    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Croatia  Active Cases      0    Europe           0
1   2020-01-23  Croatia  Active Cases      0    Europe           0
2   2020-01-24  Croatia  Active Cases      0    Europe           0
3   2020-01-25  Croatia  Active Cases      0    Europe           0
4   2020-01-26  Croatia  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Croatia  Active Cases   2662    Europe           0
263 2020-10-11  Croatia  Active Cases   2818    Europe           0
264 2020-10-12  Croatia  Active Cases   2712    Europe           0
265 2020-10-13  Croatia  Active Cases   2774    Europe           0
266 2020-10-14  Croatia  Active Cases   3210    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Cuba  Active Cases      0  North America           0
1   2020-01-23    Cuba  Active Cases      0  North America           0
2   2020-01-24    Cuba  Active Cases      0  North America           0
3   2020-01-25    Cuba  Active Cases      0  North America           0
4   2020-01-26    Cuba  Active Cases      0  North America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10    Cuba  Active Cases    385  North America           0
263 2020-10-11    Cuba  Active Cases    315  North America           0
264 2020-10-12    Cuba  Active Cases    303  North America           0
265 2020-10-13    Cuba  Active Cases    292  North America           0
266 2020-10-14    Cuba  Active Cases    259  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Cyprus  Active Cases      0      Asia           0
1   2020-01-23  Cyprus  Active Cases      0      Asia           0
2   2020-01-24  Cyprus  Active Cases      0      Asia           0
3   2020-01-25  Cyprus  Active Cases      0      Asia           0
4   2020-01-26  Cyprus  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Cyprus  Active Cases    517      Asia           0
263 2020-10-11  Cyprus  Active Cases    537      Asia           0
264 2020-10-12  Cyprus  Active Cases    578      Asia           0
265 2020-10-13  Cyprus  Active Cases    661      Asia           0
266 2020-10-14  Cyprus  Active Cases    712      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Czechia  Active Cases      0    Europe           0
1   2020-01-23  Czechia  Active Cases      0    Europe           0
2   2020-01-24  Czechia  Active Cases      0    Europe           0
3   2020-01-25  Czechia  Active Cases      0    Europe           0
4   2020-01-26  Czechia  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Czechia  Active Cases  58148    Europe           0
263 2020-10-11  Czechia  Active Cases  61143    Europe           0
264 2020-10-12  Czechia  Active Cases  62170    Europe           0
265 2020-10-13  Czechia  Active Cases  68740    Europe           0
266 2020-10-14  Czechia  Active Cases  77217    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Denmark  Active Cases      0    Europe           0
1   2020-01-23  Denmark  Active Cases      0    Europe           0
2   2020-01-24  Denmark  Active Cases      0    Europe           0
3   2020-01-25  Denmark  Active Cases      0    Europe           0
4   2020-01-26  Denmark  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Denmark  Active Cases   5446    Europe           0
263 2020-10-11  Denmark  Active Cases   5391    Europe           0
264 2020-10-12  Denmark  Active Cases   5415    Europe           0
265 2020-10-13  Denmark  Active Cases   5216    Europe           0
266 2020-10-14  Denmark  Active Cases   5251    Europe           0

[267 rows x 6 columns]
1
          DATE           COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Diamond Princess  Active Cases      0     Other           0
1   2020-01-23  Diamond Princess  Active Cases      0     Other           0
2   2020-01-24  Diamond Princess  Active Cases      0     Other           0
3   2020-01-25  Diamond Princess  Active Cases      0     Other           0
4   2020-01-26  Diamond Princess  Active Cases      0     Other           0
..         ...               ...           ...    ...       ...         ...
262 2020-10-10  Diamond Princess  Active Cases     40     Other           0
263 2020-10-11  Diamond Princess  Active Cases     40     Other           0
264 2020-10-12  Diamond Princess  Active Cases     40     Other           0
265 2020-10-13  Diamond Princess  Active Cases     40     Other           0
266 2020-10-14  Diamond Princess  Active Cases     40     Other           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Djibouti  Active Cases      0    Africa           0
1   2020-01-23  Djibouti  Active Cases      0    Africa           0
2   2020-01-24  Djibouti  Active Cases      0    Africa           0
3   2020-01-25  Djibouti  Active Cases      0    Africa           0
4   2020-01-26  Djibouti  Active Cases      0    Africa           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Djibouti  Active Cases      7    Africa           0
263 2020-10-11  Djibouti  Active Cases      7    Africa           0
264 2020-10-12  Djibouti  Active Cases      5    Africa           0
265 2020-10-13  Djibouti  Active Cases      5    Africa           0
266 2020-10-14  Djibouti  Active Cases     13    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Dominica  Active Cases      0  North America           0
1   2020-01-23  Dominica  Active Cases      0  North America           0
2   2020-01-24  Dominica  Active Cases      0  North America           0
3   2020-01-25  Dominica  Active Cases      0  North America           0
4   2020-01-26  Dominica  Active Cases      0  North America           0
..         ...       ...           ...    ...            ...         ...
262 2020-10-10  Dominica  Active Cases      8  North America           0
263 2020-10-11  Dominica  Active Cases      8  North America           0
264 2020-10-12  Dominica  Active Cases      8  North America           0
265 2020-10-13  Dominica  Active Cases      8  North America           0
266 2020-10-14  Dominica  Active Cases      8  North America           0

[267 rows x 6 columns]
1
          DATE             COUNTRY          TYPE  VALUE      CONTINENT  \
0   2020-01-22  Dominican Republic  Active Cases      0  North America
1   2020-01-23  Dominican Republic  Active Cases      0  North America
2   2020-01-24  Dominican Republic  Active Cases      0  North America
3   2020-01-25  Dominican Republic  Active Cases      0  North America
4   2020-01-26  Dominican Republic  Active Cases      0  North America
..         ...                 ...           ...    ...            ...
262 2020-10-10  Dominican Republic  Active Cases  22220  North America
263 2020-10-11  Dominican Republic  Active Cases  22220  North America
264 2020-10-12  Dominican Republic  Active Cases  22132  North America
265 2020-10-13  Dominican Republic  Active Cases  21884  North America
266 2020-10-14  Dominican Republic  Active Cases  22016  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Ecuador  Active Cases      0  South America           0
1   2020-01-23  Ecuador  Active Cases      0  South America           0
2   2020-01-24  Ecuador  Active Cases      0  South America           0
3   2020-01-25  Ecuador  Active Cases      0  South America           0
4   2020-01-26  Ecuador  Active Cases      0  South America           0
..         ...      ...           ...    ...            ...         ...
262 2020-10-10  Ecuador  Active Cases  14129  South America           0
263 2020-10-11  Ecuador  Active Cases   6708  South America           0
264 2020-10-12  Ecuador  Active Cases   6963  South America           0
265 2020-10-13  Ecuador  Active Cases   7802  South America           0
266 2020-10-14  Ecuador  Active Cases   8685  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Egypt  Active Cases      0    Africa           0
1   2020-01-23   Egypt  Active Cases      0    Africa           0
2   2020-01-24   Egypt  Active Cases      0    Africa           0
3   2020-01-25   Egypt  Active Cases      0    Africa           0
4   2020-01-26   Egypt  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Egypt  Active Cases    704    Africa           0
263 2020-10-11   Egypt  Active Cases    776    Africa           0
264 2020-10-12   Egypt  Active Cases    843    Africa           0
265 2020-10-13   Egypt  Active Cases    875    Africa           0
266 2020-10-14   Egypt  Active Cases    918    Africa           0

[267 rows x 6 columns]
1
          DATE      COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  El Salvador  Active Cases      0  North America           0
1   2020-01-23  El Salvador  Active Cases      0  North America           0
2   2020-01-24  El Salvador  Active Cases      0  North America           0
3   2020-01-25  El Salvador  Active Cases      0  North America           0
4   2020-01-26  El Salvador  Active Cases      0  North America           0
..         ...          ...           ...    ...            ...         ...
262 2020-10-10  El Salvador  Active Cases   4069  North America           0
263 2020-10-11  El Salvador  Active Cases   3868  North America           0
264 2020-10-12  El Salvador  Active Cases   3864  North America           0
265 2020-10-13  El Salvador  Active Cases   3724  North America           0
266 2020-10-14  El Salvador  Active Cases   3775  North America           0

[267 rows x 6 columns]

1
          DATE            COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Equatorial Guinea  Active Cases      0    Africa           0
1   2020-01-23  Equatorial Guinea  Active Cases      0    Africa           0
2   2020-01-24  Equatorial Guinea  Active Cases      0    Africa           0
3   2020-01-25  Equatorial Guinea  Active Cases      0    Africa           0
4   2020-01-26  Equatorial Guinea  Active Cases      0    Africa           0
..         ...                ...           ...    ...       ...         ...
262 2020-10-10  Equatorial Guinea  Active Cases     86    Africa           0
263 2020-10-11  Equatorial Guinea  Active Cases     86    Africa           0
264 2020-10-12  Equatorial Guinea  Active Cases     29    Africa           0
265 2020-10-13  Equatorial Guinea  Active Cases     29    Africa           0
266 2020-10-14  Equatorial Guinea  Active Cases     31    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eritrea  Active Cases      0    Africa           0
1   2020-01-23  Eritrea  Active Cases      0    Africa           0
2   2020-01-24  Eritrea  Active Cases      0    Africa           0
3   2020-01-25  Eritrea  Active Cases      0    Africa           0
4   2020-01-26  Eritrea  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Eritrea  Active Cases     42    Africa           0
263 2020-10-11  Eritrea  Active Cases     42    Africa           0
264 2020-10-12  Eritrea  Active Cases     42    Africa           0
265 2020-10-13  Eritrea  Active Cases     42    Africa           0
266 2020-10-14  Eritrea  Active Cases     42    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Estonia  Active Cases      0    Europe           0
1   2020-01-23  Estonia  Active Cases      0    Europe           0
2   2020-01-24  Estonia  Active Cases      0    Europe           0
3   2020-01-25  Estonia  Active Cases      0    Europe           0
4   2020-01-26  Estonia  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Estonia  Active Cases    832    Europe           0
263 2020-10-11  Estonia  Active Cases    839    Europe           0
264 2020-10-12  Estonia  Active Cases    848    Europe           0
265 2020-10-13  Estonia  Active Cases    825    Europe           0
266 2020-10-14  Estonia  Active Cases    819    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Eswatini  Active Cases      0    Africa           0
1   2020-01-23  Eswatini  Active Cases      0    Africa           0
2   2020-01-24  Eswatini  Active Cases      0    Africa           0
3   2020-01-25  Eswatini  Active Cases      0    Africa           0
4   2020-01-26  Eswatini  Active Cases      0    Africa           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Eswatini  Active Cases    265    Africa           0
263 2020-10-11  Eswatini  Active Cases    246    Africa           0
264 2020-10-12  Eswatini  Active Cases    248    Africa           0
265 2020-10-13  Eswatini  Active Cases    245    Africa           0
266 2020-10-14  Eswatini  Active Cases    254    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ethiopia  Active Cases      0    Africa           0
1   2020-01-23  Ethiopia  Active Cases      0    Africa           0
2   2020-01-24  Ethiopia  Active Cases      0    Africa           0
3   2020-01-25  Ethiopia  Active Cases      0    Africa           0
4   2020-01-26  Ethiopia  Active Cases      0    Africa           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Ethiopia  Active Cases  44469    Africa           0
263 2020-10-11  Ethiopia  Active Cases  44692    Africa           0
264 2020-10-12  Ethiopia  Active Cases  44931    Africa           0
265 2020-10-13  Ethiopia  Active Cases  45106    Africa           0
266 2020-10-14  Ethiopia  Active Cases  44953    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Fiji  Active Cases      0   Oceania           0
1   2020-01-23    Fiji  Active Cases      0   Oceania           0
2   2020-01-24    Fiji  Active Cases      0   Oceania           0
3   2020-01-25    Fiji  Active Cases      0   Oceania           0
4   2020-01-26    Fiji  Active Cases      0   Oceania           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Fiji  Active Cases      2   Oceania           0
263 2020-10-11    Fiji  Active Cases      2   Oceania           0
264 2020-10-12    Fiji  Active Cases      2   Oceania           0
265 2020-10-13    Fiji  Active Cases      0   Oceania           0
266 2020-10-14    Fiji  Active Cases      0   Oceania           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Finland  Active Cases      0    Europe           0
1   2020-01-23  Finland  Active Cases      0    Europe           0
2   2020-01-24  Finland  Active Cases      0    Europe           0
3   2020-01-25  Finland  Active Cases      0    Europe           0
4   2020-01-26  Finland  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Finland  Active Cases   3003    Europe           0
263 2020-10-11  Finland  Active Cases   3152    Europe           0
264 2020-10-12  Finland  Active Cases   3366    Europe           0
265 2020-10-13  Finland  Active Cases   3653    Europe           0
266 2020-10-14  Finland  Active Cases   3253    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  France  Active Cases       0    Europe           0
1   2020-01-23  France  Active Cases       0    Europe           0
2   2020-01-24  France  Active Cases       2    Europe           0
3   2020-01-25  France  Active Cases       3    Europe           0
4   2020-01-26  France  Active Cases       3    Europe           0
..         ...     ...           ...     ...       ...         ...
262 2020-10-10  France  Active Cases  596601    Europe           0
263 2020-10-11  France  Active Cases  596601    Europe           0
264 2020-10-12  France  Active Cases  639359    Europe           0
265 2020-10-13  France  Active Cases  660072    Europe           0
266 2020-10-14  France  Active Cases  680944    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Gabon  Active Cases      0    Africa           0
1   2020-01-23   Gabon  Active Cases      0    Africa           0
2   2020-01-24   Gabon  Active Cases      0    Africa           0
3   2020-01-25   Gabon  Active Cases      0    Africa           0
4   2020-01-26   Gabon  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Gabon  Active Cases    592    Africa           0
263 2020-10-11   Gabon  Active Cases    592    Africa           0
264 2020-10-12   Gabon  Active Cases    508    Africa           0
265 2020-10-13   Gabon  Active Cases    508    Africa           0
266 2020-10-14   Gabon  Active Cases    420    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Gambia  Active Cases      0    Africa           0
1   2020-01-23  Gambia  Active Cases      0    Africa           0
2   2020-01-24  Gambia  Active Cases      0    Africa           0
3   2020-01-25  Gambia  Active Cases      0    Africa           0
4   2020-01-26  Gambia  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Gambia  Active Cases    971    Africa           0
263 2020-10-11  Gambia  Active Cases    972    Africa           0
264 2020-10-12  Gambia  Active Cases    925    Africa           0
265 2020-10-13  Gambia  Active Cases    925    Africa           0
266 2020-10-14  Gambia  Active Cases    929    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Georgia  Active Cases      0      Asia           0
1   2020-01-23  Georgia  Active Cases      0      Asia           0
2   2020-01-24  Georgia  Active Cases      0      Asia           0
3   2020-01-25  Georgia  Active Cases      0      Asia           0
4   2020-01-26  Georgia  Active Cases      0      Asia           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Georgia  Active Cases   5074      Asia           0
263 2020-10-11  Georgia  Active Cases   5382      Asia           0
264 2020-10-12  Georgia  Active Cases   5641      Asia           0
265 2020-10-13  Georgia  Active Cases   5872      Asia           0
266 2020-10-14  Georgia  Active Cases   6253      Asia           0

[267 rows x 6 columns]

1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Germany  Active Cases      0    Europe           0
1   2020-01-23  Germany  Active Cases      0    Europe           0
2   2020-01-24  Germany  Active Cases      0    Europe           0
3   2020-01-25  Germany  Active Cases      0    Europe           0
4   2020-01-26  Germany  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Germany  Active Cases  38909    Europe           0
263 2020-10-11  Germany  Active Cases  39700    Europe           0
264 2020-10-12  Germany  Active Cases  44819    Europe           0
265 2020-10-13  Germany  Active Cases  47099    Europe           0
266 2020-10-14  Germany  Active Cases  51115    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Ghana  Active Cases      0    Africa           0
1   2020-01-23   Ghana  Active Cases      0    Africa           0
2   2020-01-24   Ghana  Active Cases      0    Africa           0
3   2020-01-25   Ghana  Active Cases      0    Africa           0
4   2020-01-26   Ghana  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Ghana  Active Cases    301    Africa           0
263 2020-10-11   Ghana  Active Cases    301    Africa           0
264 2020-10-12   Ghana  Active Cases    298    Africa           0
265 2020-10-13   Ghana  Active Cases    347    Africa           0
266 2020-10-14   Ghana  Active Cases    347    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Greece  Active Cases      0    Europe           0
1   2020-01-23  Greece  Active Cases      0    Europe           0
2   2020-01-24  Greece  Active Cases      0    Europe           0
3   2020-01-25  Greece  Active Cases      0    Europe           0
4   2020-01-26  Greece  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Greece  Active Cases  20295    Europe           0
263 2020-10-11  Greece  Active Cases  20562    Europe           0
264 2020-10-12  Greece  Active Cases  20849    Europe           0
265 2020-10-13  Greece  Active Cases  21251    Europe           0
266 2020-10-14  Greece  Active Cases  21679    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Grenada  Active Cases      0  North America           0
1   2020-01-23  Grenada  Active Cases      0  North America           0
2   2020-01-24  Grenada  Active Cases      0  North America           0
3   2020-01-25  Grenada  Active Cases      0  North America           0
4   2020-01-26  Grenada  Active Cases      0  North America           0
..         ...      ...           ...    ...            ...         ...
262 2020-10-10  Grenada  Active Cases      0  North America           0
263 2020-10-11  Grenada  Active Cases      0  North America           0
264 2020-10-12  Grenada  Active Cases      1  North America           0
265 2020-10-13  Grenada  Active Cases      1  North America           0
266 2020-10-14  Grenada  Active Cases      1  North America           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guatemala  Active Cases      0  North America           0
1   2020-01-23  Guatemala  Active Cases      0  North America           0
2   2020-01-24  Guatemala  Active Cases      0  North America           0
3   2020-01-25  Guatemala  Active Cases      0  North America           0
4   2020-01-26  Guatemala  Active Cases      0  North America           0
..         ...        ...           ...    ...            ...         ...
262 2020-10-10  Guatemala  Active Cases   8133  North America           0
263 2020-10-11  Guatemala  Active Cases   7749  North America           0
264 2020-10-12  Guatemala  Active Cases   7423  North America           0
265 2020-10-13  Guatemala  Active Cases   7226  North America           0
266 2020-10-14  Guatemala  Active Cases   7248  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea  Active Cases      0    Africa           0
1   2020-01-23  Guinea  Active Cases      0    Africa           0
2   2020-01-24  Guinea  Active Cases      0    Africa           0
3   2020-01-25  Guinea  Active Cases      0    Africa           0
4   2020-01-26  Guinea  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Guinea  Active Cases    623    Africa           0
263 2020-10-11  Guinea  Active Cases    629    Africa           0
264 2020-10-12  Guinea  Active Cases    655    Africa           0
265 2020-10-13  Guinea  Active Cases    717    Africa           0
266 2020-10-14  Guinea  Active Cases    766    Africa           0

[267 rows x 6 columns]
1
          DATE        COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Guinea-Bissau  Active Cases      0    Africa           0
1   2020-01-23  Guinea-Bissau  Active Cases      0    Africa           0
2   2020-01-24  Guinea-Bissau  Active Cases      0    Africa           0
3   2020-01-25  Guinea-Bissau  Active Cases      0    Africa           0
4   2020-01-26  Guinea-Bissau  Active Cases      0    Africa           0
..         ...            ...           ...    ...       ...         ...
262 2020-10-10  Guinea-Bissau  Active Cases    617    Africa           0
263 2020-10-11  Guinea-Bissau  Active Cases    617    Africa           0
264 2020-10-12  Guinea-Bissau  Active Cases    566    Africa           0
265 2020-10-13  Guinea-Bissau  Active Cases    566    Africa           0
266 2020-10-14  Guinea-Bissau  Active Cases    566    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Guyana  Active Cases      0  South America           0
1   2020-01-23  Guyana  Active Cases      0  South America           0
2   2020-01-24  Guyana  Active Cases      0  South America           0
3   2020-01-25  Guyana  Active Cases      0  South America           0
4   2020-01-26  Guyana  Active Cases      0  South America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10  Guyana  Active Cases    999  South America           0
263 2020-10-11  Guyana  Active Cases   1048  South America           0
264 2020-10-12  Guyana  Active Cases   1026  South America           0
265 2020-10-13  Guyana  Active Cases   1024  South America           0
266 2020-10-14  Guyana  Active Cases    996  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22   Haiti  Active Cases      0  North America           0
1   2020-01-23   Haiti  Active Cases      0  North America           0
2   2020-01-24   Haiti  Active Cases      0  North America           0
3   2020-01-25   Haiti  Active Cases      0  North America           0
4   2020-01-26   Haiti  Active Cases      0  North America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10   Haiti  Active Cases   1526  North America           0
263 2020-10-11   Haiti  Active Cases   1548  North America           0
264 2020-10-12   Haiti  Active Cases   1548  North America           0
265 2020-10-13   Haiti  Active Cases   1517  North America           0
266 2020-10-14   Haiti  Active Cases   1495  North America           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Holy See  Active Cases      0    Europe           0
1   2020-01-23  Holy See  Active Cases      0    Europe           0
2   2020-01-24  Holy See  Active Cases      0    Europe           0
3   2020-01-25  Holy See  Active Cases      0    Europe           0
4   2020-01-26  Holy See  Active Cases      0    Europe           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Holy See  Active Cases      0    Europe           0
263 2020-10-11  Holy See  Active Cases      0    Europe           0
264 2020-10-12  Holy See  Active Cases      7    Europe           0
265 2020-10-13  Holy See  Active Cases      7    Europe           0
266 2020-10-14  Holy See  Active Cases      7    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Honduras  Active Cases      0  North America           0
1   2020-01-23  Honduras  Active Cases      0  North America           0
2   2020-01-24  Honduras  Active Cases      0  North America           0
3   2020-01-25  Honduras  Active Cases      0  North America           0
4   2020-01-26  Honduras  Active Cases      0  North America           0
..         ...       ...           ...    ...            ...         ...
262 2020-10-10  Honduras  Active Cases  48711  North America           0
263 2020-10-11  Honduras  Active Cases  49557  North America           0
264 2020-10-12  Honduras  Active Cases  49678  North America           0
265 2020-10-13  Honduras  Active Cases  49552  North America           0
266 2020-10-14  Honduras  Active Cases  49935  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Hungary  Active Cases      0    Europe           0
1   2020-01-23  Hungary  Active Cases      0    Europe           0
2   2020-01-24  Hungary  Active Cases      0    Europe           0
3   2020-01-25  Hungary  Active Cases      0    Europe           0
4   2020-01-26  Hungary  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Hungary  Active Cases  25980    Europe           0
263 2020-10-11  Hungary  Active Cases  25862    Europe           0
264 2020-10-12  Hungary  Active Cases  26832    Europe           0
265 2020-10-13  Hungary  Active Cases  27113    Europe           0
266 2020-10-14  Hungary  Active Cases  27595    Europe           0

[267 rows x 6 columns]

1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Iceland  Active Cases      0    Europe           0
1   2020-01-23  Iceland  Active Cases      0    Europe           0
2   2020-01-24  Iceland  Active Cases      0    Europe           0
3   2020-01-25  Iceland  Active Cases      0    Europe           0
4   2020-01-26  Iceland  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Iceland  Active Cases    984    Europe           0
263 2020-10-11  Iceland  Active Cases   1017    Europe           0
264 2020-10-12  Iceland  Active Cases   1022    Europe           0
265 2020-10-13  Iceland  Active Cases   1071    Europe           0
266 2020-10-14  Iceland  Active Cases   1132    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   India  Active Cases       0      Asia           0
1   2020-01-23   India  Active Cases       0      Asia           0
2   2020-01-24   India  Active Cases       0      Asia           0
3   2020-01-25   India  Active Cases       0      Asia           0
4   2020-01-26   India  Active Cases       0      Asia           0
..         ...     ...           ...     ...       ...         ...
262 2020-10-10   India  Active Cases  867496      Asia           0
263 2020-10-11   India  Active Cases  861853      Asia           0
264 2020-10-12   India  Active Cases  838729      Asia           0
265 2020-10-13   India  Active Cases  826876      Asia           0
266 2020-10-14   India  Active Cases  812390      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Indonesia  Active Cases      0      Asia           0
1   2020-01-23  Indonesia  Active Cases      0      Asia           0
2   2020-01-24  Indonesia  Active Cases      0      Asia           0
3   2020-01-25  Indonesia  Active Cases      0      Asia           0
4   2020-01-26  Indonesia  Active Cases      0      Asia           0
..         ...        ...           ...    ...       ...         ...
262 2020-10-10  Indonesia  Active Cases  65706      Asia           0
263 2020-10-11  Indonesia  Active Cases  66578      Asia           0
264 2020-10-12  Indonesia  Active Cases  66262      Asia           0
265 2020-10-13  Indonesia  Active Cases  65299      Asia           0
266 2020-10-14  Indonesia  Active Cases  64742      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iran  Active Cases      0      Asia           0
1   2020-01-23    Iran  Active Cases      0      Asia           0
2   2020-01-24    Iran  Active Cases      0      Asia           0
3   2020-01-25    Iran  Active Cases      0      Asia           0
4   2020-01-26    Iran  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Iran  Active Cases  64010      Asia           0
263 2020-10-11    Iran  Active Cases  65142      Asia           0
264 2020-10-12    Iran  Active Cases  66344      Asia           0
265 2020-10-13    Iran  Active Cases  67479      Asia           0
266 2020-10-14    Iran  Active Cases  69039      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Iraq  Active Cases      0      Asia           0
1   2020-01-23    Iraq  Active Cases      0      Asia           0
2   2020-01-24    Iraq  Active Cases      0      Asia           0
3   2020-01-25    Iraq  Active Cases      0      Asia           0
4   2020-01-26    Iraq  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Iraq  Active Cases  58004      Asia           0
263 2020-10-11    Iraq  Active Cases  56321      Asia           0
264 2020-10-12    Iraq  Active Cases  55475      Asia           0
265 2020-10-13    Iraq  Active Cases  55180      Asia           0
266 2020-10-14    Iraq  Active Cases  55798      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ireland  Active Cases      0    Europe           0
1   2020-01-23  Ireland  Active Cases      0    Europe           0
2   2020-01-24  Ireland  Active Cases      0    Europe           0
3   2020-01-25  Ireland  Active Cases      0    Europe           0
4   2020-01-26  Ireland  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Ireland  Active Cases  16526    Europe           0
263 2020-10-11  Ireland  Active Cases  17338    Europe           0
264 2020-10-12  Ireland  Active Cases  18160    Europe           0
265 2020-10-13  Ireland  Active Cases  18965    Europe           0
266 2020-10-14  Ireland  Active Cases  20044    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Israel  Active Cases      0      Asia           0
1   2020-01-23  Israel  Active Cases      0      Asia           0
2   2020-01-24  Israel  Active Cases      0      Asia           0
3   2020-01-25  Israel  Active Cases      0      Asia           0
4   2020-01-26  Israel  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Israel  Active Cases  62209      Asia           0
263 2020-10-11  Israel  Active Cases  59855      Asia           0
264 2020-10-12  Israel  Active Cases  53329      Asia           0
265 2020-10-13  Israel  Active Cases  48786      Asia           0
266 2020-10-14  Israel  Active Cases  44691      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Italy  Active Cases      0    Europe           0
1   2020-01-23   Italy  Active Cases      0    Europe           0
2   2020-01-24   Italy  Active Cases      0    Europe           0
3   2020-01-25   Italy  Active Cases      0    Europe           0
4   2020-01-26   Italy  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Italy  Active Cases  74829    Europe           0
263 2020-10-11   Italy  Active Cases  79075    Europe           0
264 2020-10-12   Italy  Active Cases  82764    Europe           0
265 2020-10-13   Italy  Active Cases  87193    Europe           0
266 2020-10-14   Italy  Active Cases  92445    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Jamaica  Active Cases      0  North America           0
1   2020-01-23  Jamaica  Active Cases      0  North America           0
2   2020-01-24  Jamaica  Active Cases      0  North America           0
3   2020-01-25  Jamaica  Active Cases      0  North America           0
4   2020-01-26  Jamaica  Active Cases      0  North America           0
..         ...      ...           ...    ...            ...         ...
262 2020-10-10  Jamaica  Active Cases   4279  North America           0
263 2020-10-11  Jamaica  Active Cases   4417  North America           0
264 2020-10-12  Jamaica  Active Cases   4430  North America           0
265 2020-10-13  Jamaica  Active Cases   4461  North America           0
266 2020-10-14  Jamaica  Active Cases   4407  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Japan  Active Cases      2      Asia           2
1   2020-01-23   Japan  Active Cases      2      Asia           2
2   2020-01-24   Japan  Active Cases      2      Asia           2
3   2020-01-25   Japan  Active Cases      2      Asia           2
4   2020-01-26   Japan  Active Cases      3      Asia           2
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Japan  Active Cases   6538      Asia           2
263 2020-10-11   Japan  Active Cases   6506      Asia           2
264 2020-10-12   Japan  Active Cases   6469      Asia           2
265 2020-10-13   Japan  Active Cases   6455      Asia           2
266 2020-10-14   Japan  Active Cases   6472      Asia           2

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Jordan  Active Cases      0      Asia           0
1   2020-01-23  Jordan  Active Cases      0      Asia           0
2   2020-01-24  Jordan  Active Cases      0      Asia           0
3   2020-01-25  Jordan  Active Cases      0      Asia           0
4   2020-01-26  Jordan  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Jordan  Active Cases  17772      Asia           0
263 2020-10-11  Jordan  Active Cases  18634      Asia           0
264 2020-10-12  Jordan  Active Cases  19647      Asia           0
265 2020-10-13  Jordan  Active Cases  21541      Asia           0
266 2020-10-14  Jordan  Active Cases  23827      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kazakhstan  Active Cases      0      Asia           0
1   2020-01-23  Kazakhstan  Active Cases      0      Asia           0
2   2020-01-24  Kazakhstan  Active Cases      0      Asia           0
3   2020-01-25  Kazakhstan  Active Cases      0      Asia           0
4   2020-01-26  Kazakhstan  Active Cases      0      Asia           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Kazakhstan  Active Cases   3031      Asia           0
263 2020-10-11  Kazakhstan  Active Cases   3044      Asia           0
264 2020-10-12  Kazakhstan  Active Cases   2952      Asia           0
265 2020-10-13  Kazakhstan  Active Cases   2870      Asia           0
266 2020-10-14  Kazakhstan  Active Cases   2801      Asia           0

[267 rows x 6 columns]

1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Kenya  Active Cases      0    Africa           0
1   2020-01-23   Kenya  Active Cases      0    Africa           0
2   2020-01-24   Kenya  Active Cases      0    Africa           0
3   2020-01-25   Kenya  Active Cases      0    Africa           0
4   2020-01-26   Kenya  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Kenya  Active Cases   8522    Africa           0
263 2020-10-11   Kenya  Active Cases   8780    Africa           0
264 2020-10-12   Kenya  Active Cases   8842    Africa           0
265 2020-10-13   Kenya  Active Cases   9810    Africa           0
266 2020-10-14   Kenya  Active Cases  10316    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Korea, South  Active Cases      1      Asia           1
1   2020-01-23  Korea, South  Active Cases      1      Asia           1
2   2020-01-24  Korea, South  Active Cases      2      Asia           1
3   2020-01-25  Korea, South  Active Cases      2      Asia           1
4   2020-01-26  Korea, South  Active Cases      3      Asia           1
..         ...           ...           ...    ...       ...         ...
262 2020-10-10  Korea, South  Active Cases   1481      Asia           1
263 2020-10-11  Korea, South  Active Cases   1541      Asia           1
264 2020-10-12  Korea, South  Active Cases   1508      Asia           1
265 2020-10-13  Korea, South  Active Cases   1421      Asia           1
266 2020-10-14  Korea, South  Active Cases   1467      Asia           1

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kosovo  Active Cases      0    Europe           0
1   2020-01-23  Kosovo  Active Cases      0    Europe           0
2   2020-01-24  Kosovo  Active Cases      0    Europe           0
3   2020-01-25  Kosovo  Active Cases      0    Europe           0
4   2020-01-26  Kosovo  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Kosovo  Active Cases   1203    Europe           0
263 2020-10-11  Kosovo  Active Cases   1197    Europe           0
264 2020-10-12  Kosovo  Active Cases   1231    Europe           0
265 2020-10-13  Kosovo  Active Cases   1291    Europe           0
266 2020-10-14  Kosovo  Active Cases   1320    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kuwait  Active Cases      0      Asia           0
1   2020-01-23  Kuwait  Active Cases      0      Asia           0
2   2020-01-24  Kuwait  Active Cases      0      Asia           0
3   2020-01-25  Kuwait  Active Cases      0      Asia           0
4   2020-01-26  Kuwait  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Kuwait  Active Cases   7191      Asia           0
263 2020-10-11  Kuwait  Active Cases   7190      Asia           0
264 2020-10-12  Kuwait  Active Cases   7427      Asia           0
265 2020-10-13  Kuwait  Active Cases   7557      Asia           0
266 2020-10-14  Kuwait  Active Cases   7357      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Kyrgyzstan  Active Cases      0      Asia           0
1   2020-01-23  Kyrgyzstan  Active Cases      0      Asia           0
2   2020-01-24  Kyrgyzstan  Active Cases      0      Asia           0
3   2020-01-25  Kyrgyzstan  Active Cases      0      Asia           0
4   2020-01-26  Kyrgyzstan  Active Cases      0      Asia           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Kyrgyzstan  Active Cases   3615      Asia           0
263 2020-10-11  Kyrgyzstan  Active Cases   3918      Asia           0
264 2020-10-12  Kyrgyzstan  Active Cases   3916      Asia           0
265 2020-10-13  Kyrgyzstan  Active Cases   4067      Asia           0
266 2020-10-14  Kyrgyzstan  Active Cases   4223      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Laos  Active Cases      0      Asia           0
1   2020-01-23    Laos  Active Cases      0      Asia           0
2   2020-01-24    Laos  Active Cases      0      Asia           0
3   2020-01-25    Laos  Active Cases      0      Asia           0
4   2020-01-26    Laos  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Laos  Active Cases      1      Asia           0
263 2020-10-11    Laos  Active Cases      1      Asia           0
264 2020-10-12    Laos  Active Cases      1      Asia           0
265 2020-10-13    Laos  Active Cases      1      Asia           0
266 2020-10-14    Laos  Active Cases      1      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Latvia  Active Cases      0    Europe           0
1   2020-01-23  Latvia  Active Cases      0    Europe           0
2   2020-01-24  Latvia  Active Cases      0    Europe           0
3   2020-01-25  Latvia  Active Cases      0    Europe           0
4   2020-01-26  Latvia  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Latvia  Active Cases   1234    Europe           0
263 2020-10-11  Latvia  Active Cases   1308    Europe           0
264 2020-10-12  Latvia  Active Cases   1400    Europe           0
265 2020-10-13  Latvia  Active Cases   1474    Europe           0
266 2020-10-14  Latvia  Active Cases   1576    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lebanon  Active Cases      0      Asia           0
1   2020-01-23  Lebanon  Active Cases      0      Asia           0
2   2020-01-24  Lebanon  Active Cases      0      Asia           0
3   2020-01-25  Lebanon  Active Cases      0      Asia           0
4   2020-01-26  Lebanon  Active Cases      0      Asia           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Lebanon  Active Cases  29384      Asia           0
263 2020-10-11  Lebanon  Active Cases  29608      Asia           0
264 2020-10-12  Lebanon  Active Cases  30217      Asia           0
265 2020-10-13  Lebanon  Active Cases  30809      Asia           0
266 2020-10-14  Lebanon  Active Cases  31583      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lesotho  Active Cases      0    Africa           0
1   2020-01-23  Lesotho  Active Cases      0    Africa           0
2   2020-01-24  Lesotho  Active Cases      0    Africa           0
3   2020-01-25  Lesotho  Active Cases      0    Africa           0
4   2020-01-26  Lesotho  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Lesotho  Active Cases    832    Africa           0
263 2020-10-11  Lesotho  Active Cases    802    Africa           0
264 2020-10-12  Lesotho  Active Cases    802    Africa           0
265 2020-10-13  Lesotho  Active Cases    819    Africa           0
266 2020-10-14  Lesotho  Active Cases    830    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liberia  Active Cases      0    Africa           0
1   2020-01-23  Liberia  Active Cases      0    Africa           0
2   2020-01-24  Liberia  Active Cases      0    Africa           0
3   2020-01-25  Liberia  Active Cases      0    Africa           0
4   2020-01-26  Liberia  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Liberia  Active Cases     36    Africa           0
263 2020-10-11  Liberia  Active Cases     36    Africa           0
264 2020-10-12  Liberia  Active Cases     39    Africa           0
265 2020-10-13  Liberia  Active Cases     38    Africa           0
266 2020-10-14  Liberia  Active Cases     36    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Libya  Active Cases      0    Africa           0
1   2020-01-23   Libya  Active Cases      0    Africa           0
2   2020-01-24   Libya  Active Cases      0    Africa           0
3   2020-01-25   Libya  Active Cases      0    Africa           0
4   2020-01-26   Libya  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Libya  Active Cases  17272    Africa           0
263 2020-10-11   Libya  Active Cases  18043    Africa           0
264 2020-10-12   Libya  Active Cases  18711    Africa           0
265 2020-10-13   Libya  Active Cases  19322    Africa           0
266 2020-10-14   Libya  Active Cases  19851    Africa           0

[267 rows x 6 columns]

1
          DATE        COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Liechtenstein  Active Cases      0    Europe           0
1   2020-01-23  Liechtenstein  Active Cases      0    Europe           0
2   2020-01-24  Liechtenstein  Active Cases      0    Europe           0
3   2020-01-25  Liechtenstein  Active Cases      0    Europe           0
4   2020-01-26  Liechtenstein  Active Cases      0    Europe           0
..         ...            ...           ...    ...       ...         ...
262 2020-10-10  Liechtenstein  Active Cases     24    Europe           0
263 2020-10-11  Liechtenstein  Active Cases     22    Europe           0
264 2020-10-12  Liechtenstein  Active Cases     23    Europe           0
265 2020-10-13  Liechtenstein  Active Cases     34    Europe           0
266 2020-10-14  Liechtenstein  Active Cases     42    Europe           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Lithuania  Active Cases      0    Europe           0
1   2020-01-23  Lithuania  Active Cases      0    Europe           0
2   2020-01-24  Lithuania  Active Cases      0    Europe           0
3   2020-01-25  Lithuania  Active Cases      0    Europe           0
4   2020-01-26  Lithuania  Active Cases      0    Europe           0
..         ...        ...           ...    ...       ...         ...
262 2020-10-10  Lithuania  Active Cases   3109    Europe           0
263 2020-10-11  Lithuania  Active Cases   3242    Europe           0
264 2020-10-12  Lithuania  Active Cases   3352    Europe           0
265 2020-10-13  Lithuania  Active Cases   3418    Europe           0
266 2020-10-14  Lithuania  Active Cases   3493    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Luxembourg  Active Cases      0    Europe           0
1   2020-01-23  Luxembourg  Active Cases      0    Europe           0
2   2020-01-24  Luxembourg  Active Cases      0    Europe           0
3   2020-01-25  Luxembourg  Active Cases      0    Europe           0
4   2020-01-26  Luxembourg  Active Cases      0    Europe           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Luxembourg  Active Cases   1091    Europe           0
263 2020-10-11  Luxembourg  Active Cases   1091    Europe           0
264 2020-10-12  Luxembourg  Active Cases   1091    Europe           0
265 2020-10-13  Luxembourg  Active Cases   1091    Europe           0
266 2020-10-14  Luxembourg  Active Cases   1091    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  MS Zaandam  Active Cases      0     Other           0
1   2020-01-23  MS Zaandam  Active Cases      0     Other           0
2   2020-01-24  MS Zaandam  Active Cases      0     Other           0
3   2020-01-25  MS Zaandam  Active Cases      0     Other           0
4   2020-01-26  MS Zaandam  Active Cases      0     Other           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  MS Zaandam  Active Cases      7     Other           0
263 2020-10-11  MS Zaandam  Active Cases      7     Other           0
264 2020-10-12  MS Zaandam  Active Cases      7     Other           0
265 2020-10-13  MS Zaandam  Active Cases      7     Other           0
266 2020-10-14  MS Zaandam  Active Cases      7     Other           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Madagascar  Active Cases      0    Africa           0
1   2020-01-23  Madagascar  Active Cases      0    Africa           0
2   2020-01-24  Madagascar  Active Cases      0    Africa           0
3   2020-01-25  Madagascar  Active Cases      0    Africa           0
4   2020-01-26  Madagascar  Active Cases      0    Africa           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Madagascar  Active Cases    453    Africa           0
263 2020-10-11  Madagascar  Active Cases    439    Africa           0
264 2020-10-12  Madagascar  Active Cases    408    Africa           0
265 2020-10-13  Madagascar  Active Cases    393    Africa           0
266 2020-10-14  Madagascar  Active Cases    393    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malawi  Active Cases      0    Africa           0
1   2020-01-23  Malawi  Active Cases      0    Africa           0
2   2020-01-24  Malawi  Active Cases      0    Africa           0
3   2020-01-25  Malawi  Active Cases      0    Africa           0
4   2020-01-26  Malawi  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Malawi  Active Cases    997    Africa           0
263 2020-10-11  Malawi  Active Cases    994    Africa           0
264 2020-10-12  Malawi  Active Cases    985    Africa           0
265 2020-10-13  Malawi  Active Cases    958    Africa           0
266 2020-10-14  Malawi  Active Cases    925    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Malaysia  Active Cases      0      Asia           0
1   2020-01-23  Malaysia  Active Cases      0      Asia           0
2   2020-01-24  Malaysia  Active Cases      0      Asia           0
3   2020-01-25  Malaysia  Active Cases      3      Asia           0
4   2020-01-26  Malaysia  Active Cases      4      Asia           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Malaysia  Active Cases   4161      Asia           0
263 2020-10-11  Malaysia  Active Cases   4587      Asia           0
264 2020-10-12  Malaysia  Active Cases   5039      Asia           0
265 2020-10-13  Malaysia  Active Cases   5345      Asia           0
266 2020-10-14  Malaysia  Active Cases   5768      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Maldives  Active Cases      0      Asia           0
1   2020-01-23  Maldives  Active Cases      0      Asia           0
2   2020-01-24  Maldives  Active Cases      0      Asia           0
3   2020-01-25  Maldives  Active Cases      0      Asia           0
4   2020-01-26  Maldives  Active Cases      0      Asia           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Maldives  Active Cases   1142      Asia           0
263 2020-10-11  Maldives  Active Cases   1117      Asia           0
264 2020-10-12  Maldives  Active Cases   1125      Asia           0
265 2020-10-13  Maldives  Active Cases   1125      Asia           0
266 2020-10-14  Maldives  Active Cases   1147      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Mali  Active Cases      0    Africa           0
1   2020-01-23    Mali  Active Cases      0    Africa           0
2   2020-01-24    Mali  Active Cases      0    Africa           0
3   2020-01-25    Mali  Active Cases      0    Africa           0
4   2020-01-26    Mali  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Mali  Active Cases    616    Africa           0
263 2020-10-11    Mali  Active Cases    627    Africa           0
264 2020-10-12    Mali  Active Cases    631    Africa           0
265 2020-10-13    Mali  Active Cases    621    Africa           0
266 2020-10-14    Mali  Active Cases    670    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Malta  Active Cases      0    Europe           0
1   2020-01-23   Malta  Active Cases      0    Europe           0
2   2020-01-24   Malta  Active Cases      0    Europe           0
3   2020-01-25   Malta  Active Cases      0    Europe           0
4   2020-01-26   Malta  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Malta  Active Cases    703    Europe           0
263 2020-10-11   Malta  Active Cases    768    Europe           0
264 2020-10-12   Malta  Active Cases    820    Europe           0
265 2020-10-13   Malta  Active Cases    881    Europe           0
266 2020-10-14   Malta  Active Cases    940    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritania  Active Cases      0    Africa           0
1   2020-01-23  Mauritania  Active Cases      0    Africa           0
2   2020-01-24  Mauritania  Active Cases      0    Africa           0
3   2020-01-25  Mauritania  Active Cases      0    Africa           0
4   2020-01-26  Mauritania  Active Cases      0    Africa           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Mauritania  Active Cases    121    Africa           0
263 2020-10-11  Mauritania  Active Cases    113    Africa           0
264 2020-10-12  Mauritania  Active Cases     94    Africa           0
265 2020-10-13  Mauritania  Active Cases    101    Africa           0
266 2020-10-14  Mauritania  Active Cases     95    Africa           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mauritius  Active Cases      0    Africa           0
1   2020-01-23  Mauritius  Active Cases      0    Africa           0
2   2020-01-24  Mauritius  Active Cases      0    Africa           0
3   2020-01-25  Mauritius  Active Cases      0    Africa           0
4   2020-01-26  Mauritius  Active Cases      0    Africa           0
..         ...        ...           ...    ...       ...         ...
262 2020-10-10  Mauritius  Active Cases     27    Africa           0
263 2020-10-11  Mauritius  Active Cases     27    Africa           0
264 2020-10-12  Mauritius  Active Cases     35    Africa           0
265 2020-10-13  Mauritius  Active Cases     36    Africa           0
266 2020-10-14  Mauritius  Active Cases     36    Africa           0

[267 rows x 6 columns]

1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Mexico  Active Cases      0  North America           0
1   2020-01-23  Mexico  Active Cases      0  North America           0
2   2020-01-24  Mexico  Active Cases      0  North America           0
3   2020-01-25  Mexico  Active Cases      0  North America           0
4   2020-01-26  Mexico  Active Cases      0  North America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10  Mexico  Active Cases  41309  North America           0
263 2020-10-11  Mexico  Active Cases  39508  North America           0
264 2020-10-12  Mexico  Active Cases  36274  North America           0
265 2020-10-13  Mexico  Active Cases  37463  North America           0
266 2020-10-14  Mexico  Active Cases  41009  North America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Moldova  Active Cases      0    Europe           0
1   2020-01-23  Moldova  Active Cases      0    Europe           0
2   2020-01-24  Moldova  Active Cases      0    Europe           0
3   2020-01-25  Moldova  Active Cases      0    Europe           0
4   2020-01-26  Moldova  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Moldova  Active Cases  16322    Europe           0
263 2020-10-11  Moldova  Active Cases  16333    Europe           0
264 2020-10-12  Moldova  Active Cases  16412    Europe           0
265 2020-10-13  Moldova  Active Cases  16678    Europe           0
266 2020-10-14  Moldova  Active Cases  17365    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Monaco  Active Cases      0    Europe           0
1   2020-01-23  Monaco  Active Cases      0    Europe           0
2   2020-01-24  Monaco  Active Cases      0    Europe           0
3   2020-01-25  Monaco  Active Cases      0    Europe           0
4   2020-01-26  Monaco  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Monaco  Active Cases     22    Europe           0
263 2020-10-11  Monaco  Active Cases     23    Europe           0
264 2020-10-12  Monaco  Active Cases     21    Europe           0
265 2020-10-13  Monaco  Active Cases     22    Europe           0
266 2020-10-14  Monaco  Active Cases     29    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mongolia  Active Cases      0      Asia           0
1   2020-01-23  Mongolia  Active Cases      0      Asia           0
2   2020-01-24  Mongolia  Active Cases      0      Asia           0
3   2020-01-25  Mongolia  Active Cases      0      Asia           0
4   2020-01-26  Mongolia  Active Cases      0      Asia           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Mongolia  Active Cases      5      Asia           0
263 2020-10-11  Mongolia  Active Cases      8      Asia           0
264 2020-10-12  Mongolia  Active Cases      9      Asia           0
265 2020-10-13  Mongolia  Active Cases      9      Asia           0
266 2020-10-14  Mongolia  Active Cases      9      Asia           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Montenegro  Active Cases      0    Europe           0
1   2020-01-23  Montenegro  Active Cases      0    Europe           0
2   2020-01-24  Montenegro  Active Cases      0    Europe           0
3   2020-01-25  Montenegro  Active Cases      0    Europe           0
4   2020-01-26  Montenegro  Active Cases      0    Europe           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Montenegro  Active Cases   4014    Europe           0
263 2020-10-11  Montenegro  Active Cases   4047    Europe           0
264 2020-10-12  Montenegro  Active Cases   3919    Europe           0
265 2020-10-13  Montenegro  Active Cases   3992    Europe           0
266 2020-10-14  Montenegro  Active Cases   4043    Europe           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Morocco  Active Cases      0    Africa           0
1   2020-01-23  Morocco  Active Cases      0    Africa           0
2   2020-01-24  Morocco  Active Cases      0    Africa           0
3   2020-01-25  Morocco  Active Cases      0    Africa           0
4   2020-01-26  Morocco  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Morocco  Active Cases  22415    Africa           0
263 2020-10-11  Morocco  Active Cases  22392    Africa           0
264 2020-10-12  Morocco  Active Cases  21627    Africa           0
265 2020-10-13  Morocco  Active Cases  22799    Africa           0
266 2020-10-14  Morocco  Active Cases  23648    Africa           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Mozambique  Active Cases      0    Africa           0
1   2020-01-23  Mozambique  Active Cases      0    Africa           0
2   2020-01-24  Mozambique  Active Cases      0    Africa           0
3   2020-01-25  Mozambique  Active Cases      0    Africa           0
4   2020-01-26  Mozambique  Active Cases      0    Africa           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Mozambique  Active Cases   2571    Africa           0
263 2020-10-11  Mozambique  Active Cases   2592    Africa           0
264 2020-10-12  Mozambique  Active Cases   2466    Africa           0
265 2020-10-13  Mozambique  Active Cases   2305    Africa           0
266 2020-10-14  Mozambique  Active Cases   2284    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Namibia  Active Cases      0    Africa           0
1   2020-01-23  Namibia  Active Cases      0    Africa           0
2   2020-01-24  Namibia  Active Cases      0    Africa           0
3   2020-01-25  Namibia  Active Cases      0    Africa           0
4   2020-01-26  Namibia  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Namibia  Active Cases   1956    Africa           0
263 2020-10-11  Namibia  Active Cases   1991    Africa           0
264 2020-10-12  Namibia  Active Cases   1947    Africa           0
265 2020-10-13  Namibia  Active Cases   1751    Africa           0
266 2020-10-14  Namibia  Active Cases   1794    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Nepal  Active Cases      0      Asia           0
1   2020-01-23   Nepal  Active Cases      0      Asia           0
2   2020-01-24   Nepal  Active Cases      0      Asia           0
3   2020-01-25   Nepal  Active Cases      1      Asia           0
4   2020-01-26   Nepal  Active Cases      1      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Nepal  Active Cases  30818      Asia           0
263 2020-10-11   Nepal  Active Cases  31315      Asia           0
264 2020-10-12   Nepal  Active Cases  33880      Asia           0
265 2020-10-13   Nepal  Active Cases  35915      Asia           0
266 2020-10-14   Nepal  Active Cases  36367      Asia           0

[267 rows x 6 columns]
1
          DATE      COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Netherlands  Active Cases       0    Europe           0
1   2020-01-23  Netherlands  Active Cases       0    Europe           0
2   2020-01-24  Netherlands  Active Cases       0    Europe           0
3   2020-01-25  Netherlands  Active Cases       0    Europe           0
4   2020-01-26  Netherlands  Active Cases       0    Europe           0
..         ...          ...           ...     ...       ...         ...
262 2020-10-10  Netherlands  Active Cases  162509    Europe           0
263 2020-10-11  Netherlands  Active Cases  168863    Europe           0
264 2020-10-12  Netherlands  Active Cases  175652    Europe           0
265 2020-10-13  Netherlands  Active Cases  182987    Europe           0
266 2020-10-14  Netherlands  Active Cases  190212    Europe           0

[267 rows x 6 columns]
1

          DATE      COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  New Zealand  Active Cases      0   Oceania           0
1   2020-01-23  New Zealand  Active Cases      0   Oceania           0
2   2020-01-24  New Zealand  Active Cases      0   Oceania           0
3   2020-01-25  New Zealand  Active Cases      0   Oceania           0
4   2020-01-26  New Zealand  Active Cases      0   Oceania           0
..         ...          ...           ...    ...       ...         ...
262 2020-10-10  New Zealand  Active Cases     45   Oceania           0
263 2020-10-11  New Zealand  Active Cases     45   Oceania           0
264 2020-10-12  New Zealand  Active Cases     39   Oceania           0
265 2020-10-13  New Zealand  Active Cases     40   Oceania           0
266 2020-10-14  New Zealand  Active Cases     42   Oceania           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Nicaragua  Active Cases      0  North America           0
1   2020-01-23  Nicaragua  Active Cases      0  North America           0
2   2020-01-24  Nicaragua  Active Cases      0  North America           0
3   2020-01-25  Nicaragua  Active Cases      0  North America           0
4   2020-01-26  Nicaragua  Active Cases      0  North America           0
..         ...        ...           ...    ...            ...         ...
262 2020-10-10  Nicaragua  Active Cases    886  North America           0
263 2020-10-11  Nicaragua  Active Cases    886  North America           0
264 2020-10-12  Nicaragua  Active Cases    886  North America           0
265 2020-10-13  Nicaragua  Active Cases    974  North America           0
266 2020-10-14  Nicaragua  Active Cases    974  North America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Niger  Active Cases      0    Africa           0
1   2020-01-23   Niger  Active Cases      0    Africa           0
2   2020-01-24   Niger  Active Cases      0    Africa           0
3   2020-01-25   Niger  Active Cases      0    Africa           0
4   2020-01-26   Niger  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Niger  Active Cases      9    Africa           0
263 2020-10-11   Niger  Active Cases      9    Africa           0
264 2020-10-12   Niger  Active Cases      9    Africa           0
265 2020-10-13   Niger  Active Cases     10    Africa           0
266 2020-10-14   Niger  Active Cases     12    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Nigeria  Active Cases      0    Africa           0
1   2020-01-23  Nigeria  Active Cases      0    Africa           0
2   2020-01-24  Nigeria  Active Cases      0    Africa           0
3   2020-01-25  Nigeria  Active Cases      0    Africa           0
4   2020-01-26  Nigeria  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Nigeria  Active Cases   7277    Africa           0
263 2020-10-11  Nigeria  Active Cases   7416    Africa           0
264 2020-10-12  Nigeria  Active Cases   7372    Africa           0
265 2020-10-13  Nigeria  Active Cases   7533    Africa           0
266 2020-10-14  Nigeria  Active Cases   7575    Africa           0

[267 rows x 6 columns]
1
          DATE          COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  North Macedonia  Active Cases      0    Europe           0
1   2020-01-23  North Macedonia  Active Cases      0    Europe           0
2   2020-01-24  North Macedonia  Active Cases      0    Europe           0
3   2020-01-25  North Macedonia  Active Cases      0    Europe           0
4   2020-01-26  North Macedonia  Active Cases      0    Europe           0
..         ...              ...           ...    ...       ...         ...
262 2020-10-10  North Macedonia  Active Cases   3671    Europe           0
263 2020-10-11  North Macedonia  Active Cases   3951    Europe           0
264 2020-10-12  North Macedonia  Active Cases   4015    Europe           0
265 2020-10-13  North Macedonia  Active Cases   3996    Europe           0
266 2020-10-14  North Macedonia  Active Cases   4236    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Norway  Active Cases      0    Europe           0
1   2020-01-23  Norway  Active Cases      0    Europe           0
2   2020-01-24  Norway  Active Cases      0    Europe           0
3   2020-01-25  Norway  Active Cases      0    Europe           0
4   2020-01-26  Norway  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Norway  Active Cases   3328    Europe           0
263 2020-10-11  Norway  Active Cases   3386    Europe           0
264 2020-10-12  Norway  Active Cases   3500    Europe           0
265 2020-10-13  Norway  Active Cases   3653    Europe           0
266 2020-10-14  Norway  Active Cases   3813    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Oman  Active Cases      0      Asia           0
1   2020-01-23    Oman  Active Cases      0      Asia           0
2   2020-01-24    Oman  Active Cases      0      Asia           0
3   2020-01-25    Oman  Active Cases      0      Asia           0
4   2020-01-26    Oman  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Oman  Active Cases  11389      Asia           0
263 2020-10-11    Oman  Active Cases  12012      Asia           0
264 2020-10-12    Oman  Active Cases  12307      Asia           0
265 2020-10-13    Oman  Active Cases  12603      Asia           0
266 2020-10-14    Oman  Active Cases  12807      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Pakistan  Active Cases      0      Asia           0
1   2020-01-23  Pakistan  Active Cases      0      Asia           0
2   2020-01-24  Pakistan  Active Cases      0      Asia           0
3   2020-01-25  Pakistan  Active Cases      0      Asia           0
4   2020-01-26  Pakistan  Active Cases      0      Asia           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Pakistan  Active Cases   8904      Asia           0
263 2020-10-11  Pakistan  Active Cases   8552      Asia           0
264 2020-10-12  Pakistan  Active Cases   8651      Asia           0
265 2020-10-13  Pakistan  Active Cases   8782      Asia           0
266 2020-10-14  Pakistan  Active Cases   9209      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Panama  Active Cases      0  North America           0
1   2020-01-23  Panama  Active Cases      0  North America           0
2   2020-01-24  Panama  Active Cases      0  North America           0
3   2020-01-25  Panama  Active Cases      0  North America           0
4   2020-01-26  Panama  Active Cases      0  North America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10  Panama  Active Cases  21632  North America           0
263 2020-10-11  Panama  Active Cases  21658  North America           0
264 2020-10-12  Panama  Active Cases  21625  North America           0
265 2020-10-13  Panama  Active Cases  21488  North America           0
266 2020-10-14  Panama  Active Cases  21690  North America           0

[267 rows x 6 columns]
1
          DATE           COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Papua New Guinea  Active Cases      0   Oceania           0
1   2020-01-23  Papua New Guinea  Active Cases      0   Oceania           0
2   2020-01-24  Papua New Guinea  Active Cases      0   Oceania           0
3   2020-01-25  Papua New Guinea  Active Cases      0   Oceania           0
4   2020-01-26  Papua New Guinea  Active Cases      0   Oceania           0
..         ...               ...           ...    ...       ...         ...
262 2020-10-10  Papua New Guinea  Active Cases     10   Oceania           0
263 2020-10-11  Papua New Guinea  Active Cases     15   Oceania           0
264 2020-10-12  Papua New Guinea  Active Cases     21   Oceania           0
265 2020-10-13  Papua New Guinea  Active Cases     21   Oceania           0
266 2020-10-14  Papua New Guinea  Active Cases     34   Oceania           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Paraguay  Active Cases      0  South America           0
1   2020-01-23  Paraguay  Active Cases      0  South America           0
2   2020-01-24  Paraguay  Active Cases      0  South America           0
3   2020-01-25  Paraguay  Active Cases      0  South America           0
4   2020-01-26  Paraguay  Active Cases      0  South America           0
..         ...       ...           ...    ...            ...         ...
262 2020-10-10  Paraguay  Active Cases  16562  South America           0
263 2020-10-11  Paraguay  Active Cases  16508  South America           0
264 2020-10-12  Paraguay  Active Cases  16497  South America           0
265 2020-10-13  Paraguay  Active Cases  16764  South America           0
266 2020-10-14  Paraguay  Active Cases  16793  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22    Peru  Active Cases      0  South America           0
1   2020-01-23    Peru  Active Cases      0  South America           0
2   2020-01-24    Peru  Active Cases      0  South America           0
3   2020-01-25    Peru  Active Cases      0  South America           0
4   2020-01-26    Peru  Active Cases      0  South America           0
..         ...     ...           ...    ...            ...         ...
262 2020-10-10    Peru  Active Cases  79865  South America           0
263 2020-10-11    Peru  Active Cases  77877  South America           0
264 2020-10-12    Peru  Active Cases  73845  South America           0
265 2020-10-13    Peru  Active Cases  72458  South America           0
266 2020-10-14    Peru  Active Cases  66596  South America           0

[267 rows x 6 columns]
1

          DATE      COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Philippines  Active Cases      0      Asia           0
1   2020-01-23  Philippines  Active Cases      0      Asia           0
2   2020-01-24  Philippines  Active Cases      0      Asia           0
3   2020-01-25  Philippines  Active Cases      0      Asia           0
4   2020-01-26  Philippines  Active Cases      0      Asia           0
..         ...          ...           ...    ...       ...         ...
262 2020-10-10  Philippines  Active Cases  54594      Asia           0
263 2020-10-11  Philippines  Active Cases  39945      Asia           0
264 2020-10-12  Philippines  Active Cases  43332      Asia           0
265 2020-10-13  Philippines  Active Cases  44958      Asia           0
266 2020-10-14  Philippines  Active Cases  46227      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Poland  Active Cases      0    Europe           0
1   2020-01-23  Poland  Active Cases      0    Europe           0
2   2020-01-24  Poland  Active Cases      0    Europe           0
3   2020-01-25  Poland  Active Cases      0    Europe           0
4   2020-01-26  Poland  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Poland  Active Cases  39684    Europe           0
263 2020-10-11  Poland  Active Cases  42510    Europe           0
264 2020-10-12  Poland  Active Cases  45970    Europe           0
265 2020-10-13  Poland  Active Cases  50173    Europe           0
266 2020-10-14  Poland  Active Cases  54740    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Portugal  Active Cases      0    Europe           0
1   2020-01-23  Portugal  Active Cases      0    Europe           0
2   2020-01-24  Portugal  Active Cases      0    Europe           0
3   2020-01-25  Portugal  Active Cases      0    Europe           0
4   2020-01-26  Portugal  Active Cases      0    Europe           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Portugal  Active Cases  30704    Europe           0
263 2020-10-11  Portugal  Active Cases  31397    Europe           0
264 2020-10-12  Portugal  Active Cases  32321    Europe           0
265 2020-10-13  Portugal  Active Cases  32964    Europe           0
266 2020-10-14  Portugal  Active Cases  34583    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Qatar  Active Cases      0      Asia           0
1   2020-01-23   Qatar  Active Cases      0      Asia           0
2   2020-01-24   Qatar  Active Cases      0      Asia           0
3   2020-01-25   Qatar  Active Cases      0      Asia           0
4   2020-01-26   Qatar  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Qatar  Active Cases   2792      Asia           0
263 2020-10-11   Qatar  Active Cases   2787      Asia           0
264 2020-10-12   Qatar  Active Cases   2795      Asia           0
265 2020-10-13   Qatar  Active Cases   2812      Asia           0
266 2020-10-14   Qatar  Active Cases   2799      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Romania  Active Cases      0    Europe           0
1   2020-01-23  Romania  Active Cases      0    Europe           0
2   2020-01-24  Romania  Active Cases      0    Europe           0
3   2020-01-25  Romania  Active Cases      0    Europe           0
4   2020-01-26  Romania  Active Cases      0    Europe           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Romania  Active Cases  30417    Europe           0
263 2020-10-11  Romania  Active Cases  31930    Europe           0
264 2020-10-12  Romania  Active Cases  32973    Europe           0
265 2020-10-13  Romania  Active Cases  34411    Europe           0
266 2020-10-14  Romania  Active Cases  36162    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Russia  Active Cases       0    Europe           0
1   2020-01-23  Russia  Active Cases       0    Europe           0
2   2020-01-24  Russia  Active Cases       0    Europe           0
3   2020-01-25  Russia  Active Cases       0    Europe           0
4   2020-01-26  Russia  Active Cases       0    Europe           0
..         ...     ...           ...     ...       ...         ...
262 2020-10-10  Russia  Active Cases  244003    Europe           0
263 2020-10-11  Russia  Active Cases  253096    Europe           0
264 2020-10-12  Russia  Active Cases  262594    Europe           0
265 2020-10-13  Russia  Active Cases  268601    Europe           0
266 2020-10-14  Russia  Active Cases  274614    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Rwanda  Active Cases      0    Africa           0
1   2020-01-23  Rwanda  Active Cases      0    Africa           0
2   2020-01-24  Rwanda  Active Cases      0    Africa           0
3   2020-01-25  Rwanda  Active Cases      0    Africa           0
4   2020-01-26  Rwanda  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Rwanda  Active Cases   1296    Africa           0
263 2020-10-11  Rwanda  Active Cases   1259    Africa           0
264 2020-10-12  Rwanda  Active Cases    996    Africa           0
265 2020-10-13  Rwanda  Active Cases    746    Africa           0
266 2020-10-14  Rwanda  Active Cases    509    Africa           0

[267 rows x 6 columns]
1
          DATE                COUNTRY          TYPE  VALUE      CONTINENT  \
0   2020-01-22  Saint Kitts and Nevis  Active Cases      0  North America
1   2020-01-23  Saint Kitts and Nevis  Active Cases      0  North America
2   2020-01-24  Saint Kitts and Nevis  Active Cases      0  North America
3   2020-01-25  Saint Kitts and Nevis  Active Cases      0  North America
4   2020-01-26  Saint Kitts and Nevis  Active Cases      0  North America
..         ...                    ...           ...    ...            ...
262 2020-10-10  Saint Kitts and Nevis  Active Cases      1  North America
263 2020-10-11  Saint Kitts and Nevis  Active Cases      1  North America
264 2020-10-12  Saint Kitts and Nevis  Active Cases      1  North America
265 2020-10-13  Saint Kitts and Nevis  Active Cases      0  North America
266 2020-10-14  Saint Kitts and Nevis  Active Cases      0  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE      COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Saint Lucia  Active Cases      0  North America           0
1   2020-01-23  Saint Lucia  Active Cases      0  North America           0
2   2020-01-24  Saint Lucia  Active Cases      0  North America           0
3   2020-01-25  Saint Lucia  Active Cases      0  North America           0
4   2020-01-26  Saint Lucia  Active Cases      0  North America           0
..         ...          ...           ...    ...            ...         ...
262 2020-10-10  Saint Lucia  Active Cases      2  North America           0
263 2020-10-11  Saint Lucia  Active Cases      2  North America           0
264 2020-10-12  Saint Lucia  Active Cases      2  North America           0
265 2020-10-13  Saint Lucia  Active Cases      2  North America           0
266 2020-10-14  Saint Lucia  Active Cases      4  North America           0

[267 rows x 6 columns]
1
          DATE                           COUNTRY          TYPE  VALUE  \
0   2020-01-22  Saint Vincent and the Grenadines  Active Cases      0
1   2020-01-23  Saint Vincent and the Grenadines  Active Cases      0
2   2020-01-24  Saint Vincent and the Grenadines  Active Cases      0
3   2020-01-25  Saint Vincent and the Grenadines  Active Cases      0
4   2020-01-26  Saint Vincent and the Grenadines  Active Cases      0
..         ...                               ...           ...    ...
262 2020-10-10  Saint Vincent and the Grenadines  Active Cases      0
263 2020-10-11  Saint Vincent and the Grenadines  Active Cases      0
264 2020-10-12  Saint Vincent and the Grenadines  Active Cases      0
265 2020-10-13  Saint Vincent and the Grenadines  Active Cases      0
266 2020-10-14  Saint Vincent and the Grenadines  Active Cases      0

         CONTINENT  VALUE_LAST
0    North America           0
1    North America           0
2    North America           0
3    North America           0
4    North America           0
..             ...         ...
262  North America           0
263  North America           0
264  North America           0
265  North America           0
266  North America           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  San Marino  Active Cases      0    Europe           0
1   2020-01-23  San Marino  Active Cases      0    Europe           0
2   2020-01-24  San Marino  Active Cases      0    Europe           0
3   2020-01-25  San Marino  Active Cases      0    Europe           0
4   2020-01-26  San Marino  Active Cases      0    Europe           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  San Marino  Active Cases     17    Europe           0
263 2020-10-11  San Marino  Active Cases     17    Europe           0
264 2020-10-12  San Marino  Active Cases     17    Europe           0
265 2020-10-13  San Marino  Active Cases     17    Europe           0
266 2020-10-14  San Marino  Active Cases     17    Europe           0

[267 rows x 6 columns]
1

          DATE                COUNTRY          TYPE  VALUE CONTINENT  \
0   2020-01-22  Sao Tome and Principe  Active Cases      0    Africa
1   2020-01-23  Sao Tome and Principe  Active Cases      0    Africa
2   2020-01-24  Sao Tome and Principe  Active Cases      0    Africa
3   2020-01-25  Sao Tome and Principe  Active Cases      0    Africa
4   2020-01-26  Sao Tome and Principe  Active Cases      0    Africa
..         ...                    ...           ...    ...       ...
262 2020-10-10  Sao Tome and Principe  Active Cases     17    Africa
263 2020-10-11  Sao Tome and Principe  Active Cases     22    Africa
264 2020-10-12  Sao Tome and Principe  Active Cases     19    Africa
265 2020-10-13  Sao Tome and Principe  Active Cases     19    Africa
266 2020-10-14  Sao Tome and Principe  Active Cases     18    Africa

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE       COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Saudi Arabia  Active Cases      0      Asia           0
1   2020-01-23  Saudi Arabia  Active Cases      0      Asia           0
2   2020-01-24  Saudi Arabia  Active Cases      0      Asia           0
3   2020-01-25  Saudi Arabia  Active Cases      0      Asia           0
4   2020-01-26  Saudi Arabia  Active Cases      0      Asia           0
..         ...           ...           ...    ...       ...         ...
262 2020-10-10  Saudi Arabia  Active Cases   9189      Asia           0
263 2020-10-11  Saudi Arabia  Active Cases   8894      Asia           0
264 2020-10-12  Saudi Arabia  Active Cases   8708      Asia           0
265 2020-10-13  Saudi Arabia  Active Cases   8663      Asia           0
266 2020-10-14  Saudi Arabia  Active Cases   8662      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Senegal  Active Cases      0    Africa           0
1   2020-01-23  Senegal  Active Cases      0    Africa           0
2   2020-01-24  Senegal  Active Cases      0    Africa           0
3   2020-01-25  Senegal  Active Cases      0    Africa           0
4   2020-01-26  Senegal  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Senegal  Active Cases   1732    Africa           0
263 2020-10-11  Senegal  Active Cases   1657    Africa           0
264 2020-10-12  Senegal  Active Cases   1587    Africa           0
265 2020-10-13  Senegal  Active Cases   1484    Africa           0
266 2020-10-14  Senegal  Active Cases   1444    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Serbia  Active Cases      0    Europe           0
1   2020-01-23  Serbia  Active Cases      0    Europe           0
2   2020-01-24  Serbia  Active Cases      0    Europe           0
3   2020-01-25  Serbia  Active Cases      0    Europe           0
4   2020-01-26  Serbia  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Serbia  Active Cases  33923    Europe           0
263 2020-10-11  Serbia  Active Cases  34024    Europe           0
264 2020-10-12  Serbia  Active Cases  34089    Europe           0
265 2020-10-13  Serbia  Active Cases  34239    Europe           0
266 2020-10-14  Serbia  Active Cases  34483    Europe           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Seychelles  Active Cases      0    Africa           0
1   2020-01-23  Seychelles  Active Cases      0    Africa           0
2   2020-01-24  Seychelles  Active Cases      0    Africa           0
3   2020-01-25  Seychelles  Active Cases      0    Africa           0
4   2020-01-26  Seychelles  Active Cases      0    Africa           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Seychelles  Active Cases      4    Africa           0
263 2020-10-11  Seychelles  Active Cases      4    Africa           0
264 2020-10-12  Seychelles  Active Cases      4    Africa           0
265 2020-10-13  Seychelles  Active Cases      4    Africa           0
266 2020-10-14  Seychelles  Active Cases      4    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sierra Leone  Active Cases      0    Africa           0
1   2020-01-23  Sierra Leone  Active Cases      0    Africa           0
2   2020-01-24  Sierra Leone  Active Cases      0    Africa           0
3   2020-01-25  Sierra Leone  Active Cases      0    Africa           0
4   2020-01-26  Sierra Leone  Active Cases      0    Africa           0
..         ...           ...           ...    ...       ...         ...
262 2020-10-10  Sierra Leone  Active Cases    503    Africa           0
263 2020-10-11  Sierra Leone  Active Cases    498    Africa           0
264 2020-10-12  Sierra Leone  Active Cases    498    Africa           0
265 2020-10-13  Sierra Leone  Active Cases    499    Africa           0
266 2020-10-14  Sierra Leone  Active Cases    499    Africa           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Singapore  Active Cases      0      Asia           0
1   2020-01-23  Singapore  Active Cases      1      Asia           0
2   2020-01-24  Singapore  Active Cases      3      Asia           0
3   2020-01-25  Singapore  Active Cases      3      Asia           0
4   2020-01-26  Singapore  Active Cases      4      Asia           0
..         ...        ...           ...    ...       ...         ...
262 2020-10-10  Singapore  Active Cases    141      Asia           0
263 2020-10-11  Singapore  Active Cases    144      Asia           0
264 2020-10-12  Singapore  Active Cases    124      Asia           0
265 2020-10-13  Singapore  Active Cases    116      Asia           0
266 2020-10-14  Singapore  Active Cases    109      Asia           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovakia  Active Cases      0    Europe           0
1   2020-01-23  Slovakia  Active Cases      0    Europe           0
2   2020-01-24  Slovakia  Active Cases      0    Europe           0
3   2020-01-25  Slovakia  Active Cases      0    Europe           0
4   2020-01-26  Slovakia  Active Cases      0    Europe           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Slovakia  Active Cases  13183    Europe           0
263 2020-10-11  Slovakia  Active Cases  14159    Europe           0
264 2020-10-12  Slovakia  Active Cases  14263    Europe           0
265 2020-10-13  Slovakia  Active Cases  14437    Europe           0
266 2020-10-14  Slovakia  Active Cases  15521    Europe           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Slovenia  Active Cases      0    Europe           0
1   2020-01-23  Slovenia  Active Cases      0    Europe           0
2   2020-01-24  Slovenia  Active Cases      0    Europe           0
3   2020-01-25  Slovenia  Active Cases      0    Europe           0
4   2020-01-26  Slovenia  Active Cases      0    Europe           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Slovenia  Active Cases   3061    Europe           0
263 2020-10-11  Slovenia  Active Cases   3314    Europe           0
264 2020-10-12  Slovenia  Active Cases   3444    Europe           0
265 2020-10-13  Slovenia  Active Cases   3744    Europe           0
266 2020-10-14  Slovenia  Active Cases   4248    Europe           0

[267 rows x 6 columns]
1
          DATE          COUNTRY          TYPE  VALUE       CONTINENT  \
0   2020-01-22  Solomon Islands  Active Cases      0  To be affected
1   2020-01-23  Solomon Islands  Active Cases      0  To be affected
2   2020-01-24  Solomon Islands  Active Cases      0  To be affected
3   2020-01-25  Solomon Islands  Active Cases      0  To be affected
4   2020-01-26  Solomon Islands  Active Cases      0  To be affected
..         ...              ...           ...    ...             ...
262 2020-10-10  Solomon Islands  Active Cases      0  To be affected
263 2020-10-11  Solomon Islands  Active Cases      0  To be affected
264 2020-10-12  Solomon Islands  Active Cases      2  To be affected
265 2020-10-13  Solomon Islands  Active Cases      2  To be affected
266 2020-10-14  Solomon Islands  Active Cases      2  To be affected

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Somalia  Active Cases      0    Africa           0
1   2020-01-23  Somalia  Active Cases      0    Africa           0
2   2020-01-24  Somalia  Active Cases      0    Africa           0
3   2020-01-25  Somalia  Active Cases      0    Africa           0
4   2020-01-26  Somalia  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Somalia  Active Cases    669    Africa           0
263 2020-10-11  Somalia  Active Cases    676    Africa           0
264 2020-10-12  Somalia  Active Cases    676    Africa           0
265 2020-10-13  Somalia  Active Cases    676    Africa           0
266 2020-10-14  Somalia  Active Cases    676    Africa           0

[267 rows x 6 columns]
1
          DATE       COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Africa  Active Cases      0    Africa           0
1   2020-01-23  South Africa  Active Cases      0    Africa           0
2   2020-01-24  South Africa  Active Cases      0    Africa           0
3   2020-01-25  South Africa  Active Cases      0    Africa           0
4   2020-01-26  South Africa  Active Cases      0    Africa           0
..         ...           ...           ...    ...       ...         ...
262 2020-10-10  South Africa  Active Cases  51070    Africa           0
263 2020-10-11  South Africa  Active Cases  50926    Africa           0
264 2020-10-12  South Africa  Active Cases  50837    Africa           0
265 2020-10-13  South Africa  Active Cases  50935    Africa           0
266 2020-10-14  South Africa  Active Cases  51365    Africa           0

[267 rows x 6 columns]

1
          DATE      COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  South Sudan  Active Cases      0    Africa           0
1   2020-01-23  South Sudan  Active Cases      0    Africa           0
2   2020-01-24  South Sudan  Active Cases      0    Africa           0
3   2020-01-25  South Sudan  Active Cases      0    Africa           0
4   2020-01-26  South Sudan  Active Cases      0    Africa           0
..         ...          ...           ...    ...       ...         ...
262 2020-10-10  South Sudan  Active Cases   1417    Africa           0
263 2020-10-11  South Sudan  Active Cases   1432    Africa           0
264 2020-10-12  South Sudan  Active Cases   1442    Africa           0
265 2020-10-13  South Sudan  Active Cases   1453    Africa           0
266 2020-10-14  South Sudan  Active Cases   1453    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Spain  Active Cases       0    Europe           0
1   2020-01-23   Spain  Active Cases       0    Europe           0
2   2020-01-24   Spain  Active Cases       0    Europe           0
3   2020-01-25   Spain  Active Cases       0    Europe           0
4   2020-01-26   Spain  Active Cases       0    Europe           0
..         ...     ...           ...     ...       ...         ...
262 2020-10-10   Spain  Active Cases  677807    Europe           0
263 2020-10-11   Spain  Active Cases  677807    Europe           0
264 2020-10-12   Spain  Active Cases  705468    Europe           0
265 2020-10-13   Spain  Active Cases  712506    Europe           0
266 2020-10-14   Spain  Active Cases  724267    Europe           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sri Lanka  Active Cases      0      Asia           0
1   2020-01-23  Sri Lanka  Active Cases      0      Asia           0
2   2020-01-24  Sri Lanka  Active Cases      0      Asia           0
3   2020-01-25  Sri Lanka  Active Cases      0      Asia           0
4   2020-01-26  Sri Lanka  Active Cases      0      Asia           0
..         ...        ...           ...    ...       ...         ...
262 2020-10-10  Sri Lanka  Active Cases   1309      Asia           0
263 2020-10-11  Sri Lanka  Active Cases   1432      Asia           0
264 2020-10-12  Sri Lanka  Active Cases   1514      Asia           0
265 2020-10-13  Sri Lanka  Active Cases   1697      Asia           0
266 2020-10-14  Sri Lanka  Active Cases   1800      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Sudan  Active Cases      0    Africa           0
1   2020-01-23   Sudan  Active Cases      0    Africa           0
2   2020-01-24   Sudan  Active Cases      0    Africa           0
3   2020-01-25   Sudan  Active Cases      0    Africa           0
4   2020-01-26   Sudan  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Sudan  Active Cases   6070    Africa           0
263 2020-10-11   Sudan  Active Cases   6073    Africa           0
264 2020-10-12   Sudan  Active Cases   6091    Africa           0
265 2020-10-13   Sudan  Active Cases   6091    Africa           0
266 2020-10-14   Sudan  Active Cases   6091    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Suriname  Active Cases      0  South America           0
1   2020-01-23  Suriname  Active Cases      0  South America           0
2   2020-01-24  Suriname  Active Cases      0  South America           0
3   2020-01-25  Suriname  Active Cases      0  South America           0
4   2020-01-26  Suriname  Active Cases      0  South America           0
..         ...       ...           ...    ...            ...         ...
262 2020-10-10  Suriname  Active Cases     98  South America           0
263 2020-10-11  Suriname  Active Cases     99  South America           0
264 2020-10-12  Suriname  Active Cases     89  South America           0
265 2020-10-13  Suriname  Active Cases     95  South America           0
266 2020-10-14  Suriname  Active Cases     89  South America           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Sweden  Active Cases      0    Europe           0
1   2020-01-23  Sweden  Active Cases      0    Europe           0
2   2020-01-24  Sweden  Active Cases      0    Europe           0
3   2020-01-25  Sweden  Active Cases      0    Europe           0
4   2020-01-26  Sweden  Active Cases      0    Europe           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Sweden  Active Cases  92557    Europe           0
263 2020-10-11  Sweden  Active Cases  92557    Europe           0
264 2020-10-12  Sweden  Active Cases  92557    Europe           0
265 2020-10-13  Sweden  Active Cases  94755    Europe           0
266 2020-10-14  Sweden  Active Cases  95425    Europe           0

[267 rows x 6 columns]
1
          DATE      COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Switzerland  Active Cases      0    Europe           0
1   2020-01-23  Switzerland  Active Cases      0    Europe           0
2   2020-01-24  Switzerland  Active Cases      0    Europe           0
3   2020-01-25  Switzerland  Active Cases      0    Europe           0
4   2020-01-26  Switzerland  Active Cases      0    Europe           0
..         ...          ...           ...    ...       ...         ...
262 2020-10-10  Switzerland  Active Cases   9880    Europe           0
263 2020-10-11  Switzerland  Active Cases   9880    Europe           0
264 2020-10-12  Switzerland  Active Cases  12840    Europe           0
265 2020-10-13  Switzerland  Active Cases  13978    Europe           0
266 2020-10-14  Switzerland  Active Cases  16795    Europe           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Syria  Active Cases      0      Asia           0
1   2020-01-23   Syria  Active Cases      0      Asia           0
2   2020-01-24   Syria  Active Cases      0      Asia           0
3   2020-01-25   Syria  Active Cases      0      Asia           0
4   2020-01-26   Syria  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Syria  Active Cases   3181      Asia           0
263 2020-10-11   Syria  Active Cases   3198      Asia           0
264 2020-10-12   Syria  Active Cases   3215      Asia           0
265 2020-10-13   Syria  Active Cases   3231      Asia           0
266 2020-10-14   Syria  Active Cases   3260      Asia           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Taiwan*  Active Cases      1      Asia           1
1   2020-01-23  Taiwan*  Active Cases      1      Asia           1
2   2020-01-24  Taiwan*  Active Cases      3      Asia           1
3   2020-01-25  Taiwan*  Active Cases      3      Asia           1
4   2020-01-26  Taiwan*  Active Cases      4      Asia           1
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Taiwan*  Active Cases     32      Asia           1
263 2020-10-11  Taiwan*  Active Cases     32      Asia           1
264 2020-10-12  Taiwan*  Active Cases     33      Asia           1
265 2020-10-13  Taiwan*  Active Cases     34      Asia           1
266 2020-10-14  Taiwan*  Active Cases     32      Asia           1

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tajikistan  Active Cases      0      Asia           0
1   2020-01-23  Tajikistan  Active Cases      0      Asia           0
2   2020-01-24  Tajikistan  Active Cases      0      Asia           0
3   2020-01-25  Tajikistan  Active Cases      0      Asia           0
4   2020-01-26  Tajikistan  Active Cases      0      Asia           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Tajikistan  Active Cases   1095      Asia           0
263 2020-10-11  Tajikistan  Active Cases   1085      Asia           0
264 2020-10-12  Tajikistan  Active Cases   1078      Asia           0
265 2020-10-13  Tajikistan  Active Cases   1041      Asia           0
266 2020-10-14  Tajikistan  Active Cases   1012      Asia           0

[267 rows x 6 columns]

1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tanzania  Active Cases      0    Africa           0
1   2020-01-23  Tanzania  Active Cases      0    Africa           0
2   2020-01-24  Tanzania  Active Cases      0    Africa           0
3   2020-01-25  Tanzania  Active Cases      0    Africa           0
4   2020-01-26  Tanzania  Active Cases      0    Africa           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Tanzania  Active Cases    305    Africa           0
263 2020-10-11  Tanzania  Active Cases    305    Africa           0
264 2020-10-12  Tanzania  Active Cases    305    Africa           0
265 2020-10-13  Tanzania  Active Cases    305    Africa           0
266 2020-10-14  Tanzania  Active Cases    305    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Thailand  Active Cases      2      Asia           2
1   2020-01-23  Thailand  Active Cases      3      Asia           2
2   2020-01-24  Thailand  Active Cases      5      Asia           2
3   2020-01-25  Thailand  Active Cases      7      Asia           2
4   2020-01-26  Thailand  Active Cases      6      Asia           2
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Thailand  Active Cases    126      Asia           2
263 2020-10-11  Thailand  Active Cases    128      Asia           2
264 2020-10-12  Thailand  Active Cases    127      Asia           2
265 2020-10-13  Thailand  Active Cases    136      Asia           2
266 2020-10-14  Thailand  Active Cases    136      Asia           2

[267 rows x 6 columns]
1
          DATE      COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Timor-Leste  Active Cases      0      Asia           0
1   2020-01-23  Timor-Leste  Active Cases      0      Asia           0
2   2020-01-24  Timor-Leste  Active Cases      0      Asia           0
3   2020-01-25  Timor-Leste  Active Cases      0      Asia           0
4   2020-01-26  Timor-Leste  Active Cases      0      Asia           0
..         ...          ...           ...    ...       ...         ...
262 2020-10-10  Timor-Leste  Active Cases      0      Asia           0
263 2020-10-11  Timor-Leste  Active Cases      0      Asia           0
264 2020-10-12  Timor-Leste  Active Cases      1      Asia           0
265 2020-10-13  Timor-Leste  Active Cases      1      Asia           0
266 2020-10-14  Timor-Leste  Active Cases      1      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22    Togo  Active Cases      0    Africa           0
1   2020-01-23    Togo  Active Cases      0    Africa           0
2   2020-01-24    Togo  Active Cases      0    Africa           0
3   2020-01-25    Togo  Active Cases      0    Africa           0
4   2020-01-26    Togo  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10    Togo  Active Cases    442    Africa           0
263 2020-10-11    Togo  Active Cases    434    Africa           0
264 2020-10-12    Togo  Active Cases    439    Africa           0
265 2020-10-13    Togo  Active Cases    457    Africa           0
266 2020-10-14    Togo  Active Cases    459    Africa           0

[267 rows x 6 columns]
1
          DATE              COUNTRY          TYPE  VALUE      CONTINENT  \
0   2020-01-22  Trinidad and Tobago  Active Cases      0  North America
1   2020-01-23  Trinidad and Tobago  Active Cases      0  North America
2   2020-01-24  Trinidad and Tobago  Active Cases      0  North America
3   2020-01-25  Trinidad and Tobago  Active Cases      0  North America
4   2020-01-26  Trinidad and Tobago  Active Cases      0  North America
..         ...                  ...           ...    ...            ...
262 2020-10-10  Trinidad and Tobago  Active Cases   1732  North America
263 2020-10-11  Trinidad and Tobago  Active Cases   1732  North America
264 2020-10-12  Trinidad and Tobago  Active Cases   1721  North America
265 2020-10-13  Trinidad and Tobago  Active Cases   1667  North America
266 2020-10-14  Trinidad and Tobago  Active Cases   1609  North America

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Tunisia  Active Cases      0    Africa           0
1   2020-01-23  Tunisia  Active Cases      0    Africa           0
2   2020-01-24  Tunisia  Active Cases      0    Africa           0
3   2020-01-25  Tunisia  Active Cases      0    Africa           0
4   2020-01-26  Tunisia  Active Cases      0    Africa           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Tunisia  Active Cases  25771    Africa           0
263 2020-10-11  Tunisia  Active Cases  27046    Africa           0
264 2020-10-12  Tunisia  Active Cases  27046    Africa           0
265 2020-10-13  Tunisia  Active Cases  27046    Africa           0
266 2020-10-14  Tunisia  Active Cases  29246    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Turkey  Active Cases      0      Asia           0
1   2020-01-23  Turkey  Active Cases      0      Asia           0
2   2020-01-24  Turkey  Active Cases      0      Asia           0
3   2020-01-25  Turkey  Active Cases      0      Asia           0
4   2020-01-26  Turkey  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Turkey  Active Cases  32108      Asia           0
263 2020-10-11  Turkey  Active Cases  32339      Asia           0
264 2020-10-12  Turkey  Active Cases  32594      Asia           0
265 2020-10-13  Turkey  Active Cases  32850      Asia           0
266 2020-10-14  Turkey  Active Cases  33068      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE    VALUE      CONTINENT  VALUE_LAST
0   2020-01-22      US  Active Cases        1  North America           1
1   2020-01-23      US  Active Cases        1  North America           1
2   2020-01-24      US  Active Cases        2  North America           1
3   2020-01-25      US  Active Cases        2  North America           1
4   2020-01-26      US  Active Cases        5  North America           1
..         ...     ...           ...      ...            ...         ...
262 2020-10-10      US  Active Cases  4440579  North America           1
263 2020-10-11      US  Active Cases  4472701  North America           1
264 2020-10-12      US  Active Cases  4482386  North America           1
265 2020-10-13      US  Active Cases  4516125  North America           1
266 2020-10-14      US  Active Cases  4543433  North America           1

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uganda  Active Cases      0    Africa           0
1   2020-01-23  Uganda  Active Cases      0    Africa           0
2   2020-01-24  Uganda  Active Cases      0    Africa           0
3   2020-01-25  Uganda  Active Cases      0    Africa           0
4   2020-01-26  Uganda  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Uganda  Active Cases   3586    Africa           0
263 2020-10-11  Uganda  Active Cases   3599    Africa           0
264 2020-10-12  Uganda  Active Cases   3661    Africa           0
265 2020-10-13  Uganda  Active Cases   3503    Africa           0
266 2020-10-14  Uganda  Active Cases   3443    Africa           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Ukraine  Active Cases       0    Europe           0
1   2020-01-23  Ukraine  Active Cases       0    Europe           0
2   2020-01-24  Ukraine  Active Cases       0    Europe           0
3   2020-01-25  Ukraine  Active Cases       0    Europe           0
4   2020-01-26  Ukraine  Active Cases       0    Europe           0
..         ...      ...           ...     ...       ...         ...
262 2020-10-10  Ukraine  Active Cases  141234    Europe           0
263 2020-10-11  Ukraine  Active Cases  145138    Europe           0
264 2020-10-12  Ukraine  Active Cases  148788    Europe           0
265 2020-10-13  Ukraine  Active Cases  151729    Europe           0
266 2020-10-14  Ukraine  Active Cases  155134    Europe           0

[267 rows x 6 columns]
1
          DATE               COUNTRY          TYPE  VALUE CONTINENT  \
0   2020-01-22  United Arab Emirates  Active Cases      0      Asia
1   2020-01-23  United Arab Emirates  Active Cases      0      Asia
2   2020-01-24  United Arab Emirates  Active Cases      0      Asia
3   2020-01-25  United Arab Emirates  Active Cases      0      Asia
4   2020-01-26  United Arab Emirates  Active Cases      0      Asia
..         ...                   ...           ...    ...       ...
262 2020-10-10  United Arab Emirates  Active Cases   8717      Asia
263 2020-10-11  United Arab Emirates  Active Cases   8500      Asia
264 2020-10-12  United Arab Emirates  Active Cases   8292      Asia
265 2020-10-13  United Arab Emirates  Active Cases   8153      Asia
266 2020-10-14  United Arab Emirates  Active Cases   7930      Asia

     VALUE_LAST
0             0
1             0
2             0
3             0
4             0
..          ...
262           0
263           0
264           0
265           0
266           0

[267 rows x 6 columns]
1
          DATE         COUNTRY          TYPE   VALUE CONTINENT  VALUE_LAST
0   2020-01-22  United Kingdom  Active Cases       0    Europe           0
1   2020-01-23  United Kingdom  Active Cases       0    Europe           0
2   2020-01-24  United Kingdom  Active Cases       0    Europe           0
3   2020-01-25  United Kingdom  Active Cases       0    Europe           0
4   2020-01-26  United Kingdom  Active Cases       0    Europe           0
..         ...             ...           ...     ...       ...         ...
262 2020-10-10  United Kingdom  Active Cases  548220    Europe           0
263 2020-10-11  United Kingdom  Active Cases  561029    Europe           0
264 2020-10-12  United Kingdom  Active Cases  574982    Europe           0
265 2020-10-13  United Kingdom  Active Cases  592065    Europe           0
266 2020-10-14  United Kingdom  Active Cases  611663    Europe           0

[267 rows x 6 columns]

1
          DATE  COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Uruguay  Active Cases      0  South America           0
1   2020-01-23  Uruguay  Active Cases      0  South America           0
2   2020-01-24  Uruguay  Active Cases      0  South America           0
3   2020-01-25  Uruguay  Active Cases      0  South America           0
4   2020-01-26  Uruguay  Active Cases      0  South America           0
..         ...      ...           ...    ...            ...         ...
262 2020-10-10  Uruguay  Active Cases    288  South America           0
263 2020-10-11  Uruguay  Active Cases    302  South America           0
264 2020-10-12  Uruguay  Active Cases    312  South America           0
265 2020-10-13  Uruguay  Active Cases    299  South America           0
266 2020-10-14  Uruguay  Active Cases    330  South America           0

[267 rows x 6 columns]
1
          DATE     COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Uzbekistan  Active Cases      0      Asia           0
1   2020-01-23  Uzbekistan  Active Cases      0      Asia           0
2   2020-01-24  Uzbekistan  Active Cases      0      Asia           0
3   2020-01-25  Uzbekistan  Active Cases      0      Asia           0
4   2020-01-26  Uzbekistan  Active Cases      0      Asia           0
..         ...         ...           ...    ...       ...         ...
262 2020-10-10  Uzbekistan  Active Cases   2570      Asia           0
263 2020-10-11  Uzbekistan  Active Cases   2524      Asia           0
264 2020-10-12  Uzbekistan  Active Cases   2504      Asia           0
265 2020-10-13  Uzbekistan  Active Cases   2518      Asia           0
266 2020-10-14  Uzbekistan  Active Cases   2485      Asia           0

[267 rows x 6 columns]
1
          DATE    COUNTRY          TYPE  VALUE      CONTINENT  VALUE_LAST
0   2020-01-22  Venezuela  Active Cases      0  South America           0
1   2020-01-23  Venezuela  Active Cases      0  South America           0
2   2020-01-24  Venezuela  Active Cases      0  South America           0
3   2020-01-25  Venezuela  Active Cases      0  South America           0
4   2020-01-26  Venezuela  Active Cases      0  South America           0
..         ...        ...           ...    ...            ...         ...
262 2020-10-10  Venezuela  Active Cases   7843  South America           0
263 2020-10-11  Venezuela  Active Cases   7776  South America           0
264 2020-10-12  Venezuela  Active Cases   7652  South America           0
265 2020-10-13  Venezuela  Active Cases   7419  South America           0
266 2020-10-14  Venezuela  Active Cases   8029  South America           0

[267 rows x 6 columns]
1
          DATE  COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Vietnam  Active Cases      0      Asia           0
1   2020-01-23  Vietnam  Active Cases      2      Asia           0
2   2020-01-24  Vietnam  Active Cases      2      Asia           0
3   2020-01-25  Vietnam  Active Cases      2      Asia           0
4   2020-01-26  Vietnam  Active Cases      2      Asia           0
..         ...      ...           ...    ...       ...         ...
262 2020-10-10  Vietnam  Active Cases     48      Asia           0
263 2020-10-11  Vietnam  Active Cases     50      Asia           0
264 2020-10-12  Vietnam  Active Cases     50      Asia           0
265 2020-10-13  Vietnam  Active Cases     53      Asia           0
266 2020-10-14  Vietnam  Active Cases     58      Asia           0

[267 rows x 6 columns]
1
          DATE             COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  West Bank and Gaza  Active Cases      0      Asia           0
1   2020-01-23  West Bank and Gaza  Active Cases      0      Asia           0
2   2020-01-24  West Bank and Gaza  Active Cases      0      Asia           0
3   2020-01-25  West Bank and Gaza  Active Cases      0      Asia           0
4   2020-01-26  West Bank and Gaza  Active Cases      0      Asia           0
..         ...                 ...           ...    ...       ...         ...
262 2020-10-10  West Bank and Gaza  Active Cases   6327      Asia           0
263 2020-10-11  West Bank and Gaza  Active Cases   5976      Asia           0
264 2020-10-12  West Bank and Gaza  Active Cases   6069      Asia           0
265 2020-10-13  West Bank and Gaza  Active Cases   5968      Asia           0
266 2020-10-14  West Bank and Gaza  Active Cases   5961      Asia           0

[267 rows x 6 columns]
1
          DATE         COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Western Sahara  Active Cases      0    Africa           0
1   2020-01-23  Western Sahara  Active Cases      0    Africa           0
2   2020-01-24  Western Sahara  Active Cases      0    Africa           0
3   2020-01-25  Western Sahara  Active Cases      0    Africa           0
4   2020-01-26  Western Sahara  Active Cases      0    Africa           0
..         ...             ...           ...    ...       ...         ...
262 2020-10-10  Western Sahara  Active Cases      1    Africa           0
263 2020-10-11  Western Sahara  Active Cases      1    Africa           0
264 2020-10-12  Western Sahara  Active Cases      1    Africa           0
265 2020-10-13  Western Sahara  Active Cases      1    Africa           0
266 2020-10-14  Western Sahara  Active Cases      1    Africa           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22   Yemen  Active Cases      0      Asia           0
1   2020-01-23   Yemen  Active Cases      0      Asia           0
2   2020-01-24   Yemen  Active Cases      0      Asia           0
3   2020-01-25   Yemen  Active Cases      0      Asia           0
4   2020-01-26   Yemen  Active Cases      0      Asia           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10   Yemen  Active Cases    127      Asia           0
263 2020-10-11   Yemen  Active Cases    128      Asia           0
264 2020-10-12   Yemen  Active Cases    127      Asia           0
265 2020-10-13   Yemen  Active Cases    128      Asia           0
266 2020-10-14   Yemen  Active Cases    128      Asia           0

[267 rows x 6 columns]
1
          DATE COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zambia  Active Cases      0    Africa           0
1   2020-01-23  Zambia  Active Cases      0    Africa           0
2   2020-01-24  Zambia  Active Cases      0    Africa           0
3   2020-01-25  Zambia  Active Cases      0    Africa           0
4   2020-01-26  Zambia  Active Cases      0    Africa           0
..         ...     ...           ...    ...       ...         ...
262 2020-10-10  Zambia  Active Cases    537    Africa           0
263 2020-10-11  Zambia  Active Cases    522    Africa           0
264 2020-10-12  Zambia  Active Cases    522    Africa           0
265 2020-10-13  Zambia  Active Cases    459    Africa           0
266 2020-10-14  Zambia  Active Cases    421    Africa           0

[267 rows x 6 columns]
1
          DATE   COUNTRY          TYPE  VALUE CONTINENT  VALUE_LAST
0   2020-01-22  Zimbabwe  Active Cases      0    Africa           0
1   2020-01-23  Zimbabwe  Active Cases      0    Africa           0
2   2020-01-24  Zimbabwe  Active Cases      0    Africa           0
3   2020-01-25  Zimbabwe  Active Cases      0    Africa           0
4   2020-01-26  Zimbabwe  Active Cases      0    Africa           0
..         ...       ...           ...    ...       ...         ...
262 2020-10-10  Zimbabwe  Active Cases   1288    Africa           0
263 2020-10-11  Zimbabwe  Active Cases   1277    Africa           0
264 2020-10-12  Zimbabwe  Active Cases    164    Africa           0
265 2020-10-13  Zimbabwe  Active Cases    174    Africa           0
266 2020-10-14  Zimbabwe  Active Cases    184    Africa           0

[267 rows x 6 columns]

#### Etape 5 : Sauvegarde et exposition du csv

In [9]:
# Ajout de la date de mise à jour
data_bdd['DATE_MAJ'] = datetime.now().strftime('%Y/%m/%d %H:%M:%S')

# Sauvegarde des données au format csv
data_bdd.to_csv('BASE_COVID.csv',
                sep=";",
                decimal=",",
                index=False)

print('CSV sauvegardé dans le répertoire courant.')

CSV sauvegardé dans le répertoire courant.